force-app/main/default/flows/AperturaArgumentarioAutomatica.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Asignamos valor a las variables auxiliares donde se almacena el mensaje de bienvenida y el nombre del screenflow</description>
        <name>Asignaci_n_msg_y_nombre_screenflow</name>
        <label>Asignación msg y nombre screenflow</label>
        <locationX>402</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>Var_MensajeBienvenidaAUX</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterar_metadata.MensajeBienvenida__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_NombreScreenFlowAUX</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterar_metadata.ScreenFlowName__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Comprobamos_campaign_member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Incrementamos el contador hasta las iteraciones que determinamos de espera ante de que falle el hilo de ejecución (por ejemplo 90)</description>
        <name>IncrementamosContador</name>
        <label>Incrementamos Contador</label>
        <locationX>1502</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>IteracionActualBusquedaTareas</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_SuperadoNumeroIteraciones</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añadir el SourceCess al Header del argumentario.</description>
        <name>Set_Header</name>
        <label>Set_Header</label>
        <locationX>138</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Heading</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SalientesBlecis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añadir el SourceCess al Header del argumentario.</description>
        <name>Set_Header01</name>
        <label>Set_Header</label>
        <locationX>402</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Heading</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Salientes_Basicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añadir el SourceCess al Header del argumentario.</description>
        <name>Set_Header02</name>
        <label>Set_Header</label>
        <locationX>314</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Heading</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EntrantesBlecis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añadir el SourceCess al Header del argumentario.</description>
        <name>Set_Header03</name>
        <label>Set_Header</label>
        <locationX>578</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Heading</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EntrantesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los valores para las variables de las cabeceras.</description>
        <name>Set_Headers</name>
        <label>Set_Headers</label>
        <locationX>974</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>standard:voice_call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_FirstName_Heading</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_LastName_Heading</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reiniciamos el número de iteraciones</description>
        <name>Set_ReinicioIteraciones</name>
        <label>Set Reinicio Iteraciones</label>
        <locationX>1370</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>IteracionActualBusquedaTareas</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaEsperaTareas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar a la variable el valor de SourceCess__c de la CM.</description>
        <name>Set_SourceCessCM</name>
        <label>Set_SourceCessCM</label>
        <locationX>138</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>Var_NombreSourceCess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCampaignMember.SourceCess__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Header</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar a la variable el valor de SourceCess__c de la CM.</description>
        <name>Set_SourceCessCM01</name>
        <label>Set_SourceCessCM</label>
        <locationX>402</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>Var_NombreSourceCess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCampaignMember.SourceCess__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Header01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar a la variable el valor de SourceCess__c de la CM.</description>
        <name>Set_SourceCessCM02</name>
        <label>Set_SourceCessCM</label>
        <locationX>314</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>Var_NombreSourceCess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCampaignMember01.SourceCess__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Header02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignar a la variable el valor de SourceCess__c de la CM.</description>
        <name>Set_SourceCessCM03</name>
        <label>Set_SourceCessCM</label>
        <locationX>578</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>Var_NombreSourceCess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCampaignMember02.SourceCess__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Header03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se setea el whoid en una variable para realizar la búsqueda de la tarea por ese whoid. Valido para buscar leads</description>
        <name>SetTaskWhoid</name>
        <label>SetTaskWhoid</label>
        <locationX>1172</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>taskWhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Buscar_mensaje_bienvenida</name>
        <label>Buscar mensaje bienvenida</label>
        <locationX>666</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Iterar_metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Msg No Encontrado</defaultConnectorLabel>
        <rules>
            <name>Msg_Encontrado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Iterar_metadata.Medio__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>getCampaignMember.SourceType__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterar_metadata.ScreenFlowName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blecis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asignaci_n_msg_y_nombre_screenflow</targetReference>
            </connector>
            <label>Msg Encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkArgumentary</name>
        <label>Comprobamos el Argumentario a mostrar</label>
        <locationX>578</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>NoMatcheaConMetadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Blecis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMetadataViaIVR.ScreenFlowName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blecis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaignMember01</targetReference>
            </connector>
            <label>Blecis</label>
        </rules>
        <rules>
            <name>Basicos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMetadataViaIVR.ScreenFlowName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Básicos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaignMember02</targetReference>
            </connector>
            <label>Basicos</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCampaignMemberId</name>
        <label>Comprobamos si miembro de campaña está informado</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>checkInboundVR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No esta informado</defaultConnectorLabel>
        <rules>
            <name>campaignMemberId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTask.CampaignMemberId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaignMember</targetReference>
            </connector>
            <label>Esta informado</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkInboundVR</name>
        <label>Comprobamos si el campo inbound VR está informado</label>
        <locationX>842</locationX>
        <locationY>1910</locationY>
        <defaultConnectorLabel>No informado</defaultConnectorLabel>
        <rules>
            <name>informado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getTask.CampanaInboundIVR__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMetadataViaIVR</targetReference>
            </connector>
            <label>Informado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Comprobamos_campaign_member</name>
        <label>Comprobamos campaign member</label>
        <locationX>402</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>NoMatcheaConMetadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>BlecisSalientes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_NombreScreenFlowAUX</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blecis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SourceCessCM</targetReference>
            </connector>
            <label>Blecis Salientes</label>
        </rules>
        <rules>
            <name>BasicosSalientes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_NombreScreenFlowAUX</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Básicos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SourceCessCM01</targetReference>
            </connector>
            <label>Basicos Salientes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si es un lead convertido</description>
        <name>Decision_EsLeadConvertido</name>
        <label>Decision_EsLeadConvertido?</label>
        <locationX>1172</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Set_Headers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EsLeadConvertido?_No</defaultConnectorLabel>
        <rules>
            <name>EsLeadConvertido_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Lead_isConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SM_LeadConvertido</targetReference>
            </connector>
            <label>EsLeadConvertido?_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si llevamos 80, reiniciamos el contador y volvemos a buscar, mostrando pantalla al usuario para refrescar límites</description>
        <name>Decision_SuperadoNumeroIteraciones</name>
        <label>¿Se ha superado el número de iteraciones?</label>
        <locationX>1502</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>getTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SuperadoNumeroIteraciones_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IteracionActualBusquedaTareas</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ReinicioIteraciones</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si ha encontrado una tarea</description>
        <name>Decision_TareaEncontrada</name>
        <label>¿Hemos encontrado una tarea?</label>
        <locationX>974</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>IncrementamosContador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>TareaEncontrada_Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkCampaignMemberId</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se decide si el tipo de objeto es una cuenta o un lead. Si es una cuenta tenemos que en la tarea se ha relacionado el whoid con el contacto y no con la cuenta por eso hay que buscar el personcontactid para buscarlo en la tarea</description>
        <name>TipoObjeto</name>
        <label>TipoObjeto</label>
        <locationX>974</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>SetTaskWhoid</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetObjectType.DeveloperName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContact</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <description>Flujo que abre el argumentario de forma automatica en la página de Lead o Contacto y ejecuta un argumentario según el campo CampaignMemberId__c o CampaignInboundIVR__c (HEADER dinámico incorporado con imagen como recurso estático ytextos de objeto Texto de Argumentario))

31/08: Completamos la variable Task para entrantes básicos
22/09 MHG: Corregido el parámetro de WHOID para entrantes Básicos
05/10 MMV: Se baja el número de iteraciones a 80 para evitar 101 SOQL
11/10 MMV: Se añade el tiempo de validez de la tarea de forma dinámica
13/10 NRG: Añadido casuística de apertura argumentario con un lead convertido
21/10 AMT: Cambios en las cabeceras de las pantallas
21/10 AMT: Cambios en los valores de las cabeceras
26/10 AMT: Eliminado help text cabecera
22/11 MSC: Añadido SourceCess__c en la cabecera
28/11 MMV: Cambio para usar IsConverted en lugar de ConvertedContactId
30/12 MSC:  Añadido el LeadOrContactId para CM en entrantes</description>
    <formulas>
        <description>Añadir el Origen Cess al Header del argumentario.</description>
        <name>For_Heading</name>
        <dataType>String</dataType>
        <expression>{!Var_INOUT_Heading} &amp; &apos; - &apos; &amp; {!Var_NombreSourceCess}</expression>
    </formulas>
    <formulas>
        <description>Formula que calcula la fecha actual y le resta los minutos definidos en el metadata</description>
        <name>horaActualMenosTiempoHabil</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-(VALUE({!Get_ORG_ApplicationSettings_TiempoHabilTarea.Value__c})/1440)</expression>
    </formulas>
    <formulas>
        <description>Tiene el prefijo del record id, para determinar que tipo de objeto es</description>
        <name>IdPrefixRecordId</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordID},3)</expression>
    </formulas>
    <interviewLabel>Apertura Argumentario Automática {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Apertura Argumentario Automática</label>
    <loops>
        <description>Iteración sobre la metadata para extraer el mensaje de bienvenida y el nombre del screen flow.</description>
        <name>Iterar_metadata</name>
        <label>Iterar metada</label>
        <locationX>50</locationX>
        <locationY>2150</locationY>
        <collectionReference>getMetadataViaURL</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Buscar_mensaje_bienvenida</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Comprobamos_campaign_member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Recogemos el Lead que inició el flujo</description>
        <name>Get_Lead</name>
        <label>Get_Lead</label>
        <locationX>1172</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_EsLeadConvertido</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>Get_Lead_ConvertedContactId</assignToReference>
            <field>ConvertedContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_FirstName_Heading</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Lead_isConverted</assignToReference>
            <field>IsConverted</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_LastName_Heading</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el valor del metadata para filtrar por ese tiempo las tareas</description>
        <name>Get_ORG_ApplicationSettings_TiempoHabilTarea</name>
        <label>Get ORG_ApplicationSettings Tiempo Hábil de Tarea</label>
        <locationX>974</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TipoObjeto</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ArgumentarioTiempoHabilTarea</stringValue>
            </value>
        </filters>
        <object>ORG_ApplicationSettings__mdt</object>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el registro miembro de campaña</description>
        <name>getCampaignMember</name>
        <label>getCampaignMember</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getMetadataViaURL</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getTask.CampaignMemberId__c</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el registro miembro de campaña</description>
        <name>getCampaignMember01</name>
        <label>getCampaignMember</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SourceCessCM02</targetReference>
        </connector>
        <filters>
            <field>SourceType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BLECIS</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTI</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el registro miembro de campaña</description>
        <name>getCampaignMember02</name>
        <label>getCampaignMember</label>
        <locationX>578</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SourceCessCM03</targetReference>
        </connector>
        <filters>
            <field>SourceType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>BLECIS</stringValue>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTI</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el contacto de la cuenta, para buscar en la tarea por el contacto</description>
        <name>GetContact</name>
        <label>GetContact</label>
        <locationX>776</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Headers</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Var_FirstName_Heading</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_LastName_Heading</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>taskWhoId</assignToReference>
            <field>PersonContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el registro de nuestro Custom Metadata Type</description>
        <name>getMetadataViaIVR</name>
        <label>getMetadataViaIVR</label>
        <locationX>578</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkArgumentary</targetReference>
        </connector>
        <filters>
            <field>CampanaInboundIVR__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getTask.CampanaInboundIVR__c</elementReference>
            </value>
        </filters>
        <object>RelacionMensajeBienvenida__mdt</object>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el registro de nuestro Custom Metadata Type</description>
        <name>getMetadataViaURL</name>
        <label>getMetadataViaURL</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterar_metadata</targetReference>
        </connector>
        <filters>
            <field>ScreenFlow_URL__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCampaignMember.SFURLPop__c</elementReference>
            </value>
        </filters>
        <object>RelacionMensajeBienvenida__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MensajeBienvenida__c</queriedFields>
        <queriedFields>ScreenFlowName__c</queriedFields>
        <queriedFields>Medio__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el tipo de objeto de Record id, según el prefijo del objeto. (Puede ser un cliente o un lead)</description>
        <name>GetObjectType</name>
        <label>GetObjectType</label>
        <locationX>974</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TextosArgumentario</targetReference>
        </connector>
        <filters>
            <field>KeyPrefix</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdPrefixRecordId</elementReference>
            </value>
        </filters>
        <object>EntityDefinition</object>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos la tarea que se inserta al saltar la llamada al agente</description>
        <name>getTask</name>
        <label>Get callback task</label>
        <locationX>974</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_TareaEncontrada</targetReference>
        </connector>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>horaActualMenosTiempoHabil</elementReference>
            </value>
        </filters>
        <filters>
            <field>Station__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Station__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskWhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CallDurationInSeconds</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Recoge los textos de Argumentario que se usan en las pantallas de ESTE Flujo</description>
        <name>TextosArgumentario</name>
        <label>TextosArgumentario</label>
        <locationX>974</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ORG_ApplicationSettings_TiempoHabilTarea</targetReference>
        </connector>
        <filters>
            <field>Flujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AperturaArgumentarioAutomatica</stringValue>
            </value>
        </filters>
        <filters>
            <field>Idioma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <object>TextoArgumentario__c</object>
    </recordLookups>
    <screens>
        <description>NO matchea con Metadata</description>
        <name>NoMatcheaConMetadata</name>
        <label>NO Matchea con Metadata</label>
        <locationX>842</locationX>
        <locationY>2270</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S02_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MensajeErrorNoMatcheaMetadata</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto3__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaEsperaTareas</name>
        <label>PantallaEsperaTareas</label>
        <locationX>1370</locationX>
        <locationY>2150</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getTask</targetReference>
        </connector>
        <fields>
            <name>S03_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TextoEsperaTareas</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto2__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SM_LeadConvertido</name>
        <label>SM_LeadConvertido</label>
        <locationX>1040</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S01_Header</name>
            <extensionName>dhfpi:lwcFlowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>URLCliente</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto4__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>GetObjectType</startElementReference>
    <status>Active</status>
    <subflows>
        <name>EntrantesBasicos</name>
        <label>Entrantes Basicos</label>
        <locationX>578</locationX>
        <locationY>2630</locationY>
        <flowName>FlujoLlamadaEntrantesBasicos</flowName>
        <inputAssignments>
            <name>MensajeBienvenidaVariable</name>
            <value>
                <elementReference>getMetadataViaIVR.MensajeBienvenida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_CallbackTaskRecord</name>
            <value>
                <elementReference>getTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_WhoId</name>
            <value>
                <elementReference>getTask.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>EntrantesBlecis</name>
        <label>Entrantes Blecis</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <flowName>FlujoLlamadaEntrantesBlecis</flowName>
        <inputAssignments>
            <name>inputWhoId</name>
            <value>
                <elementReference>getTask.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>mensajeBienvenida</name>
            <value>
                <elementReference>getMetadataViaIVR.MensajeBienvenida__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Salientes_Basicos</name>
        <label>Salientes Basicos</label>
        <locationX>402</locationX>
        <locationY>2870</locationY>
        <flowName>Flujo_Llamadas_Salientes_Basicos</flowName>
        <inputAssignments>
            <name>inputCMCTIRecord</name>
            <value>
                <elementReference>getCampaignMember</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputWhoId</name>
            <value>
                <elementReference>getTask.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MensajeBienvenida</name>
            <value>
                <elementReference>Var_MensajeBienvenidaAUX</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaskVariable</name>
            <value>
                <elementReference>getTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>SalientesBlecis</name>
        <label>Salientes Blecis</label>
        <locationX>138</locationX>
        <locationY>2870</locationY>
        <flowName>Flujo_Llamada_Salientes_Blecis</flowName>
        <inputAssignments>
            <name>inputCMCTIRecord</name>
            <value>
                <elementReference>getCampaignMember</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputWhoId</name>
            <value>
                <elementReference>getTask.WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MensajeBienvenida</name>
            <value>
                <elementReference>Var_MensajeBienvenidaAUX</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Almacenamos el ConvertedContactId de un lead que haya iniciado el argumentario</description>
        <name>Get_Lead_ConvertedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Texto de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y lo controla el flujo padre (añadiendo semántica a la pantalla)</description>
        <name>HEADER</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ARGUMENTARIO</stringValue>
        </value>
    </variables>
    <variables>
        <description>La iteración actual de búsqueda de tareas, se usa en el &quot;bucle&quot; para no saltarnos los límites</description>
        <name>IteracionActualBusquedaTareas</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Whoid de la tarea que se va a buscar</description>
        <name>taskWhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable para almacenar el nombre del lead o cliente asociado a la cabecera.</description>
        <name>Var_FirstName_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Texto de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el nombre de la persona con la que estamos hablando y que vendrá del lead o del contacto.</description>
        <name>Var_INOUT_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Apertura del Argumentario Automática</stringValue>
        </value>
    </variables>
    <variables>
        <description>Imagen de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el ícono que se muestra en la cabecera.</description>
        <name>Var_INOUT_HeadingIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>standard:voice_call</stringValue>
        </value>
    </variables>
    <variables>
        <description>Texto de subcabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el el interés (Ramo) que se está tratando en ese momento y que depende de dónde provenga el interés.</description>
        <name>Var_INOUT_SubHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable para almacenar el apellido del lead o cliente asociado a la cabecera.</description>
        <name>Var_LastName_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacena el valor del campo isConverted del Lead</description>
        <name>Var_Lead_isConverted</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_MensajeBienvenidaAUX</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_NombreScreenFlowAUX</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que almacena el valor de SourceCess__c de la CM para añadir al Header de la tarea</description>
        <name>Var_NombreSourceCess</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
