force-app/main/default/flows/CESS_Lead_Referente.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Sevilla</name>
        <label>Sevilla</label>
        <locationX>2558</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>VarSevilla</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SC_LeadNuevo</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceSendMadrid_No</name>
        <choiceText>No, para ser gestionado por mi Area&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceSendMadrid_Yes</name>
        <choiceText>Si, Crear un Lead para ser gestionado por el Equipo de Madrid</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Newlead</name>
        <choiceText>Lead Nuevo</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>NewLeadOutcomeResult</elementReference>
        </value>
    </choices>
    <choices>
        <name>NewLeadPicklist_Vacio</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;-Elegir Valor-&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>UpdateRecord</name>
        <choiceText>Asociar Registro con otro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <constants>
        <name>C_LeadSourceReference</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Referencia</stringValue>
        </value>
    </constants>
    <constants>
        <description>Mark as true the field SendCti</description>
        <name>C_SendLeadCti</name>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </constants>
    <constants>
        <name>C_SourceType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Manual</stringValue>
        </value>
    </constants>
    <constants>
        <name>cCONVERTED</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <name>Constant_Sevilla</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </constants>
    <constants>
        <name>NewLeadOutcomeResult</name>
        <dataType>String</dataType>
        <value>
            <stringValue>NewLeadOutcomeTrue</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Decides if the user selected to create a New Lead as a referal or Update an excisting lead as one.</description>
        <name>D_NewOrUpdate</name>
        <label>New Or Update</label>
        <locationX>2272</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CreateRefRelationship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateRecord</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecObject_0</targetReference>
            </connector>
            <label>Create Ref Relationship Update</label>
        </rules>
        <rules>
            <name>NewLeadOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Newlead</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DECAgenteSevilla</targetReference>
            </connector>
            <label>New Lead Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>DECAgenteSevilla</name>
        <label>Agente CESS Sevilla?</label>
        <locationX>2690</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>SC_LeadNuevo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OCAgenteSevilla_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CESS - Venta a Distancia Sevilla</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Is_Sevilla_Basics__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sevilla</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if all required fields from the screen are complete
2. Checks the Object of the Record Origin (Lead or Opp)</description>
        <name>DecObject</name>
        <label>Object</label>
        <locationX>2690</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_Field_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>SCLeadNuevo_Ramo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NewLeadPicklist_Vacio</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SCTipoRelacionReferencia_Nuevo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NewLeadPicklist_Vacio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCNewLead_ErrorRequiredFields</targetReference>
            </connector>
            <label>Required Field Empty</label>
        </rules>
        <rules>
            <name>OCIsLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>G_Referente</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
        <rules>
            <name>OCIsOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Origin_Referral_Get</targetReference>
            </connector>
            <label>Is Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecObject_0</name>
        <label>Object</label>
        <locationX>798</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OCIsLead_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>G_LeadReferente</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
        <rules>
            <name>OCIsOpportunity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OppReferente</targetReference>
            </connector>
            <label>Is Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecObject_0_0</name>
        <label>Object</label>
        <locationX>798</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OCIsLead_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumeroRegistro</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>G_ReferenteLeadNuevo</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
        <rules>
            <name>OCIsOpportunity_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumeroRegistro</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ReferenteOppNuevo_0</targetReference>
            </connector>
            <label>Is Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <description>1. Checks If the Lead Number is the Same as that of Origen of the Referred Lead  (Lead Number Evalutation Same)
2. That the Referred Lead is not converted (Null Return)
3. That the Referred Lead Number exists (Null Return)</description>
        <name>LeadNumberEvaluation</name>
        <label>Lead Number Evaluation</label>
        <locationX>798</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>NumeroNoExciste</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OCNull_Converted_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppReferredGot.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumeroRegistro</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NumeroNoExciste</targetReference>
            </connector>
            <label>Null Opp</label>
        </rules>
        <rules>
            <name>OCLeadOppNumberEvaluationSame</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>G_LeadReferente.lead_number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NumeroRegistro</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OppReferente.opportunity_number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NumeroRegistro</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SameLeadNumberScreen</targetReference>
            </connector>
            <label>Lead or Opp Number Evaluation Same</label>
        </rules>
        <rules>
            <name>OCNull_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>G_ReferenteLeadNuevo1.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumeroRegistro</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NumeroNoExciste</targetReference>
            </connector>
            <label>Null Return Lead</label>
        </rules>
        <rules>
            <name>OCConverted_Return_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>G_ReferenteLeadNuevo1.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>cCONVERTED</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumeroRegistro</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NumeroNoExciste</targetReference>
            </connector>
            <label>Converted Return Lead</label>
        </rules>
        <rules>
            <name>OCOpp2Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumeroRegistro</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmOpp2OppUpdate</targetReference>
            </connector>
            <label>Opp - Opp</label>
        </rules>
        <rules>
            <name>OCLead2Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumeroRegistro</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>O</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmLead2OppUpdate_0</targetReference>
            </connector>
            <label>Lead - Opp</label>
        </rules>
        <rules>
            <name>OCOpp2Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumeroRegistro</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmOpp2LeadUpdate_0</targetReference>
            </connector>
            <label>Opp - Lead</label>
        </rules>
        <rules>
            <name>OCLead2Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumeroRegistro</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>L</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmLead2LeadUpdate</targetReference>
            </connector>
            <label>Lead - Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Transferencia_de_llamada_Oportunidad</name>
        <label>No Transferencia de llamada Oportunidad</label>
        <locationX>3086</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>NewLeadRefereeOpp_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Es_trasnferencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransferenciaLlamada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewLeadRefereeOpp_0_0</targetReference>
            </connector>
            <label>Es transferencia</label>
        </rules>
    </decisions>
    <decisions>
        <description>¿Se ha marcado transferencia de llamada? SI es así, no se planifica llamada</description>
        <name>Transferencia_de_Llamada</name>
        <label>¿Transferencia de Llamada?</label>
        <locationX>2426</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>No_transferencia_de_llamada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransferenciaLlamada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewLeadRefereeLead</targetReference>
            </connector>
            <label>No Transferencia de llamada</label>
        </rules>
        <rules>
            <name>Hay_transferencia_de_llamada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransferenciaLlamada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewLeadWithoutScheduledCall</targetReference>
            </connector>
            <label>Hay transferencia de llamada</label>
        </rules>
    </decisions>
    <description>03/10 MMV: Cambio para mostrar siempre el campo de planificador de llamada en nuevos leads, no solo para sevilla</description>
    <dynamicChoiceSets>
        <name>NewLeadPicklist_Ramo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>line_insurance__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TipoRelacionReferencia</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reference_Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>For_LeadOrigenCESS</name>
        <dataType>String</dataType>
        <expression>IF(({!SCSendMadrid}={!ChoiceSendMadrid_Yes}) || ({!TransferenciaLlamada}=true), &quot;Referencia - Sevilla&quot;, {!G_LeadReferente.source_cess__c})</expression>
    </formulas>
    <formulas>
        <name>For_OppOrigenCESS</name>
        <dataType>String</dataType>
        <expression>IF({!SCSendMadrid}={!ChoiceSendMadrid_Yes},&quot;Referencia - Sevilla&quot;,{!Opp_Origin_Referral_Get.source_cess__c} )</expression>
    </formulas>
    <formulas>
        <name>ForCtiCampiagnLead</name>
        <dataType>String</dataType>
        <expression>IF({!SCSendMadrid}={!ChoiceSendMadrid_Yes},&quot;CP - CESS_LEADS&quot;, {!G_Referente.campaign_cti__c})</expression>
    </formulas>
    <formulas>
        <name>ForCtiCampiagnOPP</name>
        <dataType>String</dataType>
        <expression>IF({!SCSendMadrid}={!ChoiceSendMadrid_Yes},&quot;CP - CESS_LEADS&quot;, {!Opp_Origin_Referral_Get.CTI_Campaign__c})</expression>
    </formulas>
    <formulas>
        <name>ScheduleDateTime_Default</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 1</expression>
    </formulas>
    <interviewLabel>CESS - Lead Referente {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CESS - Lead Referente</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create New Referred Record with a relation to the Lead of Origin</description>
        <name>NewLeadRefereeLead</name>
        <label>New Lead Refered Create</label>
        <locationX>2162</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>Record_Newid</assignRecordIdToReference>
        <connector>
            <targetReference>New_Lead_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>SC_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>SC_Nombre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>SC_Apellido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Referrer__c</field>
            <value>
                <elementReference>G_Referente.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>SC_Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>SC_Landline.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Type__c</field>
            <value>
                <elementReference>SCTipoRelacionReferencia_Nuevo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_LeadNumber__c</field>
            <value>
                <elementReference>G_Referente.lead_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <stringValue>CESS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign_cti__c</field>
            <value>
                <elementReference>ForCtiCampiagnLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>line_insurance__c</field>
            <value>
                <elementReference>SCLeadNuevo_Ramo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>order__c</field>
            <value>
                <numberValue>8000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reference_campaign__c</field>
            <value>
                <elementReference>G_Referente.campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencedocument_number__c</field>
            <value>
                <elementReference>G_Referente.document_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_cess__c</field>
            <value>
                <elementReference>G_Referente.source_cess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_type__c</field>
            <value>
                <elementReference>G_Referente.source_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>schedulecontact_datetime__c</field>
            <value>
                <elementReference>schedulecontact_datetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>send_cti__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_cess__c</field>
            <value>
                <elementReference>For_LeadOrigenCESS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_manualrecord__c</field>
            <value>
                <elementReference>C_LeadSourceReference</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <description>Create New Referred Record with a relation to the Opportunity of Origin</description>
        <name>NewLeadRefereeOpp_0</name>
        <label>New Lead Refered Create</label>
        <locationX>3218</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>Record_Newid</assignRecordIdToReference>
        <connector>
            <targetReference>New_Lead_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>SC_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>SC_Nombre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>SC_Apellido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>SC_Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Referrer__c</field>
            <value>
                <elementReference>Opp_Origin_Referral_Get.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>SC_Landline.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Type__c</field>
            <value>
                <elementReference>SCTipoRelacionReferencia_Nuevo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_LeadNumber__c</field>
            <value>
                <elementReference>Opp_Origin_Referral_Get.opportunity_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransferenciaLlamada__c</field>
            <value>
                <elementReference>TransferenciaLlamada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <stringValue>CESS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign_cti__c</field>
            <value>
                <elementReference>ForCtiCampiagnOPP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>line_insurance__c</field>
            <value>
                <elementReference>SCLeadNuevo_Ramo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reference_campaign__c</field>
            <value>
                <elementReference>Opp_Origin_Referral_Get.campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencedocument_number__c</field>
            <value>
                <elementReference>Opp_Origin_Referral_Get.Account.personal_document__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_cess__c</field>
            <value>
                <elementReference>Opp_Origin_Referral_Get.source_cess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_type__c</field>
            <value>
                <elementReference>Opp_Origin_Referral_Get.source_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>schedulecontact_datetime__c</field>
            <value>
                <elementReference>schedulecontact_datetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_cess__c</field>
            <value>
                <elementReference>For_LeadOrigenCESS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_manualrecord__c</field>
            <value>
                <elementReference>C_LeadSourceReference</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <description>Create New Referred Record with a relation to the Opportunity of Origin</description>
        <name>NewLeadRefereeOpp_0_0</name>
        <label>New Lead Refered Create</label>
        <locationX>2954</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>Record_Newid</assignRecordIdToReference>
        <connector>
            <targetReference>New_Lead_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>SC_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>SC_Nombre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>SC_Apellido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>SC_Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opp_Referrer__c</field>
            <value>
                <elementReference>Opp_Origin_Referral_Get.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>SC_Landline.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Type__c</field>
            <value>
                <elementReference>SCTipoRelacionReferencia_Nuevo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_LeadNumber__c</field>
            <value>
                <elementReference>Opp_Origin_Referral_Get.opportunity_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <stringValue>CESS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign_cti__c</field>
            <value>
                <elementReference>ForCtiCampiagnOPP</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>line_insurance__c</field>
            <value>
                <elementReference>SCLeadNuevo_Ramo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reference_campaign__c</field>
            <value>
                <elementReference>Opp_Origin_Referral_Get.campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencedocument_number__c</field>
            <value>
                <elementReference>Opp_Origin_Referral_Get.Account.personal_document__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_cess__c</field>
            <value>
                <elementReference>Opp_Origin_Referral_Get.source_cess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_type__c</field>
            <value>
                <elementReference>Opp_Origin_Referral_Get.source_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>schedulecontact_datetime__c</field>
            <value>
                <elementReference>schedulecontact_datetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>send_cti__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_cess__c</field>
            <value>
                <elementReference>For_LeadOrigenCESS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_manualrecord__c</field>
            <value>
                <elementReference>C_LeadSourceReference</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <description>Si se marca Transferencia de llamada no se planifica la llamada</description>
        <name>NewLeadWithoutScheduledCall</name>
        <label>New Lead without scheduled call</label>
        <locationX>2426</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>Record_Newid</assignRecordIdToReference>
        <connector>
            <targetReference>New_Lead_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>SC_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>SC_Nombre</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>SC_Apellido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Referrer__c</field>
            <value>
                <elementReference>G_Referente.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>SC_Mobile.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>SC_Landline.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Type__c</field>
            <value>
                <elementReference>SCTipoRelacionReferencia_Nuevo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_LeadNumber__c</field>
            <value>
                <elementReference>G_Referente.lead_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransferenciaLlamada__c</field>
            <value>
                <elementReference>TransferenciaLlamada</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <stringValue>CESS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign_cti__c</field>
            <value>
                <elementReference>ForCtiCampiagnLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>line_insurance__c</field>
            <value>
                <elementReference>SCLeadNuevo_Ramo</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>order__c</field>
            <value>
                <numberValue>8000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reference_campaign__c</field>
            <value>
                <elementReference>G_LeadReferente.campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencedocument_number__c</field>
            <value>
                <elementReference>G_Referente.document_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_cess__c</field>
            <value>
                <elementReference>G_Referente.source_cess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_type__c</field>
            <value>
                <elementReference>G_Referente.source_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_cess__c</field>
            <value>
                <elementReference>For_LeadOrigenCESS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_manualrecord__c</field>
            <value>
                <elementReference>C_LeadSourceReference</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <description>Collects the Field Data of the Lead that executed the process.</description>
        <name>G_LeadReferente</name>
        <label>Lead Origin Referral Get</label>
        <locationX>534</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_LookupReferral</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <description>Collects the Field Data of the Lead that executed the process.</description>
        <name>G_Referente</name>
        <label>Lead Origin Referral Get</label>
        <locationX>2426</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transferencia_de_Llamada</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <description>Collects Field Data of the Lead that Matches the Lead Number introduced by the user.</description>
        <name>G_ReferenteLeadNuevo</name>
        <label>Lead Referred Get</label>
        <locationX>534</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LeadNumberEvaluation</targetReference>
        </connector>
        <filters>
            <field>lead_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NumeroRegistro</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>G_ReferenteLeadNuevo1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsConverted</queriedFields>
        <queriedFields>lead_number__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>lead_header__c</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Reference_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Collects the Field Data of the Lead that executed the process.</description>
        <name>Get_OppReferente</name>
        <label>Opp Origin Referral Get</label>
        <locationX>798</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_LookupReferral</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordLookups>
        <description>Collects Field Data of the Lead that Matches the Lead Number introduced by the user.</description>
        <name>Get_ReferenteOppNuevo_0</name>
        <label>Opp Referred Get</label>
        <locationX>798</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LeadNumberEvaluation</targetReference>
        </connector>
        <filters>
            <field>opportunity_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NumeroRegistro</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OppReferredGot</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>lead_number__c</queriedFields>
        <queriedFields>opportunity_number__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>phone__c</queriedFields>
        <queriedFields>Opportunity_header__c</queriedFields>
        <queriedFields>Reference_Type__c</queriedFields>
        <queriedFields>campaign__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>New_Lead_Fields</name>
        <label>New Lead Fields</label>
        <locationX>2690</locationX>
        <locationY>1526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_NewLeadSuccess</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Record_Newid</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <description>Collects the Field Data of the Opp that executed the process.</description>
        <name>Opp_Origin_Referral_Get</name>
        <label>Opp Origin Referral Get</label>
        <locationX>3086</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Transferencia_de_llamada_Oportunidad</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordUpdates>
        <name>E_LeadLeadReferenced_Update</name>
        <label>Lead Lead Referred Update</label>
        <locationX>1458</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>SC_LeadLeadReferencedUpdateSucess</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>G_ReferenteLeadNuevo1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Referrer__c</field>
            <value>
                <elementReference>G_LeadReferente.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Type__c</field>
            <value>
                <elementReference>SC_LeadReferralTypeUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_LeadNumber__c</field>
            <value>
                <elementReference>G_LeadReferente.lead_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TransferenciaLlamada__c</field>
            <value>
                <elementReference>G_LeadReferente.TransferenciaLlamada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reference_campaign__c</field>
            <value>
                <elementReference>G_LeadReferente.campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencedocument_number__c</field>
            <value>
                <elementReference>G_LeadReferente.document_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_cess__c</field>
            <value>
                <elementReference>G_LeadReferente.source_cess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_type__c</field>
            <value>
                <elementReference>G_LeadReferente.source_type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>E_LeadOppReferenced_Update_0</name>
        <label>Lead Opp Referred Update</label>
        <locationX>930</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>SC_LeadOppReferencedUpdateSucess_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppReferredGot.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Referrer__c</field>
            <value>
                <elementReference>G_LeadReferente.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Type__c</field>
            <value>
                <elementReference>SC_LeadReferralTypeUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_campaign__c</field>
            <value>
                <elementReference>G_LeadReferente.campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_Number__c</field>
            <value>
                <elementReference>G_LeadReferente.lead_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencedocument_number__c</field>
            <value>
                <elementReference>G_LeadReferente.document_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_cess__c</field>
            <value>
                <elementReference>G_LeadReferente.source_cess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_type__c</field>
            <value>
                <elementReference>G_LeadReferente.source_type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>E_OppLeadReferenced_Update_0</name>
        <label>Opp Lead Referred Update</label>
        <locationX>1194</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>SC_OPPLeadReferencedUpdateSucess_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>G_ReferenteLeadNuevo1.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opp_Referrer__c</field>
            <value>
                <elementReference>Get_OppReferente.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Type__c</field>
            <value>
                <elementReference>SC_LeadReferralTypeUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_LeadNumber__c</field>
            <value>
                <elementReference>Get_OppReferente.opportunity_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reference_campaign__c</field>
            <value>
                <elementReference>Get_OppReferente.campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencedocument_number__c</field>
            <value>
                <elementReference>Get_OppReferente.Account.personal_document__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_cess__c</field>
            <value>
                <elementReference>Get_OppReferente.source_cess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_type__c</field>
            <value>
                <elementReference>Get_OppReferente.source_type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>E_OppOppReferenced_Update</name>
        <label>Opp Opp Referred Update</label>
        <locationX>666</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>SC_OppOppReferencedUpdateSucess</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppReferredGot.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opp_Referrer__c</field>
            <value>
                <elementReference>Get_OppReferente.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Type__c</field>
            <value>
                <elementReference>SC_LeadReferralTypeUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_campaign__c</field>
            <value>
                <elementReference>Get_OppReferente.campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_Number__c</field>
            <value>
                <elementReference>Get_OppReferente.opportunity_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencedocument_number__c</field>
            <value>
                <elementReference>Get_OppReferente.Account.personal_document__pc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_cess__c</field>
            <value>
                <elementReference>Get_OppReferente.source_cess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_type__c</field>
            <value>
                <elementReference>Get_OppReferente.source_type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <description>Display Fields of the Lead that will be updated as the lead Referred</description>
        <name>ConfirmLead2LeadUpdate</name>
        <label>Confirm Lead - Lead Update</label>
        <locationX>1458</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>E_LeadLeadReferenced_Update</targetReference>
        </connector>
        <fields>
            <name>ConfirmLead2LeadTextUpdate</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Confirmar que este es el registro a que se quiere asociar al Lead Origen. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Nombre - {!G_ReferenteLeadNuevo1.Name}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Número&amp;nbsp;|&amp;nbsp;Origen - {!G_ReferenteLeadNuevo1.lead_header__c}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Móvil &lt;/b&gt;&lt;b&gt; - {!G_ReferenteLeadNuevo1.MobilePhone}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Display Fields of the Opp that will be updated as the Opp Referred</description>
        <name>ConfirmLead2OppUpdate_0</name>
        <label>Confirm Lead - Opp Update</label>
        <locationX>930</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>E_LeadOppReferenced_Update_0</targetReference>
        </connector>
        <fields>
            <name>ConfirmLead2OppTextUpdate_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Confirmar que este es el registro a que se quiere asociar al Lead Origen. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Nombre - {!OppReferredGot.Name}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Número&amp;nbsp;|&amp;nbsp;Origen - &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; {!OppReferredGot.Opportunity_header__c}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Móvil &lt;/b&gt;&lt;b&gt; - &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!OppReferredGot.phone__c}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Display Fields of the Opp that will be updated as the Opp Referred</description>
        <name>ConfirmOpp2LeadUpdate_0</name>
        <label>Confirm Opp - Lead Update</label>
        <locationX>1194</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>E_OppLeadReferenced_Update_0</targetReference>
        </connector>
        <fields>
            <name>ConfirmOpp2LeadTextUpdate</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Por favor confirmar que este es el registro a que se quiere asociar al Oportunidad Origen. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Nombre - {!G_ReferenteLeadNuevo1.Name}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Número&amp;nbsp;|&amp;nbsp;Origen - {!G_ReferenteLeadNuevo1.lead_header__c}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Móvil &lt;/b&gt;&lt;b&gt; - {!G_ReferenteLeadNuevo1.MobilePhone}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Display Fields of the Opp that will be updated as the Opp Referred</description>
        <name>ConfirmOpp2OppUpdate</name>
        <label>Confirm Opp - Opp Update</label>
        <locationX>666</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>E_OppOppReferenced_Update</targetReference>
        </connector>
        <fields>
            <name>ConfirmOpp2OppTextUpdate</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Confirmar que este es el registro a que se quiere asociar al Origen. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Nombre - {!OppReferredGot.Name}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b&gt;Número&amp;nbsp;|&amp;nbsp;Origen - &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; {!OppReferredGot.Opportunity_header__c}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Móvil &lt;/b&gt;&lt;b&gt; - &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!OppReferredGot.phone__c}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Error Screen when Lead Number does not exist or the lead asociated has been converted</description>
        <name>NumeroNoExciste</name>
        <label>Numero No Exciste</label>
        <locationX>798</locationX>
        <locationY>1886</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SC_LookupReferral</targetReference>
        </connector>
        <fields>
            <name>NumeroNoExcisteText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Por favor revisa el número introducido del Lead o Oportunidad.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Puede que no existe el numero o en el caso de un lead pertenece a uno que ya fue convertido en oportunidad.  &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Numero Introducido - {!NumeroRegistro}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>If Lead number on origen is same as reference lead.</description>
        <name>SameLeadNumberScreen</name>
        <label>ERROR Same Lead Number</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SC_LookupReferral</targetReference>
        </connector>
        <fields>
            <name>SameLeadNumberText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Por favor revisa el número de Lead o Oportunidad introducido, no puede ser igual que el del Registro Origen. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Número Introducido- {!NumeroRegistro}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Número Registro Origen - &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!G_LeadReferente.lead_number__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_LeadLeadReferencedUpdateSucess</name>
        <label>Lead Lead Referenced Update Sucess</label>
        <locationX>1458</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SC_LeadReferencedSuccessMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;El Lead Origen ha sido asociado con éxito al Lead &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Referenciado.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Lead Referenciado - &lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Nombre - &lt;/b&gt;&lt;a href=&quot;/{!G_ReferenteLeadNuevo1.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;b&gt;{!G_ReferenteLeadNuevo1.Name}&lt;/b&gt;&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Número&amp;nbsp;|&amp;nbsp;Origen - &lt;/b&gt;&lt;a href=&quot;/{!G_ReferenteLeadNuevo1.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;b&gt;{!G_ReferenteLeadNuevo1.lead_header__c}&lt;/b&gt;&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Tipo Relacion Con Origen - {!G_ReferenteLeadNuevo1.Reference_Type__c}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Móvil &lt;/b&gt;&lt;b&gt; - {!G_ReferenteLeadNuevo1.MobilePhone}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Introducir los datos del lead nuevo</description>
        <name>SC_LeadNuevo</name>
        <label>Datos del Lead Nuevo</label>
        <locationX>2690</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecObject</targetReference>
        </connector>
        <fields>
            <name>SC_LeadReferenteTextoUsuario</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Introducir los datos del Lead nuevo&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCSendMadrid</name>
            <choiceReferences>ChoiceSendMadrid_Yes</choiceReferences>
            <choiceReferences>ChoiceSendMadrid_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Enviar Lead al equipo de Madrid</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;El Lead nuevo sera gestionado por el equipo de Madrid&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;El Lead nuevo sera asociado al mismo campaña que el registro origen&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SC_Nombre</name>
            <dataType>String</dataType>
            <fieldText>Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SC_Apellido</name>
            <dataType>String</dataType>
            <fieldText>Apellido</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SCTipoRelacionReferencia_Nuevo</name>
            <choiceReferences>NewLeadPicklist_Vacio</choiceReferences>
            <choiceReferences>TipoRelacionReferencia</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NewLeadPicklist_Vacio</defaultSelectedChoiceReference>
            <fieldText>Tipo Relacion Referencia</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SCLeadNuevo_Ramo</name>
            <choiceReferences>NewLeadPicklist_Vacio</choiceReferences>
            <choiceReferences>NewLeadPicklist_Ramo</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NewLeadPicklist_Vacio</defaultSelectedChoiceReference>
            <fieldText>Ramo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SC_Mobile</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Móvil</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>[0-9]{9}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SC_Landline</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Teléfono</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>[0-9]{9}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SC_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Correo electrónico</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>schedulecontact_datetime</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>ScheduleDateTime_Default</elementReference>
            </defaultValue>
            <fieldText>Fecha Contacto Planificado</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Fecha y hora de llamada planificada &lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Debe introducir una fecha y hora a futuro&lt;/p&gt;</errorMessage>
                <formulaExpression>{!schedulecontact_datetime} &gt; {!$Flow.CurrentDateTime}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>TransferenciaLlamada</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>G_LeadReferente.TransferenciaLlamada__c</elementReference>
            </defaultValue>
            <fieldText>Transferencia de Llamada</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_LeadOppReferencedUpdateSucess_0</name>
        <label>Lead Opp Referenced Update Sucess</label>
        <locationX>930</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SC_LeadOppReferencedSuccessMsg_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;El Lead Origen ha sido asociado con éxito al Oportunidad &lt;/b&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Referenciado.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Lead Referenciado - &lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Nombre - &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!OppReferredGot.Name}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Número&amp;nbsp;|&amp;nbsp;Origen - &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!OppReferredGot.Opportunity_header__c}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Tipo Relacion Con Origen - {!OppReferredGot.Reference_Type__c}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Móvil &lt;/b&gt;&lt;b&gt; - &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!OppReferredGot.phone__c}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>User selects the relationship type with the lead from which the flow was executed and searchs for the name of the lead that they wish to assign as being from a referal</description>
        <name>SC_LookupReferral</name>
        <label>Lookup Referral</label>
        <locationX>798</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DecObject_0_0</targetReference>
        </connector>
        <fields>
            <name>SC_UpdateHelp</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Indicar el tipo de Relación con el Lead o Oportunidad Origen&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC_LeadReferralTypeUpdate</name>
            <choiceReferences>TipoRelacionReferencia</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo Relacion Referencia</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SC_UpdateHelp2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Introducir el número del Lead o Oportunidad al que quiere crear la referencia.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NumeroRegistro</name>
            <dataType>String</dataType>
            <fieldText>Número de Lead o Oportunidad</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Introducir el Numero del Lead o Oportunidad que recibe la referencia.      &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Ejemplo Lead - L00000000         &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Ejemplo Oportunidad - O00000000&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Error en el numero introducido, debe empezar con un L o O seguido de 8 números.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Ejemplo Lead - L00000000&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Ejemplo Oportunidad - O00000000&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!NumeroRegistro}) &gt; 8 &amp;&amp; 

OR(BEGINS({!NumeroRegistro}, &apos;O&apos;), 
BEGINS({!NumeroRegistro}, &apos;o&apos;),
BEGINS({!NumeroRegistro}, &apos;L&apos;),
BEGINS({!NumeroRegistro}, &apos;l&apos;)) &amp;&amp;

ISNUMBER(MID({!NumeroRegistro}, 2, LEN({!NumeroRegistro})))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Lead Created with Link to New Lead</description>
        <name>SC_NewLeadSuccess</name>
        <label>New Lead Success</label>
        <locationX>2690</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SC_SuccessDisplayTxt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;El Lead ha sido creado con exito&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Nombre - &lt;/b&gt;&lt;a href=&quot;/{!Record_Newid}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;b&gt;{!New_Lead_Fields.Name}&lt;/b&gt;&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Número&amp;nbsp;|&amp;nbsp;Origen - &lt;/b&gt;&lt;a href=&quot;/{!Record_Newid}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&lt;b&gt;{!New_Lead_Fields.lead_header__c}&lt;/b&gt;&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(2, 2, 2); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Tipo Relacion Con Origen - &lt;/b&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!New_Lead_Fields.Reference_Type__c}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Móvil - &lt;/b&gt;&lt;b style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!New_Lead_Fields.MobilePhone}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;﻿&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Where the user decides if he creates a new lead with a referral or updates an excisting lead as a referral</description>
        <name>SC_NewOrUpdate</name>
        <label>New Or Update</label>
        <locationX>2272</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D_NewOrUpdate</targetReference>
        </connector>
        <fields>
            <name>SC_ChoiceHelp</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Seleccionar si quiere crear un Lead nuevo con referencia o asociar uno con otro Lead o Oportunidad que ya existe.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SC_LeadChoice</name>
            <choiceReferences>Newlead</choiceReferences>
            <choiceReferences>UpdateRecord</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Newlead</defaultSelectedChoiceReference>
            <fieldText>Referenciado</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_OPPLeadReferencedUpdateSucess_0</name>
        <label>Opp Lead Referenced Update Success</label>
        <locationX>1194</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SC_LeadReferencedSuccessMsg_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;La Oportunidad Origen ha sido asociado con éxito al Lead &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Referenciado.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Lead Referenciado - &lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Nombre - &lt;/b&gt;&lt;a href=&quot;/{!G_ReferenteLeadNuevo1.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;b&gt;{!G_ReferenteLeadNuevo1.Name}&lt;/b&gt;&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Número&amp;nbsp;|&amp;nbsp;Origen - &lt;/b&gt;&lt;a href=&quot;/{!G_ReferenteLeadNuevo1.Id}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(0, 0, 0);&quot;&gt;&lt;b&gt;{!G_ReferenteLeadNuevo1.lead_header__c}&lt;/b&gt;&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Tipo Relacion Con Origen - {!G_ReferenteLeadNuevo1.Reference_Type__c}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Móvil &lt;/b&gt;&lt;b&gt; - {!G_ReferenteLeadNuevo1.MobilePhone}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SC_OppOppReferencedUpdateSucess</name>
        <label>Opp Opp Referenced Update Sucess</label>
        <locationX>666</locationX>
        <locationY>1550</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SC_OppOppReferencedSuccessMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;La Oportunidad Origen ha sido asociado con éxito al Oportunidad &lt;/b&gt;&lt;b style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Referenciado.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Oportunidad Referenciado - &lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;b&gt;Nombre - &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!OppReferredGot.Name}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Número&amp;nbsp;|&amp;nbsp;Origen - &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!OppReferredGot.Opportunity_header__c}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Tipo Relacion Con Origen - {!OppReferredGot.Reference_Type__c}&lt;/b&gt;&lt;/li&gt;&lt;li&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Móvil &lt;/b&gt;&lt;b&gt; - &lt;/b&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!OppReferredGot.phone__c}&lt;/b&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCNewLead_ErrorRequiredFields</name>
        <label>Datos Requeridos</label>
        <locationX>1898</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SCNewLead_ErrorTextRequiredFields</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;﻿Por favor, elija un valor para los siguientes campos.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Ramo&lt;/b&gt; - {!SCLeadNuevo_Ramo}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Tipo&lt;/b&gt; - {!SCTipoRelacionReferencia_Nuevo}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>SC_NewOrUpdate</startElementReference>
    <status>Active</status>
    <variables>
        <name>G_ReferenteLeadNuevo1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Lead_ReferencedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppReferredGot</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Guardamos el id del registro creado</description>
        <name>Record_Newid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Capture the current Record ID for use in the Flow</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSevilla</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
