force-app/main/default/flows/CESS_Lead_Tarea_Cancelada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>cambio_de_estado_tarea</name>
        <label>Cambio de estado tarea</label>
        <locationX>530</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>Bucle_tareas.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Tarea</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CESS - Lead / Tarea Cancelada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CESS - Lead  No Cualificado / Tarea Cancelada</label>
    <loops>
        <name>Bucle_tareas</name>
        <label>Bucle tareas</label>
        <locationX>357</locationX>
        <locationY>448</locationY>
        <collectionReference>Obtener_tareas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>cambio_de_estado_tarea</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtener_tareas</name>
        <label>Obtener tareas</label>
        <locationX>182</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bucle_tareas</targetReference>
        </connector>
        <filters>
            <field>inin_interactionID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Tarea</name>
        <label>Actualizar Tarea</label>
        <locationX>428</locationX>
        <locationY>603</locationY>
        <connector>
            <targetReference>Bucle_tareas</targetReference>
        </connector>
        <inputReference>Bucle_tareas</inputReference>
    </recordUpdates>
    <startElementReference>Obtener_tareas</startElementReference>
    <status>Active</status>
</Flow>
