force-app/main/default/flows/CESS_Oportunidad.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Añade el elemento actualizado a la lista</description>
        <name>AddList</name>
        <label>Añadir elemento a la lista</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ListaTareas</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Bucle_Tareas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bucle_Tareas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cambio_Estado_Tarea</name>
        <label>Cambio Estado Tarea</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Bucle_Tareas.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddList</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CESS - Oportunidad {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CESS - Oportunidad perdida/ Tarea Cancelada</label>
    <loops>
        <name>Bucle_Tareas</name>
        <label>Bucle Tareas</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>Obtenemos_tareas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cambio_Estado_Tarea</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_Tarea</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtenemos_tareas</name>
        <label>Obtenemos tareas</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bucle_Tareas</targetReference>
        </connector>
        <filters>
            <field>inin_interactionID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Tarea</name>
        <label>Actualizar Tarea</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <inputReference>ListaTareas</inputReference>
    </recordUpdates>
    <startElementReference>Obtenemos_tareas</startElementReference>
    <status>Active</status>
    <variables>
        <name>ListaTareas</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
