force-app/main/default/flows/CESS_Opp_Before_Closed_By_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Close_By</name>
        <label>Close By</label>
        <locationX>787</locationX>
        <locationY>1093</locationY>
        <assignmentItems>
            <assignToReference>$Record.Closed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Owner</name>
        <label>User Is Owner?</label>
        <locationX>764</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>GET_PermissionSetCloseOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OcYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ForUserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_By</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Permission_Set_Member</name>
        <label>Is Permission Set Member?</label>
        <locationX>918</locationX>
        <locationY>661</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OCNo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GotPermissionSetMember.AssigneeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_By</targetReference>
            </connector>
            <label>NO</label>
        </rules>
    </decisions>
    <description>Updates the Opportunity when it is Closed Won/Lost. 
v1.0 - Record the user responsible for Closing the Opportunity irrespective of if he is the Current Owner.</description>
    <formulas>
        <name>ForUserId</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>CESS - Opp - Before - Closed By Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CESS - Opp - Before - Closed By Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_PermissionMember</name>
        <label>GET Permission Set Member?</label>
        <locationX>918</locationX>
        <locationY>541</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Permission_Set_Member</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_PermissionSetCloseOpp.Id</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputReference>GotPermissionSetMember</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AssigneeId</queriedFields>
        <queriedFields>PermissionSetId</queriedFields>
        <queriedFields>PermissionSetGroupId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GET_PermissionSetCloseOpp</name>
        <label>GET Permission Set - Close Opp</label>
        <locationX>918</locationX>
        <locationY>421</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_PermissionMember</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CESS_OPPCerradoPor</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
    </recordLookups>
    <startElementReference>Is_Owner</startElementReference>
    <status>Active</status>
    <variables>
        <name>GotPermissionSetMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>GotStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
