force-app/main/default/flows/CESS_DynamicApprovalRouting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApprovalLossReasonFamiliar</name>
        <label>Approval Loss Reason Familiar</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CESS_RazonCierreFamiliar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>DEC_ApproverNotNull</name>
        <label>Approver Not Null</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OC_NotNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Approver.CESS_OpportunityApprover1__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Approver.CESS_OpportunityApprover2__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Approver.CESS_OpportunityApprover3__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Approver.CESS_OpportunityApprover4__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Approver.CESS_OpportunityApprover5__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Approver.CESS_OpportunityApprover6__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateApproverField</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_EvaluateApprovalCriteria</name>
        <label>Evaluate Approval Criteria</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OC_LossReasonFamiliar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loss_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Familiar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Approver</targetReference>
            </connector>
            <label>Loss Reason Familiar</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Agente</name>
        <label>User Agente</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OC_AgenteYes</name>
            <conditionLogic>1 AND (2 OR (3 AND 4) )</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.DeveloperName</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Equipo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CESS - Venta a Distancia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CESS - Venta a Distancia Sevilla</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Is_Sevilla_Basics__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApprovalLossReasonFamiliar</targetReference>
            </connector>
            <label>Agente yes</label>
        </rules>
    </decisions>
    <description>09/2023 LCS-JCB: Se añade un 6º Aprobador</description>
    <interviewLabel>Dynamic Approval Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CESS - Dynamic Approval Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Opportunity_Approver</name>
        <label>Opportunity Approver</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_ApproverNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CESS_LossReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Loss_Reason__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Approver_Matrix__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateApproverField</name>
        <label>Update Approver Field</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>User_Agente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CESS_OpportunityApprover1__c</field>
            <value>
                <elementReference>Opportunity_Approver.CESS_OpportunityApprover1__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_OpportunityApprover2__c</field>
            <value>
                <elementReference>Opportunity_Approver.CESS_OpportunityApprover2__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_OpportunityApprover3__c</field>
            <value>
                <elementReference>Opportunity_Approver.CESS_OpportunityApprover3__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_OpportunityApprover4__c</field>
            <value>
                <elementReference>Opportunity_Approver.CESS_OpportunityApprover4__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_OpportunityApprover5__c</field>
            <value>
                <elementReference>Opportunity_Approver.CESS_OpportunityApprover5__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_OpportunityApprover6__c</field>
            <value>
                <elementReference>Opportunity_Approver.CESS_OpportunityApprover6__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_EvaluateApprovalCriteria</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
