force-app/main/default/flows/CESS_Dynamic_Approval_RoutingV2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AC_SendPendingApprovalEmail</name>
        <label>Pending Approval Email</label>
        <locationX>1288</locationX>
        <locationY>153</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Records pending approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailPostLoop</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Records pending approval</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ApprovalLossReasonFamiliar</name>
        <label>Approval Loss Reason Familiar</label>
        <locationX>59</locationX>
        <locationY>1301</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>CESS_RazonCierreFamiliar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>As_RecordToText</name>
        <label>Record To Text</label>
        <locationX>1054</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>EmailPostLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_TransformCollectionType.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_TransformCollectionType</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_ApproverNotNull</name>
        <label>Approver Not Null</label>
        <locationX>56</locationX>
        <locationY>830</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OC_NotNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Opportunity_Approver.CESS_OpportunityApprover1__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Approver.CESS_OpportunityApprover2__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Approver.CESS_OpportunityApprover3__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Opportunity_Approver.CESS_OpportunityApprover4__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateApproverField</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_EvaluateApprovalCriteria</name>
        <label>Evaluate Approval Criteria</label>
        <locationX>296</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OC_LossReasonFamiliar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Loss_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Familiar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Approver</targetReference>
            </connector>
            <label>Loss Reason Familiar</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_IsApprovalStillPending</name>
        <label>Is Approval Still Pending?</label>
        <locationX>646</locationX>
        <locationY>146</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OC_YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CESS_ValidatedCoordinator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Emails_of_Approvers</targetReference>
            </connector>
            <label>YES Approval Pending</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Agente_Madrid</name>
        <label>** UPDATE User Agente Madrid</label>
        <locationX>50</locationX>
        <locationY>1134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OC_AgenteMadridYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmailPostLoop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApprovalLossReasonFamiliar</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Incluye email de aviso Post 2 dias de solicitud</description>
    <interviewLabel>CESS - Dynamic Approval Routing Post Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CESS - Dynamic Approval Routing V2</label>
    <loops>
        <name>LOOP_TransformCollectionType</name>
        <label>Transform Record Collection to Text Collection</label>
        <locationX>1056</locationX>
        <locationY>144</locationY>
        <collectionReference>UserEmails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>As_RecordToText</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AC_SendPendingApprovalEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Emails_of_Approvers</name>
        <label>Get Emails of Approvers</label>
        <locationX>881</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LOOP_TransformCollectionType</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CESS_OpportunityApprover1__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CESS_OpportunityApprover3__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CESS_OpportunityApprover4__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CESS_OpportunityApprover2__r.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserEmails</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Opportunity_Approver</name>
        <label>Opportunity Approver</label>
        <locationX>67</locationX>
        <locationY>666</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_ApproverNotNull</targetReference>
        </connector>
        <filters>
            <field>CESS_LossReason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Familiar</stringValue>
            </value>
        </filters>
        <object>Approver_Matrix__c</object>
    </recordLookups>
    <recordUpdates>
        <name>UpdateApproverField</name>
        <label>Update Approver Field</label>
        <locationX>59</locationX>
        <locationY>979</locationY>
        <connector>
            <targetReference>User_Agente_Madrid</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CESS_OpportunityApprover1__c</field>
            <value>
                <elementReference>Opportunity_Approver.CESS_OpportunityApprover1__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_OpportunityApprover2__c</field>
            <value>
                <elementReference>Opportunity_Approver.CESS_OpportunityApprover2__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_OpportunityApprover3__c</field>
            <value>
                <elementReference>Opportunity_Approver.CESS_OpportunityApprover3__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_OpportunityApprover4__c</field>
            <value>
                <elementReference>Opportunity_Approver.CESS_OpportunityApprover4__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>DEC_EvaluateApprovalCriteria</startElementReference>
    <status>Draft</status>
    <variables>
        <name>EmailPostLoop</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserEmails</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
