force-app/main/default/flows/FlujoLlamadaEntrantesBlecis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Asigna el registro a la variable que se usa en el resto de los flujos</description>
        <name>AsignaCMCTIEncontradoAVariable</name>
        <label>Asigna el CM CTI encontrado a la variable</label>
        <locationX>418</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>CTICampaignMemberVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCTICampaignMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflujo_ColaboracionDelClienteBlecis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Poner el campo ejecutando argumentario de la tarea a false.</description>
        <name>Assign_RunningArgument_False</name>
        <label>Assign_RunningArgument_False</label>
        <locationX>50</locationX>
        <locationY>2078</locationY>
        <assignmentItems>
            <assignToReference>Var_IN_CallbackTaskRecord.RunningArgument__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Poner el campo ejecutando argumentario de la tarea a true.</description>
        <name>Assign_RunningArgument_True</name>
        <label>Assign_RunningArgument_True</label>
        <locationX>1037</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Var_IN_CallbackTaskRecord.RunningArgument__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añade el interés excluido de la pantalla de Ganar Opp a la lista de Ids</description>
        <name>Set_Interes_Excluido_GanarOpp</name>
        <label>Set Interes Excluido Ganar Opp</label>
        <locationX>1713</locationX>
        <locationY>6332</locationY>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_InteresExcluidoAUX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PantallaInteres</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añade el interés excluido de la pantalla de Destinatario a la lista de Ids</description>
        <name>Set_InteresExcluido_Destinatario</name>
        <label>Set Interes Excluido Destinatario</label>
        <locationX>1037</locationX>
        <locationY>4028</locationY>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_InteresExcluidoAUX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HayQueVolverPantallaInteresDestinatarioMercancia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añade el interés excluido de la pantalla de Destinatario a la lista de Ids</description>
        <name>Set_InteresExcluidoContactoInformado</name>
        <label>Set Interes Excluido Destinatario</label>
        <locationX>1284</locationX>
        <locationY>4760</locationY>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_InteresExcluidoAUX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HayQueVolverPantallaInteresContactoInformado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añade el interés excluido de la pantalla de Ganar Opp a la lista de Ids</description>
        <name>Set_InteresExcluidoContactoQuiereSeguro</name>
        <label>Set_InteresExcluidoContactoQuiereSeguro</label>
        <locationX>1515</locationX>
        <locationY>5300</locationY>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_InteresExcluidoAUX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_MarcadoPlanificarLlamadaQuiereSeguro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añade el interés excluido de la pantalla de Destinatario a la lista de Ids</description>
        <name>Set_InteresExcluidoGestionOpp</name>
        <label>Set_InteresExcluidoGestionOpp</label>
        <locationX>974</locationX>
        <locationY>3002</locationY>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_InteresExcluidoAUX</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PantallaInteres</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos a true la variabe VAR_OUT_InteresOportunidadCMCTI si se pasa por esta parte del flow.</description>
        <name>Set_InteresOportunidadCMCTI</name>
        <label>Set_InteresOportunidadCMCTI</label>
        <locationX>1515</locationX>
        <locationY>4976</locationY>
        <assignmentItems>
            <assignToReference>VAR_OUT_InteresOportunidadCMCTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetNuevaOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se marca la variable Planificar llamada a true</description>
        <name>Set_PlanificarLlamada_QuiereSeguro</name>
        <label>Set Planificar Llamada</label>
        <locationX>1383</locationX>
        <locationY>5516</locationY>
        <assignmentItems>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HayQueVolverPantallaContactoQuiereSeguro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se marca la variable Planificar llamada a true</description>
        <name>Set_PlanificarLlamada_True</name>
        <label>Set Planificar Llamada True</label>
        <locationX>905</locationX>
        <locationY>3836</locationY>
        <assignmentItems>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_InteresExcluido_Destinatario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se marca la variable Planificar llamada a true</description>
        <name>Set_PlanificarLlamadaContactoInformado</name>
        <label>Set Planificar Llamada</label>
        <locationX>1152</locationX>
        <locationY>4568</locationY>
        <assignmentItems>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_InteresExcluidoContactoInformado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se marca la variable Planificar llamada a true</description>
        <name>Set_PlanificarLlamadaGanarOpp</name>
        <label>Set_PlanificarLlamadaGanarOpp</label>
        <locationX>1581</locationX>
        <locationY>6140</locationY>
        <assignmentItems>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Interes_Excluido_GanarOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se marca la variable Planificar llamada a true</description>
        <name>Set_PlanificarLlamadaGestionOpp</name>
        <label>Set_PlanificarLlamadaGestionOpp</label>
        <locationX>842</locationX>
        <locationY>2810</locationY>
        <assignmentItems>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_InteresExcluidoGestionOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establezco la marca de planificación de llamada</description>
        <name>Set_PlanificarLlamadaIntereses</name>
        <label>Set PlanificarLlamada Intereses</label>
        <locationX>314</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_CMCTIActualizado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_01</name>
        <label>Set_Stage_01</label>
        <locationX>1037</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_010</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RTIdCTICampaignMember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_02</name>
        <label>Set_Stage_02</label>
        <locationX>1037</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_020</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DatosContacto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_03</name>
        <label>Set_Stage_03</label>
        <locationX>787</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_030</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaInteres</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_04</name>
        <label>Set_Stage_04</label>
        <locationX>1037</locationX>
        <locationY>3512</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_040</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DestinatarioMercancia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_05</name>
        <label>Set_Stage_05</label>
        <locationX>1284</locationX>
        <locationY>4244</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_050</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactoInformado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_061</name>
        <label>Set_Stage_061</label>
        <locationX>974</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_060</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaGestionOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_062</name>
        <label>Set_Stage_062</label>
        <locationX>1713</locationX>
        <locationY>5816</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_060</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ganar_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_08</name>
        <label>Set_Stage_08</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_080</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CMCTIActualizado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Comprobamos si se ha creado el miembro de campaña CTI o no</description>
        <name>CampaignMembrerCTICreated</name>
        <label>¿Hay Miembro de campaña CTI?</label>
        <locationX>1037</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>CreateCampaignMemberCTISubflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existe Miembro de campaña CTI</defaultConnectorLabel>
        <rules>
            <name>YesCampaignMemberCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCTICampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaCMCTIEncontradoAVariable</targetReference>
            </connector>
            <label>Existe Miembro de campaña CTI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el CM CTI tiene relleno el campo LeadId y vacío el ContactId se muestra la Pantalla de datos CESS</description>
        <name>Decision_EsLead</name>
        <label>¿Es un Lead?</label>
        <locationX>787</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_03</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EsLead_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CTICampaignMemberVariable.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CTICampaignMemberVariable.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflujo_PantallaDatosCESS</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el CM CTI tiene relleno el campo LeadId y vacío el ContactId se muestra la Pantalla de datos CESS</description>
        <name>Decision_EsLeadNewCTI</name>
        <label>¿Es un Lead?</label>
        <locationX>1854</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_04</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EsLeadNewCTI_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CTICampaignMemberVariable.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CTICampaignMemberVariable.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflujo_PantallaDatosCESSNewCTI</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si en la pantalla de colaboración no colabora, hay que cerrar el argumentario</description>
        <name>Decision_FinalizarArgumentarioColaboracion</name>
        <label>¿Hay finalizar el argumentario?</label>
        <locationX>418</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>PantallaContactoIntereres</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>FinalizarArgumentarioColaboracion_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_FinalizarArgumentario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_08</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si en la pantalla de colaboración no colabora, hay que cerrar el argumentario</description>
        <name>Decision_FinalizarArgumentarioColaboracionClienteNewCTI</name>
        <label>¿Hay finalizar el argumentario?</label>
        <locationX>1656</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Subflujo_PantallaDeContactoEInteresNewCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>FinalizarArgumentarioColaboracionClienteNewCTI_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_FinalizarArgumentario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_CMCTIActualizado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si no se quieren más intereses hay que finalizar el argumentario</description>
        <name>Decision_FinalizarArgumentarioPantallaIntereses</name>
        <label>¿Hay que finalizar Argumentario?</label>
        <locationX>787</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>InteresDeTipoOportunidadSeleccionado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>FinalizarArgumentarioPantallaIntereses_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_FinalizarArgumentario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_MarcaPlanificarLlamadaIntereses</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha marcado seteamos la variable Planificar llamada, sino la dejamos como está</description>
        <name>Decision_MarcadoPlanificarLlamadaDestinatario</name>
        <label>¿Se ha marcado Planificar Llamada?</label>
        <locationX>1037</locationX>
        <locationY>3728</locationY>
        <defaultConnector>
            <targetReference>Set_InteresExcluido_Destinatario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MarcadoPlanificarLlamadaDestinatario_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAUX</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamada_True</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha marcado seteamos la variable Planificar llamada, sino la dejamos como está</description>
        <name>Decision_MarcadoPlanificarLlamadaQuiereSeguro</name>
        <label>¿Se ha marcado Planificar Llamada?</label>
        <locationX>1515</locationX>
        <locationY>5408</locationY>
        <defaultConnector>
            <targetReference>HayQueVolverPantallaContactoQuiereSeguro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MarcadoPlanificarLlamadaQuiereSeguro_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAUX</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamada_QuiereSeguro</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de la pantalla de intereses</description>
        <name>Decision_MarcaPlanificarLlamadaIntereses</name>
        <label>¿Planificar llamada Intereses?</label>
        <locationX>446</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_CMCTIActualizado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MarcaPlanificarLlamadaIntereses_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAUX</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamadaIntereses</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha marcado seteamos la variable Planificar llamada, sino la dejamos como está</description>
        <name>Decision_PlanificarLlamadaContactoInformado</name>
        <label>¿Se ha marcado Planificar Llamada?</label>
        <locationX>1284</locationX>
        <locationY>4460</locationY>
        <defaultConnector>
            <targetReference>Set_InteresExcluidoContactoInformado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>PlanificarLlamadaContactoInformado_No</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamadaContactoInformado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAUX</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamadaContactoInformado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha marcado seteamos la variable Planificar llamada, sino la dejamos como está</description>
        <name>Decision_PlanificarLlamadaGanarOpp</name>
        <label>¿Se ha marcado Planificar Llamada?</label>
        <locationX>1713</locationX>
        <locationY>6032</locationY>
        <defaultConnector>
            <targetReference>Set_Interes_Excluido_GanarOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamadaGanarOpp_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAUX</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamadaGanarOpp</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha marcado seteamos la variable Planificar llamada, sino la dejamos como está</description>
        <name>Decision_PlanificarLlamadaGestionOpp</name>
        <label>¿Se ha marcado Planificar Llamada?</label>
        <locationX>974</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>Set_InteresExcluidoGestionOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamadaGestionOpp_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAUX</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamadaGestionOpp</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si en la pantalla de colaboración se ha cerrado el interés hay que volver a la pantalla de intereses</description>
        <name>HayQueVolverPantallaContactoQuiereSeguro</name>
        <label>¿Hay que volver a la pantalla de Intereses?</label>
        <locationX>1515</locationX>
        <locationY>5708</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_062</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SiHayQueVolverPantallaContactoQuiereSeguro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_VolverAPantallaIntereses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>PantallaInteres</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si en la pantalla de colaboración se ha cerrado el interés hay que volver a la pantalla de intereses</description>
        <name>HayQueVolverPantallaInteresContactoInformado</name>
        <label>¿Hay que volver a la pantalla de Intereses?</label>
        <locationX>1284</locationX>
        <locationY>4868</locationY>
        <defaultConnector>
            <targetReference>Set_InteresOportunidadCMCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SiHayQueVolverPantallaInteresContactoInformado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_VolverAPantallaIntereses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>PantallaInteres</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si en la pantalla de colaboración se ha cerrado el interés hay que volver a la pantalla de intereses</description>
        <name>HayQueVolverPantallaInteresDestinatarioMercancia</name>
        <label>¿Hay que volver a la pantalla de Intereses?</label>
        <locationX>1037</locationX>
        <locationY>4136</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_05</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SiHayQueVolverPantallaInteresDestinatarioMercancia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_VolverAPantallaIntereses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>PantallaInteres</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se ha seleccionado un intereses de tipo Oportunidad</description>
        <name>InteresDeTipoOportunidadSeleccionado</name>
        <label>¿Interes de tipo Oportunidad seleccionado?</label>
        <locationX>1128</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_04</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiInteresDeTipoOportunidadSeleccionado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_OppCMSelected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_061</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Al entrar la llamada relacionada al Miembro de Campaña CTI y campaña Blecis (Con HEADERs en flujo y subflujos)

31/08: Añadida la funcionalidad de planificar llamada al final del argumentario
02/09 MHG: Se añade planificación de llamada e interés excluido después de Contacto Informado
02/09 MHG: Meto planificar llamada e intereses excluidos en unos cuantos retornos de subflujo que faltaban
05/09 MHG: Error con el subflujo de Colaboración con el cliente
05/09 El planificador no recibía correctamente el CM CTI
20/09 MMV: Reubicación de las pantallas
21/09 MMV: Control para que si es cliente no muestre el Datos CESS
06/10 NRG: Añadido Planificar LLamada cuando finaliza argumentario desde la pantalla de seleccionar interés
10/10 MMV: Se añade Planificar Llamada a Contacto Quiere Seguro
13/10 MMV: Si se hay oportunidad, se manda como parámetro en el planificador de llamadas
20/10 AMT: Cambios en las cabeceras de las pantallas
24/10 AMT: Se modifican las stages de la cabecera.
25/10 AMT: Se elimina la variable HEADER.
26/10 AMT: Eliminada stage Venta Cruzada.
26/10 AMT: Añadidas conexiones a pantallas de interés
02/11 NRG: Cambio en las formulas del planificador de llamada para solucionar una incidencia
02/11 MMV: Se recoge el CM CTI de Blecis si lo hay, sin control de tiempo
02/11 MMV: Cambios necesarios por cambio en parámetros de Subflujo Pantalla Crear Miembro de Campaña CTI
21/11 AMT: Se añade la llamada al Subflow Borrar CMCTI
15/12/2023 MSC: Añadir el control del campo &quot;Ejecutando argumentario&quot; de la tarea.</description>
    <environments>Default</environments>
    <formulas>
        <description>En función de los datos tratados en el argumentario se envía un record Id de Lead, Contacto u Opportunidad. Si hay alguna oportunidad nueva creada durante el proceso o seleccionada como interés se envía su Id, sino se envía el Lead o Contacto.</description>
        <name>For_PlanificadorRecordId</name>
        <dataType>String</dataType>
        <expression>IF(
   NOT( ISBLANK( {!Var_OppPlanificador.Id} ) ),
   {!Var_OppPlanificador.Id},
   {!Get_CMCTIActualizado.LeadOrContactId}
)</expression>
    </formulas>
    <formulas>
        <description>Nombre del sObject que hay que enviar al componente de planificar llamada</description>
        <name>For_PlanificarLlamadaSObjectType</name>
        <dataType>String</dataType>
        <expression>IF ( 
NOT( ISBLANK( {!Var_OppPlanificador.Id} ) ),   &apos;Opportunity&apos;,
   IF (
      BEGINS( {!Get_CMCTIActualizado.LeadOrContactId} , &apos;00Q&apos; ) , 
      &apos;Lead&apos; , 
      &apos;Contact&apos;
   )
)</expression>
    </formulas>
    <formulas>
        <description>Formula que calcula la fecha actual y le resta 10 minutos.</description>
        <name>HoraActualMenos10Min</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-(10/1440)</expression>
    </formulas>
    <interviewLabel>Flujo Llamada Entrantes Blecis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Llamada Entrantes Blecis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Se obtiene el CM CTI trabajado para obtener los datos actualizados (sobre todo por si se ha convertido el Lead)</description>
        <name>Get_CMCTIActualizado</name>
        <label>Get CM CTI Actualizado</label>
        <locationX>50</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_RelatedCMCTI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CTICampaignMemberVariable.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene las oportunidades ABIERTAS relacionadas con el CM CTI actualizado</description>
        <name>Get_Opportunity_RelatedCMCTI</name>
        <label>Get Opportunity Related CM CTI</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subflow_BorrarCMCTI</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIActualizado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetNuevaOportunidad.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_OppCMSelected.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Var_OppPlanificador</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el registro de Campaign member de CTI de blecis para ese Lead o Contacto</description>
        <name>GetCTICampaignMember</name>
        <label>Get CTI Campaign Member</label>
        <locationX>1037</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TextosArgumentario</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RTIdCTICampaignMember.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputWhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignCTI__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CP - CESS_BLECIS_SEV</stringValue>
            </value>
        </filters>
        <filters>
            <field>CampaignCTI__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CP - TEST_CESS_BLECIS_SEV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtener la oportunidad creada</description>
        <name>GetNuevaOportunidad</name>
        <label>Get Nueva Oportunidad</label>
        <locationX>1515</locationX>
        <locationY>5084</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PantallaContactoQuiereSeguro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CTICampaignMemberVariable.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el Identificador del RecordType de CTI Campaign Member</description>
        <name>RTIdCTICampaignMember</name>
        <label>Get RTId CTI Campaign Member</label>
        <locationX>1037</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCTICampaignMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Recoge los textos de Argumentario que se usan en las pantallas de ESTE Flujo</description>
        <name>TextosArgumentario</name>
        <label>TextosArgumentario</label>
        <locationX>1037</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ScreenBienvenida</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FlujoLlamadaEntrantesBlecis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Idioma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TextoArgumentario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizar la tarea con el nuevo valor del campo ejecutando argumentario a true.</description>
        <name>Update_Task_01</name>
        <label>Update_Task_01</label>
        <locationX>1037</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Set_Stage_02</targetReference>
        </connector>
        <inputReference>Var_IN_CallbackTaskRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar la tarea con el nuevo valor del campo ejecutando argumentario a false.</description>
        <name>Update_Task_02</name>
        <label>Update_Task_02</label>
        <locationX>50</locationX>
        <locationY>2186</locationY>
        <connector>
            <targetReference>S01_PantallaFinalizacion</targetReference>
        </connector>
        <inputReference>Var_IN_CallbackTaskRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Pantalla que muestra el texto para finalizar</description>
        <name>S01_PantallaFinalizacion</name>
        <label>S01 Pantalla Finalización</label>
        <locationX>50</locationX>
        <locationY>2294</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S02_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>truncate</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01_TextFinal</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!TextosArgumentario.Texto2__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TextoPlanificarLlamada</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto3__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Var_PlanificarLlamada</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LWCPlanificarLlamada</name>
            <extensionName>c:cess_ScheduleCallLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>campCtiId</name>
                <value>
                    <elementReference>Get_CMCTIActualizado.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>For_PlanificarLlamadaSObjectType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>For_PlanificadorRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Var_PlanificarLlamada</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla de Bienvenida</description>
        <name>ScreenBienvenida</name>
        <label>Bienvenida</label>
        <locationX>1037</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_RunningArgument_True</targetReference>
        </connector>
        <fields>
            <name>S01_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Bienvenida</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!mensajeBienvenida}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!TextosArgumentario.Texto1__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continuar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>911</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Argumentario_Subflow_DefinicionStages</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Llamada al subflow Argumentario_Subflow_DefinicionStages que habilita hacer la asignación del current Stage en cualquier Subflow</description>
        <name>Argumentario_Subflow_DefinicionStages</name>
        <label>Argumentario_Subflow_DefinicionStages</label>
        <locationX>1037</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Set_Stage_01</targetReference>
        </connector>
        <flowName>Argumentario_Subflow_DefinicionStages</flowName>
        <inputAssignments>
            <name>Var_IN_Basicos</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo de contacto informado</description>
        <name>ContactoInformado</name>
        <label>Contacto Informado</label>
        <locationX>1284</locationX>
        <locationY>4352</locationY>
        <connector>
            <targetReference>Decision_PlanificarLlamadaContactoInformado</targetReference>
        </connector>
        <flowName>SubflujoPantallaContactoInformado</flowName>
        <inputAssignments>
            <name>CTICampaignMember</name>
            <value>
                <elementReference>CTICampaignMemberVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MCAGVariable</name>
            <value>
                <elementReference>Var_MCAGSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MKTCMVariable</name>
            <value>
                <elementReference>Var_MKTCMSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_EsBlecis</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_EsEntrantes</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAUX</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_InteresExcluidoAUX</assignToReference>
            <name>Var_OUT_InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_VolverAPantallaIntereses</assignToReference>
            <name>VolverAPantallaIntereses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Invocamos el subflujo para que cree el nuevo CM CTI</description>
        <name>CreateCampaignMemberCTISubflow</name>
        <label>Pantalla Crear Miembro Campaña CTI</label>
        <locationX>1656</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Subflujo_ColaboracionDelClienteBlecisNewCTI</targetReference>
        </connector>
        <flowName>SubflujoPantallaCrearMiembroCampanaCTILlamadas_Entrantes</flowName>
        <inputAssignments>
            <name>IdLeadContacto</name>
            <value>
                <elementReference>inputWhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdRTCTI</name>
            <value>
                <elementReference>RTIdCTICampaignMember.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsFlujoBlecis</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CTICampaignMemberVariable</assignToReference>
            <name>Var_OUT_CMCTI</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_MKTCMSelected</assignToReference>
            <name>Var_OUT_CMMKT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_MCAGSelected</assignToReference>
            <name>Var_OUT_MCAdicional</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Llamada al subflujo de pantalla de datos de contacto</description>
        <name>DatosContacto</name>
        <label>Datos del Contacto</label>
        <locationX>1037</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>CampaignMembrerCTICreated</targetReference>
        </connector>
        <flowName>SubflujoPantallaDatodeContacto</flowName>
        <inputAssignments>
            <name>idLeadContact</name>
            <value>
                <elementReference>inputWhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo donde se muestra el destinatario de mercancía</description>
        <name>DestinatarioMercancia</name>
        <label>Destinatario de Mercancía</label>
        <locationX>1037</locationX>
        <locationY>3620</locationY>
        <connector>
            <targetReference>Decision_MarcadoPlanificarLlamadaDestinatario</targetReference>
        </connector>
        <flowName>SubflujoPantallaDestinatarioMercancia</flowName>
        <inputAssignments>
            <name>inputCMCTIId</name>
            <value>
                <elementReference>CTICampaignMemberVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputCMMKTId</name>
            <value>
                <elementReference>Var_MKTCMSelected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputMCAdicionalId</name>
            <value>
                <elementReference>Var_MCAGSelected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_InteresExcluidoAUX</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAUX</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_VolverAPantallaIntereses</assignToReference>
            <name>VolverAPantallaIntereses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo donde se cierra la oportunidad</description>
        <name>Ganar_Opp</name>
        <label>Ganar Opp</label>
        <locationX>1713</locationX>
        <locationY>5924</locationY>
        <connector>
            <targetReference>Decision_PlanificarLlamadaGanarOpp</targetReference>
        </connector>
        <flowName>SubflujoPantallaGanarOpp</flowName>
        <inputAssignments>
            <name>inputCMCTIId</name>
            <value>
                <elementReference>CTICampaignMemberVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppVariable</name>
            <value>
                <elementReference>GetNuevaOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_InteresExcluidoAUX</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAUX</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo de pantalla donde se muestra el contacto y sus intereses</description>
        <name>PantallaContactoIntereres</name>
        <label>Pantalla Contacto e Intereres</label>
        <locationX>787</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Decision_EsLead</targetReference>
        </connector>
        <flowName>SubflujoPantallaContactoInteres</flowName>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>inputWhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_CMCTI_Id</name>
            <value>
                <elementReference>CTICampaignMemberVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>¿El lead/contacto quiere un seguro? Se llama a subflujo</description>
        <name>PantallaContactoQuiereSeguro</name>
        <label>Pantalla Contacto Quiere Seguro</label>
        <locationX>1515</locationX>
        <locationY>5192</locationY>
        <connector>
            <targetReference>Set_InteresExcluidoContactoQuiereSeguro</targetReference>
        </connector>
        <flowName>SubflujoPantallaContactoQuiereSeguro</flowName>
        <inputAssignments>
            <name>CTICampaignMemberVariable</name>
            <value>
                <elementReference>CTICampaignMemberVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppVariable</name>
            <value>
                <elementReference>GetNuevaOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_InteresExcluidoAUX</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAUX</assignToReference>
            <name>Var_PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_VolverAPantallaIntereses</assignToReference>
            <name>volverPantallaIntereses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo de gestión de Oportunidad</description>
        <name>PantallaGestionOportunidad</name>
        <label>Pantalla gestion oportunidad</label>
        <locationX>974</locationX>
        <locationY>2594</locationY>
        <connector>
            <targetReference>Decision_PlanificarLlamadaGestionOpp</targetReference>
        </connector>
        <flowName>SubflujoPantallaGestionInteresOportunidad</flowName>
        <inputAssignments>
            <name>CTICampaignMember</name>
            <value>
                <elementReference>CTICampaignMemberVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityVariable</name>
            <value>
                <elementReference>Var_OppCMSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_InteresExcluidoAUX</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAUX</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Invocación al Subflujo Pantalla de Interés</description>
        <name>PantallaInteres</name>
        <label>Pantalla de Interés</label>
        <locationX>787</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>Decision_FinalizarArgumentarioPantallaIntereses</targetReference>
        </connector>
        <flowName>SubflujoPantalladeInteres</flowName>
        <inputAssignments>
            <name>CTIMiembrodeCampana</name>
            <value>
                <elementReference>CTICampaignMemberVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>idLeadContact</name>
            <value>
                <elementReference>inputWhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InteresesExcluidos</name>
            <value>
                <elementReference>Var_InteresesExcluidos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isFlujoBlecis</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CTICampaignMemberVariable</assignToReference>
            <name>CTIMiembrodeCampana</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_FinalizarArgumentario</assignToReference>
            <name>FinalizarArgumentario</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_MCAGSelected</assignToReference>
            <name>MCAGSelectedVariable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_MKTCMSelected</assignToReference>
            <name>MKTCMSelectedVariable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_OppCMSelected</assignToReference>
            <name>OppCMSelectedVariable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAUX</assignToReference>
            <name>Var_PlanificarLlamada</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Se llama al subflow de BorrarCMCTI para comprobar si hay que borrar o no el CMCTI</description>
        <name>Subflow_BorrarCMCTI</name>
        <label>Subflow_BorrarCMCTI</label>
        <locationX>50</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>Assign_RunningArgument_False</targetReference>
        </connector>
        <flowName>Subflow_BorrarCMCTI</flowName>
        <inputAssignments>
            <name>Var_IN_CMCTI</name>
            <value>
                <elementReference>CTICampaignMemberVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_IN_Oportunidad</name>
            <value>
                <elementReference>GetNuevaOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_OppRelacionadaContacto</name>
            <value>
                <elementReference>VAR_OUT_InteresOportunidadCMCTI</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo que indica la colaboración del cliente para llamadas Blecis</description>
        <name>Subflujo_ColaboracionDelClienteBlecis</name>
        <label>Subflujo Colaboración Del Cliente Blecis</label>
        <locationX>418</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Decision_FinalizarArgumentarioColaboracion</targetReference>
        </connector>
        <flowName>SubflujoColaboracionClienteBlecis</flowName>
        <inputAssignments>
            <name>Var_IN_CMCTIId</name>
            <value>
                <elementReference>CTICampaignMemberVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_PreguntarLlamadaOtroMomento</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_FinalizarArgumentario</assignToReference>
            <name>Var_OUT_FinalizarArgumentario</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <name>Var_OUT_PlanificadorLlamada</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo que indica la colaboración del cliente para llamadas Blecis</description>
        <name>Subflujo_ColaboracionDelClienteBlecisNewCTI</name>
        <label>Subflujo Colaboración Del Cliente Blecis</label>
        <locationX>1656</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Decision_FinalizarArgumentarioColaboracionClienteNewCTI</targetReference>
        </connector>
        <flowName>SubflujoColaboracionClienteBlecis</flowName>
        <inputAssignments>
            <name>Var_IN_CMCTIId</name>
            <value>
                <elementReference>CTICampaignMemberVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_PreguntarLlamadaOtroMomento</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_FinalizarArgumentario</assignToReference>
            <name>Var_OUT_FinalizarArgumentario</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <name>Var_OUT_PlanificadorLlamada</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo Pantalla Datos CESS</description>
        <name>Subflujo_PantallaDatosCESS</name>
        <label>Subflujo Pantalla Datos CESS</label>
        <locationX>655</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Set_Stage_03</targetReference>
        </connector>
        <flowName>SubflujoPantallaDatosCESS</flowName>
        <inputAssignments>
            <name>inputContactId</name>
            <value>
                <elementReference>CTICampaignMemberVariable.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputLeadId</name>
            <value>
                <elementReference>CTICampaignMemberVariable.LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo Pantalla Datos CESS</description>
        <name>Subflujo_PantallaDatosCESSNewCTI</name>
        <label>Subflujo Pantalla Datos CESS</label>
        <locationX>1722</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Set_Stage_04</targetReference>
        </connector>
        <flowName>SubflujoPantallaDatosCESS</flowName>
        <inputAssignments>
            <name>inputContactId</name>
            <value>
                <elementReference>CTICampaignMemberVariable.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputLeadId</name>
            <value>
                <elementReference>CTICampaignMemberVariable.LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo de pantalla donde se muestra el contacto y sus intereses</description>
        <name>Subflujo_PantallaDeContactoEInteresNewCTI</name>
        <label>Subflujo Pantalla de Contacto e Interes</label>
        <locationX>1854</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Decision_EsLeadNewCTI</targetReference>
        </connector>
        <flowName>SubflujoPantallaContactoInteres</flowName>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>inputWhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_CMCTI_Id</name>
            <value>
                <elementReference>CTICampaignMemberVariable.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Variable de CTI Campaign Membre</description>
        <name>CTICampaignMemberVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Parámetro de entrada con whoId de la tarea para saber el Lead o Contacto a tratar</description>
        <name>inputWhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable en la que almacenamos el mensaje de bienvenida</description>
        <name>mensajeBienvenida</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que indica si hay que cerrar el argumentario</description>
        <name>Var_FinalizarArgumentario</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Registro de la tarea de callback que inicia el argumentario</description>
        <name>Var_IN_CallbackTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Texto de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el nombre de la persona con la que estamos hablando y que vendrá del lead o del contacto.</description>
        <name>Var_INOUT_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Imagen de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el ícono que se muestra en la cabecera.</description>
        <name>Var_INOUT_HeadingIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Texto de subcabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el el interés (Ramo) que se está tratando en ese momento y que depende de dónde provenga el interés.</description>
        <name>Var_INOUT_SubHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Lista de IDs de intereses excluidos para filtrar los Intereses obtenidos (CM, CMAG y OPP). Este parámetro de entrada en este flujo se pasa y devuelve en los flujos en los que se puede estar tratando y por tanto excluyendo un nuevo interés.</description>
        <name>Var_InteresesExcluidos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacena temporalmente el interés excluido de alguno de los subflujos para añadir al listado de intereses excluidos</description>
        <name>Var_InteresExcluidoAUX</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contiene el registro de Miembro de campaña Adicional seleccionado</description>
        <name>Var_MCAGSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>Contiene el registro de Campaign Member MKT seleccionado</description>
        <name>Var_MKTCMSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Mantiene el record de la Oportunidad Seleccionada</description>
        <name>Var_OppCMSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Almacenamos la oportunidad recogida en el último get justo antes del planificador de llamada.</description>
        <name>Var_OppPlanificador</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Variable que indica si se ha pasado por Set_InteresOportunidadCMCTI</description>
        <name>VAR_OUT_InteresOportunidadCMCTI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Indica si al final del argumentario hay que planificar llamada o no</description>
        <name>Var_PlanificarLlamada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Indica si se ha marcado planificar llamada en el subflujo</description>
        <name>Var_PlanificarLlamadaAUX</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Indica si hay que volver a la pantalla de intereses</description>
        <name>Var_VolverAPantallaIntereses</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
