force-app/main/default/flows/Flujo_BusquedaContactosLeads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>action_NavToContactPage</name>
        <label>action_NavToContactPage</label>
        <locationX>1106</locationX>
        <locationY>2030</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>get_ContactAfterSelection.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>action_NavToLeadPage</name>
        <label>action_NavToLeadPage</label>
        <locationX>842</locationX>
        <locationY>2030</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>get_LeadAfterSelection.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Redireccionamiento a la ficha de creación de nuevo Lead, pasando los parámetros obtenidos durante el flujo. (Nombre, Apellidos, Teléfono)</description>
        <name>action_NavToNewLead</name>
        <label>action_NavToNewLead</label>
        <locationX>1634</locationX>
        <locationY>2150</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>defaultVals</name>
            <value>
                <elementReference>formula_dataForNewLead</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>new</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>object</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>set_ResultsToList_F</name>
        <label>set_ResultsToList_F</label>
        <locationX>2690</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>contactsResultList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactsByFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadsResultList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLeadsByFirstName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ContactsFiltered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ResultsToList_FL</name>
        <label>set_ResultsToList_FL</label>
        <locationX>2162</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>contactsResultList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactsByName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadsResultList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLeadsByName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ContactsFiltered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ResultsToList_FLP</name>
        <label>set_ResultsToList_FLP</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>contactsResultList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactsAllParameters</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadsResultList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLeadsAllParameters</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ContactsFiltered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ResultsToList_FP</name>
        <label>set_ResultsToList_FP</label>
        <locationX>2954</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>contactsResultList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactsByFirstNameAndPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadsResultList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLeadsByFirstNameAndPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ContactsFiltered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ResultsToList_L</name>
        <label>set_ResultsToList_L</label>
        <locationX>2426</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>contactsResultList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactsByLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadsResultList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLeadsByLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ContactsFiltered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ResultsToList_LP</name>
        <label>set_ResultsToList_LP</label>
        <locationX>1238</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>contactsResultList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactsByLastNameAndPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadsResultList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLeadsByLastNameAndPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ContactsFiltered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ResultsToList_P</name>
        <label>set_ResultsToList_P</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>contactsResultList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContactsByPhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>leadsResultList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLeadsByPhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ContactsFiltered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los valores del Lead al Item que se agregará a la Collection</description>
        <name>set_ValuesToItemFromContacts</name>
        <label>set_ValuesToItemFromContacts</label>
        <locationX>1326</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>var_TempName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_ContactsFiltered.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_ContactsFiltered.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_ContactsFiltered.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempObjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> (CONTACTO)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_ContactsFiltered.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ItemToAddCollection.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_ContactsFiltered.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ItemToAddCollection.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ContenateNamePhoneObject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CollectionOfItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ItemToAddCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_ContactsFiltered</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_ValuesToItemFromLeads</name>
        <label>set_ValuesToItemFromLeads</label>
        <locationX>1326</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>var_TempName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_LeadsFilteres.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_LeadsFilteres.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempPhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_LeadsFilteres.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_LeadsFilteres.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_TempObjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> (LEAD)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ItemToAddCollection.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_LeadsFilteres.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ItemToAddCollection.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ContenateNamePhoneObject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CollectionOfItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ItemToAddCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_LeadsFilteres</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Contact / Lead</description>
        <name>var_choiceContactLead</name>
        <choiceText>Nombre</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Evaluación de los datos introducidos, para determinar la query para obtener los datos</description>
        <name>Decision_DatosIntroducidos</name>
        <label>Decision_DatosIntroducidos</label>
        <locationX>1502</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ningunParametroInformado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputFirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputLastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pantalla_creacionNuevoLead</targetReference>
            </connector>
            <label>ningunParametroInformado</label>
        </rules>
        <rules>
            <name>todosLosDatosInformados</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputFirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputLastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactsAllParameters</targetReference>
            </connector>
            <label>todosLosDatosInformados</label>
        </rules>
        <rules>
            <name>soloTelefonoInformado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputFirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputLastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactsByPhone</targetReference>
            </connector>
            <label>soloTelefonoInformado</label>
        </rules>
        <rules>
            <name>soloApellidoYTelefono</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputFirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputLastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactsByLastNameAndPhone</targetReference>
            </connector>
            <label>soloApellidoYTelefono</label>
        </rules>
        <rules>
            <name>soloNombreYApellido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputFirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputLastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactsByName</targetReference>
            </connector>
            <label>soloNombreYApellido</label>
        </rules>
        <rules>
            <name>soloApellidoInformado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputFirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputLastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactsByLastName</targetReference>
            </connector>
            <label>soloApellidoInformado</label>
        </rules>
        <rules>
            <name>soloNombreInformado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputFirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputLastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactsByFirstName</targetReference>
            </connector>
            <label>soloNombreInformado</label>
        </rules>
        <rules>
            <name>soloNombreYTelefono</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputFirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputLastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>InputPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContactsByFirstNameAndPhone</targetReference>
            </connector>
            <label>soloNombreYTelefono</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evalución de la selección de contacto / lead del usuario, o sí éste no ha seleccionado nada</description>
        <name>Decision_LeadOrContactSelected</name>
        <label>Decision_LeadOrContactSelected</label>
        <locationX>1238</locationX>
        <locationY>1790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>leadSelectedAndMobilePhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_LeadAfterSelection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_LeadAfterSelection.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_TaskRelatedLead</targetReference>
            </connector>
            <label>leadSelectedAndMobilePhone</label>
        </rules>
        <rules>
            <name>leadSelectedAndPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_LeadAfterSelection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_TaskRelatedLeadPhone</targetReference>
            </connector>
            <label>leadSelectedAndPhone</label>
        </rules>
        <rules>
            <name>contactSelectedAndMobilePhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ContactAfterSelection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_ContactAfterSelection.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_TaskRelatedContact</targetReference>
            </connector>
            <label>contactSelectedAndMobilePhone</label>
        </rules>
        <rules>
            <name>contactSelectedAndPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ContactAfterSelection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>uptade_TaskRelatedContactPhone</targetReference>
            </connector>
            <label>contactSelectedAndPhone</label>
        </rules>
        <rules>
            <name>notSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_ContactAfterSelection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_LeadAfterSelection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pantalla_creacionNuevoLead</targetReference>
            </connector>
            <label>notSelected</label>
        </rules>
    </decisions>
    <description>Flujo creado para la búsqueda de Contactos o Leads, con el nombre, apellidos y/o teléfono proporcionados por el cliente. Es llamado desde RedirectToNewLeadCtrl, cuando el teléfono entrante pertenece a CMT (C. Metadata) o esta vacío.</description>
    <dynamicChoiceSets>
        <name>collection_ItemsFromContactsAndLeads</name>
        <collectionReference>var_CollectionOfItems</collectionReference>
        <dataType>String</dataType>
        <displayField>Description</displayField>
        <object>Lead</object>
        <valueField>FirstName</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Concatenar Name + MobilePhone + Phone + TipoDeObjeto, para la representación en la picklist/radioButton de los resultados de la búsqueda.</description>
        <name>formula_ContenateNamePhoneObject</name>
        <dataType>String</dataType>
        <expression>{!var_TempName} &amp; IF(ISBLANK({!var_TempMobilePhone}), &apos; &apos;, &apos; Móvil:&apos;&amp;{!var_TempMobilePhone})&amp; IF(ISNULL({!var_TempPhone}), &apos; &apos;, &apos; Teléfono:&apos;&amp;{!var_TempPhone})&amp; IF(ISBLANK({!var_TempEmail}), &apos; &apos;, &apos; Email:&apos;&amp;{!var_TempEmail})&amp;{!var_TempObjectType}</expression>
    </formulas>
    <formulas>
        <description>Información que se enviará a la ficha de nuevo lead (nombre, apellidos, teléfono)</description>
        <name>formula_dataForNewLead</name>
        <dataType>String</dataType>
        <expression>&apos;{&quot;FirstName&quot;: &quot;&apos; &amp; {!inputFirstNameConfirmed} &amp; &apos;&quot;, &quot;LastName&quot;: &quot; &apos; &amp; {!inputLastNameConfirmed} &amp;  &apos;&quot;, &quot;MobilePhone&quot;: &quot; &apos; &amp; {!inputConfirmedPhone} &amp;  &apos;&quot;, &quot;source_manualrecord__c&quot;: &quot; &apos; &amp; {!var_inSourceManualRecord} &amp;  &apos;&quot;, &quot;asociarLeadLlamada__c&quot;: true&apos;  &amp; &apos;}&apos;</expression>
    </formulas>
    <interviewLabel>Flujo Busque {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Búsqueda Contactos Leads</label>
    <loops>
        <name>loop_ContactsFiltered</name>
        <label>loop_ContactsFiltered</label>
        <locationX>1238</locationX>
        <locationY>758</locationY>
        <collectionReference>contactsResultList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_ValuesToItemFromContacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loop_LeadsFilteres</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_LeadsFilteres</name>
        <label>loop_LeadsFilteres</label>
        <locationX>1238</locationX>
        <locationY>1094</locationY>
        <collectionReference>leadsResultList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>set_ValuesToItemFromLeads</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pantalla_ResultadosBusqueda</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Obtención del contacto (si existe) de la selección hecha por el usuario de la lista de contactos/leads</description>
        <name>get_ContactAfterSelection</name>
        <label>get_ContactAfterSelection</label>
        <locationX>1238</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_LeadAfterSelection</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>choiceListContactsLeads</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <description>Obtención del Lead (si existe) de la selección realizada por el usuario de la lista de Contactos/Leads</description>
        <name>get_LeadAfterSelection</name>
        <label>get_LeadAfterSelection</label>
        <locationX>1238</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_LeadOrContactSelected</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>choiceListContactsLeads</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <description>Búsqueda de Contactos coincidentes con todos los datos introducidos por el usuario</description>
        <name>getContactsAllParameters</name>
        <label>getContactsAllParameters</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLeadsAllParameters</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputLastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>getContactsByFirstName</name>
        <label>getContactsByFirstName</label>
        <locationX>2690</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLeadsByFirstName</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputFirstName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>getContactsByFirstNameAndPhone</name>
        <label>getContactsByFirstNameAndPhone</label>
        <locationX>2954</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLeadsByFirstNameAndPhone</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>getContactsByLastName</name>
        <label>getContactsByLastName</label>
        <locationX>2426</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLeadsByLastName</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputLastName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>getContactsByLastNameAndPhone</name>
        <label>getContactsByLastNameAndPhone</label>
        <locationX>1238</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLeadsByLastNameAndPhone</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputLastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>getContactsByName</name>
        <label>getContactsByName</label>
        <locationX>2162</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLeadsByName</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputLastName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <description>Obtener contactos por teléfono informado</description>
        <name>getContactsByPhone</name>
        <label>getContactsByPhone</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getLeadsByPhone</targetReference>
        </connector>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <description>Obtener los coincidentes con todos los parámetros introducidos por el usuario</description>
        <name>getLeadsAllParameters</name>
        <label>getLeadsAllParameters</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_ResultsToList_FLP</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputLastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <name>getLeadsByFirstName</name>
        <label>getLeadsByFirstName</label>
        <locationX>2690</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_ResultsToList_F</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <name>getLeadsByFirstNameAndPhone</name>
        <label>getLeadsByFirstNameAndPhone</label>
        <locationX>2954</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_ResultsToList_FP</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <name>getLeadsByLastName</name>
        <label>getLeadsByLastName</label>
        <locationX>2426</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_ResultsToList_L</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputLastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <name>getLeadsByLastNameAndPhone</name>
        <label>getLeadsByLastNameAndPhone</label>
        <locationX>1238</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_ResultsToList_LP</targetReference>
        </connector>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputLastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <description>Obtener leads coincidentes por Nombre y Apellido</description>
        <name>getLeadsByName</name>
        <label>getLeadsByName</label>
        <locationX>2162</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_ResultsToList_FL</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputFirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputLastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <description>Obtener Leads coincidentes con el teléfono indicado</description>
        <name>getLeadsByPhone</name>
        <label>getLeadsByPhone</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>set_ResultsToList_P</targetReference>
        </connector>
        <filters>
            <field>MobilePhone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>Contains</operator>
            <value>
                <elementReference>InputPhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordUpdates>
        <description>Actualización Tarea relacionada</description>
        <name>update_TaskRelated_NewLead</name>
        <label>update_TaskRelated_NewLead</label>
        <locationX>1634</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>action_NavToNewLead</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_inTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CampanaInboundIVR__c</field>
            <value>
                <elementReference>var_inCampaignInbound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inin_remoteani__c</field>
            <value>
                <elementReference>inputConfirmedPhone</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualización WhoId de la tarea relacionada a la llamada</description>
        <name>update_TaskRelatedContact</name>
        <label>update_TaskRelatedContact</label>
        <locationX>1106</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>action_NavToContactPage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_inTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>get_ContactAfterSelection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inin_remoteani__c</field>
            <value>
                <elementReference>get_ContactAfterSelection.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualización WhoId de la tarea relacionada con el Id del Lead seleccionado</description>
        <name>update_TaskRelatedLead</name>
        <label>update_TaskRelatedLead</label>
        <locationX>578</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>action_NavToLeadPage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_inTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>get_LeadAfterSelection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inin_remoteani__c</field>
            <value>
                <elementReference>get_LeadAfterSelection.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_TaskRelatedLeadPhone</name>
        <label>update_TaskRelatedLeadPhone</label>
        <locationX>842</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>action_NavToLeadPage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_inTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>get_LeadAfterSelection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inin_remoteani__c</field>
            <value>
                <elementReference>get_LeadAfterSelection.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>uptade_TaskRelatedContactPhone</name>
        <label>uptade_TaskRelatedContactPhone</label>
        <locationX>1370</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>action_NavToContactPage</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_inTaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>get_ContactAfterSelection.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inin_remoteani__c</field>
            <value>
                <elementReference>get_ContactAfterSelection.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <description>Pantalla para la información de creación de nuevo Lead</description>
        <name>pantalla_creacionNuevoLead</name>
        <label>Creación nuevo Lead</label>
        <locationX>1634</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_TaskRelated_NewLead</targetReference>
        </connector>
        <fields>
            <name>pantalla_creacionNuevoLead_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para la introducción de datos para la búsqueda de Contacto / Lead</description>
        <name>Pantalla_Introduccion_datos_busqueda</name>
        <label>Pantalla Introducción datos de búsqueda</label>
        <locationX>1502</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_DatosIntroducidos</targetReference>
        </connector>
        <fields>
            <name>Pantalla_Introduccion_datos_busqueda_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para mostrar resultados de la búsqueda de Contactos y Leads</description>
        <name>Pantalla_ResultadosBusqueda</name>
        <label>Pantalla_ResultadosBusqueda</label>
        <locationX>1238</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>get_ContactAfterSelection</targetReference>
        </connector>
        <fields>
            <name>Pantalla_ResultadosBusqueda_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Pantalla_Introduccion_datos_busqueda</startElementReference>
    <status>Active</status>
    <variables>
        <description>Lista de contactos resultado de consulta</description>
        <name>contactsResultList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_contactsFilteredResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_leadsFilteredResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Lista de leads de la búsqueda</description>
        <name>leadsResultList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Collection de Items (Leads para aprovechar estructura), que contiene los valores de Leads y Contacts resultantes de la búsqueda.</description>
        <name>var_CollectionOfItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Contacto seleccionado</description>
        <name>var_ContactSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_ContactsResultListFiltered</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Variable de entrada para definir la Campaña Inbound en la tarea relacionada (para leads nuevos).</description>
        <name>var_inCampaignInbound</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable de entrada que almacena el valor de source_manualrecord__c, que se toma del Custom Metada (Teléfono Transferencia) correspondiente al número de teléfono de la tarea.</description>
        <name>var_inSourceManualRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable de entrada que contiene el Id de la tarea relacionada a la llamada. Recuperada de la clase controller RedirectToNewLeadCtrl</description>
        <name>var_inTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable Item para crear una collection única de contacts y leads, se utiliza la estructura del objeto Lead.</description>
        <name>var_ItemToAddCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>variable que almacena el registro del Lead seleccionado por el usuario</description>
        <name>var_LeadSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>var_LeadsREsultListFiltered</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>var_picklist</name>
        <dataType>Picklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>variable que contendrá el campo Email del lead/contacto</description>
        <name>var_TempEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contendrá el campo MobilePhone del Lead/Contacto</description>
        <name>var_TempMobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contendrá el campo Name del Lead/Contact</description>
        <name>var_TempName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable para determinar si un registro es Contact o Lead</description>
        <name>var_TempObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contendrá el campo Phone del Lead/Contacto</description>
        <name>var_TempPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
