force-app/main/default/flows/Flujo_Llamada_Salientes_Blecis.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Actualiza los intereses excluidos que vienen del subflujo, usamos assignment porque para otros outputs no se está guardando sobre variable.</description>
        <name>ActualizaInteresesExcluidosCompradorMercancia_0</name>
        <label>Actualiza Intereses Excluidos del SubFlujo</label>
        <locationX>1089</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_AuxInteresExcluido</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PlanificarLlamadaDestinatarioMercancia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualiza los intereses excluidos que vienen del subflujo, usamos assignment porque para otros outputs no se está guardando sobre variable.</description>
        <name>ActualizaInteresesExcluidosGanarOpp</name>
        <label>Actualiza Intereses Excluidos del SubFlujo</label>
        <locationX>1766</locationX>
        <locationY>5462</locationY>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_AuxInteresExcluido</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PlanificarLlamadaGanarOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualiza los intereses excluidos que vienen del subflujo, usamos assignment porque para otros outputs no se está guardando sobre variable.</description>
        <name>ActualizaInteresesExcluidosGestionOpp</name>
        <label>Actualiza Intereses Excluidos del SubFlujo</label>
        <locationX>182</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_AuxInteresExcluido</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PlanificarLlamadaOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualiza los intereses excluidos que vienen del subflujo, usamos assignment porque para otros outputs no se está guardando sobre variable.</description>
        <name>ActualizaInteresesExcluidosQuiereSeguro</name>
        <label>Actualiza Intereses Excluidos del SubFlujo</label>
        <locationX>1568</locationX>
        <locationY>4646</locationY>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_AuxInteresExcluido</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_MarcadoPlanificarLlamadaQuiereSeguro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establezco la marca de planificación de llamada</description>
        <name>EstablezcoPlanificarLlamadaIntereses</name>
        <label>EstablezcoPlanificarLlamadaIntereses</label>
        <locationX>2162</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_08</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asigna el registro CM CTI encontrado en la variable que se usa en el argumentario</description>
        <name>Set_CMCTI_Actualizado</name>
        <label>Set CM CTI Actualizado</label>
        <locationX>1337</locationX>
        <locationY>3590</locationY>
        <assignmentItems>
            <assignToReference>inputCMCTIRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMCTIRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_InteresesExcluidosContactoInformado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualiza los intereses excluidos que vienen del subflujo, usamos assignment porque para otros outputs no se está guardando sobre variable.</description>
        <name>Set_InteresesExcluidosContactoInformado</name>
        <label>Actualiza Intereses Excluidos del SubFlujo</label>
        <locationX>1337</locationX>
        <locationY>3710</locationY>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_AuxInteresExcluido</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PlanificarLlamadaContactoInformado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Añade el interés excluido (si lo hay) en la pantalla de Comprador de Mercancía</description>
        <name>Set_InteresExcluidoCompradorMercancia</name>
        <label>Set Interés Excluido Comprador Mercancía</label>
        <locationX>833</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_AuxInteresExcluido</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_VolverPantallaInteresesCompradorMercancias</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos a true la variabe VAR_OUT_InteresOportunidadCMCTI si se pasa por esta parte del flow.</description>
        <name>Set_InteresOportunidadCMCTI</name>
        <label>Set_InteresOportunidadCMCTI</label>
        <locationX>1568</locationX>
        <locationY>4286</locationY>
        <assignmentItems>
            <assignToReference>VAR_OUT_InteresOportunidadCMCTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetNuevaOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>Set_PlanificarLlamada_ContactoQuiereSeguro</name>
        <label>Set Planificar Llamada</label>
        <locationX>1436</locationX>
        <locationY>4886</locationY>
        <assignmentItems>
            <assignToReference>PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_VolverAPantallaInteresesContactoQuiereSeguro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>Set_PlanificarLlamadaContactoInformado</name>
        <label>Set Planificar Llamada Contacto Informado</label>
        <locationX>1205</locationX>
        <locationY>3950</locationY>
        <assignmentItems>
            <assignToReference>PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_VolverAPantallaInteresesContactoInformado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>Set_PlanificarLlamadaDestinatarioMercancia</name>
        <label>Set Planificar Llamada Destinatario Mercancia</label>
        <locationX>957</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_VolverAPantallaInteresesDestinatarioMercancia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>Set_PlanificarLlamadaGanarOpp</name>
        <label>Set Planificar Llamada Ganar Opp</label>
        <locationX>1634</locationX>
        <locationY>5702</locationY>
        <assignmentItems>
            <assignToReference>PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflujo_PantallaDeInteres</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>Set_PlanificarLlamadaOportunidad</name>
        <label>Set Planificar Llamada Oportunidad</label>
        <locationX>50</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflujo_PantallaDeInteres</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_01</name>
        <label>Set_Stage_01</label>
        <locationX>637</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_010</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TextosArgumentario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_02</name>
        <label>Set_Stage_02</label>
        <locationX>637</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_020</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflujo_PantallaDatosDeContacto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_03</name>
        <label>Set_Stage_03</label>
        <locationX>1400</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_030</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflujo_PantallaDeInteres</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_04</name>
        <label>Set_Stage_04</label>
        <locationX>833</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_040</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaCompradorMercancia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_05</name>
        <label>Set_Stage_05</label>
        <locationX>1337</locationX>
        <locationY>3230</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_050</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactoInformado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_061</name>
        <label>Set_Stage_061</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_060</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaGestionOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_062</name>
        <label>Set_Stage_062</label>
        <locationX>1766</locationX>
        <locationY>5222</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_060</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GanarOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_08</name>
        <label>Set_Stage_08</label>
        <locationX>637</locationX>
        <locationY>6650</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_080</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_RelatedCMCTI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Si el CM CTI tiene relleno el campo LeadId y vacío el ContactId se muestra la Pantalla de datos CESS</description>
        <name>Decision_EsLead</name>
        <label>¿Es un Lead?</label>
        <locationX>1400</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_03</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EsLead_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputCMCTIRecord.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inputCMCTIRecord.LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflujo_PantallaDatosCESS</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha marcado la finalización del Argumentario (no se seleccionan intereses en el subflujo de intereses)</description>
        <name>Decision_FinalizacionArgumentarioPantallaDeInteres</name>
        <label>¿Finalizar Argumentario?</label>
        <locationX>1400</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>PlanificarLlamadaIntereses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>FinalizacionArgumentarioPantallaDeInteres_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_FinalizarArgumentario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_InteresTipoOportunidadSeleccionado</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha seleccionado un interés que viene de la oportunidad</description>
        <name>Decision_InteresTipoOportunidadSeleccionado</name>
        <label>¿Interés de tipo oportunidad seleccionado?</label>
        <locationX>507</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_04</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>InteresTipoOportunidadSeleccionado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_OppSelected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_061</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha marcado la finalización del Argumentario (el cliente no colabora)</description>
        <name>Decision_MarcadoFinalizacionArgumentarioColaboracionCliente</name>
        <label>¿Finalizar Argumentario?</label>
        <locationX>637</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>PantallaContactoInteres</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MarcadoFinalizacionArgumentarioColaboracionCliente_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_FinalizarArgumentario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_08</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada</description>
        <name>Decision_MarcadoPlanificarLlamadaQuiereSeguro</name>
        <label>¿Planificar llamada Contacto Informado?</label>
        <locationX>1568</locationX>
        <locationY>4766</locationY>
        <defaultConnector>
            <targetReference>Decision_VolverAPantallaInteresesContactoQuiereSeguro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MarcadoPlanificarLlamadaQuiereSeguro_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_AuxPlanificarLlamada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamada_ContactoQuiereSeguro</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada</description>
        <name>Decision_PlanificarLlamadaContactoInformado</name>
        <label>¿Planificar llamada Contacto Informado?</label>
        <locationX>1337</locationX>
        <locationY>3830</locationY>
        <defaultConnector>
            <targetReference>Decision_VolverAPantallaInteresesContactoInformado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamadaContactoInformado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_AuxPlanificarLlamada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamadaContactoInformado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de oportunidad</description>
        <name>Decision_PlanificarLlamadaDestinatarioMercancia</name>
        <label>¿Planificar llamada Destinatario Mercancía?</label>
        <locationX>1089</locationX>
        <locationY>2774</locationY>
        <defaultConnector>
            <targetReference>Decision_VolverAPantallaInteresesDestinatarioMercancia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamadaDestinatarioMercancia_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_AuxPlanificarLlamada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamadaDestinatarioMercancia</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de oportunidad</description>
        <name>Decision_PlanificarLlamadaGanarOpp</name>
        <label>¿Planificar llamada GanarOpp?</label>
        <locationX>1766</locationX>
        <locationY>5582</locationY>
        <defaultConnector>
            <targetReference>Subflujo_PantallaDeInteres</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamadaGanarOpp_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_AuxPlanificarLlamada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamadaGanarOpp</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de oportunidad</description>
        <name>Decision_PlanificarLlamadaOportunidad</name>
        <label>¿Planificar llamada Oportunidad?</label>
        <locationX>182</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>Subflujo_PantallaDeInteres</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamadaOportunidad_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_AuxPlanificarLlamada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamadaOportunidad</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evalúa si hay que volver a la pantalla de intereses</description>
        <name>Decision_VolverAPantallaInteresesContactoInformado</name>
        <label>¿Hay que volver a la Pantalla de Intereses?</label>
        <locationX>1337</locationX>
        <locationY>4166</locationY>
        <defaultConnector>
            <targetReference>Set_InteresOportunidadCMCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>VolverAPantallaInteresesContactoInformado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_VolverPantallaIntereses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflujo_PantallaDeInteres</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evalúa si hay que volver a la pantalla de intereses</description>
        <name>Decision_VolverAPantallaInteresesContactoQuiereSeguro</name>
        <label>¿Hay que volver a la Pantalla de Intereses?</label>
        <locationX>1568</locationX>
        <locationY>5102</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_062</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>VolverAPantallaInteresesContactoQuiereSeguro_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_VolverPantallaIntereses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflujo_PantallaDeInteres</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evalúa si hay que volver a la pantalla de intereses</description>
        <name>Decision_VolverAPantallaInteresesDestinatarioMercancia</name>
        <label>¿Hay que volver a la Pantalla de Intereses?</label>
        <locationX>1089</locationX>
        <locationY>3110</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_05</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>VolverAPantallaInteresesDestinatarioMercancia_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_VolverPantallaIntereses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflujo_PantallaDeInteres</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evalúa si hay que volver a la pantalla de intereses</description>
        <name>Decision_VolverPantallaInteresesCompradorMercancias</name>
        <label>¿Hay que volver a la Pantalla de Intereses?</label>
        <locationX>833</locationX>
        <locationY>2414</locationY>
        <defaultConnector>
            <targetReference>DestinatarioMercancia</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>VolverPantallaInteresesCompradorMercancias_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_VolverPantallaIntereses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflujo_PantallaDeInteres</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de contacto informado</description>
        <name>PlanificarLlamadaIntereses</name>
        <label>¿Planificar llamada Contacto Informado?</label>
        <locationX>2294</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_08</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No planificar</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamadaIntereses_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_AuxPlanificarLlamada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EstablezcoPlanificarLlamadaIntereses</targetReference>
            </connector>
            <label>Llamada Contacto Informado Planificada</label>
        </rules>
    </decisions>
    <description>Rama principal del argumentario se abrirá cuando el miembro de campaña CTI que me está enviando CTI está asociado a la campaña de Blecis.  Incorpora el planificador de llamada al final del flujo para Lead o Contact

25/08: Cuando No colabora finaliza el argumentario
31/08: Después del flujo que convierte se guarda en la variable del CM CTI los datos actualizados
01/09: En Pantalla Contacto Quiere Seguro se pasa como parámetro la oportunidad que recupera en Get Nueva Oportunidad
20/09 MMV: Reordenación de pantallas
21/09 MMV: Control para que si es ya cliente no se muestre la pantalla de Datos CESS
10/10 MMV: Se añade Planificar Llamada a Contacto Quiere Seguro
13/10 MMV: Si se hay oportunidad, se manda como parámetro en el planificador de llamadas
20/10 AMT: Cambios en las cabeceras de las pantallas
24/10 AMT: Se modifican las stages de la cabecera.
24/10 AMT: Cambio en el orden de la asignación de la cabecera inicial.
25/10 AMT: Se elimina la variable HEADER.
26/10 AMT: Eliminada stage Venta Cruzada.
26/10 AMT: Añadidas conexiones a pantallas de interés
28/10 NRG: Cambio en las formulas del planificador de llamada para solucionar una incidencia
21/11 AMT: Se añade la llamada al Subflow Borrar CMCTI</description>
    <formulas>
        <description>Se comprueba si el registro CM CTI es un Lead o un Contacto y devolvemos &apos;Lead&apos; o &apos;Contact&apos; para pasarselo como variable de entrada al planificador de llamada.</description>
        <name>For_PlanificadorObjectApiName</name>
        <dataType>String</dataType>
        <expression>IF ( 
  NOT( ISBLANK( {!Var_OppPlanificador.Id} ) ) ,
   &apos;Opportunity&apos;,
   IF (
      BEGINS( {!inputCMCTIRecord.LeadOrContactId} , &apos;00Q&apos; ) , 
      &apos;Lead&apos; , 
      &apos;Contact&apos;
   )
)</expression>
    </formulas>
    <formulas>
        <description>En función de los datos tratados en el argumentario se envía un record Id de Lead, Contacto u Opportunidad. Si hay alguna oportunidad nueva creada durante el proceso o seleccionada como interés se envía su Id, sino se envía el Lead o Contacto.</description>
        <name>For_PlanificadorRecordId</name>
        <dataType>String</dataType>
        <expression>IF(
   NOT( ISBLANK(  {!Var_OppPlanificador.Id} ) ),
   {!Var_OppPlanificador.Id},
   {!inputCMCTIRecord.LeadOrContactId}
)</expression>
    </formulas>
    <interviewLabel>Flujo Llamada Salientes Blecis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Llamada Salientes Blecis</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Se obtiene el CM CTI actualizado por si ha habido conversión obtener el ContactId</description>
        <name>Get_CMCTIRecord</name>
        <label>Get CM CTI Record</label>
        <locationX>1337</locationX>
        <locationY>3470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_CMCTI_Actualizado</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCMCTIRecord.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Obtiene las oportunidades ABIERTAS relacionadas con el CM CTI actualizado</description>
        <name>Get_Opportunity_RelatedCMCTI</name>
        <label>Get Opportunity Related CM CTI</label>
        <locationX>637</locationX>
        <locationY>6770</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subflow_BorrarCMCTI</targetReference>
        </connector>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCMCTIRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetNuevaOportunidad.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_OppSelected.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Var_OppPlanificador</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos la nueva oportunidad creada de la conversión del Lead en el subflujo anterior</description>
        <name>GetNuevaOportunidad</name>
        <label>Get Nueva Oportunidad</label>
        <locationX>1568</locationX>
        <locationY>4406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactoQuiereSeguro</targetReference>
        </connector>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCMCTIRecord.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Recoge los textos de Argumentario que se usan en las pantallas de ESTE Flujo</description>
        <name>TextosArgumentario</name>
        <label>TextosArgumentario</label>
        <locationX>637</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S01_Bienvenida</targetReference>
        </connector>
        <filters>
            <field>Flujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flujo_Llamada_Salientes_Blecis</stringValue>
            </value>
        </filters>
        <filters>
            <field>Idioma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <object>TextoArgumentario__c</object>
    </recordLookups>
    <screens>
        <description>Pantalla de finalización de la llamada</description>
        <name>PantallaFinalizacion</name>
        <label>PantallaFinalización</label>
        <locationX>637</locationX>
        <locationY>7010</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S02_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TextoFINAL</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!TextosArgumentario.Texto2__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TextoPlanificarLlamada</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto3__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LWCPlanificarLlamada</name>
            <extensionName>c:cess_ScheduleCallLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>campCtiId</name>
                <value>
                    <elementReference>inputCMCTIRecord.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>For_PlanificadorObjectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>For_PlanificadorRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla de Bienvenida</description>
        <name>S01_Bienvenida</name>
        <label>S01_Bienvenida</label>
        <locationX>637</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_02</targetReference>
        </connector>
        <fields>
            <name>S01_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Bienvenida</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!MensajeBienvenida}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!TextosArgumentario.Texto1__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Argumentario_Subflow_DefinicionStages</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Llamada al subflow Argumentario_Subflow_DefinicionStages que habilita hacer la asignación del current Stage en cualquier Subflow</description>
        <name>Argumentario_Subflow_DefinicionStages</name>
        <label>Argumentario_Subflow_DefinicionStages</label>
        <locationX>637</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Set_Stage_01</targetReference>
        </connector>
        <flowName>Argumentario_Subflow_DefinicionStages</flowName>
        <inputAssignments>
            <name>Var_IN_Basicos</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>ContactoInformado</name>
        <label>Contacto Informado</label>
        <locationX>1337</locationX>
        <locationY>3350</locationY>
        <connector>
            <targetReference>Get_CMCTIRecord</targetReference>
        </connector>
        <flowName>SubflujoPantallaContactoInformado</flowName>
        <inputAssignments>
            <name>CTICampaignMember</name>
            <value>
                <elementReference>inputCMCTIRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MCAGVariable</name>
            <value>
                <elementReference>Var_MCAGSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MKTCMVariable</name>
            <value>
                <elementReference>Var_CMMKTSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_EsBlecis</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_EsEntrantes</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_AuxPlanificarLlamada</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_AuxInteresExcluido</assignToReference>
            <name>Var_OUT_InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_VolverPantallaIntereses</assignToReference>
            <name>VolverAPantallaIntereses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>ContactoQuiereSeguro</name>
        <label>Contacto Quiere Seguro</label>
        <locationX>1568</locationX>
        <locationY>4526</locationY>
        <connector>
            <targetReference>ActualizaInteresesExcluidosQuiereSeguro</targetReference>
        </connector>
        <flowName>SubflujoPantallaContactoQuiereSeguro</flowName>
        <inputAssignments>
            <name>CTICampaignMemberVariable</name>
            <value>
                <elementReference>inputCMCTIRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppVariable</name>
            <value>
                <elementReference>GetNuevaOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_AuxInteresExcluido</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_AuxPlanificarLlamada</assignToReference>
            <name>Var_PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_VolverPantallaIntereses</assignToReference>
            <name>volverPantallaIntereses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>DestinatarioMercancia</name>
        <label>Destinatario Mercancía</label>
        <locationX>1089</locationX>
        <locationY>2534</locationY>
        <connector>
            <targetReference>ActualizaInteresesExcluidosCompradorMercancia_0</targetReference>
        </connector>
        <flowName>SubflujoPantallaDestinatarioMercancia</flowName>
        <inputAssignments>
            <name>inputCMCTIId</name>
            <value>
                <elementReference>inputCMCTIRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputCMMKTId</name>
            <value>
                <elementReference>Var_CMMKTSelected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputMCAdicionalId</name>
            <value>
                <elementReference>Var_MCAGSelected.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_AuxInteresExcluido</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_AuxPlanificarLlamada</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_VolverPantallaIntereses</assignToReference>
            <name>VolverAPantallaIntereses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>GanarOportunidad</name>
        <label>Ganar Oportunidad</label>
        <locationX>1766</locationX>
        <locationY>5342</locationY>
        <connector>
            <targetReference>ActualizaInteresesExcluidosGanarOpp</targetReference>
        </connector>
        <flowName>SubflujoPantallaGanarOpp</flowName>
        <inputAssignments>
            <name>inputCMCTIId</name>
            <value>
                <elementReference>inputCMCTIRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppVariable</name>
            <value>
                <elementReference>GetNuevaOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_AuxInteresExcluido</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_AuxPlanificarLlamada</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PantallaCompradorMercancia</name>
        <label>Pantalla Comprador de Mercancia</label>
        <locationX>833</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Set_InteresExcluidoCompradorMercancia</targetReference>
        </connector>
        <flowName>SubflujoPantallaCompradorMercancia</flowName>
        <inputAssignments>
            <name>InteresesMiembroCampanaAG</name>
            <value>
                <elementReference>Var_MCAGSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InteresesMKTCampaignMember</name>
            <value>
                <elementReference>Var_CMMKTSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_AuxInteresExcluido</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_VolverPantallaIntereses</assignToReference>
            <name>Var_VolverAPantallaIntereses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PantallaContactoInteres</name>
        <label>Pantalla Contacto e Interes</label>
        <locationX>1400</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Decision_EsLead</targetReference>
        </connector>
        <flowName>SubflujoPantallaContactoInteres</flowName>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>inputWhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_CMCTI_Id</name>
            <value>
                <elementReference>inputCMCTIRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PantallaGestionOportunidad</name>
        <label>Pantalla gestion oportunidad</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>ActualizaInteresesExcluidosGestionOpp</targetReference>
        </connector>
        <flowName>SubflujoPantallaGestionInteresOportunidad</flowName>
        <inputAssignments>
            <name>CTICampaignMember</name>
            <value>
                <elementReference>inputCMCTIRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityVariable</name>
            <value>
                <elementReference>Var_OppSelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_AuxInteresExcluido</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_AuxPlanificarLlamada</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Se llama al subflow de BorrarCMCTI para comprobar si hay que borrar o no el CMCTI</description>
        <name>Subflow_BorrarCMCTI</name>
        <label>Subflow_BorrarCMCTI</label>
        <locationX>637</locationX>
        <locationY>6890</locationY>
        <connector>
            <targetReference>PantallaFinalizacion</targetReference>
        </connector>
        <flowName>Subflow_BorrarCMCTI</flowName>
        <inputAssignments>
            <name>Var_IN_CMCTI</name>
            <value>
                <elementReference>inputCMCTIRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_IN_Oportunidad</name>
            <value>
                <elementReference>GetNuevaOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_OppRelacionadaContacto</name>
            <value>
                <elementReference>VAR_OUT_InteresOportunidadCMCTI</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Muestra la pantalla de colaboración para marcar si el cliente está colaborando o no</description>
        <name>Subflow_ColaboracionDelClienteBlecis</name>
        <label>Subflujo Colaboración del Cliente</label>
        <locationX>637</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Decision_MarcadoFinalizacionArgumentarioColaboracionCliente</targetReference>
        </connector>
        <flowName>SubflujoColaboracionClienteBlecis</flowName>
        <inputAssignments>
            <name>Var_IN_CMCTIId</name>
            <value>
                <elementReference>inputCMCTIRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_PreguntarLlamadaOtroMomento</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_FinalizarArgumentario</assignToReference>
            <name>Var_OUT_FinalizarArgumentario</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PlanificarLlamada</assignToReference>
            <name>Var_OUT_PlanificadorLlamada</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo Pantalla Datos CESS</description>
        <name>Subflujo_PantallaDatosCESS</name>
        <label>Subflujo Pantalla Datos CESS</label>
        <locationX>1268</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Set_Stage_03</targetReference>
        </connector>
        <flowName>SubflujoPantallaDatosCESS</flowName>
        <inputAssignments>
            <name>inputContactId</name>
            <value>
                <elementReference>inputCMCTIRecord.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputLeadId</name>
            <value>
                <elementReference>inputCMCTIRecord.LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Subflujo_PantallaDatosDeContacto</name>
        <label>Subflujo Pantalla Datos de Contacto</label>
        <locationX>637</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Subflow_ColaboracionDelClienteBlecis</targetReference>
        </connector>
        <flowName>SubflujoPantallaDatodeContacto</flowName>
        <inputAssignments>
            <name>idLeadContact</name>
            <value>
                <elementReference>inputWhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Subflujo_PantallaDeInteres</name>
        <label>Subflujo Pantalla de Interés</label>
        <locationX>1400</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Decision_FinalizacionArgumentarioPantallaDeInteres</targetReference>
        </connector>
        <flowName>SubflujoPantalladeInteres</flowName>
        <inputAssignments>
            <name>CTIMiembrodeCampana</name>
            <value>
                <elementReference>inputCMCTIRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>idLeadContact</name>
            <value>
                <elementReference>inputWhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InteresesExcluidos</name>
            <value>
                <elementReference>InteresesExcluidos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>isFlujoBlecis</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>inputCMCTIRecord</assignToReference>
            <name>CTIMiembrodeCampana</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_FinalizarArgumentario</assignToReference>
            <name>FinalizarArgumentario</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_AuxInteresExcluido</assignToReference>
            <name>InteresesExcluidos</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_MCAGSelected</assignToReference>
            <name>MCAGSelectedVariable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_CMMKTSelected</assignToReference>
            <name>MKTCMSelectedVariable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_OppSelected</assignToReference>
            <name>OppCMSelectedVariable</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_AuxPlanificarLlamada</assignToReference>
            <name>Var_PlanificarLlamada</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Variable Registro del Campaign Member CTI para que nos lo pase el Flujo Apertura Argumentario Automática</description>
        <name>inputCMCTIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Variable que contiene el Identificador del Lead o del Contacto. Lo envía el Flujo Padre (Apertura Argumentario Automática)</description>
        <name>inputWhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Lista de IDs de intereses excluidos para filtrar los Intereses obtenidos (CM, CMAG y OPP). Este parámetro de entrada en este flujo se pasa y devuelve en los flujos en los que se puede estar tratando y por tanto excluyendo un nuevo interés.</description>
        <name>InteresesExcluidos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MensajeBienvenida</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que controla que se muestre o no el planificador de llamada cuando se cierra el argumentario. Es de salida puesto que el flujo principal debe controlar que se haya indicado la planificación.</description>
        <name>PlanificarLlamada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable auxiliar que contiene el interés excluido resultante del subflujo</description>
        <name>Var_AuxInteresExcluido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacena como salida de cada componente si hay que activar la planificación de la llamada</description>
        <name>Var_AuxPlanificarLlamada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Registro de CM MKT seleccionado en la Pantalla de Intereses</description>
        <name>Var_CMMKTSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Indica si hay que ir a la pantalla de finalización de argumentario</description>
        <name>Var_FinalizarArgumentario</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Texto de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el nombre de la persona con la que estamos hablando y que vendrá del lead o del contacto.</description>
        <name>Var_INOUT_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Imagen de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el ícono que se muestra en la cabecera.</description>
        <name>Var_INOUT_HeadingIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Texto de subcabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el el interés (Ramo) que se está tratando en ese momento y que depende de dónde provenga el interés.</description>
        <name>Var_INOUT_SubHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Registro de Miembro de Campaña Adicional seleccionado en la Pantalla de Intereses</description>
        <name>Var_MCAGSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>Almacenamos la oportunidad recogida en el último get justo antes del planificador de llamada.</description>
        <name>Var_OppPlanificador</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Oportunidad seleccionada en la Pantalla de Intereses</description>
        <name>Var_OppSelected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Variable que indica si se ha pasado por Set_InteresOportunidadCMCTI</description>
        <name>VAR_OUT_InteresOportunidadCMCTI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable auxiliar que contiene el check de vuelta a pantalla de intereses</description>
        <name>Var_VolverPantallaIntereses</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
