force-app/main/default/flows/FlujoLlamadaEntrantesBasicos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Actualiza los intereses excluidos que vienen del subflujo, usamos assignment porque para otros outputs no se está guardando sobre variable.</description>
        <name>ActualizaInteresesExcluidosOpp</name>
        <label>Actualiza Intereses Excluidos del SubFlujo</label>
        <locationX>784</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_InteresExcluidoAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PlanificarLlamada_Oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>EstablecerPlanificarLlamadaContratar</name>
        <label>EstablecerPlanificarLlamadaContratar</label>
        <locationX>1510</locationX>
        <locationY>5534</locationY>
        <assignmentItems>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VolverPantallaInteresesContratarSeguro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>EstablecerPlanificarLlamadaOportunidad</name>
        <label>EstablecerPlanificarLlamadaOportunidad</label>
        <locationX>652</locationX>
        <locationY>4598</locationY>
        <assignmentItems>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_071</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Crea la etiqueta personalizada del radiobutton y añade al choice</description>
        <name>Set_CMCTI_LabelChoice</name>
        <label>Set CMCTI Label y Choice</label>
        <locationX>442</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Loop_CMCTIs_Varios.CallIdentifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_LabelCMCTIRadioButton</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Col_CMCTIForChoice</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_CMCTIs_Varios</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CMCTIs_Varios</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna a la variable el número de registros encontrados</description>
        <name>Set_CMCTI_Size</name>
        <label>Set CMCTI Size</label>
        <locationX>334</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>Var_GetCMCTISize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_CMCTI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Bienvenida</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna a la variable CM CTI el registro encontrado</description>
        <name>Set_CMCTI_Variable</name>
        <label>Set CM CTI Variable</label>
        <locationX>138</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>Var_CMCTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CMCTIs_Unico</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CMCTIs_Unico</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna a la variable el CM CTI Seleccionado</description>
        <name>Set_CMCTISeleccionadoVariable</name>
        <label>Set CM CTI Seleccionado Variable</label>
        <locationX>354</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>Var_CMCTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMCTI_Seleccionado</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_ColaboracionCliente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualiza los intereses excluidos que vienen del subflujo, usamos assignment porque para otros outputs no se está guardando sobre variable.</description>
        <name>Set_InteresesExcluidos_ContactoInformado</name>
        <label>Set_InteresesExcluidos_ContactoInformado</label>
        <locationX>1411</locationX>
        <locationY>4358</locationY>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_InteresExcluidoAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PlanificarLlamada_ContactoInformado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualiza los intereses excluidos que vienen del subflujo, usamos assignment porque para otros outputs no se está guardando sobre variable.</description>
        <name>Set_InteresesExcluidos_GanarOpp</name>
        <label>Set_InteresesExcluidos_GanarOpp</label>
        <locationX>1840</locationX>
        <locationY>6110</locationY>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_InteresExcluidoAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PlanificarLlamada_GanarOPP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualiza los intereses excluidos que vienen del subflujo, usamos assignment porque para otros outputs no se está guardando sobre variable.</description>
        <name>Set_InteresesExcluidosQuiereContratar</name>
        <label>Set_InteresesExcluidosQuiereContratar</label>
        <locationX>1642</locationX>
        <locationY>5294</locationY>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_InteresExcluidoAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PlanificarLlamada_Contratar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos a true la variabe VAR_OUT_InteresOportunidadCMCTI si se pasa por esta parte del flow.</description>
        <name>Set_InteresOportunidad</name>
        <label>Set_InteresOportunidadCMCTI</label>
        <locationX>1642</locationX>
        <locationY>4934</locationY>
        <assignmentItems>
            <assignToReference>VAR_OUT_InteresOportunidadCMCTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunity_Nueva</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>Set_PlanificarLlamada_ContactoInformado</name>
        <label>Set_PlanificarLlamada_ContactoInformado</label>
        <locationX>1279</locationX>
        <locationY>4598</locationY>
        <assignmentItems>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_VolverIntereses_ContactoInformado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>Set_PlanificarLlamada_Intereses</name>
        <label>Set_PlanificarLlamada_Intereses</label>
        <locationX>655</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Finalizar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>Set_PlanificarLlamadaColaboracion</name>
        <label>Set_PlanificarLlamadaColaboracion</label>
        <locationX>202</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Finalizar_Colaboracion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>Set_PlanificarLlamadaGanarOpp</name>
        <label>Set_PlanificarLlamadaGanarOpp</label>
        <locationX>1708</locationX>
        <locationY>6350</locationY>
        <assignmentItems>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_075</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_01</name>
        <label>Set_Stage_01</label>
        <locationX>334</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_010</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_TextosArgumentario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_02</name>
        <label>Set_Stage_02</label>
        <locationX>334</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_020</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_DatosContacto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_03</name>
        <label>Set_Stage_03</label>
        <locationX>787</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_030</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_INTERESES_SalientesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_05</name>
        <label>Set_Stage_05</label>
        <locationX>1411</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_050</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_PantallaContactoInformado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_061</name>
        <label>Set_Stage_061</label>
        <locationX>784</locationX>
        <locationY>4118</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_060</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_PantallaGestionOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_062</name>
        <label>Set_Stage_062</label>
        <locationX>1840</locationX>
        <locationY>5870</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_060</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_GanarOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_071</name>
        <label>Set_Stage_071</label>
        <locationX>652</locationX>
        <locationY>4718</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_070</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_INTERESES_SalientesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_072</name>
        <label>Set_Stage_072</label>
        <locationX>916</locationX>
        <locationY>4598</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_070</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_INTERESES_SalientesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_073</name>
        <label>Set_Stage_073</label>
        <locationX>1180</locationX>
        <locationY>4934</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_070</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_INTERESES_SalientesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_074</name>
        <label>Set_Stage_074</label>
        <locationX>1444</locationX>
        <locationY>5870</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_070</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_INTERESES_SalientesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_075</name>
        <label>Set_Stage_075</label>
        <locationX>1708</locationX>
        <locationY>6470</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_070</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_INTERESES_SalientesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_076</name>
        <label>Set_Stage_076</label>
        <locationX>1972</locationX>
        <locationY>6350</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_070</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_INTERESES_SalientesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_08</name>
        <label>Set_Stage_08</label>
        <locationX>334</locationX>
        <locationY>7322</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_080</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CMCTIActualizado</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Comprobamos si se ha creado el miembro de campaña CTI o no</description>
        <name>Decision_ExisteCMCTI</name>
        <label>¿Hay algún CM CTI?</label>
        <locationX>334</locationX>
        <locationY>1238</locationY>
        <defaultConnector>
            <targetReference>SubflujoPantallaCrearMiembrodeCampanaCTILlamadasEntrantes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ExisteCMCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_GetCMCTISize</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_CMCTIs_Unico</targetReference>
            </connector>
            <label>Sí, solo uno</label>
        </rules>
        <rules>
            <name>ExisteCMCTI_SiMasDeUno</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_GetCMCTISize</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_CMCTIs_Varios</targetReference>
            </connector>
            <label>Sí, más de uno</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha marcado la finalización del Argumentario (no se seleccionan intereses en el subflujo de intereses)</description>
        <name>Decision_Finalizar</name>
        <label>¿Finalizar Argumentario?</label>
        <locationX>787</locationX>
        <locationY>3878</locationY>
        <defaultConnector>
            <targetReference>InteresOportunidadSeleccionado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Finalizar</defaultConnectorLabel>
        <rules>
            <name>Decision_Finalizar_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_FinalizarArgumentario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_08</targetReference>
            </connector>
            <label>Finalizar</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si en la pantalla de colaboración no colabora, hay que cerrar el argumentario</description>
        <name>Decision_Finalizar_Colaboracion</name>
        <label>¿Finalizar Argumentario?</label>
        <locationX>334</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>PantallaDatosContactoInteres</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Finalizar</defaultConnectorLabel>
        <rules>
            <name>Finalizar_Colaboracion_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_FinalizarArgumentario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_08</targetReference>
            </connector>
            <label>Finalizar</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si en la pantalla de colaboración no colabora, hay que cerrar el argumentario</description>
        <name>Decision_Finalizar_Confirmacion</name>
        <label>¿Finalizar Argumentario?</label>
        <locationX>543</locationX>
        <locationY>3182</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_03</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Finalizar</defaultConnectorLabel>
        <rules>
            <name>Finalizar_Confirmacion_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_FinalizarArgumentario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_08</targetReference>
            </connector>
            <label>Finalizar</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si es un contacto NO se tiene que mostrar la pantalla de datos Cess y continua el subflujo</description>
        <name>Decision_LeadOContacto</name>
        <label>Decision_Lead o Contacto?</label>
        <locationX>543</locationX>
        <locationY>2846</locationY>
        <defaultConnector>
            <targetReference>Decision_Finalizar_Confirmacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_Contact</defaultConnectorLabel>
        <rules>
            <name>Decision_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_CMCTI.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflujo_PantallaDatosCESS</targetReference>
            </connector>
            <label>Decision_Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de contacto informado</description>
        <name>Decision_PlanificarLlamada_Colaboracion</name>
        <label>¿Planificar llamada?</label>
        <locationX>334</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Decision_Finalizar_Colaboracion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamada_Colaboracion_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamadaColaboracion</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de contacto informado</description>
        <name>Decision_PlanificarLlamada_ContactoInformado</name>
        <label>¿Planificar llamada Contacto Informado?</label>
        <locationX>1411</locationX>
        <locationY>4478</locationY>
        <defaultConnector>
            <targetReference>Decision_VolverIntereses_ContactoInformado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamada_ContactoInformado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamada_ContactoInformado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de Contratar</description>
        <name>Decision_PlanificarLlamada_Contratar</name>
        <label>¿Planificar llamada Contratar?</label>
        <locationX>1642</locationX>
        <locationY>5414</locationY>
        <defaultConnector>
            <targetReference>VolverPantallaInteresesContratarSeguro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamada_Contratar_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EstablecerPlanificarLlamadaContratar</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de Contratar</description>
        <name>Decision_PlanificarLlamada_GanarOPP</name>
        <label>¿Planificar llamada Ganar Opp?</label>
        <locationX>1840</locationX>
        <locationY>6230</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_076</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamada_GanarOPP_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamadaGanarOpp</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada del subflujo de Intereses</description>
        <name>Decision_PlanificarLlamada_Intereses</name>
        <label>¿Planificar llamada?</label>
        <locationX>787</locationX>
        <locationY>3542</locationY>
        <defaultConnector>
            <targetReference>Decision_Finalizar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamada_Intereses_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamada_Intereses</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de oportunidad</description>
        <name>Decision_PlanificarLlamada_Oportunidad</name>
        <label>¿Planificar llamada Oportunidad?</label>
        <locationX>784</locationX>
        <locationY>4478</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_072</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamada_Oportunidad_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EstablecerPlanificarLlamadaOportunidad</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si hay que volver a la pantalla de intereses o no</description>
        <name>Decision_VolverIntereses_ContactoInformado</name>
        <label>¿Volver a pantalla de intereses?</label>
        <locationX>1411</locationX>
        <locationY>4814</locationY>
        <defaultConnector>
            <targetReference>Set_InteresOportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>VolverIntereses_ContactoInformado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_VolverAPantallaIntereses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_073</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha seleccionado un interés de tipo oportunidad mostramos la pantalla de gestión de opp, sino vamos por la rama de CM MKT o MC AG</description>
        <name>InteresOportunidadSeleccionado</name>
        <label>¿Interes de tipo oportunidad seleccionado?</label>
        <locationX>1097</locationX>
        <locationY>3998</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_05</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiInteresOportunidadSeleccionado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SelectedOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_061</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>VolverPantallaInteresesContratarSeguro</name>
        <label>Volver a pantalla de intereses?</label>
        <locationX>1642</locationX>
        <locationY>5750</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_062</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SiVolverPantallaInteresesContratarSeguro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_VolverAPantallaIntereses</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_074</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Al entrar la llamada relacionada al Miembro de Campaña CTI y campaña básicos (HEADER dinámico incorporado con imagen como recurso estático) Trata la salida del flujo y planificación de llamadas

31/08: Nueva variable de Tarea para poder crear nuevos intereses
31/08: Excluidos intereses de la Pantalla Contacto Informado. Incluido planificador de llamadas en la pantalla final
05/09 MHG: Corregido error al usar el CMCTI equivocado para crear uno nuevo
20/09 MHG: CAMBIOS DE ORDEN DE PANTALLAS modificación mayor de flujo principal y subflujos
29/09 NRG: Sustituido el subflujo de &apos;Pantalla de confirmación Entrantes (Básicos)&apos; por el de &apos;Datos CESS&apos;
13/10 MMV: Si se hay oportunidad, se manda como parámetro en el planificador de llamadas
20/10 AMT: Cambios en las cabeceras de las pantallas
21/10 MMV: Se añade pantalla para seleccionar CM CTI en caso de que haya más de uno
24/10 AMT: Se modifican las stages de la cabecera.
25/10 AMT: Se elimina la variable HEADER.
27/10 AMT: Se añade redirección a la pantalla de intereses salientes básicos.
02/11 NRG: Cambio en las formulas del planificador de llamada para solucionar una incidencia
02/11 MMV: Cambios necesarios por cambio en parámetros de Subflujo Pantalla Crear Miembro de Campaña CTI
21/11 AMT: Añadido el Subflow Borrar CMCTI</description>
    <dynamicChoiceSets>
        <description>Contiene los CM CTIs encontrados</description>
        <name>Choice_CMCTIsCollection</name>
        <collectionReference>Col_CMCTIForChoice</collectionReference>
        <dataType>String</dataType>
        <displayField>CallIdentifier__c</displayField>
        <object>CampaignMember</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Contiene la etiqueta personaliza (Campaña CTI + Ramo) para mostrar en el radio button</description>
        <name>For_LabelCMCTIRadioButton</name>
        <dataType>String</dataType>
        <expression>TEXT({!Loop_CMCTIs_Varios.CampaignCTI__c}) + &apos; - &apos; + TEXT({!Loop_CMCTIs_Varios.LineInsurance__c})</expression>
    </formulas>
    <formulas>
        <description>Se comprueba si el registro CM CTI es un Lead o un Contacto y devolvemos &apos;Lead&apos; o &apos;Contact&apos; para pasarselo como variable de entrada al planificador de llamada.</description>
        <name>For_PlanificadorObjectApiName</name>
        <dataType>String</dataType>
        <expression>IF ( 
   NOT( ISBLANK( {!Var_OppPlanificador.Id} ) ),
   &apos;Opportunity&apos;,
   IF (
      BEGINS( {!Get_CMCTIActualizado.LeadOrContactId} , &apos;00Q&apos; ) , 
      &apos;Lead&apos; , 
      &apos;Contact&apos;
   )
)</expression>
    </formulas>
    <formulas>
        <description>En función de los datos tratados en el argumentario se envía un record Id de Lead, Contacto u Opportunidad. Si hay alguna oportunidad nueva creada durante el proceso o seleccionada como interés se envía su Id, sino se envía el Lead o Contacto.</description>
        <name>For_PlanificadorRecordId</name>
        <dataType>String</dataType>
        <expression>IF(
   NOT( ISBLANK( {!Var_OppPlanificador.Id} ) ),
   {!Var_OppPlanificador.Id},
   {!Get_CMCTIActualizado.LeadOrContactId}
)</expression>
    </formulas>
    <interviewLabel>FlujoLlamadaEntrantesBlecis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Llamada Entrantes Basicos</label>
    <loops>
        <description>Itera el CM CTI (en este caso solo hay uno) para asignarlo a la variable</description>
        <name>Loop_CMCTIs_Unico</name>
        <label>Loop CMCTIs</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_CMCTI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_CMCTI_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Subflow_ColaboracionCliente</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Itera los CM CTI encontrados (en este caso hay más de uno) para formar el choice son la label custom para el radio button de la pantalla</description>
        <name>Loop_CMCTIs_Varios</name>
        <label>Loop CMCTIs</label>
        <locationX>354</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_CMCTI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_CMCTI_LabelChoice</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>S02_PantallaSeleccionCMCTI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Obtenemos el registro de campaign member CTI creado hace menos de 10 minutos (controlado por campo fórmula)</description>
        <name>Get_CMCTI</name>
        <label>Get_CMCTI</label>
        <locationX>334</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_CMCTI_Size</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RT_CMCTI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_IN_WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignCTI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CP - CESS_BLECIS_SEV</stringValue>
            </value>
        </filters>
        <filters>
            <field>CampaignCTI__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>CP - TEST_CESS_BLECIS_SEV</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el registro de CM CTI seleccionad</description>
        <name>Get_CMCTI_Seleccionado</name>
        <label>Get CM CTI Seleccionado</label>
        <locationX>354</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_CMCTISeleccionadoVariable</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>S02_Radio_CMCTICollection</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene el CM CTI Actualizado para mandar los datos actualizados al planificador</description>
        <name>Get_CMCTIActualizado</name>
        <label>Get CMCTI Actualizado</label>
        <locationX>334</locationX>
        <locationY>7442</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_RelatedCMCTI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CMCTI.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos la nueva oportunidad creada en la conversión</description>
        <name>Get_Opportunity_Nueva</name>
        <label>Get_Opportunity_Nueva</label>
        <locationX>1642</locationX>
        <locationY>5054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subflow_QuiereContratarSeguro</targetReference>
        </connector>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_CMCTI.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Obtiene las oportunidades ABIERTAS relacionadas con el CM CTI actualizado</description>
        <name>Get_Opportunity_RelatedCMCTI</name>
        <label>Get Opportunity Related CM CTI</label>
        <locationX>334</locationX>
        <locationY>7562</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subflow_BorrarCMCTI</targetReference>
        </connector>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIActualizado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Nueva.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedOpp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Var_OppPlanificador</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el identificador del tipo de registro de campaign member CTI</description>
        <name>Get_RT_CMCTI</name>
        <label>Get_RT_CMCTI</label>
        <locationX>334</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CMCTI</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTI</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <recordLookups>
        <description>Recoge los textos de Argumentario que se usan en las pantallas de ESTE Flujo</description>
        <name>Get_TextosArgumentario</name>
        <label>Get_TextosArgumentario</label>
        <locationX>334</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RT_CMCTI</targetReference>
        </connector>
        <filters>
            <field>Flujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FlujoLlamadaEntrantesBasicos</stringValue>
            </value>
        </filters>
        <filters>
            <field>Idioma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <object>TextoArgumentario__c</object>
    </recordLookups>
    <screens>
        <name>Bienvenida</name>
        <label>Bienvenida</label>
        <locationX>334</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Stage_02</targetReference>
        </connector>
        <fields>
            <name>S01_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MensajeBienvenida</name>
            <fieldText>&lt;p&gt;{!Get_TextosArgumentario.Texto1__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Muestra un listado de CM CTI con su ramo para permitir al usuario seleccionar uno</description>
        <name>S02_PantallaSeleccionCMCTI</name>
        <label>S02_Pantalla de Selección CMCTI</label>
        <locationX>354</locationX>
        <locationY>1694</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_CMCTI_Seleccionado</targetReference>
        </connector>
        <fields>
            <name>S02_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S02_Radio_CMCTICollection</name>
            <choiceReferences>Choice_CMCTIsCollection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Seleccione Campaña CTI</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla de Finalización de la llamada</description>
        <name>S03_PantallaFinalizar</name>
        <label>S03 Pantalla de Finalización</label>
        <locationX>334</locationX>
        <locationY>7802</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S03_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TextoFinalizacion1</name>
            <fieldText>&lt;p&gt;{!Get_TextosArgumentario.Texto2__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TextoFinalizacion2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_TextosArgumentario.Texto3__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>cess_ScheduleCallLWC</name>
            <extensionName>c:cess_ScheduleCallLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>campCtiId</name>
                <value>
                    <elementReference>Get_CMCTIActualizado.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>For_PlanificadorObjectApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>For_PlanificadorRecordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Argumentario_Subflow_DefinicionStages</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Llamada al subflow Argumentario_Subflow_DefinicionStages que habilita hacer la asignación del current Stage en cualquier Subflow</description>
        <name>Argumentario_Subflow_DefinicionStages</name>
        <label>Argumentario_Subflow_DefinicionStages</label>
        <locationX>334</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>Set_Stage_01</targetReference>
        </connector>
        <flowName>Argumentario_Subflow_DefinicionStages</flowName>
        <inputAssignments>
            <name>Var_IN_Basicos</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invoca al Flow Subflujo Pantalla de Contacto e Interes para mostrar y editar los datos del Lead/Contacto y el Interés</description>
        <name>PantallaDatosContactoInteres</name>
        <label>Pantalla datos de contacto e interes</label>
        <locationX>543</locationX>
        <locationY>2726</locationY>
        <connector>
            <targetReference>Decision_LeadOContacto</targetReference>
        </connector>
        <flowName>SubflujoPantallaContactoInteres</flowName>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>Var_IN_WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_CMCTI_Id</name>
            <value>
                <elementReference>Var_CMCTI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Se llama al subflow de BorrarCMCTI para comprobar si hay que borrar o no el CMCTI</description>
        <name>Subflow_BorrarCMCTI</name>
        <label>Subflow_BorrarCMCTI</label>
        <locationX>334</locationX>
        <locationY>7682</locationY>
        <connector>
            <targetReference>S03_PantallaFinalizar</targetReference>
        </connector>
        <flowName>Subflow_BorrarCMCTI</flowName>
        <inputAssignments>
            <name>Var_IN_CMCTI</name>
            <value>
                <elementReference>Var_CMCTI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_IN_Oportunidad</name>
            <value>
                <elementReference>Get_Opportunity_Nueva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_OppRelacionadaContacto</name>
            <value>
                <elementReference>VAR_OUT_InteresOportunidadCMCTI</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invocamos al flow Subflujo Colaboración Del Cliente Blecis</description>
        <name>Subflow_ColaboracionCliente</name>
        <label>Subflow_ColaboracionCliente</label>
        <locationX>334</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>Decision_PlanificarLlamada_Colaboracion</targetReference>
        </connector>
        <flowName>SubflujoColaboracionClienteBlecis</flowName>
        <inputAssignments>
            <name>Var_IN_CMCTIId</name>
            <value>
                <elementReference>Var_CMCTI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_PreguntarLlamadaOtroMomento</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_FinalizarArgumentario</assignToReference>
            <name>Var_OUT_FinalizarArgumentario</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAux</assignToReference>
            <name>Var_OUT_PlanificadorLlamada</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo Pantalla Datos de Contacto</description>
        <name>Subflow_DatosContacto</name>
        <label>Subflow_DatosContacto</label>
        <locationX>334</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Decision_ExisteCMCTI</targetReference>
        </connector>
        <flowName>SubflujoPantallaDatodeContacto</flowName>
        <inputAssignments>
            <name>idLeadContact</name>
            <value>
                <elementReference>Var_IN_WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Invoca al flow Subflujo Pantalla Ganar Opp</description>
        <name>Subflow_GanarOportunidad</name>
        <label>Subflow_GanarOportunidad</label>
        <locationX>1840</locationX>
        <locationY>5990</locationY>
        <connector>
            <targetReference>Set_InteresesExcluidos_GanarOpp</targetReference>
        </connector>
        <flowName>SubflujoPantallaGanarOpp</flowName>
        <inputAssignments>
            <name>inputCMCTIId</name>
            <value>
                <elementReference>Var_CMCTI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputEsFlujoBasicos</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppVariable</name>
            <value>
                <elementReference>Get_Opportunity_Nueva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_InteresExcluidoAux</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAux</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Invoca al flow: Subflujo Pantalla de Interés Salientes Básicos</description>
        <name>Subflow_INTERESES_SalientesBasicos</name>
        <label>Subflow_INTERESES_SalientesBasicos</label>
        <locationX>787</locationX>
        <locationY>3422</locationY>
        <connector>
            <targetReference>Decision_PlanificarLlamada_Intereses</targetReference>
        </connector>
        <flowName>SubflujoPantallaInteresSalientesBasicos</flowName>
        <inputAssignments>
            <name>IdCampaignMemberCTI</name>
            <value>
                <elementReference>Var_CMCTI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdLeadContact</name>
            <value>
                <elementReference>Var_IN_WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InteresesExcluidos</name>
            <value>
                <elementReference>Var_InteresesExcluidos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaskVariable</name>
            <value>
                <elementReference>Var_IN_CallbackTaskRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_CMCTI</assignToReference>
            <name>CampaignMemberCTI</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_FinalizarArgumentario</assignToReference>
            <name>FinalizarArgumentario</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAux</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedCMAG</assignToReference>
            <name>SelectedCampaignMemberAG</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedCMMkt</assignToReference>
            <name>SelectedCampaignMemberMKT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedOpp</assignToReference>
            <name>SelectedOpportunity</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Invoca al flow Subflujo Pantalla Contacto Informado</description>
        <name>Subflow_PantallaContactoInformado</name>
        <label>Subflow_PantallaContactoInformado</label>
        <locationX>1411</locationX>
        <locationY>4238</locationY>
        <connector>
            <targetReference>Set_InteresesExcluidos_ContactoInformado</targetReference>
        </connector>
        <flowName>SubflujoPantallaContactoInformado</flowName>
        <inputAssignments>
            <name>CTICampaignMember</name>
            <value>
                <elementReference>Var_CMCTI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MCAGVariable</name>
            <value>
                <elementReference>SelectedCMAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MKTCMVariable</name>
            <value>
                <elementReference>SelectedCMMkt</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_EsBlecis</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_EsEntrantes</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAux</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_InteresExcluidoAux</assignToReference>
            <name>Var_OUT_InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_VolverAPantallaIntereses</assignToReference>
            <name>VolverAPantallaIntereses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Sublujo para la gestión del interés de oportunidad existente</description>
        <name>Subflow_PantallaGestionOportunidad</name>
        <label>Subflow_PantallaGestionOportunidad</label>
        <locationX>784</locationX>
        <locationY>4238</locationY>
        <connector>
            <targetReference>ActualizaInteresesExcluidosOpp</targetReference>
        </connector>
        <flowName>SubflujoPantallaGestionInteresOportunidad</flowName>
        <inputAssignments>
            <name>CTICampaignMember</name>
            <value>
                <elementReference>Var_CMCTI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityVariable</name>
            <value>
                <elementReference>SelectedOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_InteresExcluidoAux</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAux</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo para la contratación del seguro</description>
        <name>Subflow_QuiereContratarSeguro</name>
        <label>Subflow_QuiereContratarSeguro</label>
        <locationX>1642</locationX>
        <locationY>5174</locationY>
        <connector>
            <targetReference>Set_InteresesExcluidosQuiereContratar</targetReference>
        </connector>
        <flowName>SubflujoPantallaContactoQuiereContratarSeguroBasicos</flowName>
        <inputAssignments>
            <name>CTICampaignMember</name>
            <value>
                <elementReference>Var_CMCTI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityVariable</name>
            <value>
                <elementReference>Get_Opportunity_Nueva</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_InteresExcluidoAux</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_VolverAPantallaIntereses</assignToReference>
            <name>MostrarIntereses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAux</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Subflujo_PantallaDatosCESS</name>
        <label>Subflujo Pantalla Datos CESS</label>
        <locationX>411</locationX>
        <locationY>2966</locationY>
        <connector>
            <targetReference>Decision_Finalizar_Confirmacion</targetReference>
        </connector>
        <flowName>SubflujoPantallaDatosCESS</flowName>
        <inputAssignments>
            <name>inputContactId</name>
            <value>
                <elementReference>Var_CMCTI.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputLeadId</name>
            <value>
                <elementReference>Var_CMCTI.LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Invocamos el subflujo para que cree el nuevo CM CTI</description>
        <name>SubflujoPantallaCrearMiembrodeCampanaCTILlamadasEntrantes</name>
        <label>Subflujo Pantalla Crear Miembro de Campaña CTI Llamadas Entrantes</label>
        <locationX>618</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>Subflow_ColaboracionCliente</targetReference>
        </connector>
        <flowName>SubflujoPantallaCrearMiembroCampanaCTILlamadas_Entrantes</flowName>
        <inputAssignments>
            <name>IdLeadContacto</name>
            <value>
                <elementReference>Var_IN_WhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdRTCTI</name>
            <value>
                <elementReference>Get_RT_CMCTI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_CMCTI</assignToReference>
            <name>Var_OUT_CMCTI</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedCMMkt</assignToReference>
            <name>Var_OUT_CMMKT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>SelectedCMAG</assignToReference>
            <name>Var_OUT_MCAdicional</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Lista de registros de CM CTIs encontrados con el CallIdentifier modificado con la etiqueta que se quiere mostrar en el radio button</description>
        <name>Col_CMCTIForChoice</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>MensajeBienvenidaVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campaign Member AG seleccionado en la pantalla de intereses</description>
        <name>SelectedCMAG</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>Campaign Member de marketing seleccionado en la pantalla de intereses</description>
        <name>SelectedCMMkt</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Oportunidad seleccionada en la pantalla de intereses</description>
        <name>SelectedOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Campaign member CTI recogido al inicio del flujo o creado en el flujo en caso de no existir uno</description>
        <name>Var_CMCTI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Marca si se debe finalizar el argumentario en base a si se han elegido intereses o no en el subflujo</description>
        <name>Var_FinalizarArgumentario</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contiene el número de registros encontrados en Get_CMCTI</description>
        <name>Var_GetCMCTISize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Registro de la tarea de callback que inicia el argumentario</description>
        <name>Var_IN_CallbackTaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Who Id, viene de la apertura de argumentario</description>
        <name>Var_IN_WhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Texto de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el nombre de la persona con la que estamos hablando y que vendrá del lead o del contacto.</description>
        <name>Var_INOUT_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Imagen de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el ícono que se muestra en la cabecera.</description>
        <name>Var_INOUT_HeadingIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Texto de subcabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el el interés (Ramo) que se está tratando en ese momento y que depende de dónde provenga el interés.</description>
        <name>Var_INOUT_SubHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Lista de IDs de intereses excluidos para filtrar los Intereses obtenidos (CM, CMAG y OPP). Este parámetro de entrada en este flujo se pasa y devuelve en los flujos en los que se puede estar tratando y por tanto excluyendo un nuevo interés.</description>
        <name>Var_InteresesExcluidos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Interés excluido que vuelve del subflujo y que se almacena en intereses excluidos</description>
        <name>Var_InteresExcluidoAux</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacenamos la oportunidad recogida en el último get justo antes del planificador de llamada.</description>
        <name>Var_OppPlanificador</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Variable que indica si se ha pasado por Set_InteresOportunidadCMCTI</description>
        <name>VAR_OUT_InteresOportunidadCMCTI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que controla que se muestre o no el planificador de llamada cuando se cierra el argumentario. Es de salida puesto que el flujo principal debe controlar que se haya indicado la planificación.</description>
        <name>Var_PlanificarLlamada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que controla que se muestre o no el planificador de llamada cuando se cierra el argumentario. Es una variable auxiliar para almacenar la salida de los subflujos</description>
        <name>Var_PlanificarLlamadaAux</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Marca si se debe volver a la pantalla de intereses</description>
        <name>Var_VolverAPantallaIntereses</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
