force-app/main/default/flows/Flujo_Llamadas_Salientes_Basicos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Actualiza los intereses excluidos que vienen del subflujo, usamos assignment porque para otros outputs no se está guardando sobre variable.</description>
        <name>ActualizaInteresesExcluidos2</name>
        <label>Actualiza Intereses Excluidos del SubFlujo</label>
        <locationX>698</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_InteresExcluidoAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PlanificarLlamadaOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualiza los intereses excluidos que vienen del subflujo, usamos assignment porque para otros outputs no se está guardando sobre variable.</description>
        <name>ActualizaInteresesExcluidosGanarOpp</name>
        <label>Actualiza Intereses Excluidos del SubFlujo</label>
        <locationX>1754</locationX>
        <locationY>4466</locationY>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_InteresExcluidoAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PlanificarLlamadaGanarOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualiza los intereses excluidos que vienen del subflujo, usamos assignment porque para otros outputs no se está guardando sobre variable.</description>
        <name>ActualizaInteresesExcluidosGanarOpp_0</name>
        <label>Actualiza Intereses Excluidos del SubFlujo</label>
        <locationX>1556</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_InteresExcluidoAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PlanificarLlamadaContratar</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el CM CTI salido de la pantalla de intereses por si ha cambiado</description>
        <name>AsignaCMCTIVariable</name>
        <label>Asigna el CM CTI a la variable</label>
        <locationX>1011</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>inputCMCTIRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_CM_CTI_Selected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>InteresTipoOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Poner el campo ejecutando argumentario de la tarea a false.</description>
        <name>Assign_RunningArgument_False</name>
        <label>Assign_RunningArgument_False</label>
        <locationX>182</locationX>
        <locationY>5984</locationY>
        <assignmentItems>
            <assignToReference>TaskVariable.RunningArgument__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Poner el campo ejecutando argumentario de la tarea a true.</description>
        <name>Assign_RunningArgument_True</name>
        <label>Assign_RunningArgument_True</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>TaskVariable.RunningArgument__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>EstablecerPlanificarLlamadaContactoInformado</name>
        <label>EstablecerPlanificarLlamadaContactoInformado</label>
        <locationX>1193</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HayQueVolverPantallaInteresesContactoInformado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>EstablecerPlanificarLlamadaContratar</name>
        <label>EstablecerPlanificarLlamadaContratar</label>
        <locationX>1424</locationX>
        <locationY>3950</locationY>
        <assignmentItems>
            <assignToReference>PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HayQueVolverPantallaInteresesContrataSeguro</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>EstablecerPlanificarLlamadaContratar_0</name>
        <label>EstablecerPlanificarLlamadaContratar</label>
        <locationX>1622</locationX>
        <locationY>4682</locationY>
        <assignmentItems>
            <assignToReference>PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_075</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establece la planificación de llamada, hay que tener en cuenta que podemos pasar por varios intereses y que no se marque la planificación de llamada más que en uno (raro, pero puede pasar)</description>
        <name>EstablecerPlanificarLlamadaOportunidad</name>
        <label>EstablecerPlanificarLlamadaOportunidad</label>
        <locationX>566</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Stage_071</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establezco la marca de planificación de llamada</description>
        <name>EstablezcoPlanificarLlamadaIntereses</name>
        <label>EstablezcoPlanificarLlamadaIntereses</label>
        <locationX>569</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_FinalizarArgumentario_Intereses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualiza los intereses excluidos que vienen del subflujo, usamos assignment porque para otros outputs no se está guardando sobre variable.</description>
        <name>Set_InteresesExcluidosContactoInformado</name>
        <label>Actualiza Intereses Excluidos del SubFlujo</label>
        <locationX>1325</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Var_InteresExcluidoAux</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteresesExcluidos</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PlanificarLlamadaContactoInformado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos a true la variabe VAR_OUT_InteresOportunidadCMCTI si se pasa por esta parte del flow.</description>
        <name>Set_InteresOportunidadCMCTI</name>
        <label>Set_InteresOportunidadCMCTI</label>
        <locationX>1556</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>VAR_OUT_InteresOportunidadCMCTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetNuevaOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Establezco la marca de planificación de llamada</description>
        <name>Set_PlanificarLlamada_Colaboracion</name>
        <label>Set_PlanificarLlamada_Colaboracion</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_FinalizarArg_Colaboracioncliente</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_01</name>
        <label>Set_Stage_01</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_010</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TextosArgumentario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_02</name>
        <label>Set_Stage_02</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_020</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaDatosContacto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_03</name>
        <label>Set_Stage_03</label>
        <locationX>701</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_030</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaInteresSalientesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_05</name>
        <label>Set_Stage_05</label>
        <locationX>1325</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_050</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaContactoInformado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_061</name>
        <label>Set_Stage_061</label>
        <locationX>698</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_060</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaGestionOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_062</name>
        <label>Set_Stage_062</label>
        <locationX>1754</locationX>
        <locationY>4250</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_060</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaGanarOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_071</name>
        <label>Set_Stage_071</label>
        <locationX>566</locationX>
        <locationY>3218</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_070</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PantallaInteresSalientesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_072</name>
        <label>Set_Stage_072</label>
        <locationX>830</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_070</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PantallaInteresSalientesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_073</name>
        <label>Set_Stage_073</label>
        <locationX>1094</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_070</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PantallaInteresSalientesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_074</name>
        <label>Set_Stage_074</label>
        <locationX>1358</locationX>
        <locationY>4250</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_070</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PantallaInteresSalientesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_075</name>
        <label>Set_Stage_075</label>
        <locationX>1622</locationX>
        <locationY>4790</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_070</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PantallaInteresSalientesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_076</name>
        <label>Set_Stage_076</label>
        <locationX>1886</locationX>
        <locationY>4682</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_070</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>PantallaInteresSalientesBasicos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los stage de la cabecera.</description>
        <name>Set_Stage_08</name>
        <label>Set_Stage_08</label>
        <locationX>182</locationX>
        <locationY>5552</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Argumentario_Subflow_DefinicionStages:Stage_080</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CM_CTI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Si hay que finalizar el argumentario tras el subflujo anteior</description>
        <name>Decision_FinalizarArg_Colaboracioncliente</name>
        <label>¿Finalizar argumentario?</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>PantallaDatosContactoInteres</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No finalizar argumentario</defaultConnectorLabel>
        <rules>
            <name>FinalizarArg_Colaboracioncliente_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_FinalizarArgumentario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_08</targetReference>
            </connector>
            <label>Finalizar Argumentario</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha marcado la finalización del Argumentario (no se seleccionan intereses en el subflujo de intereses)</description>
        <name>Decision_FinalizarArg_ConfirmacionEntrantes</name>
        <label>¿Se ha marcado la finalización del Argumentario?</label>
        <locationX>413</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_03</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No finalizar Argumentario</defaultConnectorLabel>
        <rules>
            <name>FinalizarArg_ConfirmacionEntrantes_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_FinalizarArgumentario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_CM_CTI</targetReference>
            </connector>
            <label>Finalizar Argumentario</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha marcado la finalización del Argumentario (no se seleccionan intereses en el subflujo de intereses)</description>
        <name>Decision_FinalizarArgumentario_Intereses</name>
        <label>¿Se ha marcado la finalización del Argumentario?</label>
        <locationX>701</locationX>
        <locationY>2354</locationY>
        <defaultConnector>
            <targetReference>AsignaCMCTIVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No finalizar Argumentario</defaultConnectorLabel>
        <rules>
            <name>FinalizarArgumentario_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_FinalizarArgumentario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_08</targetReference>
            </connector>
            <label>Finalizar Argumentario</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada tras el subflujo anterior</description>
        <name>Decision_PlanificarLlamada_Colaboracion</name>
        <label>¿Planificar llamada Colaboración Cliente?</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Decision_FinalizarArg_Colaboracioncliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No planificar</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamada_Colaboracion_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PlanificarLlamada_Colaboracion</targetReference>
            </connector>
            <label>Planificar Llamada</label>
        </rules>
    </decisions>
    <decisions>
        <description>Hay que volver a la pantalla de intereses si o no</description>
        <name>HayQueVolverPantallaInteresesContactoInformado</name>
        <label>¿Hay que volver a la Pantalla Intereses?</label>
        <locationX>1325</locationX>
        <locationY>3302</locationY>
        <defaultConnector>
            <targetReference>Set_InteresOportunidadCMCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiHayQueVolverPantallaInteresesContactoInformado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_VolverPantallaInteresesAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_073</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Hay que volver a la pantalla de intereses si o no</description>
        <name>HayQueVolverPantallaInteresesContrataSeguro</name>
        <label>¿Hay que volver a la Pantalla Intereses?</label>
        <locationX>1556</locationX>
        <locationY>4142</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_062</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiHayQueVolverPantallaInteresesContrataSeguro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_VolverPantallaInteresesAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_074</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha seleccionado un interés de tipo Oportunidad</description>
        <name>InteresTipoOportunidad</name>
        <label>¿Interes de tipo oportunidad seleccionado?</label>
        <locationX>1011</locationX>
        <locationY>2570</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_05</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiInteresTipoOportunidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Opportunity_Selected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Stage_061</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de contacto informado</description>
        <name>PlanificarLlamadaContactoInformado</name>
        <label>¿Planificar llamada Contacto Informado?</label>
        <locationX>1325</locationX>
        <locationY>3002</locationY>
        <defaultConnector>
            <targetReference>HayQueVolverPantallaInteresesContactoInformado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No planificar</defaultConnectorLabel>
        <rules>
            <name>LlamadaCTOInformadoPlanificada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EstablecerPlanificarLlamadaContactoInformado</targetReference>
            </connector>
            <label>Llamada Contacto Informado Planificada</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de Contratar</description>
        <name>PlanificarLlamadaContratar</name>
        <label>¿Planificar llamada Contratar?</label>
        <locationX>1556</locationX>
        <locationY>3842</locationY>
        <defaultConnector>
            <targetReference>HayQueVolverPantallaInteresesContrataSeguro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No planificar</defaultConnectorLabel>
        <rules>
            <name>LlamadaContratarPlanificada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EstablecerPlanificarLlamadaContratar</targetReference>
            </connector>
            <label>Llamada Contratar Planificada</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de GanarOpp</description>
        <name>PlanificarLlamadaGanarOpp</name>
        <label>¿Planificar llamada GanarOpp?</label>
        <locationX>1754</locationX>
        <locationY>4574</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_076</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No planificar</defaultConnectorLabel>
        <rules>
            <name>LlamadaGanarOppPlanificada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EstablecerPlanificarLlamadaContratar_0</targetReference>
            </connector>
            <label>Llamada GanarOpp Planificada</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de contacto informado</description>
        <name>PlanificarLlamadaIntereses</name>
        <label>¿Planificar llamada Contacto Informado?</label>
        <locationX>701</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>Decision_FinalizarArgumentario_Intereses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No planificar</defaultConnectorLabel>
        <rules>
            <name>PlanificarLlamadaIntereses_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EstablezcoPlanificarLlamadaIntereses</targetReference>
            </connector>
            <label>Llamada Contacto Informado Planificada</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si vuelve el parámetro de planificación de llamada de oportunidad</description>
        <name>PlanificarLlamadaOportunidad</name>
        <label>¿Planificar llamada Oportunidad?</label>
        <locationX>698</locationX>
        <locationY>3002</locationY>
        <defaultConnector>
            <targetReference>Set_Stage_072</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No planificar</defaultConnectorLabel>
        <rules>
            <name>LlamadaOportunidadPlanificada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_PlanificarLlamadaAux</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EstablecerPlanificarLlamadaOportunidad</targetReference>
            </connector>
            <label>Llamada Oportunidad Planificada</label>
        </rules>
    </decisions>
    <description>Flujo de LLamadas Salientes Básicos, recibe como parámetros el CampaignMemberId del CM de CTI, el Id del Contacto o Lead y el mensaje de bienvenida. Incorpora el planificador de llamada al final del flujo para Lead o Contact (corrección de parámetros de salida de subflujo de interés para poder desplegar)

05/09 MHG: Corrección del subflujo de colaboración
20/09 MHG: CAMBIOS DE ORDEN DE PANTALLAS modificación mayor de flujo principal y subflujos
13/10 MMV: Si se hay oportunidad, se manda como parámetro en el planificador de llamadas
20/10 AMT: Cambios en las cabeceras de las pantallas
21/10 AMT: Eliminada variable header y quitada la variable Var_IN_EsEntrantes  en el Subflujo Pantalla de confirmación Entrantes (Básicos)
24/10 AMT: Se modifican las stages de la cabecera.
24/10 AMT: Cambio en el orden de la asignación de la cabecera inicial.
27/10 NRG: Cambio en las formulas del planificador de llamada para solucionar una incidencia
21/11 AMT: Se añade la llamada al Subflow Borrar CMCTI
15/12/23 MSC: Añadir el control del campo &quot;Ejecutando argumentario&quot; de la tarea.</description>
    <environments>Default</environments>
    <formulas>
        <description>Se comprueba si el registro CM CTI es un Lead o un Contacto y devolvemos &apos;Lead&apos; o &apos;Contact&apos; para pasarselo como variable de entrada al planificador de llamada.</description>
        <name>For_PlanificadorObjectApiName</name>
        <dataType>String</dataType>
        <expression>IF ( 
  NOT( ISBLANK( {!Var_OportunidadPlanificador.Id} ) ) ,
   &apos;Opportunity&apos;,
   IF (
      BEGINS( {!Get_CM_CTI.LeadOrContactId} , &apos;00Q&apos; ) , 
      &apos;Lead&apos; , 
      &apos;Contact&apos;
   )
)</expression>
    </formulas>
    <formulas>
        <description>En función de los datos tratados en el argumentario se envía un record Id de Lead, Contacto u Opportunidad. Si hay alguna oportunidad nueva creada durante el proceso o seleccionada como interés se envía su Id, sino se envía el Lead o Contacto.</description>
        <name>For_PlanificadorRecordId</name>
        <dataType>String</dataType>
        <expression>IF(
   NOT( ISBLANK(  {!Var_OportunidadPlanificador.Id} ) ),
   {!Var_OportunidadPlanificador.Id},
   {!Get_CM_CTI.LeadOrContactId}   
)</expression>
    </formulas>
    <interviewLabel>Flujo Llamadas salientes Básicos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flujo Llamadas Salientes Básicos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Vuelve a recuperar el CM CTI para el caso en que se hayan actualizado los datos de Lead o Contacto tras una conversión. De esta forma usamos estos datos en el componente de Planificación de Llamadas en vez de depender de inputCMCTIRecord</description>
        <name>Get_CM_CTI</name>
        <label>Get_CM_CTI</label>
        <locationX>182</locationX>
        <locationY>5660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_RelatedCMCTI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCMCTIRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene las oportunidades ABIERTAS relacionadas con el CM CTI actualizado</description>
        <name>Get_Opportunity_RelatedCMCTI</name>
        <label>Get Opportunity Related CM CTI</label>
        <locationX>182</locationX>
        <locationY>5768</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Subflow_BorrarCMCTI</targetReference>
        </connector>
        <filterLogic>( ( 1 AND 5 ) OR 2 OR 3 ) AND 4</filterLogic>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CM_CTI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetNuevaOportunidad.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_Opportunity_Selected.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Var_OportunidadPlanificador</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Obtiene la nueva oportunidad creada en la conversión</description>
        <name>GetNuevaOportunidad</name>
        <label>Get Nueva Oportunidad</label>
        <locationX>1556</locationX>
        <locationY>3518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PantallaContactoQuiereContratarSeguro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCMCTIRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Recoge los textos de Argumentario que se usan en las pantallas de ESTE Flujo</description>
        <name>TextosArgumentario</name>
        <label>TextosArgumentario</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bienvenida</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flujo_Llamadas_Salientes_Basicos</stringValue>
            </value>
        </filters>
        <filters>
            <field>Idioma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TextoArgumentario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizar la tarea con el nuevo valor del campo ejecutando argumentario a true.</description>
        <name>Update_Task_01</name>
        <label>Update_Task_01</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Set_Stage_02</targetReference>
        </connector>
        <inputReference>TaskVariable</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar la tarea con el nuevo valor del campo ejecutando argumentario a false.</description>
        <name>Update_Task_02</name>
        <label>Update_Task_02</label>
        <locationX>182</locationX>
        <locationY>6092</locationY>
        <connector>
            <targetReference>PantallaFinalizacion</targetReference>
        </connector>
        <inputReference>TaskVariable</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Bienvenida</name>
        <label>Bienvenida</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_RunningArgument_True</targetReference>
        </connector>
        <fields>
            <name>S01_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TextoBienvenida</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!MensajeBienvenida}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!TextosArgumentario.Texto1__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continuar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla de finalización de la llamada</description>
        <name>PantallaFinalizacion</name>
        <label>PantallaFinalización</label>
        <locationX>182</locationX>
        <locationY>6200</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S02_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TextoFINAL</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!TextosArgumentario.Texto2__c}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TextoPlanificarLlamada</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto3__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PlanificarLlamada</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>LWCPlanificarLlamada</name>
            <extensionName>c:cess_ScheduleCallLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>campCtiId</name>
                <value>
                    <elementReference>Get_CM_CTI.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>For_PlanificadorRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>For_PlanificadorObjectApiName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PlanificarLlamada</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Finalizar</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Argumentario_Subflow_DefinicionStages</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Llamada al subflow Argumentario_Subflow_DefinicionStages que habilita hacer la asignación del current Stage en cualquier Subflow</description>
        <name>Argumentario_Subflow_DefinicionStages</name>
        <label>Argumentario_Subflow_DefinicionStages</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Set_Stage_01</targetReference>
        </connector>
        <flowName>Argumentario_Subflow_DefinicionStages</flowName>
        <inputAssignments>
            <name>Var_IN_Basicos</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invocamos al flow Subflujo Colaboración Del Cliente Blecis</description>
        <name>ColaboracionDelClienteBlecis</name>
        <label>Colaboración Del Cliente Blecis</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Decision_PlanificarLlamada_Colaboracion</targetReference>
        </connector>
        <flowName>SubflujoColaboracionClienteBlecis</flowName>
        <inputAssignments>
            <name>Var_IN_CMCTIId</name>
            <value>
                <elementReference>inputCMCTIRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_PreguntarLlamadaOtroMomento</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_FinalizarArgumentario</assignToReference>
            <name>Var_OUT_FinalizarArgumentario</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAux</assignToReference>
            <name>Var_OUT_PlanificadorLlamada</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Invoca el flow Subflujo Pantalla de confirmación Entrantes (Básicos)</description>
        <name>PantallaConfirmacionEntrantesBasicos</name>
        <label>Pantalla de confirmación Entrantes (Básicos)</label>
        <locationX>413</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Decision_FinalizarArg_ConfirmacionEntrantes</targetReference>
        </connector>
        <flowName>SubflujoPantallaConfirmacionEntrantesBsicos</flowName>
        <inputAssignments>
            <name>Var_IN_CMCTI</name>
            <value>
                <elementReference>inputCMCTIRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_FinalizarArgumentario</assignToReference>
            <name>Var_OUT_FinalizarArgumentario</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PantallaContactoInformado</name>
        <label>Pantalla Contacto Informado</label>
        <locationX>1325</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Set_InteresesExcluidosContactoInformado</targetReference>
        </connector>
        <flowName>SubflujoPantallaContactoInformado</flowName>
        <inputAssignments>
            <name>CTICampaignMember</name>
            <value>
                <elementReference>inputCMCTIRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MCAGVariable</name>
            <value>
                <elementReference>Var_CM_AG_Selected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MKTCMVariable</name>
            <value>
                <elementReference>Var_CM_MKT_Selected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_EsBlecis</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_EsEntrantes</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAux</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_InteresExcluidoAux</assignToReference>
            <name>Var_OUT_InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_VolverPantallaInteresesAux</assignToReference>
            <name>VolverAPantallaIntereses</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PantallaContactoQuiereContratarSeguro</name>
        <label>Pantalla Contacto Quiere Contratar Seguro</label>
        <locationX>1556</locationX>
        <locationY>3626</locationY>
        <connector>
            <targetReference>ActualizaInteresesExcluidosGanarOpp_0</targetReference>
        </connector>
        <flowName>SubflujoPantallaContactoQuiereContratarSeguroBasicos</flowName>
        <inputAssignments>
            <name>CTICampaignMember</name>
            <value>
                <elementReference>inputCMCTIRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityVariable</name>
            <value>
                <elementReference>GetNuevaOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_InteresExcluidoAux</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_VolverPantallaInteresesAux</assignToReference>
            <name>MostrarIntereses</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAux</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Invocamos al flow Subflujo Pantalla Datos de Contacto</description>
        <name>PantallaDatosContacto</name>
        <label>Pantalla Datos de Contacto</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>ColaboracionDelClienteBlecis</targetReference>
        </connector>
        <flowName>SubflujoPantallaDatodeContacto</flowName>
        <inputAssignments>
            <name>idLeadContact</name>
            <value>
                <elementReference>inputWhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Invoca al Flow Subflujo Pantalla de Contacto e Interes para mostrar y editar los datos del Lead/Contacto y el Interés</description>
        <name>PantallaDatosContactoInteres</name>
        <label>Pantalla datos de contacto e interes</label>
        <locationX>413</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>PantallaConfirmacionEntrantesBasicos</targetReference>
        </connector>
        <flowName>SubflujoPantallaContactoInteres</flowName>
        <inputAssignments>
            <name>inputRecordId</name>
            <value>
                <elementReference>inputWhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_CMCTI_Id</name>
            <value>
                <elementReference>inputCMCTIRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Invoca al flow Subflujo Pantalla Ganar Opp</description>
        <name>PantallaGanarOpp</name>
        <label>Pantalla Ganar Opp</label>
        <locationX>1754</locationX>
        <locationY>4358</locationY>
        <connector>
            <targetReference>ActualizaInteresesExcluidosGanarOpp</targetReference>
        </connector>
        <flowName>SubflujoPantallaGanarOpp</flowName>
        <inputAssignments>
            <name>inputCMCTIId</name>
            <value>
                <elementReference>inputCMCTIRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inputEsFlujoBasicos</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OppVariable</name>
            <value>
                <elementReference>GetNuevaOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_InteresExcluidoAux</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAux</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PantallaGestionOportunidad</name>
        <label>Pantalla gestion oportunidad</label>
        <locationX>698</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>ActualizaInteresesExcluidos2</targetReference>
        </connector>
        <flowName>SubflujoPantallaGestionInteresOportunidad</flowName>
        <inputAssignments>
            <name>CTICampaignMember</name>
            <value>
                <elementReference>inputCMCTIRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OpportunityVariable</name>
            <value>
                <elementReference>Var_Opportunity_Selected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_InteresExcluidoAux</assignToReference>
            <name>InteresExcluido</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAux</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>PantallaInteresSalientesBasicos</name>
        <label>Pantalla Interés Salientes Básicos</label>
        <locationX>701</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>PlanificarLlamadaIntereses</targetReference>
        </connector>
        <flowName>SubflujoPantallaInteresSalientesBasicos</flowName>
        <inputAssignments>
            <name>IdCampaignMemberCTI</name>
            <value>
                <elementReference>inputCMCTIRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdLeadContact</name>
            <value>
                <elementReference>inputWhoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InteresesExcluidos</name>
            <value>
                <elementReference>InteresesExcluidos</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TaskVariable</name>
            <value>
                <elementReference>TaskVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_CM_CTI_Selected</assignToReference>
            <name>CampaignMemberCTI</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_FinalizarArgumentario</assignToReference>
            <name>FinalizarArgumentario</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_PlanificarLlamadaAux</assignToReference>
            <name>PlanificarLlamada</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_CM_AG_Selected</assignToReference>
            <name>SelectedCampaignMemberAG</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_CM_MKT_Selected</assignToReference>
            <name>SelectedCampaignMemberMKT</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_Opportunity_Selected</assignToReference>
            <name>SelectedOpportunity</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>Se llama al subflow de BorrarCMCTI para comprobar si hay que borrar o no el CMCTI</description>
        <name>Subflow_BorrarCMCTI</name>
        <label>Subflow_BorrarCMCTI</label>
        <locationX>182</locationX>
        <locationY>5876</locationY>
        <connector>
            <targetReference>Assign_RunningArgument_False</targetReference>
        </connector>
        <flowName>Subflow_BorrarCMCTI</flowName>
        <inputAssignments>
            <name>Var_IN_CMCTI</name>
            <value>
                <elementReference>inputCMCTIRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VAR_IN_Oportunidad</name>
            <value>
                <elementReference>GetNuevaOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_OppRelacionadaContacto</name>
            <value>
                <elementReference>VAR_OUT_InteresOportunidadCMCTI</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Registro de Campaign Member CTI que se recoge dentro del flujo, este se puede también crear como parte de un subflujo y actualizarse por tanto con el que viene de dicho subflujo, por lo que el parámetro de entrada con el Id del CM solo se debe usar al principio del flujo</description>
        <name>inputCMCTIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>WhoId de la tarea.</description>
        <name>inputWhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Lista de IDs de intereses excluidos para filtrar los Intereses obtenidos (CM, CMAG y OPP). Este parámetro de entrada en este flujo se pasa y devuelve en los flujos en los que se puede estar tratando y por tanto excluyendo un nuevo interés.</description>
        <name>InteresesExcluidos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MensajeBienvenida</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que controla que se muestre o no el planificador de llamada cuando se cierra el argumentario. Es de salida puesto que el flujo principal debe controlar que se haya indicado la planificación.</description>
        <name>PlanificarLlamada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Tarea creada de la llamada</description>
        <name>TaskVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Miembro de Campaña AG de tipo Marketing seleccionado en el subflujo de Intereses</description>
        <name>Var_CM_AG_Selected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>Campaign Member de tipo CTI aplicado en el subflujo de Intereses</description>
        <name>Var_CM_CTI_Selected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Campaign Member de tipo Marketing seleccionado en el subflujo de Intereses</description>
        <name>Var_CM_MKT_Selected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Si es verdadera vamos a la finalización del argumentario</description>
        <name>Var_FinalizarArgumentario</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Texto de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el nombre de la persona con la que estamos hablando y que vendrá del lead o del contacto.</description>
        <name>Var_INOUT_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Imagen de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el ícono que se muestra en la cabecera.</description>
        <name>Var_INOUT_HeadingIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Texto de subcabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el el interés (Ramo) que se está tratando en ese momento y que depende de dónde provenga el interés.</description>
        <name>Var_INOUT_SubHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable para almacenar el interés excluido seleccionado en un subflujo</description>
        <name>Var_InteresExcluidoAux</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacenamos la oportunidad recogida en el último get justo antes del planificador de llamada.</description>
        <name>Var_OportunidadPlanificador</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Oportunidad seleccionada en el subflujo de Intereses</description>
        <name>Var_Opportunity_Selected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Variable que indica si se ha pasado por Set_InteresOportunidadCMCTI</description>
        <name>VAR_OUT_InteresOportunidadCMCTI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable auxiliar para almacenar la planificación de llamada (para hacer asignación manual de la salida de los subflujos)</description>
        <name>Var_PlanificarLlamadaAux</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable auxiliar para almacenar si debe o no volver a la pantalla de intereses</description>
        <name>Var_VolverPantallaInteresesAux</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
