force-app/main/default/flows/On_AG_Campaign_Member_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convertir_Lead</name>
        <label>Convertir Lead</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <actionName>ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Crea_oportunidad_nuevo_cliente</targetReference>
        </connector>
        <inputParameters>
            <name>existingacc</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>existingcon</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña AG de tipo Adicional a una variable</description>
        <name>AssignRecordTypeAdditionalCampaignMemberAGId</name>
        <label>AssignRecordTypeAdditionalCampaignMemberAGId</label>
        <locationX>1639</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeIdAdditionalCampaignMemberAG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña de tipo CTI a una variable</description>
        <name>AssignRecordTypeCTIId</name>
        <label>AssignRecordTypeCTIId</label>
        <locationX>1111</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeCampaignMemberCTIId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña AG de tipo Gestionado</description>
        <name>AssignRecordTypeManagedCampaignMemberAG</name>
        <label>AssignRecordTypeManagedCampaignMemberAG</label>
        <locationX>1903</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeIdCampaignMemberManaged</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña de tipo MKT a una variable</description>
        <name>AssignRecordTypeMKTId</name>
        <label>AssignRecordTypeMKTId</label>
        <locationX>1375</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeCampaignMemberMKTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Asociado_a_un_lead_0</name>
        <label>Asociado a un lead?</label>
        <locationX>2514</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Sin definir</defaultConnectorLabel>
        <rules>
            <name>Lead_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Es_Fraudulento_lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
        <rules>
            <name>Cliente_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Es_Fraudulento_cliente</targetReference>
            </connector>
            <label>Cliente</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si de miembro de campaña adicional está cambiando el campo estado o resultado</description>
        <name>Cambia_el_estado_o_el_resultado</name>
        <label>Cambia el estado o el resultado?</label>
        <locationX>2164</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>Cambia_estado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypes</targetReference>
            </connector>
            <label>Estado</label>
        </rules>
        <rules>
            <name>Cambia_resultado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Result__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Result__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Es_fraudulento</targetReference>
            </connector>
            <label>Resultado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el miembro de campaña CTI tiene oportunidades, miembros de campaña MKT o Miembros de campaña adicionales abiertos para cerrarlo</description>
        <name>CampaignMemberMKTMismoCTIAbiertos</name>
        <label>¿El miembro de campaña CTI tiene otros hijos abiertos?</label>
        <locationX>1865</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Crea_CM_AG_con_RT_gestionado_y_tipo_MKT_cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No se puede cerrar Miembro de Campaña CTI</defaultConnectorLabel>
        <rules>
            <name>CerrarMiembroCampanaCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscoOtrosMiembrosCampanaMKTMiMiembroCampanaCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuscoOtrosMiembrosCampanAdicionalesMiMiembroCampanaCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExisteOtroMiembroCampanaCTIYEresLead</targetReference>
            </connector>
            <label>Se puede cerrar Miembro de campaña CTI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se comprueba si el Campaign Member CTI tiene oportunidades, CM MKT o Miembros de campaña adicionales No Aplazados</description>
        <name>Decision_CMCTIOtrosInteresesNoAplazados</name>
        <label>¿El CM CTI tiene otros intereses No Aplazados?</label>
        <locationX>908</locationX>
        <locationY>1679</locationY>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>CMCTIOtrosInteresesNoAplazados_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OtrosCMMKTNoAplazados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OtrosMCAGAdicionalNoAplazados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMCTI_Aplazado</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>En función del nuevo estado se realizan unas acciones u otras</description>
        <name>Decision_NuevoEstado</name>
        <label>¿Cuál es el Nuevo Estado?</label>
        <locationX>1023</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>GetBackOfficeQueue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Estado No Cualificado</defaultConnectorLabel>
        <rules>
            <name>NuevoEstado_Cualificado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EsLeadCliente</targetReference>
            </connector>
            <label>Estado Cualificado</label>
        </rules>
        <rules>
            <name>NuevoEstado_Aplazado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Postponed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OtrosCMMKTNoAplazados</targetReference>
            </connector>
            <label>Estado Aplazado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se comprueba si existen otros Campaign Member CTI No Aplazados para el mismo Lead/Contacto</description>
        <name>Decision_OtrosCMCTINoAplazados</name>
        <label>¿Hay otros CM CTI No Aplazados?</label>
        <locationX>710</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>OtrosCMCTINoAplazados_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OtroCMCTINoAplazado.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_EstadoAplazado</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_fraudulento</name>
        <label>Es fraudulento?</label>
        <locationX>2778</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_fraudulento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsFraudulent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asociado_a_un_lead_0</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el miembro de campaña está asociado a un Lead o cliente ya que si está asociado a un Lead deberá realizar la conversión del mismo</description>
        <name>EsLeadCliente</name>
        <label>¿Es un Lead o Cliente?</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Crea_oportunidad_cliente_existente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contacto</defaultConnectorLabel>
        <rules>
            <name>EsLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convertir_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el miembro de campaña MKT es cerrado</description>
        <name>EstadoMiembroCampanaMKTCerrado</name>
        <label>El estado del miembro de campaña es cerrado</label>
        <locationX>1656</locationX>
        <locationY>2195</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_cerrado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResultGestionCarteraClient</targetReference>
            </connector>
            <label>Es cerrado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si hay que actualizar el estado del Lead o no</description>
        <name>ExisteOtroMiembroCampanaCTIYEresLead</name>
        <label>¿Existe otro miembro de campaña CTI y eres un Lead?</label>
        <locationX>1656</locationX>
        <locationY>1895</locationY>
        <defaultConnector>
            <targetReference>EstadoMiembroCampanaMKTCerrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No actualizar estado Lead</defaultConnectorLabel>
        <rules>
            <name>ActualizarEstadoLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscOtrosMiembrosCampaCTIAbiertos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusLead</targetReference>
            </connector>
            <label>Hay que actualizar Estado del Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>El Resultado es Gestión en Cartera</description>
        <name>ResultGestionCarteraClient</name>
        <label>El Resultado es Gestión en Cartera</label>
        <locationX>1502</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>ActualizoCMCTIRelacionado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesGestionCarteraClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestión de Cartera</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_Gestion_Cartera_0</targetReference>
            </connector>
            <label>YesGestionCartera</label>
        </rules>
    </decisions>
    <decisions>
        <description>En función del tipo de registro voy guardando los Id en diferentes variables</description>
        <name>WhatRecordTypeIs</name>
        <label>WhatRecordTypeIs</label>
        <locationX>1507</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>AssignRecordTypeManagedCampaignMemberAG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CampaignMemberCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordTypeCTIId</targetReference>
            </connector>
            <label>CampaignMemberCTI</label>
        </rules>
        <rules>
            <name>CampaignMemberMKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordTypeMKTId</targetReference>
            </connector>
            <label>CampaignMemberMKT</label>
        </rules>
        <rules>
            <name>CampaignMemberAGAdditional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordTypeAdditionalCampaignMemberAGId</targetReference>
            </connector>
            <label>CampaignMemberAGAdditional</label>
        </rules>
    </decisions>
    <description>Se encarga de hacer las conversiones a cliente y oportunidad cuando procede, y actualizar el estado del lead también si procede

26/08: Separamos la funcionalidad de Adicionales aplazados para no eliminar el MCAdicional, solo aplazarlos
28/10 MMV: En la conversión, migra las tareas del Lead al Contacto
22/11 ACF:  Se elimina que pueda haber oportunidades abiertas para cerrar un miembro de campaña CTI cuando es Cualificado o No cualificado
23/11 MHG: Se agrega el campo de fecha de creación del interés en la creación de la gestionada
03/07/2023 JCB:  Se añade campo GCLID__c</description>
    <formulas>
        <name>Fechadecierredelaoportunidad</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <formulas>
        <description>Sirve para saber si hay que marcar a true el campo IsFraudulent en lead o cliente</description>
        <name>IsFraudulent</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(TEXT({!$Record.Result__c}) == &quot;No ha solicitado información&quot;, TEXT({!$Record.Result__c}) == &quot;Lead de Prueba (Test)&quot;, TEXT({!$Record.Result__c}) == &quot;Robinson&quot;, TEXT({!$Record.Result__c}) == &quot;No coinciden datos verificacion&quot;, TEXT({!$Record.Result__c})  == &quot;Teléfono erróneo&quot;),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <description>Id del Lead o contacto según a lo que esté enlazado el miembro de campaña</description>
        <name>LeadContactoFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.Contact__c}),{!$Record.Lead__c},{!$Record.Contact__c})</expression>
    </formulas>
    <formulas>
        <name>NombreOportunidad</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Lead__c}),{!$Record.Contact__r.LastName}&amp;&apos;[&apos;&amp;TEXT({!$Record.LineInsurance__c})&amp;&apos;]&apos;,{!$Record.Lead__r.Name}&amp;&apos;[&apos;&amp;TEXT({!$Record.LineInsurance__c})&amp;&apos;]&apos;)</expression>
    </formulas>
    <formulas>
        <description>Estado del Lead según el estado del miembro de campaña MKT</description>
        <name>StatusLeadFormula</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Status__c})=&apos;Postponed&apos;, &apos;Aplazado&apos;, IF(TEXT({!$Record.Status__c})=&apos;Aborted&apos;, &apos;Unqualified&apos;,&apos;No Contactado&apos;))</expression>
    </formulas>
    <interviewLabel>On AG Campaign Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Campaign Member AG Update</label>
    <loops>
        <description>BucleRecordType</description>
        <name>LoopRecordTypes</name>
        <label>LoopRecordTypes</label>
        <locationX>1023</locationX>
        <locationY>539</locationY>
        <collectionReference>GetRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WhatRecordTypeIs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_CMCTIRelacionado</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Crea CM AG con RT gestionado y tipo MKT asociado a cliente</description>
        <name>Crea_CM_AG_con_RT_gestionado_y_tipo_MKT_cliente</name>
        <label>Crea CM AG con RT gestionado y tipo MKT - cliente</label>
        <locationX>1023</locationX>
        <locationY>3071</locationY>
        <connector>
            <targetReference>Elimina_CM_AG_adicional_MKT</targetReference>
        </connector>
        <inputAssignments>
            <field>AgeRange__c</field>
            <value>
                <elementReference>$Record.AgeRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AmountMerchandise__c</field>
            <value>
                <elementReference>$Record.AmountMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>$Record.BirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessLinesContracted__c</field>
            <value>
                <elementReference>$Record.BussinesLineContracted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdGoogleAnalytics__c</field>
            <value>
                <elementReference>$Record.CESSIdGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdPricing__c</field>
            <value>
                <elementReference>$Record.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSScoring__c</field>
            <value>
                <elementReference>$Record.CESSScoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMCreatedDate__c</field>
            <value>
                <elementReference>$Record.CMCreatedDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallIdentifier__c</field>
            <value>
                <elementReference>$Record.CallIdentifier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCTI__c</field>
            <value>
                <elementReference>$Record.CampaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCess__c</field>
            <value>
                <elementReference>$Record.CampaignCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignTypeCESS__c</field>
            <value>
                <elementReference>$Record.CampaignTypeCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampainMemberRelated__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionMerchandise__c</field>
            <value>
                <elementReference>$Record.DescriptionMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailSended__c</field>
            <value>
                <elementReference>$Record.EmailSended__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GCLID__c</field>
            <value>
                <elementReference>$Record.GCLID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDDisplayAdvertisments__c</field>
            <value>
                <elementReference>$Record.IDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>$Record.IdExterno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuranceCompany__c</field>
            <value>
                <elementReference>$Record.InsuranceCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuredRisk__c</field>
            <value>
                <elementReference>$Record.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource__c</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LineInsurance__c</field>
            <value>
                <elementReference>$Record.LineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManagementType__c</field>
            <value>
                <elementReference>$Record.ManagementType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManagementsCess__c</field>
            <value>
                <elementReference>$Record.ManagementsCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManagementsSF__c</field>
            <value>
                <elementReference>$Record.ManagementsSF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchandiseType__c</field>
            <value>
                <elementReference>$Record.MerchandiseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherRiskData__c</field>
            <value>
                <elementReference>$Record.OtherRiskData__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteCode__c</field>
            <value>
                <elementReference>$Record.QuoteCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIskOwnerBirthdate__c</field>
            <value>
                <elementReference>$Record.RIskOwnerBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIdCampaignMemberManaged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceCampaign__c</field>
            <value>
                <elementReference>$Record.ReferenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceSourceCess__c</field>
            <value>
                <elementReference>$Record.ReferenceSourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedCTIAMCMId__c</field>
            <value>
                <elementReference>$Record.CampainMemberRelated__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RenewalDate__c</field>
            <value>
                <elementReference>$Record.RenewalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskAddress__c</field>
            <value>
                <elementReference>$Record.RiskAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskBrand__c</field>
            <value>
                <elementReference>$Record.RiskBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskCategory__c</field>
            <value>
                <elementReference>$Record.RiskCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDescription__c</field>
            <value>
                <elementReference>$Record.RiskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDriverBirthdate__c</field>
            <value>
                <elementReference>$Record.RiskDriverBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDriverLicenseDate__c</field>
            <value>
                <elementReference>$Record.RiskDriverLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskECICard__c</field>
            <value>
                <elementReference>$Record.RiskECICard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskExpirationDate__c</field>
            <value>
                <elementReference>$Record.RiskExpirationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskGender__c</field>
            <value>
                <elementReference>$Record.RiskGender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredBirthdate__c</field>
            <value>
                <elementReference>$Record.RiskInsuredBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredNumber__c</field>
            <value>
                <elementReference>$Record.RiskInsuredNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskLocation__c</field>
            <value>
                <elementReference>$Record.RiskLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskModel__c</field>
            <value>
                <elementReference>$Record.RiskModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOptionCapitalInsured__c</field>
            <value>
                <elementReference>$Record.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOwnerLicenseDate__c</field>
            <value>
                <elementReference>$Record.RiskOwnerLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPolicyHolderBirthdate__c</field>
            <value>
                <elementReference>$Record.RiskPolicyHolderBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPolicyHolderLicenseDate__c</field>
            <value>
                <elementReference>$Record.RiskPolicyHolderLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPostalCode__c</field>
            <value>
                <elementReference>$Record.RiskPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPropertyType__c</field>
            <value>
                <elementReference>$Record.RiskPropertyType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskProvince__c</field>
            <value>
                <elementReference>$Record.RiskProvince__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskSquareMetres__c</field>
            <value>
                <elementReference>$Record.RiskSquareMetres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskTenant__c</field>
            <value>
                <elementReference>$Record.RiskTenant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskVersion__c</field>
            <value>
                <elementReference>$Record.RiskVersion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFCampaign__c</field>
            <value>
                <elementReference>$Record.SFCampaign__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesSlip__c</field>
            <value>
                <elementReference>$Record.SalesSlip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceCess__c</field>
            <value>
                <elementReference>$Record.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceManualRecord__c</field>
            <value>
                <elementReference>$Record.SourceManualRecord__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType__c</field>
            <value>
                <elementReference>$Record.SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceWeb__c</field>
            <value>
                <elementReference>$Record.SourceWeb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WebSource__c</field>
            <value>
                <elementReference>$Record.WebSource__c</elementReference>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordCreates>
    <recordCreates>
        <name>Crea_oportunidad_cliente_existente</name>
        <label>Crea oportunidad cliente existente</label>
        <locationX>314</locationX>
        <locationY>1355</locationY>
        <assignRecordIdToReference>IdOportunidad</assignRecordIdToReference>
        <connector>
            <targetReference>Crea_CM_AG_con_RT_gestionado_y_tipo_MKT_cliente</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_IDDisplayAdvertisments__c</field>
            <value>
                <elementReference>$Record.IDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_IDGoogleAnalytics__c</field>
            <value>
                <elementReference>$Record.CESSIdGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_IdPricing__c</field>
            <value>
                <elementReference>$Record.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_Scoring__c</field>
            <value>
                <elementReference>$Record.CESSScoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTI_Campaign__c</field>
            <value>
                <elementReference>$Record.CampaignCTI2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.SFCampaign__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Fechadecierredelaoportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId__NotFound</field>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>$Record.IdExterno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Referrer__c</field>
            <value>
                <elementReference>$Record.Lead__r.Lead_Referrer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_campaign__c</field>
            <value>
                <elementReference>$Record.ReferenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill__c</field>
            <value>
                <elementReference>$Record.CTISkill__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cualificación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>age_range__c</field>
            <value>
                <elementReference>$Record.AgeRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>call_identifier__c</field>
            <value>
                <elementReference>$Record.CallIdentifier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lead_number__c</field>
            <value>
                <elementReference>$Record.Lead__r.lead_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lead_result__c</field>
            <value>
                <elementReference>$Record.Lead__r.result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>line_insurance__c</field>
            <value>
                <elementReference>$Record.LineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>phone__c</field>
            <value>
                <elementReference>$Record.Lead__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_cess__c</field>
            <value>
                <elementReference>$Record.ReferenceSourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>relatedCTICampaignMemberId__c</field>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>risk_description__c</field>
            <value>
                <elementReference>$Record.RiskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_cess__c</field>
            <value>
                <elementReference>$Record.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_type__c</field>
            <value>
                <elementReference>$Record.SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Crea_oportunidad_nuevo_cliente</name>
        <label>Crea oportunidad nuevo cliente</label>
        <locationX>50</locationX>
        <locationY>1463</locationY>
        <assignRecordIdToReference>IdOportunidad</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Task_to_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Convertir_Lead.accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_IDDisplayAdvertisments__c</field>
            <value>
                <elementReference>$Record.IDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_IDGoogleAnalytics__c</field>
            <value>
                <elementReference>$Record.CESSIdGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_IdPricing__c</field>
            <value>
                <elementReference>$Record.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_Scoring__c</field>
            <value>
                <elementReference>$Record.CESSScoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTI_Campaign__c</field>
            <value>
                <elementReference>$Record.CampaignCTI2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.SFCampaign__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Fechadecierredelaoportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId__NotFound</field>
            <value>
                <elementReference>Convertir_Lead.contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>$Record.IdExterno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Referrer__c</field>
            <value>
                <elementReference>$Record.Lead__r.Lead_Referrer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NombreOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_campaign__c</field>
            <value>
                <elementReference>$Record.ReferenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill__c</field>
            <value>
                <elementReference>$Record.CTISkill__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cualificación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>age_range__c</field>
            <value>
                <elementReference>$Record.AgeRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>call_identifier__c</field>
            <value>
                <elementReference>$Record.CallIdentifier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lead_number__c</field>
            <value>
                <elementReference>$Record.Lead__r.lead_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lead_result__c</field>
            <value>
                <elementReference>$Record.Lead__r.result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>line_insurance__c</field>
            <value>
                <elementReference>$Record.LineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>phone__c</field>
            <value>
                <elementReference>$Record.Lead__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_cess__c</field>
            <value>
                <elementReference>$Record.ReferenceSourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>relatedCTICampaignMemberId__c</field>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>risk_description__c</field>
            <value>
                <elementReference>$Record.RiskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_cess__c</field>
            <value>
                <elementReference>$Record.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_type__c</field>
            <value>
                <elementReference>$Record.SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Create Task Gestion Cartera</description>
        <name>Create_Task_Gestion_Cartera_0</name>
        <label>Create Task Gestion Cartera</label>
        <locationX>1370</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>ActualizoCMCTIRelacionado</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetBackOfficeQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Tarea Gestión de Cartera</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadContactoFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordDeletes>
        <description>Borra el CM AG adicional MKT que disparó este flujo porque ya se ha volcado en el histórico (CM AG Gestionado)</description>
        <name>Elimina_CM_AG_adicional_MKT</name>
        <label>Elimina CM AG adicional MKT</label>
        <locationX>1023</locationX>
        <locationY>3179</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Busco si hay oportunidades abiertas para poder cerrar el miembro de campaña CTI o no</description>
        <name>BuscoOportunidadesAbiertasMiMiembroCampanaCTI</name>
        <label>Busco Oportunidades abiertas Mi Miembro Campaña CTI</label>
        <locationX>1865</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscOtrosMiembrosCampaCTIAbiertos</targetReference>
        </connector>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordLookups>
        <description>Busco si hay más hijos del miembro de campaña CTI de tipo Miembro de campaña Adicional</description>
        <name>BuscoOtrosMiembrosCampanAdicionalesMiMiembroCampanaCTI</name>
        <label>Busco otros Miembros de campaña AG Mi Miembro de campaña CTI</label>
        <locationX>1865</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscoOportunidadesAbiertasMiMiembroCampanaCTI</targetReference>
        </connector>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeIdAdditionalCampaignMemberAG</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AMCM__c</object>
    </recordLookups>
    <recordLookups>
        <description>Busco si hay más hijos del miembro de campaña CTI de tipo Campaign Member</description>
        <name>BuscoOtrosMiembrosCampanaMKTMiMiembroCampanaCTI</name>
        <label>Busco otros Miembros de campaña MKT Mi Miembro de campaña CTI</label>
        <locationX>1865</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscoOtrosMiembrosCampanAdicionalesMiMiembroCampanaCTI</targetReference>
        </connector>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCampaignMemberMKTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Busco si hay otros miembros de campaña CTI Abierto</description>
        <name>BuscOtrosMiembrosCampaCTIAbiertos</name>
        <label>Busco otros Miembros de campaña CTI Abiertos</label>
        <locationX>1865</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CampaignMemberMKTMismoCTIAbiertos</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCampaignMemberCTIId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene el CampaingMember CTI relacionado con el MC Adicional</description>
        <name>Get_CMCTIRelacionado</name>
        <label>Get CM CTI Relacionado</label>
        <locationX>1023</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_NuevoEstado</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedCTIAMCMId__c</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene otras oportunidades abiertas relacionadas con ese CM CTI</description>
        <name>Get_OportunidadesAbiertas</name>
        <label>Get Oportunidades Abiertas</label>
        <locationX>908</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OtroCMCTINoAplazado</targetReference>
        </connector>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordLookups>
        <description>Se obtienen otros CM CTI NO APLAZADOS relacionados con el mismo Lead/Cliente</description>
        <name>Get_OtroCMCTINoAplazado</name>
        <label>Get Otros CM CTI No Aplazados</label>
        <locationX>908</locationX>
        <locationY>1571</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_CMCTIOtrosInteresesNoAplazados</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCampaignMemberCTIId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Se obtienen otros registros de CampaignMember MKT NO APLAZADOS relacionados al mismo CM CTI</description>
        <name>Get_OtrosCMMKTNoAplazados</name>
        <label>Get Otros CMMKT NoAplazados</label>
        <locationX>908</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OtrosMCAGAdicionalNoAplazados</targetReference>
        </connector>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCampaignMemberMKTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Se obtienen otros registros de Miembro de Campaña AG Adicionales NO APLAZADOS relacionados al mismo CM CTI</description>
        <name>Get_OtrosMCAGAdicionalNoAplazados</name>
        <label>Get Otros MCAG Adicional NoAplazados</label>
        <locationX>908</locationX>
        <locationY>1355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OportunidadesAbiertas</targetReference>
        </connector>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeIdAdditionalCampaignMemberAG</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </filters>
        <object>AMCM__c</object>
    </recordLookups>
    <recordLookups>
        <description>Obtengo la cola backoffice al que tengo que asignar la tarea de backoffice</description>
        <name>GetBackOfficeQueue</name>
        <label>GetBackOfficeQueue</label>
        <locationX>1865</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscoOtrosMiembrosCampanaMKTMiMiembroCampanaCTI</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BackOffice</stringValue>
            </value>
        </filters>
        <object>Group</object>
    </recordLookups>
    <recordLookups>
        <description>GuardoRecordTypes</description>
        <name>GetRecordTypes</name>
        <label>GetRecordTypes</label>
        <locationX>1023</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMCM__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Es_Fraudulento_cliente</name>
        <label>Actualiza Es Fraudulento - cliente</label>
        <locationX>2514</locationX>
        <locationY>647</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>isFraudulent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Es_Fraudulento_lead</name>
        <label>Actualiza Es Fraudulento - lead</label>
        <locationX>2250</locationX>
        <locationY>647</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>isFraudulent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizo el CMC CTI Relacionado con el resultado del Miembro de campaña Adicional</description>
        <name>ActualizoCMCTIRelacionado</name>
        <label>Actualizo CM CTI Relacionado</label>
        <locationX>1502</locationX>
        <locationY>2603</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Asigno Miembros Campaña AG al cliente</description>
        <name>Asigno_Miembros_Campa_a_AG_al_cliente</name>
        <label>Asigno Miembros Campaña AG al cliente</label>
        <locationX>50</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Crea_CM_AG_con_RT_gestionado_y_tipo_MKT_cliente</targetReference>
        </connector>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Convertir_Lead.contactId</elementReference>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Se actualiza el CampaignMember CTI para poner el estado a Aplazado</description>
        <name>Update_CMCTI_Aplazado</name>
        <label>Update CM CTI Aplazado</label>
        <locationX>710</locationX>
        <locationY>1787</locationY>
        <connector>
            <targetReference>Decision_OtrosCMCTINoAplazados</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el Lead para establecer el estado como Aplazado</description>
        <name>Update_Lead_EstadoAplazado</name>
        <label>Update Lead Estado Aplazado</label>
        <locationX>578</locationX>
        <locationY>2003</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aplazado</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza las tareas que sigan asignadas al Lead al contacto que se ha creado en la conversión. Esto lo hace de forma estándar, pero a veces ha fallado, por eso se hace aquí, por el doble check</description>
        <name>Update_Task_to_Contact</name>
        <label>Update Task to Contact</label>
        <locationX>50</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Asigno_Miembros_Campa_a_AG_al_cliente</targetReference>
        </connector>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Convertir_Lead.leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Convertir_Lead.contactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizo Estado Lead</description>
        <name>UpdateStatusLead</name>
        <label>Actualizo Estado Lead</label>
        <locationX>1524</locationX>
        <locationY>2003</locationY>
        <connector>
            <targetReference>EstadoMiembroCampanaMKTCerrado</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Lead__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>StatusLeadFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Cambia_el_estado_o_el_resultado</startElementReference>
    <status>Active</status>
    <variables>
        <description>Id Oportunidad creada</description>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Miembro de campaña CTI Gestionado</description>
        <name>MiembroCampanaCTIGestionado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>RecordTypeCampaignMemberCTIId</description>
        <name>RecordTypeCampaignMemberCTIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordTypeCampaignMemberMKTId</description>
        <name>RecordTypeCampaignMemberMKTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordTypeIdAdditionalCampaignMemberAG</description>
        <name>RecordTypeIdAdditionalCampaignMemberAG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordTypeIdCampaignMemberManaged</description>
        <name>RecordTypeIdCampaignMemberManaged</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedCTICMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
