force-app/main/default/flows/On_Campaign_Member_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convertir_Lead</name>
        <label>Convertir Lead</label>
        <locationX>1370</locationX>
        <locationY>2447</locationY>
        <actionName>ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Crea_oportunidad_nuevo_cliente</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>existingacc</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>existingcon</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>createOpportunity</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Agrega el registro a la lista de MKT para enviar el email</description>
        <name>AgregaRegistroLista</name>
        <label>Agrega el registro a la lista</label>
        <locationX>2824</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>MiembrosCampanaMKTEnvioEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflujo_Campaign_Member_Send_Email_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña AG de tipo Adicional a una variable</description>
        <name>AssignRecordTypeAdditionalCampaignMemberAGId</name>
        <label>AssignRecordTypeAdditionalCampaignMemberAGId</label>
        <locationX>2888</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeIdAdditionalCampaignMemberAG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña de tipo CTI a una variable</description>
        <name>AssignRecordTypeCTIId</name>
        <label>AssignRecordTypeCTIId</label>
        <locationX>2360</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeCampaignMemberCTIId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña AG de tipo Gestionado</description>
        <name>AssignRecordTypeManagedCampaignMemberAG</name>
        <label>AssignRecordTypeManagedCampaignMemberAG</label>
        <locationX>3152</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeIdCampaignMemberManaged</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña de tipo MKT a una variable</description>
        <name>AssignRecordTypeMKTId</name>
        <label>AssignRecordTypeMKTId</label>
        <locationX>2624</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeCampaignMemberMKTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setear_error_reglaCTIdesactivada</name>
        <label>setear error regla CTI desactivada</label>
        <locationX>578</locationX>
        <locationY>3779</locationY>
        <assignmentItems>
            <assignToReference>CTIerror</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error envío CTI. Regla CTI desactivada</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_CM_CTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setear_error_sin_telefono</name>
        <label>setear error sin telefono</label>
        <locationX>314</locationX>
        <locationY>3779</locationY>
        <assignmentItems>
            <assignToReference>CTIerror</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Error envío CTI. Registro sin Teléfono</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_CM_CTI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Comprobamos si el miembro de campaña CTI tiene oportunidades, miembros de campaña MKT o Miembros de campaña adicionales abiertos para cerrarlo</description>
        <name>CampaignMemberMKTMismoCTIAbiertos</name>
        <label>¿El miembro de campaña CTI tiene otros hijos abiertos?</label>
        <locationX>3185</locationX>
        <locationY>2987</locationY>
        <defaultConnector>
            <targetReference>CreaCMAGRTGestionadoTipoMKT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No se puede cerrar Miembro de Campaña CTI</defaultConnectorLabel>
        <rules>
            <name>CerrarMiembroCampanaCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscoOtrosMiembrosCampanaMKTMiMiembroCampanaCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuscoOtrosMiembrosCampanAdicionalesMiMiembroCampanaCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ExisteOtroMiembroCampanaCTIYEresLead</targetReference>
            </connector>
            <label>Se puede cerrar Miembro de campaña CTI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Condiciones para el crear el platform event que envía el registro a Genesys:
- El CM tiene RT CTI (comprobado ya en cajas anteriores del flujo)
- Enviar CTI está a true (comprobado anteriormente)
- Tiene el campo Phone o MobilePhone relleno
- Error CTI Campaña desactivada está a false
- El campo Origen registro Manual está vacío
- El Switch para desactivar el envío a CTI está a false</description>
        <name>CondicionesDeEnvio</name>
        <label>¿Se dan las condiciones de envío?</label>
        <locationX>314</locationX>
        <locationY>3563</locationY>
        <defaultConnector>
            <targetReference>Marcado_de_errores</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiCondicionesEnvio</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CTIErrorCampDesactivada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SourceManualRecord__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveEnvioCTI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Crea_platform_event_que_envia_a_Genesys</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el Resultado CTI está contenido en el metadata y el estado es en proceso cambiado el propietario del Lead</description>
        <name>ConGestionCTI</name>
        <label>¿Con Gestión en CTI?</label>
        <locationX>556</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>ResultadoCTIReplanificar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiConGestionCTI</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetOrgAppSettCESSCTICierreGestion.Value__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.ResultCTI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubflujoCampaignMemberConGestionCTI</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>CTI_o_MKT</name>
        <label>CTI o MKT?</label>
        <locationX>2272</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Sin definir</defaultConnectorLabel>
        <rules>
            <name>CTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HaCambiadoNumeroIntentos</targetReference>
            </connector>
            <label>CTI</label>
        </rules>
        <rules>
            <name>Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HaCambiadoResultado</targetReference>
            </connector>
            <label>Marketing</label>
        </rules>
    </decisions>
    <decisions>
        <description>Las condiciones son:
- Result__c = Teléfono Erróneo o No contesta Enviar Email
- EmailSended__c = false
- Lead.Control_CTI_Automatico != null 
-  SourceCESS contiene Cotizacion
- El Lead tiene Email</description>
        <name>CumpleCondicionesEnvioEmail</name>
        <label>¿Cumple condiciones para el envío de Email?</label>
        <locationX>2956</locationX>
        <locationY>1715</locationY>
        <defaultConnector>
            <targetReference>HaCambiadoEstado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiCumpleCondicionesEnvioEmail</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Teléfono Erróneo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Contesta Enviar Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead.Control_CTIAutomatico__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EmailSended__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SourceCess__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>cotizacion</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AgregaRegistroLista</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si cumple los criterios para el cierre: que el número de intentos supere el máximo establecido en el metadata y el resultado es igual al incluido en el metadata</description>
        <name>CumpleCriteriosCierre</name>
        <label>¿Cumple criterios para el cierre?</label>
        <locationX>556</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>HaCambiadoUltimoResultadoCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiCumpleCriteriosCierre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TotalAttempts__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>OrgAppSettMaxIntentosNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Contesta Enviar Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizar_Status_CM_CTI</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>En función del nuevo estado hacemos unas cosas u otras</description>
        <name>Decision_NuevoEstado</name>
        <label>¿Cuál es el Nuevo Estado?</label>
        <locationX>2343</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Obtener_CM_CTI_Relacionado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Cualificado</defaultConnectorLabel>
        <rules>
            <name>NuevoEstado_Cualificado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EsLeadCliente</targetReference>
            </connector>
            <label>Estado Cualificado</label>
        </rules>
        <rules>
            <name>NuevoEstado_Aplazado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Postponed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CMCTIRelacionado</targetReference>
            </connector>
            <label>Estado Aplazado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si NO hay otros Campaign Member CTI para ese Lead actualizamos el estado del Lead a Aplazado</description>
        <name>Decision_OtrosCMCTINoAplazados</name>
        <label>¿Hay otros CM CTI No Aplazados?</label>
        <locationX>2030</locationX>
        <locationY>3095</locationY>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>OtrosCMCTIAbiertos_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OtroCMCTINoAplazado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Aplazado</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el Campaign Member CTI tiene oportunidades, CM MKT o Miembros de campaña adicionales abiertos NO APLAZADOS

Si no tiene actualizamos el CM CTI como aplazado</description>
        <name>Decision_OtrosInteresesMismoCMCTI</name>
        <label>¿El miembro de campaña CTI tiene otros intereses abiertos?</label>
        <locationX>2228</locationX>
        <locationY>2879</locationY>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>OtrosInteresesMismoCMCTI_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OtrosCMMKTNoAplazados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_OtrosMCAGAdicionalNoAplazados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CMCTIAplazado</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Es_fraudulento</name>
        <label>Es fraudulento?</label>
        <locationX>2769</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>CumpleCondicionesEnvioEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_fraudulento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsFraudulent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EstaAsociadoLead</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el miembro de campaña está asociado a un Lead o cliente ya que si está asociado a un Lead deberá realizar la conversión del mismo</description>
        <name>EsLeadCliente</name>
        <label>¿Es un Lead o Cliente?</label>
        <locationX>1502</locationX>
        <locationY>2339</locationY>
        <defaultConnector>
            <targetReference>Crea_oportunidad_cliente_existente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contacto</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convertir_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si esta asociado a un lead</description>
        <name>EstaAsociadoLead</name>
        <label>¿Esta asociado a un lead?</label>
        <locationX>2571</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Actualiza_Es_Fraudulento_cliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, Cliente</defaultConnectorLabel>
        <rules>
            <name>SiAsociadoLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_Es_Fraudulento_lead</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el miembro de campaña MKT es cerrado</description>
        <name>EstadoMiembroCampanaMKTCerrado</name>
        <label>El estado del miembro de campaña es cerrado</label>
        <locationX>2976</locationX>
        <locationY>3395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Es_cerrado</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ResultGestionCarteraClient</targetReference>
            </connector>
            <label>Es cerrado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el estado es No contactado o No cualificado, se cierran intereses</description>
        <name>EstadoNoCualificadooNoContactado</name>
        <label>Estado No cualificado o No contactado</label>
        <locationX>512</locationX>
        <locationY>2963</locationY>
        <defaultConnector>
            <targetReference>UpdateCMMKTNuevoResultado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CierranIntereses</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_PlatformEvent_BorradoCMCTI</targetReference>
            </connector>
            <label>Cierran intereses</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si hay que actualizar el estado del Lead o no</description>
        <name>ExisteOtroMiembroCampanaCTIYEresLead</name>
        <label>¿Existe otro miembro de campaña CTI y eres un Lead?</label>
        <locationX>2976</locationX>
        <locationY>3095</locationY>
        <defaultConnector>
            <targetReference>EstadoMiembroCampanaMKTCerrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No actualizar estado Lead</defaultConnectorLabel>
        <rules>
            <name>ActualizarEstadoLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscOtrosMiembrosCampaCTIAbiertos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusLead</targetReference>
            </connector>
            <label>Hay que actualizar Estado del Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si ha cambiado el estado a Completado</description>
        <name>HaCambiadoEstado</name>
        <label>¿Ha Cambiado el Estado?</label>
        <locationX>2956</locationX>
        <locationY>2123</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiHaCambiadoEstado</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not contacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Postponed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_NuevoEstado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si ha cambiado el campo SystemAttempts__c o el AgentAttempts__c</description>
        <name>HaCambiadoNumeroIntentos</name>
        <label>¿Ha Cambiado el Número de Intentos?</label>
        <locationX>710</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>HaCambiadoUltimoResultadoCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiHaCambiadoNumeroIntentos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SystemAttempts__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SystemAttempts__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AgentAttempts__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.AgentAttempts__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOrgAppSettCESSCTINumeroMaximoIntentos</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si ha cambiado el campo result replicamos el cambio en los registros de MKT y Adicionales relacionados</description>
        <name>HaCambiadoResult</name>
        <label>¿Ha cambiado Result?</label>
        <locationX>710</locationX>
        <locationY>2855</locationY>
        <defaultConnector>
            <targetReference>SeHaMarcadoEnviarCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiHaCambiadoResult</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Result__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EstadoNoCualificadooNoContactado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>HaCambiadoResultado</name>
        <label>¿Ha Cambiado el Resultado?</label>
        <locationX>2956</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>CumpleCondicionesEnvioEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiHaCambiadoResultado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Es_fraudulento</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si ha cambiado el campo ResultCTI__c</description>
        <name>HaCambiadoUltimoResultadoCTI</name>
        <label>¿Ha cambiado el Último Resultado CTI?</label>
        <locationX>710</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>HaCambiadoResult</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiHaCambiadoUltimoResultadoCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResultCTI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ResultCTI__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOrgAppSettCESSCTICierreGestion</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marcado_de_errores</name>
        <label>Marcado de errores</label>
        <locationX>578</locationX>
        <locationY>3671</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ActualizarCMCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Otro</defaultConnectorLabel>
        <rules>
            <name>No_tiene_tel_fono</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setear_error_sin_telefono</targetReference>
            </connector>
            <label>No tiene teléfono</label>
        </rules>
        <rules>
            <name>regla_CTI_desactivada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CTIErrorCampDesactivada__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setear_error_reglaCTIdesactivada</targetReference>
            </connector>
            <label>regla CTI desactivada</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el resultado CTI es Replanificar se cambian los miembros de campaña a Postponed</description>
        <name>ResultadoCTIReplanificar</name>
        <label>¿Resultado CTI es Replanificar?</label>
        <locationX>556</locationX>
        <locationY>2363</locationY>
        <defaultConnector>
            <targetReference>HaCambiadoResult</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiResultadoCTIReplanificar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ResultCTI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replanificar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCMMKTStatusPosponed</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>El Resultado es Gestión en Cartera</description>
        <name>ResultGestionCarteraClient</name>
        <label>El Resultado es Gestión de Cartera</label>
        <locationX>2822</locationX>
        <locationY>3503</locationY>
        <defaultConnector>
            <targetReference>ActualizoCMCTIRelacionado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiGestionCartera</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Result__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestión de Cartera</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha marcado enviar a CTI</description>
        <name>SeHaMarcadoEnviarCTI</name>
        <label>¿Se ha marcado Enviar a CTI?</label>
        <locationX>710</locationX>
        <locationY>3455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiSeHaMarcadoEnviarCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CTISend__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CTISend__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CTISend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CondicionesDeEnvio</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>En función del tipo de registro voy guardando los Id en diferentes variables</description>
        <name>WhatRecordTypeIs</name>
        <label>WhatRecordTypeIs</label>
        <locationX>2756</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>AssignRecordTypeManagedCampaignMemberAG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CampaignMemberCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordTypeCTIId</targetReference>
            </connector>
            <label>CampaignMemberCTI</label>
        </rules>
        <rules>
            <name>CampaignMemberMKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordTypeMKTId</targetReference>
            </connector>
            <label>CampaignMemberMKT</label>
        </rules>
        <rules>
            <name>CampaignMemberAGAdditional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordTypeAdditionalCampaignMemberAGId</targetReference>
            </connector>
            <label>CampaignMemberAGAdditional</label>
        </rules>
    </decisions>
    <description>Si es de marketing, se encarga de hacer las conversiones a cliente y oportunidad cuando procede, y actualizar el estado del lead también si procede. Si es de CTI, comprueba si hay que enviar a CTI, y en caso afirmativo lo hace (creando el correspondiente platform event), y en caso negativo actualiza el CM CTI y el lead con el error correspondiente
09/06/2022 MMV: Cambio para replicar cualquier cambio de resultado de CTI en los MKT y Adicionales
28/06 AC: Reestructuración Flow tras analizar que el flow no funciona en varias ramas relacionado con el cierre de miebros de campaña MKT y CTI.
30/06: Incorporo Subflujo de eliminar Intereses cuando se cierra el miembro de campaña CTI
26/08: Separamos la funcionalidad de MKT aplazados para no eliminar el CM MKT, solo aplazarlos
12/09 MHG: Corrección importante para eliminar el fallo en el borrado de registros de CM CTI (se usan Platform Events ahora)
13/09: si no se envía a CTI porque no cumpla las condiciones se desmarca la casilla de enviar a CTI
03/10 MMV: Se incluye el filtro para que los leads con Origen Registro manual de valor &quot;Referencia&quot; sí se envíen a CTI
28/10 MMV: En la conversión, migra las tareas del Lead al Contacto
22/10 Quito de la ecuación que haya oportunidades abiertas para cerrar un miembro de campaña CTI cuando es Cualificado o No cualificado
22/11 MHG: Se incluye el campo de CreatedDate que se arrastra al Miembro de campaña gestionado
26/04/2023 JCB: Se quita condición CM CTI con Origen R. Manual = Referencia para envío a CTI.
01/06/2023 RNP: Añadimos campo CampaignMemberNumber__c cuando creamos el Miembro de campaña AG
01/06/2023 RNP: Añadimos campo CampaignMemberNumber__c cuando creamos el Miembro de campaña AG V2
03/07/2023 JCB:  Se añade campo GCLID__c
04/10/2023 MSC: Añadimos campo Transference__c cuando creamos el Miembro de campaña AG</description>
    <environments>Default</environments>
    <formulas>
        <name>concatenatedCTIError</name>
        <dataType>String</dataType>
        <expression>{!$Record.ctiError__c}+&apos;*&apos;+{!CTIerror}</expression>
    </formulas>
    <formulas>
        <name>Fechadecierredelaoportunidad</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <formulas>
        <description>Sirve para saber si hay que marcar a true el campo IsFraudulent en lead o cliente</description>
        <name>IsFraudulent</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(TEXT({!$Record.Result__c}) == &quot;No ha solicitado información&quot;, TEXT({!$Record.Result__c}) == &quot;Lead de Prueba (Test)&quot;, TEXT({!$Record.Result__c}) == &quot;Robinson&quot;, TEXT({!$Record.Result__c}) == &quot;No coinciden datos verificacion&quot;, TEXT({!$Record.Result__c})  == &quot;Teléfono erróneo&quot;),TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <description>Id del Lead o contacto según a lo que esté enlazado el miembro de campaña</description>
        <name>LeadContactoFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!$Record.ContactId}),{!$Record.LeadId},{!$Record.ContactId})</expression>
    </formulas>
    <formulas>
        <name>MiembroCampanaCTIFormula</name>
        <dataType>String</dataType>
        <expression>IF({!CerrarMiembroCampanaCTI}=TRUE,{!MiembroCampanaCTIGestionado.Id},{!Obtener_CM_CTI_Relacionado.Id})</expression>
    </formulas>
    <formulas>
        <description>Nombredelaoportunidad</description>
        <name>Nombredelaoportunidad</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.ContactId}),{!$Record.Lead.Name}&amp;&apos;[&apos;&amp;TEXT({!$Record.LineInsurance__c})&amp;&apos;]&apos;,{!$Record.Contact.LastName}&amp;&apos;[&apos;&amp;TEXT({!$Record.LineInsurance__c})&amp;&apos;]&apos;)</expression>
    </formulas>
    <formulas>
        <description>ORG_ApplicationSettings.CESS - CTI - Numero maximo de intentos pero convertido en número para poder comparar</description>
        <name>OrgAppSettMaxIntentosNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!GetOrgAppSettCESSCTINumeroMaximoIntentos.Value__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Estado del Lead según el estado del miembro de campaña MKT</description>
        <name>StatusLeadFormula</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Status})=&apos;Postponed&apos;, &apos;Aplazado&apos;, IF(TEXT({!$Record.Status})=&apos;Aborted&apos;, &apos;Unqualified&apos;,&apos;No Contactado&apos;))</expression>
    </formulas>
    <interviewLabel>On Campaign Member Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Campaign Member Update</label>
    <loops>
        <description>BucleRecordType</description>
        <name>LoopRecordTypes</name>
        <label>LoopRecordTypes</label>
        <locationX>2272</locationX>
        <locationY>431</locationY>
        <collectionReference>GetRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WhatRecordTypeIs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CTI_o_MKT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crea_oportunidad_cliente_existente</name>
        <label>Crea oportunidad cliente existente</label>
        <locationX>1634</locationX>
        <locationY>2447</locationY>
        <assignRecordIdToReference>IdOportunidad</assignRecordIdToReference>
        <connector>
            <targetReference>CreaCMAGRTGestionadoTipoMKT</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_IDDisplayAdvertisments__c</field>
            <value>
                <elementReference>$Record.IDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_IDGoogleAnalytics__c</field>
            <value>
                <elementReference>$Record.CESSIdGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_IdPricing__c</field>
            <value>
                <elementReference>$Record.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_Scoring__c</field>
            <value>
                <elementReference>$Record.CESSScoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTI_Campaign__c</field>
            <value>
                <elementReference>$Record.CampaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Fechadecierredelaoportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>$Record.IdExterno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Referrer__c</field>
            <value>
                <elementReference>$Record.Lead.Lead_Referrer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nombredelaoportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_campaign__c</field>
            <value>
                <elementReference>$Record.ReferenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill__c</field>
            <value>
                <elementReference>$Record.CTISkill__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cualificación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>age_range__c</field>
            <value>
                <elementReference>$Record.AgeRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>call_identifier__c</field>
            <value>
                <elementReference>$Record.CallIdentifier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lead_number__c</field>
            <value>
                <elementReference>$Record.Lead.lead_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lead_result__c</field>
            <value>
                <elementReference>$Record.Lead.result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>line_insurance__c</field>
            <value>
                <elementReference>$Record.LineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_cess__c</field>
            <value>
                <elementReference>$Record.ReferenceSourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>relatedCTICampaignMemberId__c</field>
            <value>
                <elementReference>$Record.RelatedCTICampaignMemberId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>risk_description__c</field>
            <value>
                <elementReference>$Record.RiskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_cess__c</field>
            <value>
                <elementReference>$Record.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_type__c</field>
            <value>
                <elementReference>$Record.SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Crea_oportunidad_nuevo_cliente</name>
        <label>Crea oportunidad nuevo cliente</label>
        <locationX>1370</locationX>
        <locationY>2555</locationY>
        <assignRecordIdToReference>IdOportunidad</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Task_to_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Convertir_Lead.accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_IDDisplayAdvertisments__c</field>
            <value>
                <elementReference>$Record.IDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_IDGoogleAnalytics__c</field>
            <value>
                <elementReference>$Record.CESSIdGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_IdPricing__c</field>
            <value>
                <elementReference>$Record.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_Scoring__c</field>
            <value>
                <elementReference>$Record.CESSScoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTI_Campaign__c</field>
            <value>
                <elementReference>$Record.CampaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Fechadecierredelaoportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Convertir_Lead.contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>$Record.IdExterno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Referrer__c</field>
            <value>
                <elementReference>$Record.Lead.Lead_Referrer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Nombredelaoportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_campaign__c</field>
            <value>
                <elementReference>$Record.ReferenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill__c</field>
            <value>
                <elementReference>$Record.CTISkill__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cualificación</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>age_range__c</field>
            <value>
                <elementReference>$Record.AgeRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>call_identifier__c</field>
            <value>
                <elementReference>$Record.CallIdentifier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lead_number__c</field>
            <value>
                <elementReference>$Record.Lead.lead_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lead_result__c</field>
            <value>
                <elementReference>$Record.Lead.result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>line_insurance__c</field>
            <value>
                <elementReference>$Record.LineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>phone__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesource_cess__c</field>
            <value>
                <elementReference>$Record.ReferenceSourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>relatedCTICampaignMemberId__c</field>
            <value>
                <elementReference>$Record.RelatedCTICampaignMemberId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>risk_description__c</field>
            <value>
                <elementReference>$Record.RiskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_cess__c</field>
            <value>
                <elementReference>$Record.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_type__c</field>
            <value>
                <elementReference>$Record.SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Esta clase invocada ha de ser capaz de distinguir si lo que hay que hacer es un insert (si sentCti=false) o un update (si sentCti=true) en Genesys</description>
        <name>Crea_platform_event_que_envia_a_Genesys</name>
        <label>Crea platform event que envía a Genesys</label>
        <locationX>50</locationX>
        <locationY>3671</locationY>
        <connector>
            <targetReference>ActualizarCMCTI</targetReference>
        </connector>
        <inputAssignments>
            <field>Handler__c</field>
            <value>
                <stringValue>CESS_InsertCTIIntegrationHandler</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>System__c</field>
            <value>
                <stringValue>CESS-CTI</stringValue>
            </value>
        </inputAssignments>
        <object>CESS_Integration_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crea CM AG con RT gestionado y tipo MKT</description>
        <name>CreaCMAGRTGestionadoTipoMKT</name>
        <label>Crea CM AG con RT gestionado y tipo MKT</label>
        <locationX>2343</locationX>
        <locationY>4271</locationY>
        <connector>
            <targetReference>EliminaCMMKT</targetReference>
        </connector>
        <inputAssignments>
            <field>AgeRange__c</field>
            <value>
                <elementReference>$Record.AgeRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AmountMerchandise__c</field>
            <value>
                <elementReference>$Record.AmountMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>$Record.BirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessLinesContracted__c</field>
            <value>
                <elementReference>$Record.BusinessLineContracted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdGoogleAnalytics__c</field>
            <value>
                <elementReference>$Record.CESSIdGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdPricing__c</field>
            <value>
                <elementReference>$Record.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSScoring__c</field>
            <value>
                <elementReference>$Record.CESSScoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMCreatedDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallIdentifier__c</field>
            <value>
                <elementReference>$Record.CallIdentifier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCTI__c</field>
            <value>
                <elementReference>$Record.CampaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCess__c</field>
            <value>
                <elementReference>$Record.CampaignCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignMemberNumber__c</field>
            <value>
                <elementReference>$Record.CampaignMemberNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignTypeCESS__c</field>
            <value>
                <elementReference>$Record.CampaingTypeCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampainMemberRelated__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionMerchandise__c</field>
            <value>
                <elementReference>$Record.DescriptionMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailSended__c</field>
            <value>
                <elementReference>$Record.EmailSended__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GCLID__c</field>
            <value>
                <elementReference>$Record.GCLID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDDisplayAdvertisments__c</field>
            <value>
                <elementReference>$Record.IDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>$Record.IdExterno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuranceCompany__c</field>
            <value>
                <elementReference>$Record.InsuranceCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuredRisk__c</field>
            <value>
                <elementReference>$Record.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource__c</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LineInsurance__c</field>
            <value>
                <elementReference>$Record.LineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManagementType__c</field>
            <value>
                <elementReference>$Record.ManagementType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManagementsCess__c</field>
            <value>
                <elementReference>$Record.ManagementsCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManagementsSF__c</field>
            <value>
                <elementReference>$Record.ManagementsSF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchandiseType__c</field>
            <value>
                <elementReference>$Record.MerchandiseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>IdOportunidad</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherRiskData__c</field>
            <value>
                <elementReference>$Record.OtherRiskData__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteCode__c</field>
            <value>
                <elementReference>$Record.QuoteCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIskOwnerBirthdate__c</field>
            <value>
                <elementReference>$Record.RIskOwnerBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIdCampaignMemberManaged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceCampaign__c</field>
            <value>
                <elementReference>$Record.ReferenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceSourceCess__c</field>
            <value>
                <elementReference>$Record.ReferenceSourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedCTIAMCMId__c</field>
            <value>
                <elementReference>$Record.RelatedCTICampaignMemberId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RenewalDate__c</field>
            <value>
                <elementReference>$Record.RenewalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskAddress__c</field>
            <value>
                <elementReference>$Record.RiskAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskBrand__c</field>
            <value>
                <elementReference>$Record.RiskBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskCategory__c</field>
            <value>
                <elementReference>$Record.RiskCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDescription__c</field>
            <value>
                <elementReference>$Record.RiskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDriverBirthdate__c</field>
            <value>
                <elementReference>$Record.RiskDriverBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDriverLicenseDate__c</field>
            <value>
                <elementReference>$Record.RiskDriverLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskECICard__c</field>
            <value>
                <elementReference>$Record.RiskECICard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskExpirationDate__c</field>
            <value>
                <elementReference>$Record.RiskExpirationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskGender__c</field>
            <value>
                <elementReference>$Record.RiskGender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredBirthdate__c</field>
            <value>
                <elementReference>$Record.RiskInsuredBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredNumber__c</field>
            <value>
                <elementReference>$Record.RiskInsuredNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskLocation__c</field>
            <value>
                <elementReference>$Record.RiskLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskModel__c</field>
            <value>
                <elementReference>$Record.RiskModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOptionCapitalInsured__c</field>
            <value>
                <elementReference>$Record.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOwnerLicenseDate__c</field>
            <value>
                <elementReference>$Record.RiskOwnerLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPolicyHolderBirthdate__c</field>
            <value>
                <elementReference>$Record.RiskPolicyHolderBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPolicyHolderLicenseDate__c</field>
            <value>
                <elementReference>$Record.RiskPolicyHolderLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPostalCode__c</field>
            <value>
                <elementReference>$Record.RiskPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPropertyType__c</field>
            <value>
                <elementReference>$Record.RiskPropertyType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskProvince__c</field>
            <value>
                <elementReference>$Record.RiskProvince__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskSquareMetres__c</field>
            <value>
                <elementReference>$Record.RiskSquareMetres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskTenant__c</field>
            <value>
                <elementReference>$Record.RiskTenant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskVersion__c</field>
            <value>
                <elementReference>$Record.RiskVersion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFCampaign__c</field>
            <value>
                <elementReference>$Record.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesSlip__c</field>
            <value>
                <elementReference>$Record.SalesSlip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceCess__c</field>
            <value>
                <elementReference>$Record.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceManualRecord__c</field>
            <value>
                <elementReference>$Record.SourceManualRecord__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType__c</field>
            <value>
                <elementReference>$Record.SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceWeb__c</field>
            <value>
                <elementReference>$Record.SourceWeb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transference__c</field>
            <value>
                <elementReference>$Record.Transference__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WebSource__c</field>
            <value>
                <elementReference>$Record.WebSource__c</elementReference>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crea el registro de Platform Event que borrará asíncronamente este registro e historificará los CM MKT relacionados</description>
        <name>Create_PlatformEvent_BorradoCMCTI</name>
        <label>Create_PlatformEvent_BorradoCMCTI</label>
        <locationX>424</locationX>
        <locationY>1463</locationY>
        <inputAssignments>
            <field>BorrarCMCTI__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdCMCTI__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <object>CMCTIDeleteEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task Gestion Cartera</label>
        <locationX>2690</locationX>
        <locationY>3611</locationY>
        <connector>
            <targetReference>ActualizoCMCTIRelacionado</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetBackOfficeQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Tarea Gestión de Cartera</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>LeadContactoFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>Borra el CM MKT que disparó este flujo porque ya se ha volcado en el histórico (CM AG Gestionado)</description>
        <name>EliminaCMMKT</name>
        <label>Elimina CM MKT</label>
        <locationX>2343</locationX>
        <locationY>4379</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Busco si hay oportunidades abiertas para poder cerrar el miembro de campaña CTI o no</description>
        <name>BuscoOportunidadesAbiertasMiMiembroCampanaCTI</name>
        <label>Busco Oportunidades abiertas Mi Miembro Campaña CTI</label>
        <locationX>3185</locationX>
        <locationY>2663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscOtrosMiembrosCampaCTIAbiertos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_CM_CTI_Relacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busco si hay más hijos del miembro de campaña CTI de tipo Miembro de campaña Adicional</description>
        <name>BuscoOtrosMiembrosCampanAdicionalesMiMiembroCampanaCTI</name>
        <label>Busco otros Miembros de campaña AG Mi Miembro de campaña CTI</label>
        <locationX>3185</locationX>
        <locationY>2555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscoOportunidadesAbiertasMiMiembroCampanaCTI</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND ((4 AND 5) OR (6 AND 7))</filterLogic>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_CM_CTI_Relacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeIdAdditionalCampaignMemberAG</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AMCM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busco si hay más hijos del miembro de campaña CTI de tipo Campaign Member</description>
        <name>BuscoOtrosMiembrosCampanaMKTMiMiembroCampanaCTI</name>
        <label>Busco otros Miembros de campaña MKT Mi Miembro de campaña CTI</label>
        <locationX>3185</locationX>
        <locationY>2447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscoOtrosMiembrosCampanAdicionalesMiMiembroCampanaCTI</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND ((5 AND 7) OR (6 AND 8))</filterLogic>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_CM_CTI_Relacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCampaignMemberMKTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busco si hay oto miembros de campaña CTI Abierto</description>
        <name>BuscOtrosMiembrosCampaCTIAbiertos</name>
        <label>Busco otros Miembros de campaña CTI Abiertos</label>
        <locationX>3185</locationX>
        <locationY>2771</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBackOfficeQueue</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ((3 AND 5) OR (4 AND 6))</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCampaignMemberCTIId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Obtener_CM_CTI_Relacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el CM CTI relacionado con el CM MKT</description>
        <name>Get_CMCTIRelacionado</name>
        <label>Get CM CTI Relacionado</label>
        <locationX>2228</locationX>
        <locationY>2339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OtrosCMMKTNoAplazados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedCTICampaignMemberId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busco si hay oportunidades abiertas en el CM CTI</description>
        <name>Get_OportunidadesAbiertas</name>
        <label>Get Oportunidades abiertas</label>
        <locationX>2228</locationX>
        <locationY>2663</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OtroCMCTINoAplazado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busco si hay otro campaign member CTI No aplazado</description>
        <name>Get_OtroCMCTINoAplazado</name>
        <label>Get Otro CM CTI del Lead/Contact No Aplazado</label>
        <locationX>2228</locationX>
        <locationY>2771</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_OtrosInteresesMismoCMCTI</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ((3 AND 5) OR (4 AND 6)) AND 7</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCampaignMemberCTIId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busco si hay más Campaign member de MKT sin aplazar</description>
        <name>Get_OtrosCMMKTNoAplazados</name>
        <label>Get Otros CM MKT NoAplazados</label>
        <locationX>2228</locationX>
        <locationY>2447</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OtrosMCAGAdicionalNoAplazados</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND ((5 AND 7) OR (6 AND 8)) AND 9</filterLogic>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCampaignMemberMKTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Buenos Miembros de campañas Adicionales No aplazados</description>
        <name>Get_OtrosMCAGAdicionalNoAplazados</name>
        <label>Get otros MCAG Adicional NoAplazados</label>
        <locationX>2228</locationX>
        <locationY>2555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OportunidadesAbiertas</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND ((4 AND 5) OR (6 AND 7)) AND 8</filterLogic>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeIdAdditionalCampaignMemberAG</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AMCM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtengo la cola backoffice al que tengo que asignar la tarea de backoffice</description>
        <name>GetBackOfficeQueue</name>
        <label>GetBackOfficeQueue</label>
        <locationX>3185</locationX>
        <locationY>2879</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CampaignMemberMKTMismoCTIAbiertos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BackOffice</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el valor del registro CESS - CTI - Cierre Gestion del metadata ORG_Application Settings</description>
        <name>GetOrgAppSettCESSCTICierreGestion</name>
        <label>Get OrgAppSett CESS - CTI - Cierre Gestion</label>
        <locationX>556</locationX>
        <locationY>1955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ConGestionCTI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CESS - CTI - Cierre Gestion</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ORG_ApplicationSettings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el valor del registro CESS - CTI - Numero maximo de intentos del metadata ORG_Application Settings</description>
        <name>GetOrgAppSettCESSCTINumeroMaximoIntentos</name>
        <label>Get OrgAppSett CESS - CTI - Numero maximo de intentos</label>
        <locationX>556</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CumpleCriteriosCierre</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TotalAtempts</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ORG_ApplicationSettings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>GuardoRecordTypes</description>
        <name>GetRecordTypes</name>
        <label>GetRecordTypes</label>
        <locationX>2272</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMCM__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_CM_CTI_Relacionado</name>
        <label>Obtener CM CTI Relacionado</label>
        <locationX>3185</locationX>
        <locationY>2339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscoOtrosMiembrosCampanaMKTMiMiembroCampanaCTI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedCTICampaignMemberId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_Es_Fraudulento_cliente</name>
        <label>Actualiza Es Fraudulento - cliente</label>
        <locationX>2703</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>CumpleCondicionesEnvioEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>isFraudulent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_Es_Fraudulento_lead</name>
        <label>Actualiza Es Fraudulento - lead</label>
        <locationX>2439</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>CumpleCondicionesEnvioEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>isFraudulent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_CM_CTI</name>
        <label>Actualizar CM CTI</label>
        <locationX>578</locationX>
        <locationY>3971</locationY>
        <connector>
            <targetReference>Actualizar_lead</targetReference>
        </connector>
        <inputAssignments>
            <field>CTIError__c</field>
            <value>
                <elementReference>concatenatedCTIError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTISend__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTISent__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizar_lead</name>
        <label>Actualizar lead</label>
        <locationX>578</locationX>
        <locationY>4079</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>crl_ok__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Se actualiza el status de CM CTI</description>
        <name>Actualizar_Status_CM_CTI</name>
        <label>Actualizar Status CM CTI</label>
        <locationX>424</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Create_PlatformEvent_BorradoCMCTI</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not contacted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el SendCTI a False</description>
        <name>ActualizarCMCTI</name>
        <label>Actualizar CM CTI</label>
        <locationX>50</locationX>
        <locationY>3779</locationY>
        <inputAssignments>
            <field>CTISend__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizo el CMC CTI Relacionado con el resultado del Miembro de campaña MKT</description>
        <name>ActualizoCMCTIRelacionado</name>
        <label>Actualizo CM CTI Relacionado</label>
        <locationX>2822</locationX>
        <locationY>3803</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtener_CM_CTI_Relacionado.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Asigno Miembros Campaña AG al cliente</description>
        <name>Asigno_Miembros_Campa_a_AG_al_cliente</name>
        <label>Asigno Miembros Campaña AG al cliente</label>
        <locationX>1370</locationX>
        <locationY>2771</locationY>
        <connector>
            <targetReference>CreaCMAGRTGestionadoTipoMKT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Convertir_Lead.contactId</elementReference>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizo el CMC CTI Relacionado con el status aplazado</description>
        <name>Update_CMCTIAplazado</name>
        <label>Actualizo CM CTI Aplazado</label>
        <locationX>2030</locationX>
        <locationY>2987</locationY>
        <connector>
            <targetReference>Decision_OtrosCMCTINoAplazados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CMCTIRelacionado.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizo el estado del Lead a Aplazado</description>
        <name>Update_Lead_Aplazado</name>
        <label>Actualizo Lead Aplazado</label>
        <locationX>1898</locationX>
        <locationY>3203</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aplazado</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza las tareas que sigan asignadas al Lead al contacto que se ha creado en la conversión. Esto lo hace de forma estándar, pero a veces ha fallado, por eso se hace aquí, por el doble check</description>
        <name>Update_Task_to_Contact</name>
        <label>Update Task to Contact</label>
        <locationX>1370</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Asigno_Miembros_Campa_a_AG_al_cliente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Convertir_Lead.leadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Convertir_Lead.contactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Resultado Miembros Campaña Adicionales que estén abiertos al nuevo valor</description>
        <name>UpdateCMAdditionalNuevoResultado</name>
        <label>Update CM Additional nuevo Resultado</label>
        <locationX>644</locationX>
        <locationY>3179</locationY>
        <connector>
            <targetReference>SeHaMarcadoEnviarCTI</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Estado Miembros Campaña Adicionales  a Postponed</description>
        <name>UpdateCMAdditionalStatusPostponed</name>
        <label>Update CM Additional Status Postponed</label>
        <locationX>424</locationX>
        <locationY>2579</locationY>
        <connector>
            <targetReference>HaCambiadoResult</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos Resultado Miembros Campaña MKT al nuevo valor</description>
        <name>UpdateCMMKTNuevoResultado</name>
        <label>Update CM MKT nuuevo Resultado</label>
        <locationX>644</locationX>
        <locationY>3071</locationY>
        <connector>
            <targetReference>UpdateCMAdditionalNuevoResultado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos estado a Aplazado</description>
        <name>UpdateCMMKTStatusPosponed</name>
        <label>Update CM MKT Status Posponed</label>
        <locationX>424</locationX>
        <locationY>2471</locationY>
        <connector>
            <targetReference>UpdateCMAdditionalStatusPostponed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizo Estado Lead</description>
        <name>UpdateStatusLead</name>
        <label>Actualizo Estado Lead</label>
        <locationX>2844</locationX>
        <locationY>3203</locationY>
        <connector>
            <targetReference>EstadoMiembroCampanaMKTCerrado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>StatusLeadFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>2146</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordTypes</targetReference>
        </connector>
        <object>CampaignMember</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Subflujo - Campaign Member Send Email</description>
        <name>Subflujo_Campaign_Member_Send_Email_0</name>
        <label>Subflujo - Campaign Member Send Email</label>
        <locationX>2824</locationX>
        <locationY>1931</locationY>
        <connector>
            <targetReference>HaCambiadoEstado</targetReference>
        </connector>
        <flowName>Subflujo_Campaign_Member_Send_Email</flowName>
        <inputAssignments>
            <name>MiembrosCampanaMKTEnvioEmail</name>
            <value>
                <elementReference>MiembrosCampanaMKTEnvioEmail</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invoca al subflujo para actualizar el propietario del lead al usuario de creación</description>
        <name>SubflujoCampaignMemberConGestionCTI</name>
        <label>Subflujo- Campaign Member Con Gestión CTI</label>
        <locationX>424</locationX>
        <locationY>2171</locationY>
        <connector>
            <targetReference>ResultadoCTIReplanificar</targetReference>
        </connector>
        <flowName>Subflujo_Campaign_Member_Con_Gestion_CTI</flowName>
        <inputAssignments>
            <name>CampaignMemberRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CTIerror</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id Oportunidad creada</description>
        <name>IdOportunidad</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Miembro de campaña CTI Gestionado</description>
        <name>MiembroCampanaCTIGestionado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>Miembros de campaña adicionales a los que se va a enviar un correo</description>
        <name>MiembrosCampanaAdicionalesEnvioEmail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>Contiene los miembros de campaña MKT que hay que enviar un Email</description>
        <name>MiembrosCampanaMKTEnvioEmail</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Id del tipo de registro de miembro de campaña CTI</description>
        <name>RecordTypeCampaignMemberCTIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del tipo de registro de miembro de campaña MKT</description>
        <name>RecordTypeCampaignMemberMKTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del tipo de registro de miembro de campaña AG de tipo Adicional</description>
        <name>RecordTypeIdAdditionalCampaignMemberAG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del tipo de registro de miembro de campaña AG de tipo Gestionado</description>
        <name>RecordTypeIdCampaignMemberManaged</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedCTICMId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Valor del resultado que se envia al subflujo Subflujo - Campaign Member Update CTI No contacto</description>
        <name>ResultVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Valor del metadato CESS_CTI_Resultado_Ocupado</description>
        <name>ValueCESS_CTI_Resultado_Ocupado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Replanificar</description>
        <name>ValueCESS_CTI_Resultado_Planificada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Valores #No Contesta#Contestador#No contesta/contestador#</description>
        <name>ValueCESS_CTI_Resultados_No_Contacto</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>#Telefono Erroneo#Contactado no util#</description>
        <name>ValueCESS_CTI_Telefono_Erroneo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable de estado que envío al Subflujo - Campaign Member Update CTI No contacto</description>
        <name>VariableStatusCampaignMember</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
