force-app/main/default/flows/On_Lead_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Asignacion_CM_CTI</name>
        <label>Asignación CM CTI</label>
        <locationX>138</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>CM_CTIs_a_actualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CM_CTI_bucle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CM_CTI_bucle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_unitaria_CM_CTI</name>
        <label>Asignación unitaria CM CTI</label>
        <locationX>138</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>CM_CTI_bucle.CTISend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_CM_CTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña de tipo CTI a una variable</description>
        <name>AsignoRecordTypeCTIId</name>
        <label>Assign RecordType CTI Id</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeCampaignMemberCTIId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña de tipo Adicional a una variable</description>
        <name>AssignRecordTypeAdditionalCampaignMemberAGId</name>
        <label>Assign RecordType AdditionalId</label>
        <locationX>798</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeIdAdditionalCampaignMemberAG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña AG de tipo Gestionado</description>
        <name>AssignRecordTypeManagedCampaignMemberAG</name>
        <label>Assign RecordType Managed</label>
        <locationX>1062</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeIdCampaignMemberManaged</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña de tipo MKT a una variable</description>
        <name>AssignRecordTypeMKTId</name>
        <label>Assign RecordType MKT Id</label>
        <locationX>534</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeCampaignMemberMKTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Incrementamos en un segundo la fecha y hora planificada para que se lance la actualización en CTI</description>
        <name>Set_IncrementaFechaHoraPlanificada</name>
        <label>Set Incrementa Fecha/Hora Planificada</label>
        <locationX>138</locationX>
        <locationY>2759</locationY>
        <assignmentItems>
            <assignToReference>Loop_Tareas.CESS_Fecha_Planificada__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_FechaHoraPlanificadaIncrementada</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Task_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Tareas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tareas</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Si se ha cambiado el campo Phone o MobilePhone se envia el campo a CTI para las tareas planificadas</description>
        <name>Decision_HaCambiadoAlgunTelefono</name>
        <label>¿Ha cambiado algún Teléfono?</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>HaCambiadoElPropietarioNiCreatedNiUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HaCambiadoAlgunTelefono_Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CMCTIs_Lead_CambioTlf</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comrpueba el switch en el Custom Setting (SwitchesConfiguration__c) para automatizaciones de Lead (DesactiveFlowLead__c) y no realiza ninguna acción si el switch está activo</description>
        <name>Decision_Switches</name>
        <label>Decision_Switches</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Switches_Activo</defaultConnectorLabel>
        <rules>
            <name>Switches_Inactivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveFlowLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRecordTypes</targetReference>
            </connector>
            <label>Switches_Inactivo</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si ha cambiado el propietario y no es ni el usuario que lo ha cambiado ni el creador hay que llamada al subflujo para crear una notificación de chatter</description>
        <name>HaCambiadoElPropietarioNiCreatedNiUser</name>
        <label>¿Ha cambiado el propietario y no es es creador ni el propio usuario?</label>
        <locationX>182</locationX>
        <locationY>3191</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubflujoLeadUpdateOwnerChangedChatter</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Cambia el la casilla del Lead a en Progreso</description>
        <name>IschangedToInProgres</name>
        <label>IschangedToInProgres</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Decision_HaCambiadoAlgunTelefono</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>En_progreso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inprogress_cti__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.inprogress_cti__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CMCTIs_Lead</targetReference>
            </connector>
            <label>En progreso</label>
        </rules>
    </decisions>
    <decisions>
        <description>En función del tipo de registro voy guardando los Id en diferentes variables</description>
        <name>WhatRecordTypeIs</name>
        <label>WhatRecordTypeIs</label>
        <locationX>666</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>AssignRecordTypeManagedCampaignMemberAG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Miembro de Campaña AG Managed</defaultConnectorLabel>
        <rules>
            <name>CampaignMemberCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignoRecordTypeCTIId</targetReference>
            </connector>
            <label>Campaign Member CTI</label>
        </rules>
        <rules>
            <name>CampaignMemberMKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordTypeMKTId</targetReference>
            </connector>
            <label>Campaign Member MKT</label>
        </rules>
        <rules>
            <name>CampaignMemberAGAdditional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordTypeAdditionalCampaignMemberAGId</targetReference>
            </connector>
            <label>Miembro de campaña AG Additional</label>
        </rules>
    </decisions>
    <description>Si se cambia alguno de los campos del lead que van a CM CTI,  se marca sendCTI = true para forzar el reenvío a Genesys
Si se marca el check en proceso, todos los miembros de campaña cti, adicionales y marketing se actualizan a En proceso

28/09 MMV: Cuando se modifican los datos del lead se actualiza en un segundo la fecha planificada para que los cambios se reflejen en los registros de llamadas planificadas de CTI
24/11 MMV: Elimina la actualización de CTISend__c en CM CTI si hay cambio de datos en Lead. Las tareas planificadas si se envían con el cambio (solo cambio de teléfonos)
30/11 MMV: Cambio para evitar Queries innecesarias</description>
    <formulas>
        <description>Formula para incrementar en un segundo la fecha/hora planificada de la tarea</description>
        <name>For_FechaHoraPlanificadaIncrementada</name>
        <dataType>DateTime</dataType>
        <expression>{!Loop_Tareas.CESS_Fecha_Planificada__c} + 0.000011</expression>
    </formulas>
    <interviewLabel>On Lead Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Lead After Update</label>
    <loops>
        <name>CM_CTI_bucle</name>
        <label>CM CTI - Bucle</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <collectionReference>CM_CTIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignacion_unitaria_CM_CTI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_TareasPlanificadasFuturas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos las tareas encontradas para sumar 1 segundo en su fecha y hora planificada</description>
        <name>Loop_Tareas</name>
        <label>Loop Tareas</label>
        <locationX>50</locationX>
        <locationY>2639</locationY>
        <collectionReference>Get_TareasPlanificadasFuturas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_IncrementaFechaHoraPlanificada</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_ScheduledTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Bucle RecordTypes para guardar cada uno de los que interese en una variable</description>
        <name>LoopRecordTypes</name>
        <label>Loop RecordTypes</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>GetRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WhatRecordTypeIs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>IschangedToInProgres</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Guardo los miembros de campaña de tipo CTI en una variable de collección</description>
        <name>Get_CMCTIs_Lead</name>
        <label>Get CM CTIs del Lead</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CMMKT_Lead</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCampaignMemberCTIId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>CM_CTIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LeadId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>SourceCess__c</queriedFields>
        <queriedFields>SourceType__c</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>CampaignCess__c</queriedFields>
        <queriedFields>BusinessLineContracted__c</queriedFields>
        <queriedFields>BussinesLineProhibited__c</queriedFields>
        <queriedFields>CampaignCTI__c</queriedFields>
        <queriedFields>CTIOrder__c</queriedFields>
        <queriedFields>CTISkill__c</queriedFields>
        <queriedFields>ClientOrLeadNumber__c</queriedFields>
        <queriedFields>LineInsurance__c</queriedFields>
        <queriedFields>SFURLPop__c</queriedFields>
        <queriedFields>RiskPostalCode__c</queriedFields>
        <queriedFields>CTISend__c</queriedFields>
        <queriedFields>CTISent__c</queriedFields>
        <queriedFields>ManagementsCess__c</queriedFields>
        <queriedFields>ManagementsSF__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Guardo los miembros de campaña de tipo CTI en una variable de collección</description>
        <name>Get_CMCTIs_Lead_CambioTlf</name>
        <label>Get CM CTIs del Lead Cambio Tlf</label>
        <locationX>50</locationX>
        <locationY>1943</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CM_CTI_bucle</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCampaignMemberCTIId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>CM_CTIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LeadId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>SourceCess__c</queriedFields>
        <queriedFields>SourceType__c</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>CampaignCess__c</queriedFields>
        <queriedFields>BusinessLineContracted__c</queriedFields>
        <queriedFields>BussinesLineProhibited__c</queriedFields>
        <queriedFields>CampaignCTI__c</queriedFields>
        <queriedFields>CTIOrder__c</queriedFields>
        <queriedFields>CTISkill__c</queriedFields>
        <queriedFields>ClientOrLeadNumber__c</queriedFields>
        <queriedFields>LineInsurance__c</queriedFields>
        <queriedFields>SFURLPop__c</queriedFields>
        <queriedFields>RiskPostalCode__c</queriedFields>
        <queriedFields>CTISend__c</queriedFields>
        <queriedFields>CTISent__c</queriedFields>
        <queriedFields>ManagementsCess__c</queriedFields>
        <queriedFields>ManagementsSF__c</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Obtiene los Campaign Member asociados al lead</description>
        <name>Get_CMMKT_Lead</name>
        <label>Get CM MKT del Lead</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MCAGAdicionales_Lead</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCampaignMemberMKTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>CampaigMemberMKTOnLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Obtiene los Miembros de Campaña Adicionales del Lead</description>
        <name>Get_MCAGAdicionales_Lead</name>
        <label>Get MCAG Adicionales del Lead</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SubflujoCambioEstadoEnprogreso</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeIdAdditionalCampaignMemberAG</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>AMCM__c</object>
        <outputReference>CampaignMemberAGAdditionalOnLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Se obtienen las tareas planificadas futuras del Lead</description>
        <name>Get_TareasPlanificadasFuturas</name>
        <label>Get Tareas Planificadas futuras</label>
        <locationX>50</locationX>
        <locationY>2519</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Tareas</targetReference>
        </connector>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Schedule Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>CESS_Fecha_Planificada__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordLookups>
    <recordLookups>
        <description>Guardo RecordTypes de los objetos Campaign Member y Miembro de campaña adicional</description>
        <name>GetRecordTypes</name>
        <label>Get RecordTypes</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMCM__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos las tareas programadas asociadas a este lead para que se envíen las actualizaciones de los datos a CTI (a los registros de llamadas planificadas)</description>
        <name>Update_ScheduledTask</name>
        <label>Update ScheduledTask</label>
        <locationX>50</locationX>
        <locationY>2975</locationY>
        <connector>
            <targetReference>HaCambiadoElPropietarioNiCreatedNiUser</targetReference>
        </connector>
        <inputReference>Var_Task_Update</inputReference>
    </recordUpdates>
    <startElementReference>Decision_Switches</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Cuando desde el Lead se hace la marca de En progreso, todos los miembros de campaña y miembros de campaña adicionales que estén en estado Nuevo los pondrá en proceso</description>
        <name>SubflujoCambioEstadoEnprogreso</name>
        <label>SubflujoCambioEstadoEnprogreso</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Decision_HaCambiadoAlgunTelefono</targetReference>
        </connector>
        <flowName>SubflujoLeadUpdateStatusEnProceso</flowName>
        <inputAssignments>
            <name>CampaigMemberMKTOnLead</name>
            <value>
                <elementReference>CampaigMemberMKTOnLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CampaignMemberAGAdditionalOnLead</name>
            <value>
                <elementReference>CampaignMemberAGAdditionalOnLead</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CampignMemberCTIOnLead</name>
            <value>
                <elementReference>CM_CTIs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LeadId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeCTICampaignMemberId</name>
            <value>
                <elementReference>RecordTypeCampaignMemberCTIId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeIdCampaignMemberAdditionalAG</name>
            <value>
                <elementReference>RecordTypeIdAdditionalCampaignMemberAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecordTypeIdCampaignMemberMarketing</name>
            <value>
                <elementReference>RecordTypeCampaignMemberMKTId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Invoca el subflujo que envía la notificación de chatter</description>
        <name>SubflujoLeadUpdateOwnerChangedChatter</name>
        <label>Subflujo - Lead UpdateOwnerChangedChatter</label>
        <locationX>50</locationX>
        <locationY>3311</locationY>
        <flowName>Subflujo_Lead_UpdateOwnerChangedChatter</flowName>
        <inputAssignments>
            <name>LeadRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Miembros de campaña de tipo MKT asociados al Lead</description>
        <name>CampaigMemberMKTOnLead</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Miembros de campaña Adicional del Lead</description>
        <name>CampaignMemberAGAdditionalOnLead</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <name>CM_CTIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CM_CTIs_a_actualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Id del tipo de registro CampaignMemberCTIId</description>
        <name>RecordTypeCampaignMemberCTIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id del tipo de registro de miembro de campaña de tipo MKT</description>
        <name>RecordTypeCampaignMemberMKTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del tipo de registro de miembro de campaña AG de tipo Adicional</description>
        <name>RecordTypeIdAdditionalCampaignMemberAG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del tipo de registro de miembro de campaña de tipo Gestionado</description>
        <name>RecordTypeIdCampaignMemberManaged</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que contiene las tareas a actualizar con el incremento en la fecha/hora planificada</description>
        <name>Var_Task_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
