force-app/main/default/flows/On_opportunity_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Fijamos el estado del CM CTI a cualificado antes de borrarlo</description>
        <name>Set_CMCTIStatus</name>
        <label>Set_CMCTIStatus</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>Get_CampaignMember_CTI.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CampaingMember_CTI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Se comprueba que no se ha borrado ya CM CTI</description>
        <name>Existe_CM_CTI</name>
        <label>Existe CM CTI</label>
        <locationX>248</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CampaignMember_CTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_opps_del_cliente_en_misma_campa_a_CTI</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>M_s_opps_no_cerradas_en_la_misma_camp_CTI</name>
        <label>Más opps no cerradas en la misma camp CTI?</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Set_CMCTIStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_mas_opps</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obtener_opps_del_cliente_en_misma_campa_a_CTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Miembros_de_campa_a_Adicionales_de_miembro_de_campa_a_CTI_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obtener_Miembros_de_campa_a_MKT_de_miembro_de_campa_a_CTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si la oportunidad está cerrada y si está relacionada con un miembro de campaña CTI</description>
        <name>OpportunityIsClosed</name>
        <label>¿La oportunidad está cerrada?</label>
        <locationX>479</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OppCloseWithCampaignMemberCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Vencimiento Futuro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.relatedCTICampaignMemberId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cualificación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Propuesta</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_RT_Id_CM_AG_gestionado</targetReference>
            </connector>
            <label>Oportunidad Cerrada y relacionada con miembro campaña CTI</label>
        </rules>
    </decisions>
    <description>Busca miembro de campaña CTI del mismo cliente y campaña que la oportunidad, y si sólo hay uno, crea un CM AG Gestionado de tipo CTI con la misma información que tiene el CM CTI, y elimina el CM CTI

19/09 MHG: Se sustituye el borrado de CM CTI por la creación del Platform Event que borra e historifica
06/11 MMV: Se añade control para no buscar más intereses si no existe el CM CTI (evitar query no selectiva)</description>
    <interviewLabel>On opportunity update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Opportunity update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Crea el registro de Platform Event que borrará asíncronamente este registro e historificará los CM MKT relacionados. Esto sustituye al flujo deprecado &quot;Subflujo - eliminar intereses asociados a un CM CTI y crear gestionados&quot;</description>
        <name>Create_PlatformEvent_BorradoCMCTI</name>
        <label>Create_PlatformEvent_BorradoCMCTI</label>
        <locationX>182</locationX>
        <locationY>1535</locationY>
        <inputAssignments>
            <field>BorrarCMCTI__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdCMCTI__c</field>
            <value>
                <elementReference>Get_CampaignMember_CTI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>Get_CampaignMember_CTI.Result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Get_CampaignMember_CTI.Status</elementReference>
            </value>
        </inputAssignments>
        <object>CMCTIDeleteEvent__e</object>
    </recordCreates>
    <recordLookups>
        <description>Obtener el CM CTI para el mismo contacto y Campaign CTI de la opp</description>
        <name>Get_CampaignMember_CTI</name>
        <label>Get_CampaignMember_CTI</label>
        <locationX>248</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_CM_CTI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.relatedCTICampaignMemberId__c</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Obtener Miembros de campaña Adicionales de miembro de campaña CTI</description>
        <name>Obtener_Miembros_de_campa_a_Adicionales_de_miembro_de_campa_a_CTI_0</name>
        <label>Obtener CM Adicionales del CM CTI de Opp</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>M_s_opps_no_cerradas_en_la_misma_camp_CTI</targetReference>
        </connector>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CampaignMember_CTI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not contacted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </filters>
        <object>AMCM__c</object>
    </recordLookups>
    <recordLookups>
        <description>Obtener Miembros de campaña MKT de miembro de campaña CTI</description>
        <name>Obtener_Miembros_de_campa_a_MKT_de_miembro_de_campa_a_CTI</name>
        <label>Obtener CM MKT del CM CTI de Opp</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Miembros_de_campa_a_Adicionales_de_miembro_de_campa_a_CTI_0</targetReference>
        </connector>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_CampaignMember_CTI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_CampaignMember_CTI.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Se obtienen todas las oportunidades que se están gestionando con el CM CTI, y que están abiertas</description>
        <name>Obtener_opps_del_cliente_en_misma_campa_a_CTI</name>
        <label>Obtener Opps abiertas del CM CTI de Opp</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtener_Miembros_de_campa_a_MKT_de_miembro_de_campa_a_CTI</targetReference>
        </connector>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.relatedCTICampaignMemberId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordLookups>
        <name>Obtener_RT_Id_CM_AG_gestionado</name>
        <label>Obtener RT Id CM AG gestionado</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CampaignMember_CTI</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMCM__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Managed</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos el CM CTI justo antes de borrarlo</description>
        <name>Update_CampaingMember_CTI</name>
        <label>Update_CampaingMember_CTI</label>
        <locationX>182</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Create_PlatformEvent_BorradoCMCTI</targetReference>
        </connector>
        <inputReference>Get_CampaignMember_CTI</inputReference>
    </recordUpdates>
    <startElementReference>OpportunityIsClosed</startElementReference>
    <status>Active</status>
</Flow>
