force-app/main/default/flows/On_PlatformEvent_Delete_CM_CTI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Invoca el método para enviar el borrado de los registros a CTI para que no vuelva a ser llamado por este motivo</description>
        <name>Action_InvocableLeadLogic</name>
        <label>Invocable Lead Logic - deleteRecordCTI</label>
        <locationX>182</locationX>
        <locationY>5174</locationY>
        <actionName>CESS_InvocableLeadLogic</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_BorrarCMCTI</targetReference>
        </connector>
        <inputParameters>
            <name>cmId</name>
            <value>
                <elementReference>IdNuevoMCGestionadoCTI</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>deleteRecordCTI</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Asignaci_n_CM_MKT_Coleccion</name>
        <label>Asignación CM MKT Colección</label>
        <locationX>138</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados_coleccion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CM_MKTs_Equivalentes_Gestionados</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CM_MKT_Crea_gestionados_y_borra_originales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignaci_n_unitaria_CM_MKT</name>
        <label>Asignación unitaria CM MKT</label>
        <locationX>138</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RelatedCTIAMCMId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdNuevoMCGestionadoCTI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.Tipo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeIdCampaignMemberManaged</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCMCTI.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCMCTI.LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.AgeRange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.AgeRange__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.BirthDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.BirthDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.BusinessLinesContracted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.BusinessLinesContracted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.BusinessLinesProhibited__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.BusinessLinesProhibited__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.BussinesLineContracted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.BusinessLineContracted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.BussinesLineProhibited__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.BussinesLineProhibited__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.CallIdentifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.CallIdentifier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.CampaignCess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.CampaignCess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.CampaignCTI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.CampaignCTI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.CampaignTypeCESS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.CampaingTypeCESS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.CESSIdGoogleAnalytics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.CESSIdGoogleAnalytics__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.CESSIdPricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.CESSIdPricing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.CESSScoring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.CESSScoring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.DateOpportunityClosed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.DateOpportunityClosed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.DescriptionMerchandise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.DescriptionMerchandise__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.ECommerceStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.ECommerceStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.EmailSended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.EmailSended__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.IDDisplayAdvertisments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.IDDisplayAdvertisments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.InsuranceCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.InsuranceCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.InsuredRisk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.InsuredRisk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.IsCustomer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.IsCustomer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.IsReachable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.IsReachable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.LeadHeader__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.LeadHeader__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.LeadSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.LineInsurance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.LineInsurance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.ManagementsCess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.ManagementsCess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.ManagementsSF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.ManagementsSF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.ManagementType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.ManagementType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.MarketingClosed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.MarketingClosed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.MarketingStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.MarketingStage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.MerchandiseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.MerchandiseType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.NoAnswer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.NoAnswer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.OtherRiskData__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.OtherRiskData__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.Pipeline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.Pipeline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.QuoteCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.QuoteCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.ReferenceCampaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.ReferenceCampaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.ReferenceSourceCess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.ReferenceSourceCess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RenewalDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RenewalDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskBrand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskBrand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskBrandModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskBrandModel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskDescription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskDriverBirthdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskDriverBirthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskDriverLicenseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskDriverLicenseDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskECICard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskECICard__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskExpirationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskExpirationDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskGender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskGender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskInsuredBirthdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskInsuredBirthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskInsuredNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskInsuredNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskLocation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskModel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskOptionCapitalInsured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RIskOwnerBirthdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RIskOwnerBirthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskOwnerLicenseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskOwnerLicenseDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskPolicyHolderBirthdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskPolicyHolderBirthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskPolicyHolderLicenseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskPolicyHolderLicenseDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskPropertyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskPropertyType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskProvince__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskProvince__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskSquareMetres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskSquareMetres__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskTenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskTenant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.RiskVersion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.RiskVersion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.SalesSlip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.SalesSlip__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.SFCampaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.SourceCess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.SourceCess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.SourceManualRecord__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.SourceManualRecord__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.SourceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.SourceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.SourceWeb__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.SourceWeb__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.WebSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.WebSource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.AmountMerchandise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.AmountMerchandise__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.CampainMemberRelated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.CMCreatedDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.CreatedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.CampaignMemberNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.CampaignMemberNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_MKTs_Equivalentes_Gestionados.GCLID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_MKT_Crea_gestionados_y_borra_originales.GCLID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignaci_n_CM_MKT_Coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignaci_n_unitaria_opps</name>
        <label>Asignación unitaria opps</label>
        <locationX>138</locationX>
        <locationY>4682</locationY>
        <assignmentItems>
            <assignToReference>Opps_a_actualizar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>actualiza_etapa_opps.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opps_a_actualizar.relatedCTICampaignMemberId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdNuevoMCGestionadoCTI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_opps_coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_CM_AG_Ad_MKT_coleccion</name>
        <label>Asignación CM AG Ad MKT Colección</label>
        <locationX>138</locationX>
        <locationY>3674</locationY>
        <assignmentItems>
            <assignToReference>CM_AG_Adicionales_MKTs_Equivalentes_Gestionados_coleccion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_opps_coleccion</name>
        <label>Asignación opps Colección</label>
        <locationX>138</locationX>
        <locationY>4790</locationY>
        <assignmentItems>
            <assignToReference>Opps_a_actualizar_coleccion</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opps_a_actualizar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>actualiza_etapa_opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignacion_unitaria_CM_AG_Ad_MKT</name>
        <label>Asignación unitaria CM AG Ad MKT</label>
        <locationX>138</locationX>
        <locationY>3566</locationY>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RelatedCTIAMCMId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdNuevoMCGestionadoCTI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.Tipo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeIdCampaignMemberManaged</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCMCTI.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.Lead__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCMCTI.LeadId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.AgeRange__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.AgeRange__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.AmountMerchandise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.AmountMerchandise__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.BirthDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.BirthDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.BusinessLinesContracted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.BusinessLinesContracted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.BusinessLinesProhibited__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.BusinessLinesProhibited__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.BussinesLineContracted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.BussinesLineContracted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.BussinesLineProhibited__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.BussinesLineProhibited__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.CallIdentifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.CallIdentifier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.CampaignCess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.CampaignCess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.CampaignCTI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.CampaignCTI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.CampaignTypeCESS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.CampaignTypeCESS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.CESSIdGoogleAnalytics__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.CESSIdGoogleAnalytics__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.CESSIdPricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.CESSIdPricing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.CESSScoring__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.CESSScoring__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.DateOpportunityClosed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.DateOpportunityClosed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.DescriptionMerchandise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.DescriptionMerchandise__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.ECommerceStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.ECommerceStatus__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.EmailSended__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.EmailSended__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.IDDisplayAdvertisments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.IDDisplayAdvertisments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.IdExterno__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.IdExterno__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.InsuranceCompany__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.InsuranceCompany__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.InsuredRisk__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.InsuredRisk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.IsCustomer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.IsCustomer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.IsReachable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.IsReachable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.LeadHeader__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.LeadHeader__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.LeadSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.LeadSource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.LineInsurance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.LineInsurance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.ManagementsCess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.ManagementsCess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.ManagementsSF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.ManagementsSF__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.ManagementType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.ManagementType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.MarketingClosed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.MarketingClosed__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.MarketingStage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.MarketingStage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.MerchandiseType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.MerchandiseType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.OtherRiskData__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.OtherRiskData__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.Pipeline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.Pipeline__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.QuoteCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.QuoteCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.ReferenceCampaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.ReferenceCampaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.ReferenceSourceCess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.ReferenceSourceCess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RenewalDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RenewalDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskBrand__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskBrand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskBrandModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskBrandModel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskCategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskCategory__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskDriverBirthdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskDriverBirthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskDriverLicenseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskDriverLicenseDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskDescription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskECICard__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskECICard__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskExpirationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskExpirationDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskGender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskGender__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskInsuredBirthdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskInsuredBirthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskInsuredNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskInsuredNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskLocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskLocation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskModel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskOptionCapitalInsured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RIskOwnerBirthdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RIskOwnerBirthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskOwnerLicenseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskOwnerLicenseDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskPolicyHolderBirthdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskPolicyHolderBirthdate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskPolicyHolderLicenseDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskPolicyHolderLicenseDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskPostalCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskPostalCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskPropertyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskPropertyType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskProvince__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskProvince__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskSquareMetres__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskSquareMetres__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskTenant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskTenant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.RiskVersion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.RiskVersion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.SalesSlip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.SalesSlip__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.SFCampaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.SFCampaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.SourceCess__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.SourceCess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.SourceManualRecord__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.SourceManualRecord__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.SourceType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.SourceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.Tipo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.Tipo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.WebSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.WebSource__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.CampainMemberRelated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.CampaignMemberNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.CampaignMemberNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CM_AG_Adic_MKTs_Equivalentes_Gestionados.GCLID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales.GCLID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignacion_CM_AG_Ad_MKT_coleccion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>AssignRecordTypeAdditionalCampaignMemberAGId</description>
        <name>AssignRecordTypeAdditionalCampaignMemberAGId</name>
        <label>AssignRecordTypeAdditionalCampaignMemberAGId</label>
        <locationX>996</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeIdAdditionalCampaignMemberAG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña de tipo CTI a una variable</description>
        <name>AssignRecordTypeCTIId</name>
        <label>AssignRecordTypeCTIId</label>
        <locationX>468</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeCampaignMemberCTIId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña AG de tipo Gestionado</description>
        <name>AssignRecordTypeManagedCampaignMemberAG</name>
        <label>AssignRecordTypeManagedCampaignMemberAG</label>
        <locationX>1260</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeIdCampaignMemberManaged</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno el Id del tipo de registro de miembro de campaña de tipo MKT a una variable</description>
        <name>AssignRecordTypeMKTId</name>
        <label>AssignRecordTypeMKTId</label>
        <locationX>732</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>RecordTypeCampaignMemberMKTId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el nuevo Id de CM CTI Gestionado</description>
        <name>Set_New_CMCTI_Id</name>
        <label>Set New CMCTI Id</label>
        <locationX>270</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>Loop_Tareas.CampaignMemberId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdNuevoMCGestionadoCTI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Task_Actualizar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Tareas</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tareas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el estado cancelada</description>
        <name>Set_StatusCancelled</name>
        <label>Set Status Cancelled</label>
        <locationX>138</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>Loop_Tareas.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_New_CMCTI_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Comprobamos si podemos cerrar el Lead o no</description>
        <name>ActualizamosEstadoLead</name>
        <label>¿Actualizamos estado Lead?</label>
        <locationX>182</locationX>
        <locationY>4166</locationY>
        <defaultConnector>
            <targetReference>Contact_tiene_alguna_oportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CerramosLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCMCTI.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuscoOtrosMiembrosCampanaCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateStatusLead</targetReference>
            </connector>
            <label>Cerramos Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_tiene_alguna_oportunidad</name>
        <label>Existe Opp con CM CTI relacionado?</label>
        <locationX>182</locationX>
        <locationY>4466</locationY>
        <defaultConnector>
            <targetReference>Action_InvocableLeadLogic</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_Op</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actualiza_etapa_opps</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Esta activo el check de borrar CMCTIDelete, en ese caso borramos</description>
        <name>Decision_BorrarCMCTI</name>
        <label>¿Hay que borrar el CM CTI?</label>
        <locationX>182</locationX>
        <locationY>5282</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_existe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BorrarCMCTI__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Elimina_CM_CTI_Original_0</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si es una tarea de tipo Scheduled Call y su fecha de planificación es mayor a ahora, se establece su estado a Cancelada</description>
        <name>Decision_EsPlanificadaFuturo</name>
        <label>¿Es planificada a futuro?</label>
        <locationX>270</locationX>
        <locationY>1850</locationY>
        <defaultConnector>
            <targetReference>Set_New_CMCTI_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EsPlanificadaFuturo_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Tareas.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schedule Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tareas.CESS_Fecha_Planificada__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Tareas.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_StatusCancelled</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si no existe no hace nada más</description>
        <name>Decision_ExisteCMCTI</name>
        <label>¿Existe el CM CTI?</label>
        <locationX>380</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ExisteCMCTI_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCMCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMMKTRelacionadosCMCTI</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existen_tareas_con_CM_CTI_relacionado</name>
        <label>Existen tareas con CM CTI relacionado</label>
        <locationX>182</locationX>
        <locationY>1634</locationY>
        <defaultConnector>
            <targetReference>Persona_est_como_CM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_CMCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Tareas</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Persona_est_como_CM</name>
        <label>Existen CM MKT con CM CTI relacionado?</label>
        <locationX>182</locationX>
        <locationY>2534</locationY>
        <defaultConnector>
            <targetReference>Persona_est_como_CM_AG_adic_MKT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_CM_MKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CM_MKTs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM_MKT_Crea_gestionados_y_borra_originales</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <name>Persona_est_como_CM_AG_adic_MKT</name>
        <label>Existen  CM AG Adic MKT con CM CTI relacionado?</label>
        <locationX>182</locationX>
        <locationY>3350</locationY>
        <defaultConnector>
            <targetReference>ActualizamosEstadoLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_CM_AG_adic_MKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CM_AG_Ad_MKTs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>En función del tipo de registro voy guardando los Id en diferentes variables</description>
        <name>WhatRecordTypeIs</name>
        <label>WhatRecordTypeIs</label>
        <locationX>864</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>AssignRecordTypeManagedCampaignMemberAG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CampaignMemberCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordTypeCTIId</targetReference>
            </connector>
            <label>CampaignMemberCTI</label>
        </rules>
        <rules>
            <name>CampaignMemberMKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordTypeMKTId</targetReference>
            </connector>
            <label>CampaignMemberMKT</label>
        </rules>
        <rules>
            <name>CampaignMemberAGAdditional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignRecordTypeAdditionalCampaignMemberAGId</targetReference>
            </connector>
            <label>CampaignMemberAGAdditional</label>
        </rules>
    </decisions>
    <description>Cuando se crea un platform event de borrado e historificación de un Campaign Member de CM CTI.
LOS PLATFORM EVENT TRIGGERED FLOWS no admiten invocación de subflujos, por lo que este flujos es una copia literal a fecah de 12/09/2022 de &quot;Subflujo - eliminar intereses asociados a un CM CTI y crear gestionados&quot;
22/09/2022 MHG: Cambio en la fórmula que devuelve el Status del Lead
05/10/2022 NRG: Cambio al marcar el lead como no contactado
19/10/2022 MMV: Se rellenan los campos CampainMemberRelated__c en los gestionados MKT y CTI
21/11/20022 AC: Quitado la pérdida de oportunidades cuando cierro el miembro de campaña CTI
22/11/2022 JCB: Se rellena campo de CMCreatedDate__c de CM AG con el valor de CreatedDate del CM de origen.
25/11/2022 JCB: Se rellena campo de CMCreatedDate__c de CM AG con valor de CreatedDate del CM de origen, también para CM CTI
29/11/2022 MMV: Comprueba si existe el CM CTI antes de avanzar
29/11/2022 MMV: Se añade invocación al método para borrar de CTI el registro
14/12/2022 MMV: Itera las tareas asociadas para establecer con status Cancelled las que sean planificadas a futuro.
02/06/2023 RNP: Añadimos campo CampaignMemberNumber__c en el get CMAGAdicionalRelacionadoCMCTI
02/06/2023 RNP: Añadimos assignacion CampaignMemberNumber__c en el Asignacion_unitaria_CM_AG_Ad_MKT
03/07/2023 JCB: Se añade campo GCLID__c</description>
    <formulas>
        <description>Según el valor de CMCTIStatus, se calcula el stado de la opp</description>
        <name>OppStatus</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Status__c},&quot;Not Contacted&quot;, &quot;No Contactado&quot;,&quot;No Contactado&quot;)</expression>
    </formulas>
    <formulas>
        <description>Establecemos el estado del Lead según el cierre del miembro de campaña CTI</description>
        <name>StatusLeadFormula</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Status__c} == &apos;Not contacted&apos;,
    &apos;No Contactado&apos;,
    &apos;Unqualified&apos;
)</expression>
    </formulas>
    <interviewLabel>On Platform Event Delete CM CTI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Platform Event Delete CM CTI</label>
    <loops>
        <name>actualiza_etapa_opps</name>
        <label>Actualiza etapa oportunidades</label>
        <locationX>50</locationX>
        <locationY>4574</locationY>
        <collectionReference>Opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignaci_n_unitaria_opps</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Actualizar_opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CM_AG_Ad_MKT_Crea_gestionados_y_borra_originales</name>
        <label>CM AG Ad MKT - Crea gestionados y borra originales</label>
        <locationX>50</locationX>
        <locationY>3458</locationY>
        <collectionReference>CM_AG_Ad_MKTs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignacion_unitaria_CM_AG_Ad_MKT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CM_AG_Ad_MKT_Crea_gestionados</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>CM_MKT_Crea_gestionados_y_borra_originales</name>
        <label>CM MKT - Crea gestionados y borra originales</label>
        <locationX>50</locationX>
        <locationY>2642</locationY>
        <collectionReference>CM_MKTs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asignaci_n_unitaria_CM_MKT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CM_MKT_Crea_gestionados</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Itera las tareas para actualizar su CampaignMemberId y su estado</description>
        <name>Loop_Tareas</name>
        <label>Loop Tareas</label>
        <locationX>50</locationX>
        <locationY>1742</locationY>
        <collectionReference>Get_Task_CMCTI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_EsPlanificadaFuturo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Task_Asociadas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>BucleRecordType</description>
        <name>LoopRecordTypes</name>
        <label>LoopRecordTypes</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <collectionReference>GetRecordTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WhatRecordTypeIs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetCMCTI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CM_AG_Ad_MKT_Crea_gestionados</name>
        <label>CM AG Ad MKT - Crea gestionados</label>
        <locationX>50</locationX>
        <locationY>3866</locationY>
        <connector>
            <targetReference>Elimina_CM_AG_Ad_MKT_Original</targetReference>
        </connector>
        <inputReference>CM_AG_Adicionales_MKTs_Equivalentes_Gestionados_coleccion</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CM_MKT_Crea_gestionados</name>
        <label>CM MKT - Crea gestionados</label>
        <locationX>50</locationX>
        <locationY>3050</locationY>
        <connector>
            <targetReference>Elimina_CM_MKT_Original</targetReference>
        </connector>
        <inputReference>CM_MKTs_Equivalentes_Gestionados_coleccion</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Crea el registro de miembro de campaña gestionado de tipo CTI</description>
        <name>CreaCMCTIGestionado</name>
        <label>Crea CM CTI Gestionado</label>
        <locationX>182</locationX>
        <locationY>1526</locationY>
        <assignRecordIdToReference>IdNuevoMCGestionadoCTI</assignRecordIdToReference>
        <connector>
            <targetReference>Existen_tareas_con_CM_CTI_relacionado</targetReference>
        </connector>
        <inputAssignments>
            <field>AgentAttempts__c</field>
            <value>
                <elementReference>GetCMCTI.AgentAttempts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessLinesContracted__c</field>
            <value>
                <elementReference>GetCMCTI.BusinessLinesContracted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CMCreatedDate__c</field>
            <value>
                <elementReference>GetCMCTI.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTIDeleteError__c</field>
            <value>
                <elementReference>GetCMCTI.CTIDeleteError__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTIDuplicateCheck__c</field>
            <value>
                <elementReference>GetCMCTI.CTIDuplicateCheck__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTIErrorCampDesactivada__c</field>
            <value>
                <elementReference>GetCMCTI.CTIErrorCampDesactivada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTIErrorCheck__c</field>
            <value>
                <elementReference>GetCMCTI.CTIErrorCheck__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTIError__c</field>
            <value>
                <elementReference>GetCMCTI.CTIError__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTIOrder__c</field>
            <value>
                <elementReference>GetCMCTI.CTIOrder__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTIRule__c</field>
            <value>
                <elementReference>GetCMCTI.CTIRule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTISend__c</field>
            <value>
                <elementReference>GetCMCTI.CTISend__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTISent__c</field>
            <value>
                <elementReference>GetCMCTI.CTISent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTISkill__c</field>
            <value>
                <elementReference>GetCMCTI.CTISkill__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallIdentifier__c</field>
            <value>
                <elementReference>GetCMCTI.CallIdentifier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCTI__c</field>
            <value>
                <elementReference>GetCMCTI.CampaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCess__c</field>
            <value>
                <elementReference>GetCMCTI.CampaignCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignMemberNumber__c</field>
            <value>
                <elementReference>GetCMCTI.CampaignMemberNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignTypeCESS__c</field>
            <value>
                <elementReference>GetCMCTI.CampaingTypeCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>GetCMCTI.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampainMemberRelated__c</field>
            <value>
                <elementReference>$Record.IdCMCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>GetCMCTI.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateLastCallRecorded__c</field>
            <value>
                <elementReference>GetCMCTI.DateLastCallRecorded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DatetimeLastCall__c</field>
            <value>
                <elementReference>GetCMCTI.DatetimeLastCall__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>GetCMCTI.IdExterno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>GetCMCTI.LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LineInsurance__c</field>
            <value>
                <elementReference>GetCMCTI.LineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManagementsCess__c</field>
            <value>
                <elementReference>GetCMCTI.ManagementsCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ManagementsSF__c</field>
            <value>
                <elementReference>GetCMCTI.ManagementsSF__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeIdCampaignMemberManaged</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ResultCTI__c</field>
            <value>
                <elementReference>GetCMCTI.ResultCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>$Record.Result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFCampaign__c</field>
            <value>
                <elementReference>GetCMCTI.CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceCess__c</field>
            <value>
                <elementReference>GetCMCTI.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceManualRecord__c</field>
            <value>
                <elementReference>GetCMCTI.SourceManualRecord__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType__c</field>
            <value>
                <elementReference>GetCMCTI.SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceWeb__c</field>
            <value>
                <elementReference>GetCMCTI.SourceWeb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>$Record.Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SystemAttempts__c</field>
            <value>
                <elementReference>GetCMCTI.SystemAttempts__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>CTI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TotalAttempts__c</field>
            <value>
                <elementReference>GetCMCTI.TotalAttempts__c</elementReference>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Elimina_CM_AG_Ad_MKT_Original</name>
        <label>Elimina CM AG Ad MKT Original</label>
        <locationX>50</locationX>
        <locationY>3974</locationY>
        <connector>
            <targetReference>ActualizamosEstadoLead</targetReference>
        </connector>
        <inputReference>CM_AG_Ad_MKTs</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Elimina_CM_CTI_Original_0</name>
        <label>Elimina CM CTI Original</label>
        <locationX>50</locationX>
        <locationY>5390</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCMCTI.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordDeletes>
    <recordDeletes>
        <name>Elimina_CM_MKT_Original</name>
        <label>Elimina CM MKT Original</label>
        <locationX>50</locationX>
        <locationY>3158</locationY>
        <connector>
            <targetReference>Persona_est_como_CM_AG_adic_MKT</targetReference>
        </connector>
        <inputReference>CM_MKTs</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>Busco otros miembros de campaña CTI asociado al Lead</description>
        <name>BuscoOtrosMiembrosCampanaCTI</name>
        <label>Busco otros miembros de campaña CTI</label>
        <locationX>182</locationX>
        <locationY>1418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreaCMCTIGestionado</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCampaignMemberCTIId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.IdCMCTI__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCMCTI.LeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCMCTI.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Busca los miembros de campaña adicionales (siempre son de MKT) relacionados con el Campaign Member CTI</description>
        <name>CMAGAdicionalRelacionadoCMCTI</name>
        <label>Get CM AG Adicional tipo MKT relacionado con CM CTI</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OportundadesRelacionadasCMCTI</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeIdAdditionalCampaignMemberAG</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tipo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IdCMCTI__c</elementReference>
            </value>
        </filters>
        <object>AMCM__c</object>
        <outputReference>CM_AG_Ad_MKTs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AgeRange__c</queriedFields>
        <queriedFields>BirthDate__c</queriedFields>
        <queriedFields>BussinesLineContracted__c</queriedFields>
        <queriedFields>BusinessLinesProhibited__c</queriedFields>
        <queriedFields>CallIdentifier__c</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>CampaignCess__c</queriedFields>
        <queriedFields>CampaignCTI__c</queriedFields>
        <queriedFields>CampaignTypeCESS__c</queriedFields>
        <queriedFields>CESSIdGoogleAnalytics__c</queriedFields>
        <queriedFields>CESSIdPricing__c</queriedFields>
        <queriedFields>CESSScoring__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>DateOpportunityClosed__c</queriedFields>
        <queriedFields>DatetimeLastCall__c</queriedFields>
        <queriedFields>EmailSended__c</queriedFields>
        <queriedFields>IDDisplayAdvertisments__c</queriedFields>
        <queriedFields>IdExterno__c</queriedFields>
        <queriedFields>IsCustomer__c</queriedFields>
        <queriedFields>LeadSource__c</queriedFields>
        <queriedFields>LeadHeader__c</queriedFields>
        <queriedFields>LineInsurance__c</queriedFields>
        <queriedFields>MarketingClosed__c</queriedFields>
        <queriedFields>ECommerceStatus__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Pipeline__c</queriedFields>
        <queriedFields>QuoteCode__c</queriedFields>
        <queriedFields>ReferenceCampaign__c</queriedFields>
        <queriedFields>ReferenceSourceCess__c</queriedFields>
        <queriedFields>CampainMemberRelated__c</queriedFields>
        <queriedFields>RenewalDate__c</queriedFields>
        <queriedFields>Result__c</queriedFields>
        <queriedFields>RiskBrand__c</queriedFields>
        <queriedFields>RiskBrandModel__c</queriedFields>
        <queriedFields>RiskCategory__c</queriedFields>
        <queriedFields>RiskDescription__c</queriedFields>
        <queriedFields>RiskDriverBirthdate__c</queriedFields>
        <queriedFields>RiskDriverLicenseDate__c</queriedFields>
        <queriedFields>RiskECICard__c</queriedFields>
        <queriedFields>RiskExpirationDate__c</queriedFields>
        <queriedFields>RiskGender__c</queriedFields>
        <queriedFields>RiskInsuredBirthdate__c</queriedFields>
        <queriedFields>RiskInsuredNumber__c</queriedFields>
        <queriedFields>RiskModel__c</queriedFields>
        <queriedFields>RIskOwnerBirthdate__c</queriedFields>
        <queriedFields>RiskOwnerLicenseDate__c</queriedFields>
        <queriedFields>RiskPolicyHolderBirthdate__c</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <queriedFields>RiskPolicyHolderLicenseDate__c</queriedFields>
        <queriedFields>RiskPostalCode__c</queriedFields>
        <queriedFields>RiskPropertyType__c</queriedFields>
        <queriedFields>RiskSquareMetres__c</queriedFields>
        <queriedFields>RiskTenant__c</queriedFields>
        <queriedFields>RiskVersion__c</queriedFields>
        <queriedFields>SourceCess__c</queriedFields>
        <queriedFields>SourceManualRecord__c</queriedFields>
        <queriedFields>SourceWeb__c</queriedFields>
        <queriedFields>SourceType__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>ManagementsCess__c</queriedFields>
        <queriedFields>CTISkill__c</queriedFields>
        <queriedFields>CTIOrder__c</queriedFields>
        <queriedFields>OtherRiskData__c</queriedFields>
        <queriedFields>DescriptionMerchandise__c</queriedFields>
        <queriedFields>InsuranceCompany__c</queriedFields>
        <queriedFields>InsuredRisk__c</queriedFields>
        <queriedFields>AmountMerchandise__c</queriedFields>
        <queriedFields>BusinessLinesContracted__c</queriedFields>
        <queriedFields>BussinesLineProhibited__c</queriedFields>
        <queriedFields>RelatedCTIAMCMId__c</queriedFields>
        <queriedFields>ManagementType__c</queriedFields>
        <queriedFields>MerchandiseType__c</queriedFields>
        <queriedFields>ResultCTI__c</queriedFields>
        <queriedFields>RiskAddress__c</queriedFields>
        <queriedFields>RiskLocation__c</queriedFields>
        <queriedFields>RiskOptionCapitalInsured__c</queriedFields>
        <queriedFields>RiskProvince__c</queriedFields>
        <queriedFields>Tipo__c</queriedFields>
        <queriedFields>ManagementsSF__c</queriedFields>
        <queriedFields>SFCampaign__c</queriedFields>
        <queriedFields>IsReachable__c</queriedFields>
        <queriedFields>LeadOrContactId__c</queriedFields>
        <queriedFields>MarketingStage__c</queriedFields>
        <queriedFields>NoAnswer__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>SalesSlip__c</queriedFields>
        <queriedFields>ConvertedLead__c</queriedFields>
        <queriedFields>WebSource__c</queriedFields>
        <queriedFields>CampaignMemberNumber__c</queriedFields>
        <queriedFields>GCLID__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Busca todos los miembros de campaña en cualquier estado relacionados con el campaign member CTI</description>
        <name>CMMKTRelacionadosCMCTI</name>
        <label>Get CM MKT relacionados con el CM CTI</label>
        <locationX>182</locationX>
        <locationY>986</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CMAGAdicionalRelacionadoCMCTI</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCampaignMemberMKTId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IdCMCTI__c</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>CM_MKTs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AgeRange__c</queriedFields>
        <queriedFields>BirthDate__c</queriedFields>
        <queriedFields>BusinessLineContracted__c</queriedFields>
        <queriedFields>BussinesLineProhibited__c</queriedFields>
        <queriedFields>BusinessLinesContracted__c</queriedFields>
        <queriedFields>BusinessLinesProhibited__c</queriedFields>
        <queriedFields>CallIdentifier__c</queriedFields>
        <queriedFields>Campaign__c</queriedFields>
        <queriedFields>CampaignCess__c</queriedFields>
        <queriedFields>CampaignCTI__c</queriedFields>
        <queriedFields>CampaignId</queriedFields>
        <queriedFields>CampaignMemberNumber__c</queriedFields>
        <queriedFields>CampaignText__c</queriedFields>
        <queriedFields>CampaingTypeCESS__c</queriedFields>
        <queriedFields>CESSIdGoogleAnalytics__c</queriedFields>
        <queriedFields>CESSIdPricing__c</queriedFields>
        <queriedFields>CESSScoring__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>DateOpportunityClosed__c</queriedFields>
        <queriedFields>DatetimeLastCall__c</queriedFields>
        <queriedFields>DocumentNumber__c</queriedFields>
        <queriedFields>DocumentType__c</queriedFields>
        <queriedFields>EmailSended__c</queriedFields>
        <queriedFields>IDDisplayAdvertisments__c</queriedFields>
        <queriedFields>IdExterno__c</queriedFields>
        <queriedFields>IsCustomer__c</queriedFields>
        <queriedFields>LeadSource__c</queriedFields>
        <queriedFields>LeadHeader__c</queriedFields>
        <queriedFields>LineInsurance__c</queriedFields>
        <queriedFields>MarketingClosed__c</queriedFields>
        <queriedFields>ECommerceStatus__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Pipeline__c</queriedFields>
        <queriedFields>QuoteCode__c</queriedFields>
        <queriedFields>ReferenceCampaign__c</queriedFields>
        <queriedFields>ReferenceSourceCess__c</queriedFields>
        <queriedFields>RelatedCTICampaignMemberId__c</queriedFields>
        <queriedFields>RenewalDate__c</queriedFields>
        <queriedFields>Result__c</queriedFields>
        <queriedFields>RiskBrand__c</queriedFields>
        <queriedFields>RiskBrandModel__c</queriedFields>
        <queriedFields>RiskCategory__c</queriedFields>
        <queriedFields>RiskDescription__c</queriedFields>
        <queriedFields>RiskDriverBirthdate__c</queriedFields>
        <queriedFields>RiskDriverLicenseDate__c</queriedFields>
        <queriedFields>RiskECICard__c</queriedFields>
        <queriedFields>RiskExpirationDate__c</queriedFields>
        <queriedFields>RiskGender__c</queriedFields>
        <queriedFields>RiskInsuredBirthdate__c</queriedFields>
        <queriedFields>RiskInsuredNumber__c</queriedFields>
        <queriedFields>RiskModel__c</queriedFields>
        <queriedFields>RIskOwnerBirthdate__c</queriedFields>
        <queriedFields>RiskOwnerLicenseDate__c</queriedFields>
        <queriedFields>RiskPolicyHolderBirthdate__c</queriedFields>
        <queriedFields>LeadId</queriedFields>
        <queriedFields>RiskPolicyHolderLicenseDate__c</queriedFields>
        <queriedFields>RiskPostalCode__c</queriedFields>
        <queriedFields>RiskPropertyType__c</queriedFields>
        <queriedFields>RiskSquareMetres__c</queriedFields>
        <queriedFields>RiskTenant__c</queriedFields>
        <queriedFields>RiskVersion__c</queriedFields>
        <queriedFields>SourceCess__c</queriedFields>
        <queriedFields>SourceManualRecord__c</queriedFields>
        <queriedFields>SourceWeb__c</queriedFields>
        <queriedFields>SourceType__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>ManagementsCess__c</queriedFields>
        <queriedFields>ManagementsSF__c</queriedFields>
        <queriedFields>CTISkill__c</queriedFields>
        <queriedFields>CTIOrder__c</queriedFields>
        <queriedFields>MerchandiseType__c</queriedFields>
        <queriedFields>DescriptionMerchandise__c</queriedFields>
        <queriedFields>InsuranceCompany__c</queriedFields>
        <queriedFields>InsuredRisk__c</queriedFields>
        <queriedFields>WebSource__c</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>AmountMerchandise__c</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>ClientOrLeadNumber__c</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>CTIBusinessLinesContracted__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>LeadOrContactId</queriedFields>
        <queriedFields>IsReachable__c</queriedFields>
        <queriedFields>LeadSource</queriedFields>
        <queriedFields>ManagementType__c</queriedFields>
        <queriedFields>MarketingStage__c</queriedFields>
        <queriedFields>NoAnswer__c</queriedFields>
        <queriedFields>OtherRiskData__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>RiskAddress__c</queriedFields>
        <queriedFields>RiskLocation__c</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>RiskOptionCapitalInsured__c</queriedFields>
        <queriedFields>RiskProvince__c</queriedFields>
        <queriedFields>SalesSlip__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>GCLID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Se obtienen las tareas que tengan referencia el CM CTI que se va a historificar para sustituirlo por el miembro historico que se acaba de crear</description>
        <name>Get_Task_CMCTI</name>
        <label>Get Task relacionadas con CM CTI</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscoOtrosMiembrosCampanaCTI</targetReference>
        </connector>
        <filters>
            <field>CampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IdCMCTI__c</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Busca el registro de campaign member CTI que viene como parámetro</description>
        <name>GetCMCTI</name>
        <label>Get CM CTI del parámetro</label>
        <locationX>380</locationX>
        <locationY>770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ExisteCMCTI</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeCampaignMemberCTIId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IdCMCTI__c</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>GuardoRecordTypes</description>
        <name>GetRecordTypes</name>
        <label>GetRecordTypes</label>
        <locationX>380</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMCM__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Busca las oportunidades Abiertas relacionadas con el Campaign member CTI</description>
        <name>OportundadesRelacionadasCMCTI</name>
        <label>Get Opp Relacionadas con CM CTI</label>
        <locationX>182</locationX>
        <locationY>1202</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Task_CMCTI</targetReference>
        </connector>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IdCMCTI__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>Opps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Loss_Reason__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_opps</name>
        <label>Actualizar opps</label>
        <locationX>50</locationX>
        <locationY>4982</locationY>
        <connector>
            <targetReference>Action_InvocableLeadLogic</targetReference>
        </connector>
        <inputReference>Opps_a_actualizar_coleccion</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza las tareas con el nuevo CM CTI</description>
        <name>Update_Task_Asociadas</name>
        <label>Update Tareas asociadas a CM CTI</label>
        <locationX>50</locationX>
        <locationY>2342</locationY>
        <connector>
            <targetReference>Persona_est_como_CM</targetReference>
        </connector>
        <inputReference>Var_Task_Actualizar</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos el estado del Lead a No contactado o No cualificado</description>
        <name>UpdateStatusLead</name>
        <label>Actualizamos el estado del Lead</label>
        <locationX>50</locationX>
        <locationY>4274</locationY>
        <connector>
            <targetReference>Contact_tiene_alguna_oportunidad</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCMCTI.LeadId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>StatusLeadFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>GetRecordTypes</startElementReference>
    <status>Active</status>
    <variables>
        <name>CM_AG_Ad_MKTs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>(Unitario) Los CM AG Gestionados donde guardaremos los CM AG Adicionales tipo Marketing antes de borrarlos</description>
        <name>CM_AG_Adic_MKTs_Equivalentes_Gestionados</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>Colección con los CM AG Gestionados donde guardaremos los CM AG Adicionales tipo MKTs antes de borrarlos</description>
        <name>CM_AG_Adicionales_MKTs_Equivalentes_Gestionados_coleccion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <name>CM_CTIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>(Unitario) Los CM AG Gestionados donde guardaremos los CM CTIs antes de borrarlos</description>
        <name>CM_CTIs_Equivalentes_Gestionados</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>Colección con los CM AG Gestionados donde guardaremos los CM CTI antes de borrarlos</description>
        <name>CM_CTIs_Equivalentes_Gestionados_coleccion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>CM_MKTs donde está el lead que disparó el flow</description>
        <name>CM_MKTs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Unitario - Los CM AG Gestionados donde guardaremos los CM MKTs antes de borrarlos</description>
        <name>CM_MKTs_Equivalentes_Gestionados</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>Colección con los CM AG Gestionados donde guardaremos los CM MKTs antes de borrarlos</description>
        <name>CM_MKTs_Equivalentes_Gestionados_coleccion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>Identificador del nuevo miembro de campaña gestionado de tipo CTI</description>
        <name>IdNuevoMCGestionadoCTI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Cuando se crea el miembro de campaña Gestionado de tipo CTI se guarda en esta variable para disponer del Id</description>
        <name>NuevoMCGestionadoCTI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <name>Opps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opps_a_actualizar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Opps_a_actualizar_coleccion</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>RecordTypeCampaignMemberCTIId</description>
        <name>RecordTypeCampaignMemberCTIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordTypeCampaignMemberMKTId</description>
        <name>RecordTypeCampaignMemberMKTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordTypeIdAdditionalCampaignMemberAG</description>
        <name>RecordTypeIdAdditionalCampaignMemberAG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>RecordTypeIdCampaignMemberManaged</description>
        <name>RecordTypeIdCampaignMemberManaged</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Resultado del miembro de campaña CTI y MKT</description>
        <name>ResultCTI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contiene un listado de tareas a actualizar</description>
        <name>Var_Task_Actualizar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
