force-app/main/default/flows/On_Task_Insert_or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Se asigna el estado Not contacted antes de eliminar el CM CTI</description>
        <name>Set_CM_CTI_Status</name>
        <label>Set_CM_CTI_Status</label>
        <locationX>171</locationX>
        <locationY>2975</locationY>
        <assignmentItems>
            <assignToReference>Var_CampaignMember_CTI.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not contacted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CM_CTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Incrementa en 1 el número de intentos del campo Número de intentos agente del CM CTI</description>
        <name>Set_CMCTI_IncrementaNumIntentos</name>
        <label>Set CM CTI Incrementa Num Intentos</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_CMCTIAsociado.AgentAttempts__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsFilledANIFieldTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna los nuevos valores a campos del CM CTI</description>
        <name>Set_CMCTI_ResultCTIDatetimeLastCall</name>
        <label>Set CM CTI ResultCTI &amp; DatetimeLastCall</label>
        <locationX>1788</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>Get_CMCTIAsociado.ResultCTI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CallDisposition</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_CMCTIAsociado.DatetimeLastCall__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CMCTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el total de CM CTI para el contacto a la variable</description>
        <name>Set_CMCTI_SizeContact</name>
        <label>Set CMCTI Size Contact</label>
        <locationX>248</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>Var_CM_CTI_Size</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Contact_CM_CTIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CMCTI_CampanaContacto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el total de CM CTI para el lead a la variable</description>
        <name>Set_CMCTI_SizeLead</name>
        <label>Set CMCTI Size Lead</label>
        <locationX>776</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>Var_CM_CTI_Size</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Contact_CM_CTIs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CMCTI_CampanaLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fija el valor de no contactado</description>
        <name>Set_Contact_NotContacted</name>
        <label>Set_Contact_NotContacted</label>
        <locationX>193</locationX>
        <locationY>2543</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.notContacted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fija el valor de no contactado</description>
        <name>Set_Lead_NotContacted</name>
        <label>Set_Lead_NotContacted</label>
        <locationX>457</locationX>
        <locationY>2543</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Contactado</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fija el valor de LeadOrContactId</description>
        <name>Set_LeadOrContactId_Contact</name>
        <label>Set_LeadOrContactId_Contact</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Var_LeadOrContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.external_reference__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ContactOrLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fija el valor de LeadOrContactId</description>
        <name>Set_LeadOrContactId_Lead</name>
        <label>Set_LeadOrContactId_Lead</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Var_LeadOrContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.external_reference__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ContactOrLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Fija el valor de LeadOrContactId</description>
        <name>Set_LeadOrContactId_Task</name>
        <label>Set_LeadOrContactId_Task</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>Var_LeadOrContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_tarea_relacionada.WhoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ContactOrLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Almacena el CM_CTI_Contacto en la variable común de CMCTI con la que trabajaremos</description>
        <name>Store_CMCTI_Contacto</name>
        <label>Store CMCTI Contacto</label>
        <locationX>248</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>Var_CampaignMember_CTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMCTI_CampanaContacto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_CTI_EnCampana</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Almacena el CM_CTI_Lead en la variable común de CMCTI con la que trabajaremos</description>
        <name>Store_CMCTI_Lead</name>
        <label>Store CMCTI Lead</label>
        <locationX>776</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>Var_CampaignMember_CTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMCTI_CampanaLead</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_CTI_EnCampana</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Comprueba si el Who Id es contacto o Lead (Lead por defecto)</description>
        <name>Decision_ContactOrLead</name>
        <label>Decision_ContactOrLead</label>
        <locationX>446</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>Get_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>ContactOrLead_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_LeadOrContactId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si el Who Id es contacto o Lead (Lead por defecto)</description>
        <name>Decision_ContactOrLead_Final</name>
        <label>Decision_ContactOrLead_Final</label>
        <locationX>325</locationX>
        <locationY>2423</locationY>
        <defaultConnector>
            <targetReference>Set_Lead_NotContacted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>ContactOrLead_Final_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_LeadOrContactId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_NotContacted</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el Contacto tiene miembro de campaña CTI asignada a la campaña indicado en el fichero de ilocalizables</description>
        <name>Decision_CTI_EnCampana</name>
        <label>Decision_CTI en la Campaña</label>
        <locationX>446</locationX>
        <locationY>2183</locationY>
        <defaultConnectorLabel>No Existe</defaultConnectorLabel>
        <rules>
            <name>CTI_EnCampana_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_CampaignMember_CTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_MasDe1CTI</targetReference>
            </connector>
            <label>Si Existe</label>
        </rules>
    </decisions>
    <decisions>
        <description>si está abierta,</description>
        <name>Decision_CumpleCondiciones</name>
        <label>¿Cumple condiciones?</label>
        <locationX>1238</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CumpleCondiciones_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CESS_Fecha_Planificada__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CESS_Fecha_Planificada__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CESS_Fecha_Planificada__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Dates</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si existe lo actualizamos</description>
        <name>Decision_ExisteCMCTI</name>
        <label>¿Existe el CM CTI?</label>
        <locationX>1920</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>IsGrabacionManual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ExisteCMCTI_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CMCTIAsociado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CMCTI_ResultCTIDatetimeLastCall</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si existe lo actualizamos</description>
        <name>Decision_ExisteCMCTI_paraIncremento</name>
        <label>¿Existe el CM CTI?</label>
        <locationX>1766</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>IsFilledANIFieldTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ExisteCMCTI_paraIncremento_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CMCTIAsociado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CMCTI_IncrementaNumIntentos</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el Lead está convertido o no</description>
        <name>Decision_LeadConvertido</name>
        <label>Lead Convertido Decision</label>
        <locationX>644</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Set_CMCTI_SizeLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead No Convertido</defaultConnectorLabel>
        <rules>
            <name>LeadConvertido_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Lead Convertido</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si el Lead o el contacto está con más de un CM CTI</description>
        <name>Decision_MasDe1CTI</name>
        <label>Decision_MasDe1CTI</label>
        <locationX>171</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Decision_ContactOrLead_Final</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MasDe1CTI_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_CM_CTI_Size</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CM_CTI_Status</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Según si la tarea técnica está relacionada con una tarea, un Lead o un Contacto</description>
        <name>Decision_TaskContactLead</name>
        <label>Decision_Task, Contact or Lead</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>TaskContactLead_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.external_reference__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00T</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_CTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtener_tarea_relacionada</targetReference>
            </connector>
            <label>Task</label>
        </rules>
        <rules>
            <name>TaskContactLead_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.external_reference__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_CTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LeadOrContactId_Contact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
        <rules>
            <name>TaskContactLead_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.external_reference__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Campaign_CTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_LeadOrContactId_Lead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si la tarea es Nueva o No</description>
        <name>Decision_TaskIsNew</name>
        <label>¿Es una tarea Nueva?</label>
        <locationX>1920</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Decision_ExisteCMCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>TaskIsNew_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_ExisteCMCTI_paraIncremento</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si es una tarea técnica o no. Si no lo es podrá ser de Marcador (callback)  o Planificada</description>
        <name>Decision_TipoTarea</name>
        <label>Decision_Tipo de Tarea</label>
        <locationX>1183</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_CMCTIAsociado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Llamada/Otros</defaultConnectorLabel>
        <rules>
            <name>TipoTarea_Tecnica</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Technical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RecordType_CMCTI</targetReference>
            </connector>
            <label>Técnica</label>
        </rules>
        <rules>
            <name>Planificada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schedule Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_CumpleCondiciones</targetReference>
            </connector>
            <label>Planificada</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decisión Entrante No Asociada EntranteNoAsociada</description>
        <name>EntranteNoAsociada</name>
        <label>Entrante No Asociada</label>
        <locationX>1920</locationX>
        <locationY>3263</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EntranteNoAsociadaDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Gest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CallDisposition</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubflujoTaskEntranteNoAsociada</targetReference>
            </connector>
            <label>Entrante No Asociada</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision PB Process Builder - CESS - Call Tasks</description>
        <name>GrabacionNoAsociadaOportunidad</name>
        <label>Grabación No Asociada a Oportunidad</label>
        <locationX>1920</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Llamada_Tipificada_CTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GrabacionNoAsociadaOportunidadDecision</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.recorded_filename__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubflujoTaskGrabacinNoAsociadaOportunidad</targetReference>
            </connector>
            <label>Grabación No Asociada a Oportunidad</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si el campo ANI de la tarea está relleno o no</description>
        <name>IsFilledANIFieldTask</name>
        <label>¿Está relleno el ANI de la tarea?</label>
        <locationX>1766</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Decision_ExisteCMCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ANIIsFilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inin_ani__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubflujoTaskCTIANI</targetReference>
            </connector>
            <label>ANI Relleno</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si tiene marcado el campo Grabación manual</description>
        <name>IsGrabacionManual</name>
        <label>¿Es una Tarea con grabación Manual?</label>
        <locationX>1920</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>GrabacionNoAsociadaOportunidad</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesGrabacionManual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.recorded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubflujoTaskGrabacionManual</targetReference>
            </connector>
            <label>Está marcado Grabación Manual</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se está rellenando el campo Call Disposition</description>
        <name>Llamada_Tipificada_CTI</name>
        <label>Llamada Tipificada CTI?</label>
        <locationX>1920</locationX>
        <locationY>2591</locationY>
        <defaultConnector>
            <targetReference>TransferenciaNoAsociada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CallDispositionIsFilled</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDisposition</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubflujoTaskLlamadaTipificada_CTI</targetReference>
            </connector>
            <label>Call Disposition está relleno</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decisión PB Process Builder - CESS - Call Tasks</description>
        <name>TransferenciaNoAsociada</name>
        <label>Transferencia No Asociada</label>
        <locationX>1920</locationX>
        <locationY>2927</locationY>
        <defaultConnector>
            <targetReference>EntranteNoAsociada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TransferenciaNoAsociadaDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CallType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inbound</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.g_sf_searchvalue__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CallDurationInSeconds</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.CallDurationInSeconds</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.inin_dnis__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>sip:313</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SubflujoTaskTransferenciaNoAsociada</targetReference>
            </connector>
            <label>Transferencia No Asociada</label>
        </rules>
    </decisions>
    <description>Si hay una inserción de tarea técnica, actualiza lead o contacto relacionado; si hay una actualización de tarea de llamada de marcador (al acabar la llamada de teléfono), actualiza miembro de campaña CTI relacionado

02/07: Incluyo solución a la excepción que en el fichero de ilocalizables se envíe una campaña CTI a la que no está asociado el lead o contacto
07/09: Ahora el campo Número de intentos de agente solo se suma en la inserción de tareas
09/09: CAMBIO IMPORTANTE, se incluye la lógica del OnCMDelete  deprecado dentro del borrado del CM
12/09 MHG:  Se depreca el &quot;Subflujo - eliminar intereses asociados a un CM CTI y crear gestionados&quot; y se sustituye por publicación de Platform Event &quot;On Platform Event Delete CM CTI&quot;
13/09 MHG: Se añade una comprobación para el caso en que no exista CMCTI y sin embargo se cree en memoria al incrementar un campo
08/11 MMV: Corrección para evitar que recupere más de 50000 registros
21/11 AC: Corección para que el cierre de miembros de campaña no salten cuando en tareas técnicas nos envíen un lead convertido
13/12/22 MMV: refactorización y nueva rama para planificadas</description>
    <formulas>
        <description>Me indica si la tarea es Nueva o no</description>
        <name>IsNewFormula</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISNEW(), TRUE,FALSE)</expression>
    </formulas>
    <interviewLabel>On Task Insert or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Task Insert or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Crea el registro de Platform Event que borrará asíncronamente este registro e historificará los CM MKT relacionados. Esto sustituye al flujo deprecado &quot;Subflujo - eliminar intereses asociados a un CM CTI y crear gestionados&quot;</description>
        <name>Create_PlatformEvent_BorradoCMCTI</name>
        <label>Create_PlatformEvent_BorradoCMCTI</label>
        <locationX>171</locationX>
        <locationY>3215</locationY>
        <inputAssignments>
            <field>BorrarCMCTI__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdCMCTI__c</field>
            <value>
                <elementReference>Var_CampaignMember_CTI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>Var_CampaignMember_CTI.Result__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Var_CampaignMember_CTI.Status</elementReference>
            </value>
        </inputAssignments>
        <object>CMCTIDeleteEvent__e</object>
    </recordCreates>
    <recordLookups>
        <description>Obtiene la campaña de CTI asociada con el registro</description>
        <name>Get_Campaign_CTI</name>
        <label>Get_Campaign_CTI</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_TaskContactLead</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inin_campaign__c</elementReference>
            </value>
        </filters>
        <object>Campaign</object>
    </recordLookups>
    <recordLookups>
        <description>Obtiene todos los CM CTI del Contacto</description>
        <name>Get_CMCTI_AllContact</name>
        <label>Get CMCTI All Contact</label>
        <locationX>248</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_CMCTI_SizeContact</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType_CMCTI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_LeadOrContactId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>Contact_CM_CTIs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Obtiene todos los CM CTI del Lead</description>
        <name>Get_CMCTI_AllLead</name>
        <label>Get CMCTI All Lead</label>
        <locationX>644</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_LeadConvertido</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType_CMCTI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_LeadOrContactId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>Contact_CM_CTIs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el CM CTI técnico relacionado con el contacto</description>
        <name>Get_CMCTI_CampanaContacto</name>
        <label>Get CMCTI Campaña Contact</label>
        <locationX>248</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_CMCTI_Contacto</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_CTI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_LeadOrContactId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el CM CTI técnico relacionado con el contacto</description>
        <name>Get_CMCTI_CampanaLead</name>
        <label>Get CMCTI Campaña Lead</label>
        <locationX>776</locationX>
        <locationY>1751</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_CMCTI_Lead</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_CTI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_LeadOrContactId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene el CM CTI asociado a la tarea, si está informado y existe</description>
        <name>Get_CMCTIAsociado</name>
        <label>Get CM CTI Asociado</label>
        <locationX>1920</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_TaskIsNew</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CampaignMemberId__c</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Obtener Contacto</description>
        <name>Get_Contact</name>
        <label>Get_Contact</label>
        <locationX>248</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CMCTI_AllContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_LeadOrContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el Lead</description>
        <name>Get_Lead</name>
        <label>Get_Lead</label>
        <locationX>644</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CMCTI_AllLead</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_LeadOrContactId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <description>Obtener RecordType CampaignMember CTI</description>
        <name>Get_RecordType_CMCTI</name>
        <label>Get_RecordType_CMCTI</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_CTI</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTI</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
    </recordLookups>
    <recordLookups>
        <name>Obtener_tarea_relacionada</name>
        <label>Obtener tarea relacionada</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_LeadOrContactId_Task</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.external_reference__c</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </recordLookups>
    <recordLookups>
        <description>Recogemos la oportunidad de la tarea</description>
        <name>Oportunidad_de_la_Tarea</name>
        <label>Oportunidad de la Tarea</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actualizamos_RelatedOpportunity</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordUpdates>
        <description>Actuualizamos el campo de tarea &apos;Related Opportunity&apos;</description>
        <name>Actualizamos_RelatedOpportunity</name>
        <label>Actualizamos Related Opportunity</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>RelatedOpportunity__c</field>
            <value>
                <elementReference>Oportunidad_de_la_Tarea.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza CM CTI para borrarlo y que en el trigger de on Campaign member delete se haga todo el proceso de historificación</description>
        <name>Update_CM_CTI</name>
        <label>Update_CM_CTI</label>
        <locationX>171</locationX>
        <locationY>3095</locationY>
        <connector>
            <targetReference>Create_PlatformEvent_BorradoCMCTI</targetReference>
        </connector>
        <inputReference>Var_CampaignMember_CTI</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el CM CTI con los nuevos valores en los campos asignados previamente</description>
        <name>Update_CMCTI</name>
        <label>Update CM CTI</label>
        <locationX>1788</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>IsGrabacionManual</targetReference>
        </connector>
        <inputReference>Get_CMCTIAsociado</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el Contacto</description>
        <name>Update_Contact</name>
        <label>Update_Contact</label>
        <locationX>193</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Set_CM_CTI_Status</targetReference>
        </connector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el Lead</description>
        <name>Update_Lead</name>
        <label>Update_Lead</label>
        <locationX>457</locationX>
        <locationY>2663</locationY>
        <connector>
            <targetReference>Set_CM_CTI_Status</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza los campos de oportunidad con la nueva fecha de la tarea planificada</description>
        <name>Update_Opportunity_Dates</name>
        <label>Update Opportunity Dates</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Oportunidad_de_la_Tarea</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.CESS_Report_Fecha_planificada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nextcontact_date__c</field>
            <value>
                <elementReference>$Record.CESS_Fecha_Planificada__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Decision_TipoTarea</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Actualiza datos en el usuario</description>
        <name>SubflujoTaskCTIANI</name>
        <label>Subflujo Task CTI ANI</label>
        <locationX>1634</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Decision_ExisteCMCTI</targetReference>
        </connector>
        <flowName>Subflujo_Task_CTI_ANI</flowName>
        <inputAssignments>
            <name>TaskRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo Task Entrante No Asociada</description>
        <name>SubflujoTaskEntranteNoAsociada</name>
        <label>Subflujo Task Entrante No Asociada</label>
        <locationX>1788</locationX>
        <locationY>3383</locationY>
        <flowName>Subflujo_Task_Entrante_No_Asociada</flowName>
        <inputAssignments>
            <name>TaskRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo Task Grabación No Asociada a Oportunidad</description>
        <name>SubflujoTaskGrabacinNoAsociadaOportunidad</name>
        <label>Subflujo Task Grabación No Asociada a Oportunidad</label>
        <locationX>1788</locationX>
        <locationY>2375</locationY>
        <connector>
            <targetReference>Llamada_Tipificada_CTI</targetReference>
        </connector>
        <flowName>Subflujo_Task_Grabaci_n_No_Asociada_a_Oportunidad</flowName>
        <inputAssignments>
            <name>TaskRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Actualizamos campos grabación manual del miembro de campaña CTI</description>
        <name>SubflujoTaskGrabacionManual</name>
        <label>Subflujo - Task Grabación Manual</label>
        <locationX>1788</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>GrabacionNoAsociadaOportunidad</targetReference>
        </connector>
        <flowName>Subflujo_Task_Grabacion_Manual</flowName>
        <inputAssignments>
            <name>TaskRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Actualizamos datos del miembro de campaña CTI, Miembros de campaña MKT y Adicionales</description>
        <name>SubflujoTaskLlamadaTipificada_CTI</name>
        <label>Subflujo Task Llamada Tipificada CTI</label>
        <locationX>1788</locationX>
        <locationY>2711</locationY>
        <connector>
            <targetReference>TransferenciaNoAsociada</targetReference>
        </connector>
        <flowName>Subflujo_Task_Llamada_Tipificada_CTI</flowName>
        <inputAssignments>
            <name>TaskRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Subflujo Task Transferencia No Asociada</description>
        <name>SubflujoTaskTransferenciaNoAsociada</name>
        <label>Subflujo Task Transferencia No Asociada</label>
        <locationX>1788</locationX>
        <locationY>3047</locationY>
        <connector>
            <targetReference>EntranteNoAsociada</targetReference>
        </connector>
        <flowName>Subflujo_Task_Transferencia_No_Asociada</flowName>
        <inputAssignments>
            <name>TaskRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Contact_CM_CTIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>Lead_CM_CTIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Variable única para no copiar/pegar la funcionalidad cuando es lead o contacto</description>
        <name>Var_CampaignMember_CTI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Número total de CM CTI para el Lead o el Contacto</description>
        <name>Var_CM_CTI_Size</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Id del Lead o del contacto (se usa para obtener los CMCTI sin duplicar lógica</description>
        <name>Var_LeadOrContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
