force-app/main/default/flows/OnCMCreationEventInsert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Asigna el Order por defecto para BLECIS.</description>
        <name>Asigna_CTIBLECIS_ORDER</name>
        <label>Asigna CTIBLECIS_ORDER</label>
        <locationX>3042</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>OrgAppSett_CESS_CTIBLECIS_ORDER</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopORGApplicationSettings.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopORGApplicationSettings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el Skill por defecto de BLECIS.</description>
        <name>Asigna_CTIBLECIS_SKILL</name>
        <label>Asigna CTIBLECIS_SKILL</label>
        <locationX>2778</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>OrgAppSett_CESS_CTIBLECIS_SKILL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopORGApplicationSettings.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopORGApplicationSettings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el nombre de la campaña CTI por defecto</description>
        <name>AsignaCTIPLANCAMPAIGN</name>
        <label>Asigna CTIPLAN_CAMPAIGN</label>
        <locationX>2514</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>OrgAppSett_CESS_CTIPLAN_CAMPAIGN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopORGApplicationSettings.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopORGApplicationSettings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el Order por defecto</description>
        <name>AsignaCTIPLANORDER</name>
        <label>Asigna CTIPLAN_ORDER</label>
        <locationX>2250</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>OrgAppSett_CESS_CTIPLAN_ORDER</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopORGApplicationSettings.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopORGApplicationSettings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el Skill por defecto a la variable</description>
        <name>AsignaCTIPLANSKILL</name>
        <label>Asigna CTIPLAN_SKILL</label>
        <locationX>1722</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>OrgAppSett_CESS_CTIPLAN_SKILL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopORGApplicationSettings.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopORGApplicationSettings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el Identificador del CampaignMember CTI actualizado</description>
        <name>AsignaIdCMCTI</name>
        <label>Asigna Id CM CTI</label>
        <locationX>842</locationX>
        <locationY>3866</locationY>
        <assignmentItems>
            <assignToReference>IdCampaignMemberCTIRelacionado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuscaCMsEnCampCTI.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>existeCMCTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna la variable isInactiveCTIRule a false</description>
        <name>AsignaIsInactiveCTIRuleFalse</name>
        <label>Asigna isInactiveCTIRule a false</label>
        <locationX>1865</locationX>
        <locationY>2210</locationY>
        <assignmentItems>
            <assignToReference>isInactiveCTIRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ObtenerCampanaCTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna a true ya que la regla CTI está inactiva</description>
        <name>AsignaisInactiveCTIRuleTrue</name>
        <label>Asigna isInactiveCTIRule a true</label>
        <locationX>2129</locationX>
        <locationY>2210</locationY>
        <assignmentItems>
            <assignToReference>isInactiveCTIRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ObtenerCampanaCTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el nombre de la campaña de MKT por defecto</description>
        <name>AsignaMKTPLANCAMPAIGN</name>
        <label>Asigna MKTPLAN_CAMPAIGN</label>
        <locationX>1986</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>OrgAppSett_CESS_MKTPLAN_CAMPAIGN</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopORGApplicationSettings.Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopORGApplicationSettings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Asignar_campana_CTI</name>
        <label>Asignar campaña CTI</label>
        <locationX>1403</locationX>
        <locationY>2318</locationY>
        <assignmentItems>
            <assignToReference>CTICampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObteneCampanaCTIDefecto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_EsBlecisOrdenSkillRellenos02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna la campaña CTI indicada a la variable</description>
        <name>AsignarCampanaCTI</name>
        <label>Asignar campaña CTI</label>
        <locationX>1139</locationX>
        <locationY>2210</locationY>
        <assignmentItems>
            <assignToReference>CTICampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerCampanaCTIIndicada</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_EsBlecisOrdenSkillRellenos02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna la campaña de CTI encontrada según las reglas CTI</description>
        <name>AsignarCampanaCTI_0</name>
        <label>Asignar campaña CTI</label>
        <locationX>1799</locationX>
        <locationY>2618</locationY>
        <assignmentItems>
            <assignToReference>CTICampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerCampanaCTI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_EsBlecisOrdenSkillRellenos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna la campaña de MKT encontrada a la variable</description>
        <name>AsignarCampanaMKT</name>
        <label>Asignar campaña MKT</label>
        <locationX>1502</locationX>
        <locationY>1586</locationY>
        <assignmentItems>
            <assignToReference>MKTCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerCampanaMKTRamo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CampCTIVieneIndicadaLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna a la variable la campaña de MKT por defecto</description>
        <name>AsignarCampanaMKTDefecto</name>
        <label>Asignar campaña MKT por defecto</label>
        <locationX>1766</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>MKTCampaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtener_campa_a_por_defecto</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CampCTIVieneIndicadaLead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el Id del tipo de registro de CAMPAÑA MKT</description>
        <name>AsignaRTIdCampanaMKT</name>
        <label>Asigna RTIdCampañaMKT</label>
        <locationX>2778</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>RTIdCampanaMKT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el Id del tipo de registro de CampaignMember CTI</description>
        <name>AsignaRTIdCMCTI</name>
        <label>Asigna RTIdCMCTI</label>
        <locationX>1722</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>RTIdCMCTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el Id del tipo de registro de campaignmember MKT</description>
        <name>AsignaRTIdCMMKT</name>
        <label>Asigna RTIdCMMKT</label>
        <locationX>1986</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>RTIdCMMKT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el Id del tipo de registro de miembro de campaña AG Adicional</description>
        <name>AsignaRTIdMCAdicional</name>
        <label>Asigna RTIdMCAdicional</label>
        <locationX>2250</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>RTIdMCAdicional</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el Id del tipo de registro de miembro de campaña AG Gestionado</description>
        <name>AsignaRTIdMCGestionado</name>
        <label>Asigna RTIdMCGestionado</label>
        <locationX>2514</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>RTIdMCGestionado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRecordTypes.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guarda en la variable el Order por defecto</description>
        <name>SetDefaultOrder</name>
        <label>Set default order</label>
        <locationX>1403</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrgAppSett_CESS_CTIPLAN_ORDER</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuscaCMsEnCampCTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guarda en la variable el Skill por defecto</description>
        <name>SetDefaultSkill</name>
        <label>Set default skill</label>
        <locationX>1403</locationX>
        <locationY>2618</locationY>
        <assignmentItems>
            <assignToReference>Skill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrgAppSett_CESS_CTIPLAN_SKILL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetDefaultOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guarda en la variable el Order que viene rellenado.</description>
        <name>SetOrder</name>
        <label>Set Order</label>
        <locationX>1667</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuscaCMsEnCampCTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guarda en la variable el Order que viene rellenado.</description>
        <name>SetOrder02</name>
        <label>Set Order</label>
        <locationX>1139</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuscaCMsEnCampCTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guarda en la variable el Order de la regla CTI.</description>
        <name>SetOrderCTI</name>
        <label>Set Order regla CTI</label>
        <locationX>1931</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>Order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerMatchReglaCTI.order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuscaCMsEnCampCTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guarda en la variable el Skill que viene rellenado.</description>
        <name>SetSkill</name>
        <label>Set skill</label>
        <locationX>1667</locationX>
        <locationY>2834</locationY>
        <assignmentItems>
            <assignToReference>Skill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.skill__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guarda en la variable el Skill que viene rellenado.</description>
        <name>SetSkill02</name>
        <label>Set skill</label>
        <locationX>1139</locationX>
        <locationY>2618</locationY>
        <assignmentItems>
            <assignToReference>Skill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.skill__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetOrder02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guarda en la variable el Skill de la regla CTI.</description>
        <name>SetSkillCTI</name>
        <label>Set skill regla CTI</label>
        <locationX>1931</locationX>
        <locationY>2834</locationY>
        <assignmentItems>
            <assignToReference>Skill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObtenerMatchReglaCTI.skill__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetOrderCTI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Si el campo campaign_cti__c de lead viene relleno, se propaga a campaignCTI__c del platform event, y en dicho caso el enrutamiento a campaña es manual y hay que ignorar reglas CTI</description>
        <name>CampCTIVieneIndicadaLead</name>
        <label>¿Camp CTI viene indicada en Lead?</label>
        <locationX>1634</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>ObtenerMatchReglaCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_campCTI_rellenado</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.campaignCTI__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.campaignCESS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ObtenerCampanaCTIIndicada</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el CM es de BLECIS y si los campos Orden y Skill están rellenos.</description>
        <name>Decision_EsBlecisOrdenSkillRellenos</name>
        <label>Es Blecis con Orden y Skill rellenos?</label>
        <locationX>1799</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>SetSkillCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EsBlecisOrdenSkillRellenos_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.skill__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sourceType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLECIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSkill</targetReference>
            </connector>
            <label>BLECIS con Orden Skill rellenos</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si el CM es de BLECIS y si los campos Orden y Skill están rellenos.</description>
        <name>Decision_EsBlecisOrdenSkillRellenos02</name>
        <label>BLECIS con Orden Skill rellenos</label>
        <locationX>1271</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>SetDefaultSkill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>EsBlecisOrdenSkillRellenos02_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.skill__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sourceType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BLECIS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetSkill02</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si existe ya en la campaña de MKT o no</description>
        <name>EstaYaCampMKT</name>
        <label>¿Esta ya en la Campaña de MKT?</label>
        <locationX>842</locationX>
        <locationY>5090</locationY>
        <defaultConnector>
            <targetReference>RegistroMatcheadoLeadMKT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiCMMKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscaCMsCampMKT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RegistroMatcheadoLeadAdicional</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si ya existe en la campaña CTI</description>
        <name>EstaYaEnCampCTI</name>
        <label>¿Está ya en la Campaña CTI?</label>
        <locationX>1634</locationX>
        <locationY>3410</locationY>
        <defaultConnector>
            <targetReference>RegistroMatcheadoLeadCreaCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiCMCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscaCMsEnCampCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrdenMayor</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha encontrado la campa CTI</description>
        <name>ExisteCampanaCTI</name>
        <label>¿Existe campaña CTI?</label>
        <locationX>1997</locationX>
        <locationY>2510</locationY>
        <defaultConnector>
            <targetReference>ObteneCampanaCTIDefecto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_campana_CTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerCampanaCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarCampanaCTI_0</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evalua si existe una campaña de MKT para ese ramo</description>
        <name>ExisteCampanaMKTParaRamo</name>
        <label>¿Existe campaña MKT para el ramo?</label>
        <locationX>1634</locationX>
        <locationY>1478</locationY>
        <defaultConnector>
            <targetReference>Obtener_campa_a_por_defecto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerCampanaMKTRamo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarCampanaMKT</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si existe ya un CM CTI de este registro.</description>
        <name>existeCMCTI</name>
        <label>Existe ya un CM CTI de este registro?</label>
        <locationX>842</locationX>
        <locationY>3974</locationY>
        <defaultConnector>
            <targetReference>BuscarCMMKTMismoRamo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>noExisteCMCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscaCMsEnCampCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscaCMsCampMKT</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si existe algún registro de tipo CM MKT o CM Adicional con el mismo Ramo</description>
        <name>existeCMMismoRamo</name>
        <label>Existe CM MKT O Adicional con mismo ramo?</label>
        <locationX>1040</locationX>
        <locationY>4298</locationY>
        <defaultConnector>
            <targetReference>RegistroMatcheadoLeadGestionado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>NoExisteCMMismaDescripcion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscarCMMKTMismoRamo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuscarCMAGMismoRamo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscaCMsCampMKT</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si existe la campaña continuamos, si no existe vamos a la de por defecto</description>
        <name>ExisteLaCampana</name>
        <label>¿Existe la campaña?</label>
        <locationX>1271</locationX>
        <locationY>2102</locationY>
        <defaultConnector>
            <targetReference>ObteneCampanaCTIDefecto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiExisteLaCampana</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerCampanaCTIIndicada</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignarCampanaCTI</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si el Order que aplica en esta ejecución (ya sea por regla CTI o por defecto) es mayor que la que está aplicada en el CM CTI encontrado</description>
        <name>OrdenMayor</name>
        <label>¿Orden mayor?</label>
        <locationX>842</locationX>
        <locationY>3518</locationY>
        <defaultConnector>
            <targetReference>Actualiza_CM_CTI_sin_orden</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiOrdenMayor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>BuscaCMsEnCampCTI.CTIOrder__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualiza_CM_CTI_con_orden</targetReference>
            </connector>
            <label>Sí</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evalua los diferentes registros que hemos obtenido para guardarlos en variables</description>
        <name>QueRegistroMetadataEs_0</name>
        <label>¿Qué Registro Metadata es?</label>
        <locationX>2514</locationX>
        <locationY>986</locationY>
        <defaultConnector>
            <targetReference>LoopORGApplicationSettings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CTISkill_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopORGApplicationSettings.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CESS_CTIPLAN_SKILL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaCTIPLANSKILL</targetReference>
            </connector>
            <label>CTI Skill</label>
        </rules>
        <rules>
            <name>MKTPLANCAMPAIGN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopORGApplicationSettings.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CESS_MKTPLAN_CAMPAIGN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaMKTPLANCAMPAIGN</targetReference>
            </connector>
            <label>MKTPLAN_CAMPAIGN</label>
        </rules>
        <rules>
            <name>CTIPLANORDER</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopORGApplicationSettings.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CESS_CTIPLAN_ORDER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaCTIPLANORDER</targetReference>
            </connector>
            <label>CTIPLAN_ORDER</label>
        </rules>
        <rules>
            <name>CTIPLANCAMPAIGN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopORGApplicationSettings.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CESS_CTIPLAN_CAMPAIGN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaCTIPLANCAMPAIGN</targetReference>
            </connector>
            <label>CTIPLAN_CAMPAIGN</label>
        </rules>
        <rules>
            <name>CTIBLECIS_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopORGApplicationSettings.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CESS_CTIBLECIS_SKILL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_CTIBLECIS_SKILL</targetReference>
            </connector>
            <label>CTIBLECIS_Skill</label>
        </rules>
        <rules>
            <name>CTIBLECIS_Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopORGApplicationSettings.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CESS_CTIBLECIS_ORDER</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asigna_CTIBLECIS_ORDER</targetReference>
            </connector>
            <label>CTIBLECIS_Order</label>
        </rules>
    </decisions>
    <decisions>
        <description>Cada tipo de registro se guarda en una variable</description>
        <name>QueTipoDeRegitro</name>
        <label>¿Qué tipo de registro es?</label>
        <locationX>2382</locationX>
        <locationY>386</locationY>
        <defaultConnector>
            <targetReference>LoopRecordTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CMCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CTI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopRecordTypes.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CampaignMember</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaRTIdCMCTI</targetReference>
            </connector>
            <label>CM CTI</label>
        </rules>
        <rules>
            <name>CMMKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopRecordTypes.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CampaignMember</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaRTIdCMMKT</targetReference>
            </connector>
            <label>CM MKT</label>
        </rules>
        <rules>
            <name>MCAdicional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Additional</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopRecordTypes.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMCM__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaRTIdMCAdicional</targetReference>
            </connector>
            <label>MC Adicional</label>
        </rules>
        <rules>
            <name>MCGestionado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Managed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopRecordTypes.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AMCM__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaRTIdMCGestionado</targetReference>
            </connector>
            <label>MC Gestionado</label>
        </rules>
        <rules>
            <name>CampanaMKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopRecordTypes.SobjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Campaign</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LoopRecordTypes.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaRTIdCampanaMKT</targetReference>
            </connector>
            <label>Campaña MKT</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si el registro Matcheado es un Lead, sino es un Contacto</description>
        <name>RegistroMatcheadoLeadAdicional</name>
        <label>¿El Registro Matcheado es un Lead?</label>
        <locationX>314</locationX>
        <locationY>5198</locationY>
        <defaultConnector>
            <targetReference>CreaMCAdicionalMKTCliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiRegistroMatcheadoLeadAdicional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.matchedRecordId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreaMCAdicionalLead</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si el registro Matcheado es un Lead, sino es un Contacto</description>
        <name>RegistroMatcheadoLeadCreaCTI</name>
        <label>¿El Registro Matcheado es un Lead?</label>
        <locationX>2426</locationX>
        <locationY>3518</locationY>
        <defaultConnector>
            <targetReference>CreaCMCTICliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiRegistroMatcheadoLeadCreaCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.matchedRecordId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreaCMCTILead</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si el registro Matcheado es un Lead, sino es un Contacto</description>
        <name>RegistroMatcheadoLeadGestionado</name>
        <label>¿El Registro Matcheado es un Lead?</label>
        <locationX>1260</locationX>
        <locationY>4406</locationY>
        <defaultConnector>
            <targetReference>CreeamosCMAGGestionadoCliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiRegistroMatcheadoLeadGestionado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.matchedRecordId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreeamosCMAGGestionadoLead</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si el registro Matcheado es un Lead, sino es un Contacto</description>
        <name>RegistroMatcheadoLeadMKT</name>
        <label>¿El Registro Matcheado es un Lead?</label>
        <locationX>1370</locationX>
        <locationY>5198</locationY>
        <defaultConnector>
            <targetReference>CreaCMMKTCliente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiRegistroMatcheadoLeadMKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.matchedRecordId__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreaCMMKTLead</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si está la regla de CTI Activa o no ha matcheado con ninguna regla</description>
        <name>ReglaCTIActivaONoMatch</name>
        <label>¿Regla CTI activa o no ha matcheado?</label>
        <locationX>1997</locationX>
        <locationY>2102</locationY>
        <defaultConnector>
            <targetReference>AsignaisInactiveCTIRuleTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiReglaCTIActiva</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObtenerMatchReglaCTI.active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ObtenerMatchReglaCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaIsInactiveCTIRuleFalse</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>El platform event CM Creation Event se crea cada vez que hay un nuevo lead no fraudulento. En este flujo ha de gestionarse la creación/actualización de miembros de campaña MKT, de miembros de campaña AG MKT y de miembros de campaña CTI (cuando proceda) 
VERSION MARIO: Añado el control para no enviar el miembro de campaña (campo Origen Manual)
-Añadido filtro por descripción de riesgo
20/09 MMV: Cuando sea actualiza el CM CTI con una segunda skill se usa la de por defecto (1) no 0
03/10 MMV: En la actualización del CM CTI se actualiza también el campo Campaña CTI
11/11 MMV: Se busca la regla CTI solo por source_type__c y source_cess__c
28/11 MMV: Se añade el campo Origen Registro Manual cuando se crea el CM CTI para un cliente
01/12 MMV/AC: En caso de fallo en la creación/actualización de CM CTI, se genera un registro IntegrationLog
11/01/2023 JCB: Se añade casuística para encontrar CM duplicados. Si el CM RiskDescription viene en blanco, y existe otro CM con el mismo ramo, se toma como duplicado.
03/02/2023 MSC: Se añade el campo riesgo asegurado en la creación de los CM y se pasan el skill y order insertados si vienen rellenados.
09/02/2023 MSC: Se modifica la asignación del Order y Skill solo para BLECIS si vienen rellenados.
28/02/2023 JCB: Se modifica casuística para encontrar CM duplicados, solo se utiliza el campo Ramo.
06/03/2023 MSC: Se modifica la asignación del Order y Skill solo para BLECIS si vienen rellenados aunque no encuentre regla CTI.
03/07/2023 JCB: Se añade campo GCLID__c en la creación de CM MKT, Adicionales, Gestionados e IntegrationLog
01/2024 LCS-JCB: Se añade condición que  Regla CTI esté activa en Get.</description>
    <formulas>
        <description>Información sobre el registro fallido en formato CSV para poderlo cargar fácilmente</description>
        <name>For_CSVRecordData</name>
        <dataType>String</dataType>
        <expression>&quot;\&quot;&quot; + {!$Record.Campaign__c} + &quot;\&quot;,\&quot;&quot; + {!$Record.campaignCESS__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.campaignCTI__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.referenceCampaign__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.quoteCode__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.riskPostalcode__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.insuranceCompany__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.sourceLeadEmail__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.riskDescription__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.DescriptionMerchandise__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.RiskAddress__c} + &quot;\&quot;,\&quot;&quot;+ TEXT({!$Record.riskdriverLicensedate__c}) + &quot;\&quot;,\&quot;&quot;+ TEXT({!$Record.riskownerLicensedate__c}) + &quot;\&quot;,\&quot;&quot;+ TEXT({!$Record.riskpolicyholderLicensedate__c}) + &quot;\&quot;,\&quot;&quot;+ TEXT({!$Record.birthdate__c}) + &quot;\&quot;,\&quot;&quot;+ TEXT({!$Record.renewalDate__c}) + &quot;\&quot;,\&quot;&quot;+ {!$Record.riskInsuredBirthDate__c} + &quot;\&quot;,\&quot;&quot;+ TEXT({!$Record.riskDriverBirthDate__c}) + &quot;\&quot;,\&quot;&quot;+ TEXT({!$Record.riskOwnerBirthDate__c}) + &quot;\&quot;,\&quot;&quot;+ TEXT({!$Record.riskPolicyHolderBirthDate__c}) + &quot;\&quot;,\&quot;&quot;+ TEXT({!$Record.riskExpirationdate__c}) + &quot;\&quot;,\&quot;&quot;+ {!$Record.IdExterno__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.CESSIDDisplayAdvertisments__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.CESSIDGoogleAnalytics__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.CESSIdPricing__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.AmountMerchandise__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.RiskLocation__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.riskBrand__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.sourceType__c} + &quot;\&quot;,\&quot;&quot;+ TEXT({!$Record.riskSquaremetres__c}) + &quot;\&quot;,\&quot;&quot;+ {!$Record.riskCategory__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.riskModel__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.sourceLeadMobilePhone__c} + &quot;\&quot;,\&quot;&quot;+ TEXT({!$Record.riskinsuredNumber__c}) + &quot;\&quot;,\&quot;&quot;+ {!$Record.sourceLeadNumber__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.RiskOptionCapitalInsured__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.sourceWeb__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.sourceCess__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.referencesourceCess__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.LeadSource__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.sourceManualrecord__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.OtherRiskData__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.riskTenant__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.RiskProvince__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.lineInsurance__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.ageRange__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.riskGender__c}+ &quot;\&quot;,\&quot;&quot;+ {!$Record.SalesSlip__c} + &quot;\&quot;,\&quot;&quot;+ IF({!$Record.riskEcicard__c},&apos;TRUE&apos;,&apos;FALSE&apos;) + &quot;\&quot;,\&quot;&quot;+ {!$Record.sourceLeadPhone__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.campaingtypeCess__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.MerchandiseType__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.riskPropertytype__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.sourceLeadDocumentType__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.CESSScoring__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.riskVersion__c} + &quot;\&quot;,\&quot;&quot;+ {!$Record.source_web__c} + &quot;\&quot;,\&quot;&quot;+{!$Record.GCLID__c} + &quot;\&quot;&quot;</expression>
    </formulas>
    <formulas>
        <description>Cabecera del CSV que se usará para recargar estos registros. Con el CSV se cargarán Leads, asi que la cabecera debe contener los nombres api de los campos correspondientes de Lead, en el mismo order que los datos de For_CSVData</description>
        <name>For_HeaderData</name>
        <dataType>String</dataType>
        <expression>&quot;\&quot;campaign__c\&quot;,\&quot;campaign_cess__c\&quot;,\&quot;Campaign_CTI_Picklist__c\&quot;,\&quot;reference_campaign__c\&quot;,\&quot;quote_code__c\&quot;,\&quot;risk_postalcode__c\&quot;,\&quot;insurance_company__c\&quot;,\&quot;Email\&quot;,\&quot;risk_description__c\&quot;,\&quot;DescriptionMerchandise__c\&quot;,\&quot;RiskAddress__c\&quot;,\&quot;riskdriver_licensedate__c\&quot;,\&quot;riskowner_licensedate__c\&quot;,\&quot;riskpolicyholder_licensedate__c\&quot;,\&quot;birthdate__c\&quot;,\&quot;renewal_date__c\&quot;,\&quot;riskinsured_birthdate__c\&quot;,\&quot;riskdriver_birthdate__c\&quot;,\&quot;riskowner_birthdate__c\&quot;,\&quot;riskpolicyholder_birthdate__c\&quot;,\&quot;risk_expirationdate__c\&quot;,\&quot;IdExterno__c\&quot;,\&quot;CESS_IDDisplayAdvertisments__c\&quot;,\&quot;CESS_IDGoogleAnalytics__c\&quot;,\&quot;CESS_IdPricing__c\&quot;,\&quot;AmountMerchandise__c\&quot;,\&quot;RiskLocation__c\&quot;,\&quot;risk_brand__c\&quot;,\&quot;source_type__c\&quot;,\&quot;risk_squaremetres__c\&quot;,\&quot;risk_category__c\&quot;,\&quot;risk_model__c\&quot;,\&quot;MobilePhone\&quot;,\&quot;riskinsured_number__c\&quot;,\&quot;document_number__c\&quot;,\&quot;RiskOptionCapitalInsured__c\&quot;,\&quot;sourceWeb__c\&quot;,\&quot;source_cess__c\&quot;,\&quot;referencesource_cess__c\&quot;,\&quot;LeadSource\&quot;,\&quot;source_manualrecord__c\&quot;,\&quot;OtherRiskData__c\&quot;,\&quot;risk_tenant__c\&quot;,\&quot;RiskProvince__c\&quot;,\&quot;line_insurance__c\&quot;,\&quot;age_range__c\&quot;,\&quot;risk_gender__c\&quot;,\&quot;SalesSlip__c\&quot;,\&quot;risk_ecicard__c\&quot;,\&quot;Phone\&quot;,\&quot;campaingtype_cess__c\&quot;,\&quot;MerchandiseType__c\&quot;,\&quot;risk_propertytype__c\&quot;,\&quot;document_type__c\&quot;,\&quot;CESS_Scoring__c\&quot;,\&quot;risk_version__c\&quot;,\&quot;source_web__c\&quot;,\&quot;GCLID__c\&quot;&quot;</expression>
    </formulas>
    <formulas>
        <description>Si el sourceType (Medio) viene vacío le mete Manual por defecto para evitar fallos</description>
        <name>Medio</name>
        <dataType>String</dataType>
        <expression>IF(
   ISBLANK({!$Record.sourceType__c}),
   &apos;Manual&apos;,
   {!$Record.sourceType__c}
)</expression>
    </formulas>
    <formulas>
        <description>En caso que haya que actualizar el skill de un CM CTI ya existente, guardamos aquí el valor</description>
        <name>nuevoSkill</name>
        <dataType>String</dataType>
        <expression>IF(
{!Skill}=={!BuscaCMsEnCampCTI.CTISkill__c},
{!BuscaCMsEnCampCTI.CTISkill__c},
{!OrgAppSett_CESS_CTIPLAN_SKILL})</expression>
    </formulas>
    <formulas>
        <description>El Order definido en la llamada (ya sea de Reglas CTI o por defecto) convertido a número</description>
        <name>OrderNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE(SUBSTITUTE({!Order},&quot;.&quot;,&quot;&quot;))</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>sendCTI</name>
        <dataType>Boolean</dataType>
        <expression>IF( ISBLANK({!$Record.SourceManualRecord__c}),true,false)</expression>
    </formulas>
    <interviewLabel>On {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On CM Creation Event Insert</label>
    <loops>
        <description>Itera todos los valores para guardarlos en variables</description>
        <name>LoopORGApplicationSettings</name>
        <label>Loop ORG_ApplicationSettings</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <collectionReference>ObtenerMetadataORGApplicationSettings</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>QueRegistroMetadataEs_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ObtenerCampanaMKTRamo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos los tipos de registro y los guardamos en variables</description>
        <name>LoopRecordTypes</name>
        <label>Loop RecordTypes</label>
        <locationX>1634</locationX>
        <locationY>278</locationY>
        <collectionReference>ObtenerIdsTIposDeRegistro</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>QueTipoDeRegitro</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ObtenerMetadataORGApplicationSettings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Crea un Campaign Member de tipo CTI relacionado con el Contacto matcheado</description>
        <name>CreaCMCTICliente</name>
        <label>Crea CM CTI cliente</label>
        <locationX>2690</locationX>
        <locationY>3626</locationY>
        <assignRecordIdToReference>IdCampaignMemberCTIRelacionado</assignRecordIdToReference>
        <connector>
            <targetReference>existeCMCTI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_IntegrationLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CTIErrorCampDesactivada__c</field>
            <value>
                <elementReference>isInactiveCTIRule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTIOrder__c</field>
            <value>
                <elementReference>OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTIRule__c</field>
            <value>
                <elementReference>ObtenerMatchReglaCTI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTISkill__c</field>
            <value>
                <elementReference>Skill</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCTI__c</field>
            <value>
                <elementReference>$Record.campaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCess__c</field>
            <value>
                <elementReference>$Record.campaignCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>CTICampaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.matchedRecordId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LineInsurance__c</field>
            <value>
                <elementReference>$Record.lineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceCess__c</field>
            <value>
                <elementReference>$Record.sourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceManualRecord__c</field>
            <value>
                <elementReference>$Record.sourceManualrecord__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType__c</field>
            <value>
                <elementReference>Medio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <description>Crea un registro de Campaign Member de tipo CTI relacionado con el Lead matcheado</description>
        <name>CreaCMCTILead</name>
        <label>Crea CM CTI Lead</label>
        <locationX>2162</locationX>
        <locationY>3626</locationY>
        <assignRecordIdToReference>IdCampaignMemberCTIRelacionado</assignRecordIdToReference>
        <connector>
            <targetReference>existeCMCTI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_IntegrationLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CTIErrorCampDesactivada__c</field>
            <value>
                <elementReference>isInactiveCTIRule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTIOrder__c</field>
            <value>
                <elementReference>OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTIRule__c</field>
            <value>
                <elementReference>ObtenerMatchReglaCTI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTISkill__c</field>
            <value>
                <elementReference>Skill</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCTI__c</field>
            <value>
                <elementReference>$Record.campaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCess__c</field>
            <value>
                <elementReference>$Record.campaignCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>CTICampaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.matchedRecordId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LineInsurance__c</field>
            <value>
                <elementReference>$Record.lineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceCess__c</field>
            <value>
                <elementReference>$Record.sourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceManualRecord__c</field>
            <value>
                <elementReference>$Record.sourceManualrecord__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType__c</field>
            <value>
                <elementReference>Medio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordCreates>
        <description>Crea un Campaign Member de MKT para el Contacto</description>
        <name>CreaCMMKTCliente</name>
        <label>Crea CM MKT Cliente</label>
        <locationX>1634</locationX>
        <locationY>5306</locationY>
        <faultConnector>
            <targetReference>Create_IntegrationLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AgeRange__c</field>
            <value>
                <elementReference>$Record.ageRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AmountMerchandise__c</field>
            <value>
                <elementReference>$Record.AmountMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>$Record.birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdGoogleAnalytics__c</field>
            <value>
                <elementReference>$Record.CESSIDGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdPricing__c</field>
            <value>
                <elementReference>$Record.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTISend__c</field>
            <value>
                <elementReference>sendCTI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCTI__c</field>
            <value>
                <elementReference>CTICampaign.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCess__c</field>
            <value>
                <elementReference>$Record.campaignCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>MKTCampaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaingTypeCESS__c</field>
            <value>
                <elementReference>$Record.campaingtypeCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.matchedRecordId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionMerchandise__c</field>
            <value>
                <elementReference>$Record.DescriptionMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GCLID__c</field>
            <value>
                <elementReference>$Record.GCLID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDDisplayAdvertisments__c</field>
            <value>
                <elementReference>$Record.CESSIDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>$Record.IdExterno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuranceCompany__c</field>
            <value>
                <elementReference>$Record.insuranceCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource__c</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LineInsurance__c</field>
            <value>
                <elementReference>$Record.lineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchandiseType__c</field>
            <value>
                <elementReference>$Record.MerchandiseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherRiskData__c</field>
            <value>
                <elementReference>$Record.OtherRiskData__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteCode__c</field>
            <value>
                <elementReference>$Record.quoteCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceCampaign__c</field>
            <value>
                <elementReference>$Record.referenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceSourceCess__c</field>
            <value>
                <elementReference>$Record.referencesourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedCTICampaignMemberId__c</field>
            <value>
                <elementReference>IdCampaignMemberCTIRelacionado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskAddress__c</field>
            <value>
                <elementReference>$Record.RiskAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskBrand__c</field>
            <value>
                <elementReference>$Record.riskBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskCategory__c</field>
            <value>
                <elementReference>$Record.riskCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDescription__c</field>
            <value>
                <elementReference>$Record.riskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDriverLicenseDate__c</field>
            <value>
                <elementReference>$Record.riskdriverLicensedate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskECICard__c</field>
            <value>
                <elementReference>$Record.riskEcicard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskGender__c</field>
            <value>
                <elementReference>$Record.riskGender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredBirthdate__c</field>
            <value>
                <elementReference>$Record.riskInsuredBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredNumber__c</field>
            <value>
                <elementReference>$Record.riskinsuredNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskLocation__c</field>
            <value>
                <elementReference>$Record.RiskLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskModel__c</field>
            <value>
                <elementReference>$Record.riskModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOptionCapitalInsured__c</field>
            <value>
                <elementReference>$Record.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOwnerLicenseDate__c</field>
            <value>
                <elementReference>$Record.riskownerLicensedate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPolicyHolderLicenseDate__c</field>
            <value>
                <elementReference>$Record.riskpolicyholderLicensedate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPostalCode__c</field>
            <value>
                <elementReference>$Record.riskPostalcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPropertyType__c</field>
            <value>
                <elementReference>$Record.riskPropertytype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskProvince__c</field>
            <value>
                <elementReference>$Record.RiskProvince__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskSquareMetres__c</field>
            <value>
                <elementReference>$Record.riskSquaremetres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskTenant__c</field>
            <value>
                <elementReference>$Record.riskTenant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskVersion__c</field>
            <value>
                <elementReference>$Record.riskVersion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesSlip__c</field>
            <value>
                <elementReference>$Record.SalesSlip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceCess__c</field>
            <value>
                <elementReference>$Record.sourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceManualRecord__c</field>
            <value>
                <elementReference>$Record.sourceManualrecord__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType__c</field>
            <value>
                <elementReference>Medio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceWeb__c</field>
            <value>
                <elementReference>$Record.sourceWeb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WebSource__c</field>
            <value>
                <elementReference>$Record.source_web__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crea un Campaign Member MKT relacionado con el Lead</description>
        <name>CreaCMMKTLead</name>
        <label>Crea CM MKT lead</label>
        <locationX>1106</locationX>
        <locationY>5306</locationY>
        <faultConnector>
            <targetReference>Create_IntegrationLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AgeRange__c</field>
            <value>
                <elementReference>$Record.ageRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AmountMerchandise__c</field>
            <value>
                <elementReference>$Record.AmountMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>$Record.birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdGoogleAnalytics__c</field>
            <value>
                <elementReference>$Record.CESSIDGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdPricing__c</field>
            <value>
                <elementReference>$Record.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTISend__c</field>
            <value>
                <elementReference>sendCTI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCTI__c</field>
            <value>
                <elementReference>CTICampaign.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCess__c</field>
            <value>
                <elementReference>$Record.campaignCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>MKTCampaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaingTypeCESS__c</field>
            <value>
                <elementReference>$Record.campaingtypeCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionMerchandise__c</field>
            <value>
                <elementReference>$Record.DescriptionMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GCLID__c</field>
            <value>
                <elementReference>$Record.GCLID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDDisplayAdvertisments__c</field>
            <value>
                <elementReference>$Record.CESSIDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>$Record.IdExterno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuranceCompany__c</field>
            <value>
                <elementReference>$Record.insuranceCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuredRisk__c</field>
            <value>
                <elementReference>$Record.InsuredRisk__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.matchedRecordId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource__c</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LineInsurance__c</field>
            <value>
                <elementReference>$Record.lineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchandiseType__c</field>
            <value>
                <elementReference>$Record.MerchandiseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherRiskData__c</field>
            <value>
                <elementReference>$Record.OtherRiskData__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteCode__c</field>
            <value>
                <elementReference>$Record.quoteCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceCampaign__c</field>
            <value>
                <elementReference>$Record.referenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceSourceCess__c</field>
            <value>
                <elementReference>$Record.referencesourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedCTICampaignMemberId__c</field>
            <value>
                <elementReference>IdCampaignMemberCTIRelacionado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskAddress__c</field>
            <value>
                <elementReference>$Record.RiskAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskBrand__c</field>
            <value>
                <elementReference>$Record.riskBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskCategory__c</field>
            <value>
                <elementReference>$Record.riskCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDescription__c</field>
            <value>
                <elementReference>$Record.riskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDriverLicenseDate__c</field>
            <value>
                <elementReference>$Record.riskdriverLicensedate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskECICard__c</field>
            <value>
                <elementReference>$Record.riskEcicard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskGender__c</field>
            <value>
                <elementReference>$Record.riskGender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredBirthdate__c</field>
            <value>
                <elementReference>$Record.riskInsuredBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredNumber__c</field>
            <value>
                <elementReference>$Record.riskinsuredNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskLocation__c</field>
            <value>
                <elementReference>$Record.RiskLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskModel__c</field>
            <value>
                <elementReference>$Record.riskModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOptionCapitalInsured__c</field>
            <value>
                <elementReference>$Record.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOwnerLicenseDate__c</field>
            <value>
                <elementReference>$Record.riskownerLicensedate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPolicyHolderLicenseDate__c</field>
            <value>
                <elementReference>$Record.riskpolicyholderLicensedate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPostalCode__c</field>
            <value>
                <elementReference>$Record.riskPostalcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPropertyType__c</field>
            <value>
                <elementReference>$Record.riskPropertytype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskProvince__c</field>
            <value>
                <elementReference>$Record.RiskProvince__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskSquareMetres__c</field>
            <value>
                <elementReference>$Record.riskSquaremetres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskTenant__c</field>
            <value>
                <elementReference>$Record.riskTenant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskVersion__c</field>
            <value>
                <elementReference>$Record.riskVersion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesSlip__c</field>
            <value>
                <elementReference>$Record.SalesSlip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceCess__c</field>
            <value>
                <elementReference>$Record.sourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceManualRecord__c</field>
            <value>
                <elementReference>$Record.sourceManualrecord__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType__c</field>
            <value>
                <elementReference>Medio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceWeb__c</field>
            <value>
                <elementReference>$Record.sourceWeb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WebSource__c</field>
            <value>
                <elementReference>$Record.source_web__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear miembro de campaña AG con RT adicional y de tipo MKT, relacionado con un lead</description>
        <name>CreaMCAdicionalLead</name>
        <label>Crea MC AG Adicional Lead</label>
        <locationX>50</locationX>
        <locationY>5306</locationY>
        <faultConnector>
            <targetReference>Create_IntegrationLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AgeRange__c</field>
            <value>
                <elementReference>$Record.ageRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AmountMerchandise__c</field>
            <value>
                <elementReference>$Record.AmountMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>$Record.birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdGoogleAnalytics__c</field>
            <value>
                <elementReference>$Record.CESSIDGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdPricing__c</field>
            <value>
                <elementReference>$Record.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSScoring__c</field>
            <value>
                <elementReference>$Record.CESSScoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCTI__c</field>
            <value>
                <elementReference>CTICampaign.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCess__c</field>
            <value>
                <elementReference>$Record.campaignCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignTypeCESS__c</field>
            <value>
                <elementReference>$Record.campaingtypeCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionMerchandise__c</field>
            <value>
                <elementReference>$Record.DescriptionMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GCLID__c</field>
            <value>
                <elementReference>$Record.GCLID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDDisplayAdvertisments__c</field>
            <value>
                <elementReference>$Record.CESSIDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>$Record.IdExterno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuranceCompany__c</field>
            <value>
                <elementReference>$Record.insuranceCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuredRisk__c</field>
            <value>
                <elementReference>$Record.InsuredRisk__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource__c</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.matchedRecordId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LineInsurance__c</field>
            <value>
                <elementReference>$Record.lineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchandiseType__c</field>
            <value>
                <elementReference>$Record.MerchandiseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherRiskData__c</field>
            <value>
                <elementReference>$Record.OtherRiskData__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteCode__c</field>
            <value>
                <elementReference>$Record.quoteCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIskOwnerBirthdate__c</field>
            <value>
                <elementReference>$Record.riskOwnerBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTIdMCAdicional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceCampaign__c</field>
            <value>
                <elementReference>$Record.referenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceSourceCess__c</field>
            <value>
                <elementReference>$Record.referencesourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedCTIAMCMId__c</field>
            <value>
                <elementReference>IdCampaignMemberCTIRelacionado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RenewalDate__c</field>
            <value>
                <elementReference>$Record.renewalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskAddress__c</field>
            <value>
                <elementReference>$Record.RiskAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskBrand__c</field>
            <value>
                <elementReference>$Record.riskBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskCategory__c</field>
            <value>
                <elementReference>$Record.riskCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDescription__c</field>
            <value>
                <elementReference>$Record.riskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDriverBirthdate__c</field>
            <value>
                <elementReference>$Record.riskDriverBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDriverLicenseDate__c</field>
            <value>
                <elementReference>$Record.riskdriverLicensedate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskECICard__c</field>
            <value>
                <elementReference>$Record.riskEcicard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskExpirationDate__c</field>
            <value>
                <elementReference>$Record.riskExpirationdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskGender__c</field>
            <value>
                <elementReference>$Record.riskGender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredBirthdate__c</field>
            <value>
                <elementReference>$Record.riskInsuredBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredNumber__c</field>
            <value>
                <elementReference>$Record.riskinsuredNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskLocation__c</field>
            <value>
                <elementReference>$Record.RiskLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskModel__c</field>
            <value>
                <elementReference>$Record.riskModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOptionCapitalInsured__c</field>
            <value>
                <elementReference>$Record.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOwnerLicenseDate__c</field>
            <value>
                <elementReference>$Record.riskownerLicensedate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPolicyHolderBirthdate__c</field>
            <value>
                <elementReference>$Record.riskPolicyHolderBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPostalCode__c</field>
            <value>
                <elementReference>$Record.riskPostalcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPropertyType__c</field>
            <value>
                <elementReference>$Record.riskPropertytype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskProvince__c</field>
            <value>
                <elementReference>$Record.RiskProvince__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskSquareMetres__c</field>
            <value>
                <elementReference>$Record.riskSquaremetres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskTenant__c</field>
            <value>
                <elementReference>$Record.riskTenant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskVersion__c</field>
            <value>
                <elementReference>$Record.riskVersion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFCampaign__c</field>
            <value>
                <elementReference>MKTCampaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesSlip__c</field>
            <value>
                <elementReference>$Record.SalesSlip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceCess__c</field>
            <value>
                <elementReference>$Record.sourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceManualRecord__c</field>
            <value>
                <elementReference>$Record.sourceManualrecord__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType__c</field>
            <value>
                <elementReference>Medio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceWeb__c</field>
            <value>
                <elementReference>$Record.sourceWeb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WebSource__c</field>
            <value>
                <elementReference>$Record.source_web__c</elementReference>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crear miembro de campaña AG con RT adicional y de tipo MKT, relacionado con un cliente</description>
        <name>CreaMCAdicionalMKTCliente</name>
        <label>Crea MC Adicional MKT Cliente</label>
        <locationX>578</locationX>
        <locationY>5306</locationY>
        <faultConnector>
            <targetReference>Create_IntegrationLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AgeRange__c</field>
            <value>
                <elementReference>$Record.ageRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AmountMerchandise__c</field>
            <value>
                <elementReference>$Record.AmountMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>$Record.birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdGoogleAnalytics__c</field>
            <value>
                <elementReference>$Record.CESSIDGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdPricing__c</field>
            <value>
                <elementReference>$Record.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSScoring__c</field>
            <value>
                <elementReference>$Record.CESSScoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCTI__c</field>
            <value>
                <elementReference>CTICampaign.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCess__c</field>
            <value>
                <elementReference>$Record.campaignCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignTypeCESS__c</field>
            <value>
                <elementReference>$Record.campaingtypeCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.matchedRecordId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionMerchandise__c</field>
            <value>
                <elementReference>$Record.DescriptionMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GCLID__c</field>
            <value>
                <elementReference>$Record.GCLID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDDisplayAdvertisments__c</field>
            <value>
                <elementReference>$Record.CESSIDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>$Record.IdExterno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuranceCompany__c</field>
            <value>
                <elementReference>$Record.insuranceCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource__c</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LineInsurance__c</field>
            <value>
                <elementReference>$Record.lineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchandiseType__c</field>
            <value>
                <elementReference>$Record.MerchandiseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherRiskData__c</field>
            <value>
                <elementReference>$Record.OtherRiskData__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteCode__c</field>
            <value>
                <elementReference>$Record.quoteCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIskOwnerBirthdate__c</field>
            <value>
                <elementReference>$Record.riskOwnerBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTIdMCAdicional</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceCampaign__c</field>
            <value>
                <elementReference>$Record.referenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceSourceCess__c</field>
            <value>
                <elementReference>$Record.referencesourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedCTIAMCMId__c</field>
            <value>
                <elementReference>IdCampaignMemberCTIRelacionado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RenewalDate__c</field>
            <value>
                <elementReference>$Record.renewalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskAddress__c</field>
            <value>
                <elementReference>$Record.RiskAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskBrand__c</field>
            <value>
                <elementReference>$Record.riskBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskCategory__c</field>
            <value>
                <elementReference>$Record.riskCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDescription__c</field>
            <value>
                <elementReference>$Record.riskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDriverBirthdate__c</field>
            <value>
                <elementReference>$Record.riskDriverBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDriverLicenseDate__c</field>
            <value>
                <elementReference>$Record.riskdriverLicensedate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskECICard__c</field>
            <value>
                <elementReference>$Record.riskEcicard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskExpirationDate__c</field>
            <value>
                <elementReference>$Record.riskExpirationdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskGender__c</field>
            <value>
                <elementReference>$Record.riskGender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredBirthdate__c</field>
            <value>
                <elementReference>$Record.riskInsuredBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredNumber__c</field>
            <value>
                <elementReference>$Record.riskinsuredNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskLocation__c</field>
            <value>
                <elementReference>$Record.RiskLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskModel__c</field>
            <value>
                <elementReference>$Record.riskModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOptionCapitalInsured__c</field>
            <value>
                <elementReference>$Record.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOwnerLicenseDate__c</field>
            <value>
                <elementReference>$Record.riskownerLicensedate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPolicyHolderBirthdate__c</field>
            <value>
                <elementReference>$Record.riskPolicyHolderBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPostalCode__c</field>
            <value>
                <elementReference>$Record.riskPostalcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPropertyType__c</field>
            <value>
                <elementReference>$Record.riskPropertytype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskProvince__c</field>
            <value>
                <elementReference>$Record.RiskProvince__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskSquareMetres__c</field>
            <value>
                <elementReference>$Record.riskSquaremetres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskTenant__c</field>
            <value>
                <elementReference>$Record.riskTenant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskVersion__c</field>
            <value>
                <elementReference>$Record.riskVersion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFCampaign__c</field>
            <value>
                <elementReference>MKTCampaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesSlip__c</field>
            <value>
                <elementReference>$Record.SalesSlip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceCess__c</field>
            <value>
                <elementReference>$Record.sourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceManualRecord__c</field>
            <value>
                <elementReference>$Record.sourceManualrecord__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType__c</field>
            <value>
                <elementReference>Medio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceWeb__c</field>
            <value>
                <elementReference>$Record.sourceWeb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WebSource__c</field>
            <value>
                <elementReference>$Record.source_web__c</elementReference>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Crea un registro de Integration Log con la información necesaria para cargar los registros</description>
        <name>Create_IntegrationLog</name>
        <label>Create IntegrationLog</label>
        <locationX>314</locationX>
        <locationY>5414</locationY>
        <inputAssignments>
            <field>Header__c</field>
            <value>
                <elementReference>For_HeaderData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>data__c</field>
            <value>
                <elementReference>For_CSVRecordData</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>error__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>handler_class__c</field>
            <value>
                <stringValue>OnCMCreationEventInsert</stringValue>
            </value>
        </inputAssignments>
        <object>IntegrationLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creamos un CM AG Gestionado relacionado con un Cliente</description>
        <name>CreeamosCMAGGestionadoCliente</name>
        <label>Crear CM AG Gestionado Cliente</label>
        <locationX>1524</locationX>
        <locationY>4514</locationY>
        <faultConnector>
            <targetReference>Create_IntegrationLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AgeRange__c</field>
            <value>
                <elementReference>$Record.ageRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AmountMerchandise__c</field>
            <value>
                <elementReference>$Record.AmountMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>$Record.birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdGoogleAnalytics__c</field>
            <value>
                <elementReference>$Record.CESSIDGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdPricing__c</field>
            <value>
                <elementReference>$Record.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSScoring__c</field>
            <value>
                <elementReference>$Record.CESSScoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCTI__c</field>
            <value>
                <elementReference>CTICampaign.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCess__c</field>
            <value>
                <elementReference>$Record.campaignCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignTypeCESS__c</field>
            <value>
                <elementReference>$Record.campaingtypeCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.matchedRecordId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionMerchandise__c</field>
            <value>
                <elementReference>$Record.DescriptionMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GCLID__c</field>
            <value>
                <elementReference>$Record.GCLID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDDisplayAdvertisments__c</field>
            <value>
                <elementReference>$Record.CESSIDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>$Record.IdExterno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuranceCompany__c</field>
            <value>
                <elementReference>$Record.insuranceCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource__c</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LineInsurance__c</field>
            <value>
                <elementReference>$Record.lineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchandiseType__c</field>
            <value>
                <elementReference>$Record.MerchandiseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherRiskData__c</field>
            <value>
                <elementReference>$Record.OtherRiskData__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteCode__c</field>
            <value>
                <elementReference>$Record.quoteCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIskOwnerBirthdate__c</field>
            <value>
                <elementReference>$Record.riskOwnerBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTIdMCGestionado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceCampaign__c</field>
            <value>
                <elementReference>$Record.referenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceSourceCess__c</field>
            <value>
                <elementReference>$Record.referencesourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedCTIAMCMId__c</field>
            <value>
                <elementReference>IdCampaignMemberCTIRelacionado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RenewalDate__c</field>
            <value>
                <elementReference>$Record.renewalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Duplicado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskAddress__c</field>
            <value>
                <elementReference>$Record.RiskAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskBrand__c</field>
            <value>
                <elementReference>$Record.riskBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskCategory__c</field>
            <value>
                <elementReference>$Record.riskCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDescription__c</field>
            <value>
                <elementReference>$Record.riskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDriverBirthdate__c</field>
            <value>
                <elementReference>$Record.riskDriverBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDriverLicenseDate__c</field>
            <value>
                <elementReference>$Record.riskdriverLicensedate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskECICard__c</field>
            <value>
                <elementReference>$Record.riskEcicard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskExpirationDate__c</field>
            <value>
                <elementReference>$Record.riskExpirationdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskGender__c</field>
            <value>
                <elementReference>$Record.riskGender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredBirthdate__c</field>
            <value>
                <elementReference>$Record.riskInsuredBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredNumber__c</field>
            <value>
                <elementReference>$Record.riskinsuredNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskLocation__c</field>
            <value>
                <elementReference>$Record.RiskLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskModel__c</field>
            <value>
                <elementReference>$Record.riskModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOptionCapitalInsured__c</field>
            <value>
                <elementReference>$Record.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOwnerLicenseDate__c</field>
            <value>
                <elementReference>$Record.riskownerLicensedate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPolicyHolderBirthdate__c</field>
            <value>
                <elementReference>$Record.riskPolicyHolderBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPostalCode__c</field>
            <value>
                <elementReference>$Record.riskPostalcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPropertyType__c</field>
            <value>
                <elementReference>$Record.riskPropertytype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskProvince__c</field>
            <value>
                <elementReference>$Record.RiskProvince__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskSquareMetres__c</field>
            <value>
                <elementReference>$Record.riskSquaremetres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskTenant__c</field>
            <value>
                <elementReference>$Record.riskTenant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskVersion__c</field>
            <value>
                <elementReference>$Record.riskVersion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFCampaign__c</field>
            <value>
                <elementReference>MKTCampaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesSlip__c</field>
            <value>
                <elementReference>$Record.SalesSlip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceCess__c</field>
            <value>
                <elementReference>$Record.sourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceManualRecord__c</field>
            <value>
                <elementReference>$Record.sourceManualrecord__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType__c</field>
            <value>
                <elementReference>Medio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceWeb__c</field>
            <value>
                <elementReference>$Record.sourceWeb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WebSource__c</field>
            <value>
                <elementReference>$Record.source_web__c</elementReference>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creamos un CM AG Gestionado relacionado con un lead</description>
        <name>CreeamosCMAGGestionadoLead</name>
        <label>Crear CM AG Gestionado Lead</label>
        <locationX>996</locationX>
        <locationY>4514</locationY>
        <faultConnector>
            <targetReference>Create_IntegrationLog</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AgeRange__c</field>
            <value>
                <elementReference>$Record.ageRange__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AmountMerchandise__c</field>
            <value>
                <elementReference>$Record.AmountMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BirthDate__c</field>
            <value>
                <elementReference>$Record.birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdGoogleAnalytics__c</field>
            <value>
                <elementReference>$Record.CESSIDGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdPricing__c</field>
            <value>
                <elementReference>$Record.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSScoring__c</field>
            <value>
                <elementReference>$Record.CESSScoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCTI__c</field>
            <value>
                <elementReference>CTICampaign.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCess__c</field>
            <value>
                <elementReference>$Record.campaignCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignTypeCESS__c</field>
            <value>
                <elementReference>$Record.campaingtypeCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionMerchandise__c</field>
            <value>
                <elementReference>$Record.DescriptionMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GCLID__c</field>
            <value>
                <elementReference>$Record.GCLID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IDDisplayAdvertisments__c</field>
            <value>
                <elementReference>$Record.CESSIDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>$Record.IdExterno__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuranceCompany__c</field>
            <value>
                <elementReference>$Record.insuranceCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InsuredRisk__c</field>
            <value>
                <elementReference>$Record.InsuredRisk__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource__c</field>
            <value>
                <elementReference>$Record.LeadSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.matchedRecordId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LineInsurance__c</field>
            <value>
                <elementReference>$Record.lineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchandiseType__c</field>
            <value>
                <elementReference>$Record.MerchandiseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherRiskData__c</field>
            <value>
                <elementReference>$Record.OtherRiskData__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuoteCode__c</field>
            <value>
                <elementReference>$Record.quoteCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RIskOwnerBirthdate__c</field>
            <value>
                <elementReference>$Record.riskOwnerBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RTIdMCGestionado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceCampaign__c</field>
            <value>
                <elementReference>$Record.referenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReferenceSourceCess__c</field>
            <value>
                <elementReference>$Record.referencesourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedCTIAMCMId__c</field>
            <value>
                <elementReference>IdCampaignMemberCTIRelacionado</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RenewalDate__c</field>
            <value>
                <elementReference>$Record.renewalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Duplicado</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskAddress__c</field>
            <value>
                <elementReference>$Record.RiskAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskBrand__c</field>
            <value>
                <elementReference>$Record.riskBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskCategory__c</field>
            <value>
                <elementReference>$Record.riskCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDescription__c</field>
            <value>
                <elementReference>$Record.riskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDriverBirthdate__c</field>
            <value>
                <elementReference>$Record.riskDriverBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskDriverLicenseDate__c</field>
            <value>
                <elementReference>$Record.riskdriverLicensedate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskECICard__c</field>
            <value>
                <elementReference>$Record.riskEcicard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskExpirationDate__c</field>
            <value>
                <elementReference>$Record.riskExpirationdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskGender__c</field>
            <value>
                <elementReference>$Record.riskGender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredBirthdate__c</field>
            <value>
                <elementReference>$Record.riskInsuredBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskInsuredNumber__c</field>
            <value>
                <elementReference>$Record.riskinsuredNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskLocation__c</field>
            <value>
                <elementReference>$Record.RiskLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskModel__c</field>
            <value>
                <elementReference>$Record.riskModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOptionCapitalInsured__c</field>
            <value>
                <elementReference>$Record.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOwnerLicenseDate__c</field>
            <value>
                <elementReference>$Record.riskownerLicensedate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPolicyHolderBirthdate__c</field>
            <value>
                <elementReference>$Record.riskPolicyHolderBirthDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPostalCode__c</field>
            <value>
                <elementReference>$Record.riskPostalcode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskPropertyType__c</field>
            <value>
                <elementReference>$Record.riskPropertytype__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskProvince__c</field>
            <value>
                <elementReference>$Record.RiskProvince__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskSquareMetres__c</field>
            <value>
                <elementReference>$Record.riskSquaremetres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskTenant__c</field>
            <value>
                <elementReference>$Record.riskTenant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskVersion__c</field>
            <value>
                <elementReference>$Record.riskVersion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SFCampaign__c</field>
            <value>
                <elementReference>MKTCampaign.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesSlip__c</field>
            <value>
                <elementReference>$Record.SalesSlip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceCess__c</field>
            <value>
                <elementReference>$Record.sourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceManualRecord__c</field>
            <value>
                <elementReference>$Record.sourceManualrecord__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceType__c</field>
            <value>
                <elementReference>Medio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceWeb__c</field>
            <value>
                <elementReference>$Record.sourceWeb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo__c</field>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WebSource__c</field>
            <value>
                <elementReference>$Record.source_web__c</elementReference>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Busca si hay algún Campaign Member en la campaña de MKT relacionado con Registro Origen (Lead o Contacto)</description>
        <name>BuscaCMsCampMKT</name>
        <label>Busca CMs en la misma camp MKT</label>
        <locationX>842</locationX>
        <locationY>4982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EstaYaCampMKT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MKTCampaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.matchedRecordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca campaign members del mismo registro (Lead o Contacto) en la campaña CTI</description>
        <name>BuscaCMsEnCampCTI</name>
        <label>Busca CMs en la misma camp CTI</label>
        <locationX>1634</locationX>
        <locationY>3302</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EstaYaEnCampCTI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CTICampaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.matchedRecordId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Buscamos si existe algún CampaignMember creado ya, con el mismo Ramo (LineInsurance__c), Ignoramos el campo Descripción del Riesgo ya que no está informado.</description>
        <name>BuscarCMAGMismoRamo</name>
        <label>Buscar CM AG con mismo ramo</label>
        <locationX>1040</locationX>
        <locationY>4190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>existeCMMismoRamo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LineInsurance__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Seguros Especiales</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RTIdMCAdicional</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.matchedRecordId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LineInsurance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.lineInsurance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AMCM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Buscamos si existe algún CampaignMember creado ya con el mismo ramo, se ignora el campo Descripción del Riesgo ya que no esta informado.</description>
        <name>BuscarCMMKTMismoRamo</name>
        <label>Buscar CM MKT con mismo ramo</label>
        <locationX>1040</locationX>
        <locationY>4082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BuscarCMAGMismoRamo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LineInsurance__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Seguros Especiales</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RTIdCMMKT</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.matchedRecordId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LineInsurance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.lineInsurance__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene la campaña CTI por defecto</description>
        <name>ObteneCampanaCTIDefecto</name>
        <label>Obtener campaña CTI por defecto</label>
        <locationX>1403</locationX>
        <locationY>2210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Asignar_campana_CTI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrgAppSett_CESS_CTIPLAN_CAMPAIGN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtener_campa_a_por_defecto</name>
        <label>Obtener campaña por defecto</label>
        <locationX>1766</locationX>
        <locationY>1586</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignarCampanaMKTDefecto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrgAppSett_CESS_MKTPLAN_CAMPAIGN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene la campaña CTI que coincide con la regla matcheadas</description>
        <name>ObtenerCampanaCTI</name>
        <label>Obtener campaña CTI</label>
        <locationX>1997</locationX>
        <locationY>2402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteCampanaCTI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObtenerMatchReglaCTI.campaign_cti__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene la campaña de CTI indicada en el Lead</description>
        <name>ObtenerCampanaCTIIndicada</name>
        <label>Obtener campaña CTI indicada</label>
        <locationX>1271</locationX>
        <locationY>1994</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteLaCampana</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.campaignCTI__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene la campaña de MKT correspondiente en función del ramo</description>
        <name>ObtenerCampanaMKTRamo</name>
        <label>Obtener Campaña MKT para el ramo</label>
        <locationX>1634</locationX>
        <locationY>1370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteCampanaMKTParaRamo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LineInsurance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.lineInsurance__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RTIdCampanaMKT</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos los Identificadores de los tipos de registro de los objetos necesarios</description>
        <name>ObtenerIdsTIposDeRegistro</name>
        <label>Obtener Ids de TIpos de Registro</label>
        <locationX>1634</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRecordTypes</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMCM__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Busca una coincidencia en al objeto reglas CTI</description>
        <name>ObtenerMatchReglaCTI</name>
        <label>Obtener Match en Reglas CTI</label>
        <locationX>1997</locationX>
        <locationY>1994</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReglaCTIActivaONoMatch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>source_cess__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sourceCess__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>source_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.sourceType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CTI_Rules__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obtiene todos los datos que necesitamos del metadata</description>
        <name>ObtenerMetadataORGApplicationSettings</name>
        <label>Obtener metadata ORG_ApplicationSettings</label>
        <locationX>1634</locationX>
        <locationY>770</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopORGApplicationSettings</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CESS_CTIPLAN_SKILL</stringValue>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CESS_MKTPLAN_CAMPAIGN</stringValue>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CESS_CTIPLAN_ORDER</stringValue>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CESS_CTIPLAN_CAMPAIGN</stringValue>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CESS_CTIBLECIS_ORDER</stringValue>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CESS_CTIBLECIS_SKILL</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ORG_ApplicationSettings__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value__c</queriedFields>
        <queriedFields>MasterLabel</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Actualiza_CM_CTI_con_orden</name>
        <label>Actualiza CM CTI con orden</label>
        <locationX>578</locationX>
        <locationY>3626</locationY>
        <connector>
            <targetReference>AsignaIdCMCTI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_IntegrationLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.matchedRecordId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CTICampaign.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CTIOrder__c</field>
            <value>
                <elementReference>OrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTISend__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTISkill__c</field>
            <value>
                <elementReference>nuevoSkill</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCTI__c</field>
            <value>
                <elementReference>$Record.campaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceManualRecord__c</field>
            <value>
                <elementReference>$Record.sourceManualrecord__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualiza_CM_CTI_sin_orden</name>
        <label>Actualiza CM CTI sin orden</label>
        <locationX>1106</locationX>
        <locationY>3626</locationY>
        <connector>
            <targetReference>AsignaIdCMCTI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_IntegrationLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.matchedRecordId__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CTICampaign.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CTISend__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CTISkill__c</field>
            <value>
                <elementReference>nuevoSkill</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CampaignCTI__c</field>
            <value>
                <elementReference>$Record.campaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceManualRecord__c</field>
            <value>
                <elementReference>$Record.sourceManualrecord__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObtenerIdsTIposDeRegistro</targetReference>
        </connector>
        <object>CMCreationEvent__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CMCTIToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CTICampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>debug2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>En caso de crear o actualizar el CM CTI, Id de ese CM</description>
        <name>IdCampaignMemberCTIRelacionado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Sólo para testing y para poder depurar el flow</description>
        <name>InputLeadEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>true si la regla CTI matcheada está inactiva</description>
        <name>isInactiveCTIRule</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>campaña MKT correspondiente para el lead origen</description>
        <name>MKTCampaign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Order</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Valor por defecto del Skill para BLECIS.</description>
        <name>OrgAppSett_CESS_CTIBLECIS_ORDER</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Valor por defecto del Skill para BLECIS</description>
        <name>OrgAppSett_CESS_CTIBLECIS_SKILL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Nombre de la campaña CTI Por defect</description>
        <name>OrgAppSett_CESS_CTIPLAN_CAMPAIGN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Orden por defecto</description>
        <name>OrgAppSett_CESS_CTIPLAN_ORDER</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Valor por defecto del Skill</description>
        <name>OrgAppSett_CESS_CTIPLAN_SKILL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Nombre de la campaña de MKT por defect</description>
        <name>OrgAppSett_CESS_MKTPLAN_CAMPAIGN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Identificador del Tipo de registro de Campaña MKT</description>
        <name>RTIdCampanaMKT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del tipo de registro de CampaignMember CTI</description>
        <name>RTIdCMCTI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Identificador del tipo de registro de CampaignMember de MKT</description>
        <name>RTIdCMMKT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del tipo de registro de miembro de campaña adicional</description>
        <name>RTIdMCAdicional</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del tipo de registro de miembro de campaña gestionado</description>
        <name>RTIdMCGestionado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Skill</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
