force-app/main/default/flows/OnLeadBeforeInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Asigna el team del nuevo Owner</description>
        <name>AsignaCESSTeam</name>
        <label>Asigna CESS Team</label>
        <locationX>182</locationX>
        <locationY>2567</locationY>
        <assignmentItems>
            <assignToReference>$Record.cess_team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.cess_team__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Cambia el Owner al usuario que actualiza el lead y la fecha de cierre a Ahora.</description>
        <name>CambiaOwnerFechaCierre</name>
        <label>Cambia Owner y Fecha de Cierre</label>
        <locationX>182</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.datetime_closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ahora</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HaCambiadoDocumentNumber</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>El mismo doc number pero en Mayúsculas</description>
        <name>DocNumberEnMayusculas</name>
        <label>DocNumber pero en Mayúsculas</label>
        <locationX>182</locationX>
        <locationY>2231</locationY>
        <assignmentItems>
            <assignToReference>$Record.document_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpperDocNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HaCambiadoPropietario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos a Tipo de Document oAUX el valor de Tipo de Documento</description>
        <name>DocumentTypeAUX</name>
        <label>Tipo de Documento AUX</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.DocumentTypeAUX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.document_type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ComprobamosTelefonos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos el valor de MobilePhoneAux con el MobilePhone actualizado</description>
        <name>Set_MobilePhoneAux</name>
        <label>Set_MobilePhoneAux</label>
        <locationX>182</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>$Record.MobilePhoneAux__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>HaCambiadoEstadoCualificadoNoCualificado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el valor anterior de Phone al campo MobilePhone</description>
        <name>Set_MobilPhone</name>
        <label>Set MobilPhone</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_TelefonoActualizado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el valor anterior de MobilePhone al campo Phone</description>
        <name>Set_Phone</name>
        <label>Set Phone</label>
        <locationX>314</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>$Record.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_TelefonoActualizado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos el valor de PhoneAux con el Phone actualizado</description>
        <name>Set_PhoneAux</name>
        <label>Set_PhoneAux</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>$Record.PhoneAux__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ActualizoMobilePhone</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Comprobamos si se ha actualizado el campo Tipo de Documento</description>
        <name>Decision_ActualizoMobilePhone</name>
        <label>¿Se actualizó/rellenó el móvil?</label>
        <locationX>314</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>HaCambiadoEstadoCualificadoNoCualificado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ActualizoMobilePhone_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MobilePhoneAux</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si algún campo de teléfono se ha actualizado y en caso afirmativo comprobamos cual</description>
        <name>Decision_ComprobamosTelefonos</name>
        <label>Comprobamos Teléfonos</label>
        <locationX>314</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>Decision_TelefonoActualizado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No hay cambio</defaultConnectorLabel>
        <rules>
            <name>ComprobamosTelefonos_CambioEnPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MobilPhone</targetReference>
            </connector>
            <label>Cambio en Phone</label>
        </rules>
        <rules>
            <name>ComprobamosTelefonos_CambioEnMobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.MobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>For_ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Phone</targetReference>
            </connector>
            <label>Cambio en Mobile</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comrpueba el switch en el Custom Setting (SwitchesConfiguration__c) para automatizaciones de Lead (DesactiveFlowLead__c) y no realiza ninguna acción si el switch está activo</description>
        <name>Decision_Switches</name>
        <label>Decision_Switches</label>
        <locationX>534</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Switches_Activo</defaultConnectorLabel>
        <rules>
            <name>Switches_Inactivo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveFlowLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>documentTypeIsUpdatedFilled</targetReference>
            </connector>
            <label>Switches_Inactivo</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha actualizado el campo Tipo de Documento</description>
        <name>Decision_TelefonoActualizado</name>
        <label>¿Se actualizó/rellenó el teléfono?</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Decision_ActualizoMobilePhone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>TelefonoActualizado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Phone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_PhoneAux</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha actualizado el campo Tipo de Documento</description>
        <name>documentTypeIsUpdatedFilled</name>
        <label>¿Se actualizó/rellenó el Tipo de Documento?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Decision_ComprobamosTelefonos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.document_type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.document_type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DocumentTypeAUX</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si ha cambiado hay que poner el mismo pero en mayúsculas</description>
        <name>HaCambiadoDocumentNumber</name>
        <label>¿Ha cambiado el Document Number?</label>
        <locationX>314</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>HaCambiadoPropietario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.document_number__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.document_number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DocNumberEnMayusculas</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>si ha cambiado a esos estado hay que realizar acciones en el Lead</description>
        <name>HaCambiadoEstadoCualificadoNoCualificado</name>
        <label>¿Ha cambiado el estado a cualificado o no cualificado?</label>
        <locationX>314</locationX>
        <locationY>1775</locationY>
        <defaultConnector>
            <targetReference>HaCambiadoDocumentNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_0</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CambiaOwnerFechaCierre</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si cambia el propietario hay que actualizar el campo Cess Team</description>
        <name>HaCambiadoPropietario</name>
        <label>¿Ha cambiado el propietario?</label>
        <locationX>314</locationX>
        <locationY>2447</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Si_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaCESSTeam</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>Se ejecuta en el before de la inserción o actualización de Lead
05/11/2022 MHG:  Se añade la actualización de PhoneAux__c y MobilePhoneAux__c
06/11/2022 MMV: Corregido al actualización de MobilPhoneAux__c.
06/11/2022 MMV: Se incluye la sustitución de teléfonos</description>
    <formulas>
        <description>Fecha y hora del momento de la actualización</description>
        <name>Ahora</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>Contiene true a false para saber si la ejecución del flow es en insert o en update</description>
        <name>For_ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>El campo Document_number del record pero en Mayúsculas</description>
        <name>UpperDocNumber</name>
        <dataType>String</dataType>
        <expression>UPPER({!$Record.document_number__c})</expression>
    </formulas>
    <interviewLabel>On Lead Before Insert/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Lead Before Insert/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>Decision_Switches</startElementReference>
    <status>Active</status>
</Flow>
