force-app/main/default/flows/OnOpportunityInsertUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Publica en el chatter de la oportunidad la nueva asignación de la oportunidad.</description>
        <name>Action_PublicaEnChatter</name>
        <label>Action_PublicaEnChatter</label>
        <locationX>50</locationX>
        <locationY>1391</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Decision_RiesgoORamoHaCambiado</targetReference>
        </connector>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Template_MessageToChatter</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Actualizar el campo cess equipo de venta.</description>
        <name>Set_CessEquipoVenta</name>
        <label>Set_CessEquipoVenta</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.cess_team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.cess_team__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_UsuarioEsPropietario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualizar diferentes campos de la oportunidad.</description>
        <name>Set_OpportunityFields</name>
        <label>Set_OpportunityFields</label>
        <locationX>204</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_FirstNameOpp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.cess_team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner.cess_team__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.new_customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_IdintifierEsBlanco</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.PersonMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualizar nombre de la oportunidad</description>
        <name>Set_OpportunityName</name>
        <label>Set_OpportunityName</label>
        <locationX>204</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Template_UpdatedOppName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_NumeroPoliza</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualizar la etapa de la oportunidad a &quot;Propuesta&quot;.</description>
        <name>Set_OpportunityStage</name>
        <label>Set_OpportunityStage</label>
        <locationX>204</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Propuesta</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Ver si la oportunidad es nueva y tiene cuenta asociada</description>
        <name>Decision_EsNuevaTieneCuenta</name>
        <label>Decision_EsNuevaTieneCuenta?</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Decision_PropietarioHaCambiado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>EsNuevaTieneCuenta_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_OportunidadNueva</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_OwnerAndStage</targetReference>
            </connector>
            <label>EsNuevaTieneCuenta_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si la oportunidad está en cualificación y tiene código de proyecto y nivel de interés.</description>
        <name>Decision_OportunidadEnCualificacion</name>
        <label>Decision_OportunidadEnCualificacion</label>
        <locationX>336</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OportunidadEnCualificacion_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cualificación</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.quote_code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.interest_level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OpportunityStage</targetReference>
            </connector>
            <label>OportunidadEnCualificacion_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verificar si el propietario de la oportunidad ha cambiado.</description>
        <name>Decision_PropietarioHaCambiado</name>
        <label>Decision_PropietarioHaCambiado</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Decision_RiesgoORamoHaCambiado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>PropietarioHaCambiado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_CessEquipoVenta</targetReference>
            </connector>
            <label>PropietarioHaCambiado_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Verificar si el Ramo o el Riesgo de la oportunidad ha cambiado.</description>
        <name>Decision_RiesgoORamoHaCambiado</name>
        <label>Decision_RiesgoORamoHaCambiado</label>
        <locationX>336</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_NumeroPoliza</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>RiesgoORamoHaCambiado_Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.line_insurance__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.risk_description__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_OpportunityName</targetReference>
            </connector>
            <label>RiesgoORamoHaCambiado_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ver si el nuevo propietario de la oportunidad es el usuario que lo modifica.</description>
        <name>Decision_UsuarioEsPropietario</name>
        <label>Decision_UsuarioEsPropietario</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Decision_RiesgoORamoHaCambiado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado predeterminado</defaultConnectorLabel>
        <rules>
            <name>UsuarioEsPropietario_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Action_PublicaEnChatter</targetReference>
            </connector>
            <label>UsuarioEsPropietario_No</label>
        </rules>
    </decisions>
    <description>Flujo convertido desde el PB de opportunity</description>
    <formulas>
        <description>Nombre nuevo de la oportunidad al crearse.</description>
        <name>For_FirstNameOpp</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!$Record.Name}, &apos;UoW Test&apos;),{!$Record.Name}, {!Template_FirstOppName} )</expression>
    </formulas>
    <formulas>
        <description>devuelve true si el campo identifier_cess__pc de la cuenta es blanco</description>
        <name>For_IdintifierEsBlanco</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.Account.identifier_cess__pc})</expression>
    </formulas>
    <formulas>
        <description>Formula que devuelve comilla o nada para añdir al nombre si la oportunidad tiene &quot;main opportunity&quot; o no.</description>
        <name>For_MainOppIsBlank</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.main_opportunity__c}), &quot;&quot;, &quot;*&quot;)</expression>
    </formulas>
    <formulas>
        <description>Formula que devuelve true si la oportunidad es nueva.</description>
        <name>For_OportunidadNueva</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Formula que devuelve el texto del campo Risk Description de la oportunidad</description>
        <name>For_RiesgoOportunidad</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.risk_description__c}, 50)</expression>
    </formulas>
    <interviewLabel>On Opportunity Insert Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Opportunity Insert Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Actualizar el propietario de la cuenta relacionada sin no es el usuario actual.</description>
        <name>Update_Account_Owner</name>
        <label>Update_Account_Owner</label>
        <locationX>204</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Decision_PropietarioHaCambiado</targetReference>
        </connector>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar oportunidad</description>
        <name>Update_Opportunity</name>
        <label>Update_Opportunity</label>
        <locationX>336</locationX>
        <locationY>2495</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el numero de poliza del registro si es vacio</description>
        <name>Update_Opportunity_NumeroPoliza</name>
        <label>Update_Opportunity_NumeroPoliza</label>
        <locationX>336</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>Decision_OportunidadEnCualificacion</targetReference>
        </connector>
        <filters>
            <field>policy_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>policy_number__c</field>
            <value>
                <elementReference>$Record.aplication_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el propietario y la etapa de la oportunidad.</description>
        <name>Update_Opportunity_OwnerAndStage</name>
        <label>Update_Opportunity_OwnerAndStage</label>
        <locationX>204</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_OpportunityFields</targetReference>
        </connector>
        <filters>
            <field>lead_number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Cualificación</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizar el tipo de la oportunidad.</description>
        <name>Update_Opportunity_Type</name>
        <label>Update_Opportunity_Type</label>
        <locationX>204</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Account_Owner</targetReference>
        </connector>
        <filters>
            <field>lead_result__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gestión Comercial</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Comercial</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Decision_EsNuevaTieneCuenta</startElementReference>
    <status>Active</status>
    <textTemplates>
        <description>Primer nombre de la oportunidad al crearse.</description>
        <name>Template_FirstOppName</name>
        <text>{!$Record.Account.FirstName} {!$Record.Account.LastName} [ {!$Record.line_insurance__c} ] {!For_MainOppIsBlank} {!For_RiesgoOportunidad}</text>
    </textTemplates>
    <textTemplates>
        <description>Mensaje de la nueva asignación que se publica en el chatter de la oportunidad.</description>
        <name>Template_MessageToChatter</name>
        <text>@[{!$Record.OwnerId}] Ha sido asignado propietario de la oportunidad: {!$Record.Name}</text>
    </textTemplates>
    <textTemplates>
        <description>Plantilla que contiene el nuevo nombre de la oportunidad si tiene que cambiarse</description>
        <name>Template_UpdatedOppName</name>
        <text>{!$Record.Account.FirstName} {!$Record.Account.LastName} [ {!$Record.line_insurance__c} ] {!For_MainOppIsBlank} {!$Record.risk_description__c}</text>
    </textTemplates>
</Flow>
