force-app/main/default/flows/SubflujoPantallaPlanificacionLlamada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>OpenTask</name>
        <label>Tiene tarea abierta</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>ScheduleCallLWC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesOpenTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskRecord.WhoId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CTICMVariable.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaskExisting</targetReference>
            </connector>
            <label>Si Tiene Tarea Abierta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch</name>
        <label>Switch</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SwitchOff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveFlowCampaignMember__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TextosArgumentario</targetReference>
            </connector>
            <label>Switch Off</label>
        </rules>
    </decisions>
    <description>Se mostrará el planificador de llamadas para que el agente programe Hora y día (HEADER dinámico incorporado con imagen como recurso estático y textos de objeto Textos de Argumentarios) Trata la salida del flujo y planificación de llamadas
20/10 AMT: Cambios en las cabeceras de las pantallas</description>
    <interviewLabel>Subflujo Pantalla Planificación de Llamada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo Pantalla Planificación de Llamada</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Recoge los textos de Argumentario que se usan en las pantallas de ESTE Flujo</description>
        <name>TextosArgumentario</name>
        <label>TextosArgumentario</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpenTask</targetReference>
        </connector>
        <filters>
            <field>Flujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SubflujoPantallaPlanificacionLlamada</stringValue>
            </value>
        </filters>
        <filters>
            <field>Idioma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <object>TextoArgumentario__c</object>
    </recordLookups>
    <recordUpdates>
        <description>Actualiza el miembro de campaña adicional a postpuesto</description>
        <name>UpdateMCAdicional_0_0</name>
        <label>Update MC Adicional</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MCAdicionalVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el miembro de campaña adicional a postpuesto y resultado vacío</description>
        <name>UpdateMCAdicionalAplazadoResultado</name>
        <label>Update MC Adicional Aplazado y Resultado</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MCAdicionalVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el status a aplazado</description>
        <name>UpdateMKTCMAplazado_0_0</name>
        <label>Update MKT CM Aplazado</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>UpdateMCAdicional_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MKTCMVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el status a aplazado y el resultado vacío</description>
        <name>UpdateMKTCMAplazadoResultado</name>
        <label>Update MKT CM Aplazado y Resultado</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>UpdateMCAdicionalAplazadoResultado</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MKTCMVariable.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <screens>
        <name>ScheduleCallLWC</name>
        <label>ScheduleCallLWC</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateMKTCMAplazadoResultado</targetReference>
        </connector>
        <fields>
            <name>S02_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TextoPlanificarLlamada</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto2__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TextoMensajeOperativaAgente</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto3__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Muestra la tarea existente</description>
        <name>TaskExisting</name>
        <label>TaskExisting</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateMKTCMAplazado_0_0</targetReference>
        </connector>
        <fields>
            <name>S01_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TaskExistingMensaje</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto1__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TaskLabel</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TaskRecord.Subject</elementReference>
            </defaultValue>
            <fieldText>Asunto</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TaskDate</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>TaskRecord.ActivityDate</elementReference>
            </defaultValue>
            <fieldText>Fecha Tarea</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Switch</startElementReference>
    <status>Active</status>
    <variables>
        <name>CTICMVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Parámetro de entrada para marcar como aplazado</description>
        <name>MCAdicionalVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <name>MKTCMVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Traer variable de Tarea</description>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Texto de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el nombre de la persona con la que estamos hablando y que vendrá del lead o del contacto.</description>
        <name>Var_INOUT_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Imagen de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el ícono que se muestra en la cabecera.</description>
        <name>Var_INOUT_HeadingIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Texto de subcabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el el interés (Ramo) que se está tratando en ese momento y que depende de dónde provenga el interés.</description>
        <name>Var_INOUT_SubHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
