force-app/main/default/flows/SubflujoPantallaDestinatarioMercancia.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <description>Asigna el registro encontrado con la variable que se usa en el flujo</description>
        <name>AsignaVariableCMCTI</name>
        <label>Asigna a la variable CM CTI</label>
        <locationX>1909</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CTICampaignMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCMCTI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetCMMKT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el registro encontrado a la variable CM MKT usada en el flujo</description>
        <name>AsignaVariableCMMKT</name>
        <label>Asigna Variable CM MKT</label>
        <locationX>1909</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MKTCampaignMember</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCMMKT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetMCAGAdicional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el registro encontrado a la variable MC AG usada en el flujo</description>
        <name>AsignaVariableMCAGAdicional</name>
        <label>Asigna Variable MCAG Adicional</label>
        <locationX>1909</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>MiembroCampanaAG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMCAGAdicional</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DestinatarioMercancia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Marca el interés excluido para que se elimine de la pantalla de intereses</description>
        <name>MarcaInteresExcluidoCMAG</name>
        <label>MarcaInteresExcluidoCMAG</label>
        <locationX>2041</locationX>
        <locationY>4088</locationY>
        <assignmentItems>
            <assignToReference>InteresExcluido</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputMCAdicionalId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VolverAPantallaInteresesTrue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Marca el interés excluido para que se elimine de la pantalla de intereses</description>
        <name>MarcaInteresExcluidoCMMKT</name>
        <label>MarcaInteresExcluidoCMMKT</label>
        <locationX>1777</locationX>
        <locationY>4088</locationY>
        <assignmentItems>
            <assignToReference>InteresExcluido</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCMMKTId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VolverAPantallaInteresesTrue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Marca la variable de salida de Planificación de Llamada</description>
        <name>MarcarPlanificarLlamada</name>
        <label>MarcarPlanificarLlamada</label>
        <locationX>1018</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VolverAPantallaIntereses</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CMMKToCMAG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guardamos los datos de contacto de nuevo para que vuelvan a mostrarse en la pantalla</description>
        <name>Set_DatosContactoDuplicado</name>
        <label>Set_DatosContactoDuplicado</label>
        <locationX>1942</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>Var_EntradaNombre</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaApellido</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaMovil</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaTelefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaTipoDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenDocumentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaNumDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenDocumentNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LeadContactCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guardamos los datos de contacto de nuevo para que vuelvan a mostrarse en la pantalla</description>
        <name>Set_DatosContactoValidacion</name>
        <label>Set_DatosContactoValidacion</label>
        <locationX>3922</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>Var_EntradaNombre</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaApellido</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaMovil</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaTelefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaTipoDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenDocumentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaNumDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenDocumentNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LeadContactCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Desactiva las marcas de errores para que no se muestren incorrectamente</description>
        <name>Set_DesactivaMarcasErrores</name>
        <label>Set Desactiva Marcas Errores</label>
        <locationX>3064</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorNumeroDocumentoInvalido</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ValidacionesDatosContacto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Ocultamos todos los mensajes de error de duplicados</description>
        <name>Set_MensajesDuplicadosFalse</name>
        <label>Set_MensajesDuplicadosFalse</label>
        <locationX>3922</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorDuplicadoEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorTelefonoDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorMovilDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorDocumentoDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_DatosContactoValidacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Ocultamos los mensajes de error de las validaciones</description>
        <name>Set_MensajesValidacionesFalse</name>
        <label>Set_MensajesValidacionesFalse</label>
        <locationX>1942</locationX>
        <locationY>3278</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarMensajeErrorTelefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorNumDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MensajeErrorTipoDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorPasaporte</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorEmailValidacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_DatosContactoDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos false a la variable para que no muestre el mensaje de error</description>
        <name>Set_MostrarErrorDocumentoDuplicadoFalse</name>
        <label>Set_MostrarErrorDocumentoDuplicadoFalse</label>
        <locationX>2074</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorDocumentoDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_MensajesValidacionesFalse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos true a la variable para que muestre el mensaje de error</description>
        <name>Set_MostrarErrorDocumentoDuplicadoTrue</name>
        <label>Set_MostrarErrorDocumentoDuplicadoTrue</label>
        <locationX>1810</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorDocumentoDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_MensajesValidacionesFalse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos false a la variable para que no muestre el mensaje de error</description>
        <name>Set_MostrarErrorEmailDuplicadoFalse</name>
        <label>Set_MostrarErrorEmailDuplicadoFalse</label>
        <locationX>2074</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorDuplicadoEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_TelefonoDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos true a la variable para que muestre el mensaje de error</description>
        <name>Set_MostrarErrorEmailDuplicadoTrue</name>
        <label>Set_MostrarErrorEmailDuplicadoTrue</label>
        <locationX>1810</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorDuplicadoEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_TelefonoDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos false a la variable para que muestre el mensaje de error de Email no validado</description>
        <name>Set_MostrarErrorEmailFalse</name>
        <label>Set_MostrarErrorEmailFalse</label>
        <locationX>3790</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorEmailValidacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_MensajesDuplicadosFalse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos true a la variable para que muestre el mensaje de error de Email no validado</description>
        <name>Set_MostrarErrorEmailValidacionTrue</name>
        <label>Set_MostrarErrorEmailValidacionTrue</label>
        <locationX>4054</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorEmailValidacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_MensajesDuplicadosFalse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos false a las variables de Set_MostrarErrorTipoDocumento y Set_MostrarErrorNumDocumento para que se oculten los mensajes de error</description>
        <name>Set_MostrarErroresDocumentosFalse</name>
        <label>Set_MostrarErroresDocumentosFalse</label>
        <locationX>4186</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>Var_MensajeErrorTipoDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorNumDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PasaporteValidado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos false a la variable para que no muestre el mensaje de error</description>
        <name>Set_MostrarErrorMovilDuplicadoFalse</name>
        <label>Set_MostrarErrorMovilDuplicadoFalse</label>
        <locationX>2074</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorMovilDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_DocumentoDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos true a la variable para que muestre el mensaje de error</description>
        <name>Set_MostrarErrorMovilDuplicadoTrue</name>
        <label>Set_MostrarErrorMovilDuplicadoTrue</label>
        <locationX>1810</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorMovilDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_DocumentoDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos true a la variable mostrarErrorNoCualificacion para que se muestre el mensaje de error</description>
        <name>Set_mostrarErrorNoCualificacionTrue</name>
        <label>Set_mostrarErrorNoCualificacionTrue</label>
        <locationX>490</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorNoCualificacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ChooseResultField</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Indicamos que se debe mostrar el mensaje de error para número de documento al asignarle a esta variable el valor true</description>
        <name>Set_MostrarErrorNumDocumentoTrue</name>
        <label>Set_MostrarErrorNumDocumentoTrue</label>
        <locationX>3922</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorNumDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MensajeErrorTipoDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PasaporteValidado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Marca la variable que indica si hay que mostrar el error de Número de documento inválido</description>
        <name>Set_MostrarErrorNumeroDocumentoInvalido</name>
        <label>Set Mostrar Error Numero Documento Invalido</label>
        <locationX>2602</locationX>
        <locationY>2402</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorNumeroDocumentoInvalido</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_DatosContactoValidacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos False a la variable para que no muestre el mensaje de error de pasaporte</description>
        <name>Set_MostrarErrorPasaporteFalse</name>
        <label>Set_MostrarErrorPasaporteFalse</label>
        <locationX>4054</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorPasaporte</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_EmailValidado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos True a la variable para que muestre el mensaje de error de pasaporte</description>
        <name>Set_MostrarErrorPasaporteTrue</name>
        <label>Set_MostrarErrorPasaporteTrue</label>
        <locationX>3790</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorPasaporte</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_EmailValidado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos false a la variable para que no muestre el mensaje de error</description>
        <name>Set_MostrarErrorTelefonoDuplicadoFalse</name>
        <label>Set_MostrarErrorTelefonoDuplicadoFalse</label>
        <locationX>2074</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorTelefonoDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_MovilDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos true a la variable para que muestre el mensaje de error</description>
        <name>Set_MostrarErrorTelefonoDuplicadoTrue</name>
        <label>Set_MostrarErrorTelefonoDuplicadoTrue</label>
        <locationX>1810</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorTelefonoDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_MovilDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Indicamos que se debe mostrar el mensaje de error para tipo de documento asignandole a esta variable el valor true</description>
        <name>Set_MostrarErrorTipoDocumentoTrue</name>
        <label>Set_MostrarErrorTipoDocumentoTrue</label>
        <locationX>3658</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>Var_MensajeErrorTipoDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorNumDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PasaporteValidado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos False a la variable Var_MostrarMensajeErrorTelefonos para que no se muestre el mensaje de error en la pantalla</description>
        <name>Set_MostrarMensajeErrorTelefonosFalseValidacion</name>
        <label>Set_MostrarMensajeErrorTelefonosFalseValidacion</label>
        <locationX>3790</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarMensajeErrorTelefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_TipoDocumentoNumDocumentoValidado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos False a la variable Var_MostrarMensajeErrorTelefonos para que se muestre el mensaje de error en la pantalla</description>
        <name>Set_MostrarMensajeErrorTelefonosTrueValidacion</name>
        <label>Set_MostrarMensajeErrorTelefonosTrueValidacion</label>
        <locationX>4054</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarMensajeErrorTelefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_TipoDocumentoNumDocumentoValidado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna true a la variable para que el flujo padre vuelva a mostrar los intereses abiertos</description>
        <name>VolverAPantallaInteresesTrue</name>
        <label>Volver a Pantalla Intereses</label>
        <locationX>1909</locationX>
        <locationY>4280</locationY>
        <assignmentItems>
            <assignToReference>VolverAPantallaIntereses</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>Cambiodetomador</name>
        <choiceText>Cambio de tomador</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cambio de tomador</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConsultaNoVentaATC</name>
        <choiceText>Consulta NO Venta - ATC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Consulta NO Venta - ATC</stringValue>
        </value>
    </choices>
    <choices>
        <name>GestiondeCartera</name>
        <choiceText>Gestión de Cartera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gestión de Cartera </stringValue>
        </value>
    </choices>
    <choices>
        <name>Llamadacortada</name>
        <choiceText>Llamada cortada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Llamada cortada</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mercanciaalextranjeroodeempresa</name>
        <choiceText>Mercancía al extranjero o de empresa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mercancía al extranjero o de empresa</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mercanciadevuelta</name>
        <choiceText>Mercancía devuelta</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mercancía devuelta</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nocoincidendatosverificacion</name>
        <choiceText>No coinciden datos verificacion</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No coinciden datos verificacion</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoColabora</name>
        <choiceText>No colabora</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No colabora</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoCompraPorTelefono</name>
        <choiceText>No compra por teléfono</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No compra por teléfono</stringValue>
        </value>
    </choices>
    <choices>
        <name>NocontentoconECI</name>
        <choiceText>No contento con ECI</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No contento con ECI </stringValue>
        </value>
    </choices>
    <choices>
        <name>Ofertafueradefecha</name>
        <choiceText>Oferta fuera de fecha</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Oferta fuera de fecha</stringValue>
        </value>
    </choices>
    <choices>
        <name>OtrosProductos</name>
        <choiceText>Otros Productos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Otros Productos</stringValue>
        </value>
    </choices>
    <choices>
        <name>PrefiereiraCentrocomercial</name>
        <choiceText>Prefiere ir a Centro comercial</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prefiere ir a Centro comercial</stringValue>
        </value>
    </choices>
    <choices>
        <name>YaContratado</name>
        <choiceText>Ya contratado</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ya contratado</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Según cual sea el interés lo añadimos a la lista de InteresesExcluidos</description>
        <name>CMMKToCMAG</name>
        <label>Es CMMKT o CMAG?</label>
        <locationX>1909</locationX>
        <locationY>3980</locationY>
        <defaultConnector>
            <targetReference>MarcaInteresExcluidoCMAG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Es CMAG</defaultConnectorLabel>
        <rules>
            <name>EsCMMKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputCMMKTId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MarcaInteresExcluidoCMMKT</targetReference>
            </connector>
            <label>Es CMMKT</label>
        </rules>
    </decisions>
    <decisions>
        <description>comprobamos si tipo de documento y número de documento están duplicados</description>
        <name>Decision_DocumentoDuplicado</name>
        <label>Decision_DocumentoDuplicado</label>
        <locationX>1942</locationX>
        <locationY>2978</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErrorDocumentoDuplicadoFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_DocumentoDuplicado_No</defaultConnectorLabel>
        <rules>
            <name>Decision_DocumentoDuplicado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_RegistroDuplicadoTipoDocumento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScreenDocumentType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_RegistroDuplicadoNumDocumento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScreenDocumentNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_RegistroDuplicadoTipoDocumento</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_RegistroDuplicadoNumDocumento</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorDocumentoDuplicadoTrue</targetReference>
            </connector>
            <label>Decision_DocumentoDuplicado_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si es el email el campo duplicado</description>
        <name>Decision_EmailDuplicado</name>
        <label>Decision_EmailDuplicado</label>
        <locationX>1942</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErrorEmailDuplicadoFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_EmailDuplicado_No</defaultConnectorLabel>
        <rules>
            <name>Decision_EmailDuplicado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegistroDuplicadoEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScreenEmail.value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegistroDuplicadoEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorEmailDuplicadoTrue</targetReference>
            </connector>
            <label>Decision_EmailDuplicado_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el email está validado</description>
        <name>Decision_EmailValidado</name>
        <label>Decision_EmailValidado?</label>
        <locationX>3922</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErrorEmailValidacionTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EmailValidado?_No</defaultConnectorLabel>
        <rules>
            <name>EmailValidado_Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ScreenEmail.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_ValidarEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorEmailFalse</targetReference>
            </connector>
            <label>EmailValidado?_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si es un error de validación marcamos la variable para mostrar el error y redirigimos a la pantalla de datos</description>
        <name>Decision_ErrorValidacion</name>
        <label>¿Es un error de validación?</label>
        <locationX>2734</locationX>
        <locationY>2294</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ErrorValidacion_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FIELD_CUSTOM_VALIDATION_EXCEPTION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorNumeroDocumentoInvalido</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el móvil está duplicado</description>
        <name>Decision_MovilDuplicado</name>
        <label>Decision_MovilDuplicado</label>
        <locationX>1942</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErrorMovilDuplicadoFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_MovilDuplicado_No</defaultConnectorLabel>
        <rules>
            <name>Decision_MovilDuplicado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegistroDuplicadoMobilPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScreenMobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegistroDuplicadoMobilPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorMovilDuplicadoTrue</targetReference>
            </connector>
            <label>Decision_MovilDuplicado_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el pasaporte validado</description>
        <name>Decision_PasaporteValidado</name>
        <label>Decision_PasaporteValidado</label>
        <locationX>3922</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErrorPasaporteFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_PasaporteValidado_No</defaultConnectorLabel>
        <rules>
            <name>Decision_PasaporteValidado_Si</name>
            <conditionLogic>1 AND 2 AND 3 AND NOT(4) AND NOT(5) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>ScreenDocumentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASSPORT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supervisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Coordinador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Qualities</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Responsable Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorPasaporteTrue</targetReference>
            </connector>
            <label>Decision_PasaporteValidado_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha seleccionado un motivo de no cualificado de entre todos los picklsits</description>
        <name>Decision_SeHaSeleccionadoMotivoNoCualificado</name>
        <label>Decision_SeHaSeleccionadoMotivoNoCualificado</label>
        <locationX>336</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Set_mostrarErrorNoCualificacionTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SeHaSeleccionadoMotivoNoCualificado_No</defaultConnectorLabel>
        <rules>
            <name>SeHaSeleccionadoMotivoNoCualificado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>valorResultadoFinal</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Error: No hay valor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_SeSeleccionoGestionCartera</targetReference>
            </connector>
            <label>SeHaSeleccionadoMotivoNoCualificado_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se ha seleccionado el valor &quot;Gestión de Cartera&quot;</description>
        <name>Decision_SeSeleccionoGestionCartera</name>
        <label>Decision_SeSeleccionoGestionCartera</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>UpdateResultCMMKT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SeSeleccionoGestionCartera_No</defaultConnectorLabel>
        <rules>
            <name>SeSeleccionoGestionCartera_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>valorResultadoFinal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GestiondeCartera</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PantallaTipoGestion</targetReference>
            </connector>
            <label>SeSeleccionoGestionCartera_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el teléfono está duplicado</description>
        <name>Decision_TelefonoDuplicado</name>
        <label>Decision_TelefonoDuplicado</label>
        <locationX>1942</locationX>
        <locationY>2378</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErrorTelefonoDuplicadoFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_TelefonoDuplicado_No</defaultConnectorLabel>
        <rules>
            <name>Decision_TelefonoDuplicado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegistroDuplicadoPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScreenPhone.value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegistroDuplicadoPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorTelefonoDuplicadoTrue</targetReference>
            </connector>
            <label>Decision_TelefonoDuplicado_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si Tipo de Documento y Número de documento están validados</description>
        <name>Decision_TipoDocumentoNumDocumentoValidado</name>
        <label>Decision_TipoDocumentoNumDocumentoValidado</label>
        <locationX>3922</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErroresDocumentosFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_TipoDocumentoNumDocumentoValidado_Si</defaultConnectorLabel>
        <rules>
            <name>Decision_TipoDocumentoValidado_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScreenDocumentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorTipoDocumentoTrue</targetReference>
            </connector>
            <label>Decision_TipoDocumentoValidado_No</label>
        </rules>
        <rules>
            <name>Decision_NumeroDocumentoValidado_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScreenDocumentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorNumDocumentoTrue</targetReference>
            </connector>
            <label>Decision_NumeroDocumentoValidado_No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se cumplen las validaciones básicas de un lead/contacto</description>
        <name>Decision_ValidacionesDatosContacto</name>
        <label>Decision_ValidacionesDatosContacto</label>
        <locationX>3064</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Decision_ValidacionesTelefonos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_ValidacionesDatosContacto_No</defaultConnectorLabel>
        <rules>
            <name>Decision_ValidacionesDatosContacto_Si</name>
            <conditionLogic>(1 OR 2) AND ((3 AND 4 AND NOT(9)) OR (5 AND 6) OR (3 AND 4 AND (7 OR 8 OR 13 OR 14) AND 9)) AND (10 OR (11 AND 12))</conditionLogic>
            <conditions>
                <leftValueReference>ScreenMobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenPhone.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supervisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Coordinador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASSPORT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenEmail.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_ValidarEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenEmail.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Qualities</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Responsable Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadDuplicate</targetReference>
            </connector>
            <label>Decision_ValidacionesDatosContacto_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si hay que mostrar el mensaje de error de que hay que rellenar alguno de los teléfonos.</description>
        <name>Decision_ValidacionesTelefonos</name>
        <label>Decision_ValidacionesTelefonos</label>
        <locationX>3922</locationX>
        <locationY>1538</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarMensajeErrorTelefonosTrueValidacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_ValidacionesTelefonos_No</defaultConnectorLabel>
        <rules>
            <name>Decision_ValidacionesTelefonos_Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ScreenMobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenPhone.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarMensajeErrorTelefonosFalseValidacion</targetReference>
            </connector>
            <label>Decision_ValidacionesTelefonos_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Para cada tipo de respuesta diferente realizamos las acciones necesarias</description>
        <name>DependeRespuestas</name>
        <label>Depende lo que responda realizamos acciones</label>
        <locationX>1909</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>FacilitaDatosContacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Usuario Final</defaultConnectorLabel>
        <rules>
            <name>UsuarioFinalMercanciaRecibida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UsuarioFinalQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsuranceInterest</targetReference>
            </connector>
            <label>Usuario Final y Mercancía Recibida</label>
        </rules>
        <rules>
            <name>UsuarioFinalNoMercanciaRecibida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>UsuarioFinalQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TieneFechaEntrega</targetReference>
            </connector>
            <label>Usuario Final y NO Mercancía Recibida</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si es la misma persona creamos interés, si no volvemos a la pantalla de creación de Lead/Contact</description>
        <name>EsMismaPersona</name>
        <label>¿Es la Misma Persona?</label>
        <locationX>1678</locationX>
        <locationY>1970</locationY>
        <defaultConnector>
            <targetReference>Decision_EmailDuplicado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiEsMismaPersona</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DuplicateRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_NoCualificadoCMMKT</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si existe un registro se muestra el registro</description>
        <name>ExisteRegistro</name>
        <label>¿Existe ya un registro?</label>
        <locationX>2206</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>Update_NoCualificadoCMMKTSinDuplicado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sin Duplicado</defaultConnectorLabel>
        <rules>
            <name>SiExisteRegistro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegistroDuplicadoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RegistroDuplicado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>FacilitaDatosContacto</name>
        <label>Facilita Datos de Contacto</label>
        <locationX>3757</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>UpdateNoCualificadoCMMKT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiFacilitaDatosContacto</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactDataQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadContactCreate</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>InsuranceInterest</name>
        <label>¿Interesado en el seguro?</label>
        <locationX>61</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>ChooseResultField</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiInteresado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InsuranceQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si en la pantalla de intereses se ha seleccionado un CM MKT creamos un plartform Event para generar un interés a partir de sus datos, sino a partir de l MC Adicional</description>
        <name>SeHaSeleccionadCMMKT</name>
        <label>¿Se ha seleccionado un CM MKT?</label>
        <locationX>1414</locationX>
        <locationY>2294</locationY>
        <defaultConnector>
            <targetReference>CreamosEventoMCAG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiSeHaSeleccionadCMMKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MKTCampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreamosEventoCMMKT</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si en la pantalla de intereses se ha seleccionado un CM MKT creamos un plartform Event para generar un interés a partir de sus datos, sino a partir de l MC Adicional</description>
        <name>SeHaSeleccionadCMMKT_0</name>
        <label>¿Se ha seleccionado un CM MKT?</label>
        <locationX>2734</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>CreacionLeadMCAG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiSeHaSeleccionadCMMKT_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MKTCampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreacionLeadCMMKT</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Indica si tiene fecha o no de entrega</description>
        <name>TieneFechaEntrega</name>
        <label>¿Tiene Fecha de Entrega?</label>
        <locationX>886</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>PlanificacionLlamada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiTieneFechaEntrega</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DeliveryDateQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InsuranceInterest</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>En esta pantalla el agente deberá preguntar si es el usuario final de la mercancía o No

26/08: Añado SourceType en la creación de interés para el contacto informado. Cambio la actualización de interés a Cambio de tomador antes de la creación de nuevos Leads/intereses
30/08: Añado los campos de mercancía al crear el Lead
20/09 MMV: Se elimina la Pantalla de Datos CESS
30/09 AC: Cambio de preguntas por Textos Argumentario variables
20/10 AMT: Cambios en las cabeceras de las pantallas (se ha creado a partir de la versión 39 que es la última versión activa y con comentario en la descripción)
05/11 MHG: Se añade PhoneAux__c y MobilePhoneAux__c para hacer selectiva la consulta de GetRecords de Leads duplicados Namespace Prefix
05/11 MHG: Se corrige la validación de Email en la creación de Lead
17/04 JLQ: Se añaden los roles definidos como supervisor
09/05/2023 JCB Corrección validación Pasaporte, revisión de asignación variable MostrarErrorPasaporte.</description>
    <dynamicChoiceSets>
        <description>Picklist que contiene los valores del campo Tipo Documento del objeto Lead</description>
        <name>LeadDocumentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>document_type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Valores no cualificado por defecto</description>
        <name>PicklistNoCualificadoDefault</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NoCualificadoDefault__c</picklistField>
        <picklistObject>FlowPicklist__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Valores par no cualificado cuando el medio es telefono o manual</description>
        <name>PicklistNoCualificadoEntrantesBlecis</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NoCualificadoEntrantesBlecis__c</picklistField>
        <picklistObject>FlowPicklist__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Valores para no cualificado cuando el medio es blecis y llamada salientes blecis</description>
        <name>PicklistNoCualificadoSalientesBlecis</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>NoCualificado_SalientesBlecis__c</picklistField>
        <picklistObject>FlowPicklist__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Campo tipo de gestion de miembro de campaña</description>
        <name>TipoGestionCM</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ManagementType__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Comprobamos a través de regex que el email tiene el formato correcto</description>
        <name>Formula_ValidarEmail</name>
        <dataType>Boolean</dataType>
        <expression>REGEX( {!ScreenEmail.value} , &quot;^\\(([a-zA-Z0-9 _\\-\\.\\+]+)\\)\\ ([a-zA-Z0-9\n&quot; +
               &quot;_\\!\\#\\$\\%\\&amp;amp;\\&apos;\\*\\-\\/\\=\\?\\^\\`\\{\\|\\}\\~\\.]+)@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\\n&quot; +
                &quot;.[0-9]{1,3}\\.)|(([a-zA-Z0-9\\w\n&quot; +
                &quot;_\\!\\#\\$\\%\\&amp;amp;\\&apos;\\*\\-\\/\\=\\?\\^\\`\\{\\|\\}\\~]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3}\n&quot; +
                &quot;)$|^([a-zA-Z0-9 \\w\n&quot; +
                &quot;_\\!\\#\\$\\%\\&amp;amp;\\&apos;\\*\\-\\/\\=\\?\\^\\`\\{\\|\\}\\~\\.]+)@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\\n&quot; +
                &quot;.[0-9]{1,3}\\.)|(([a-zA-Z0-9_\\-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})$&quot;)</expression>
    </formulas>
    <formulas>
        <description>Variable en la que se almacena el valor final del campo resultado, comprobará todos los picklist y recogerá el valor del que no esté nulo.</description>
        <name>valorResultadoFinal</name>
        <dataType>String</dataType>
        <expression>IF( NOT( ISBLANK( TEXT( {!PicklistNoCualificadoDefault} ) ) ), TEXT( {!PicklistNoCualificadoDefault} ),
 IF( NOT( ISBLANK( TEXT( {!PicklistNoCualificadoEntrantesBlecis} ) ) ), TEXT( {!PicklistNoCualificadoEntrantesBlecis} ),
  IF( NOT( ISBLANK( TEXT( {!PicklistNoCualificadoSalientesBlecis} ) ) ), TEXT( {!PicklistNoCualificadoSalientesBlecis} ), &quot;Error: No hay valor&quot;
  )
 )
)</expression>
    </formulas>
    <interviewLabel>Subflujo Pantalla Destinatario Mercancía {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo Pantalla Destinatario Mercancía</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Crear un Lead con los datos por pantalla y del interés seleccionado (CM MKT)</description>
        <name>CreacionLeadCMMKT</name>
        <label>Creación de Lead a partir de CM MKT</label>
        <locationX>2338</locationX>
        <locationY>2186</locationY>
        <connector>
            <targetReference>CMMKToCMAG</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Decision_ErrorValidacion</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AmountMerchandise__c</field>
            <value>
                <elementReference>MKTCampaignMember.AmountMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionMerchandise__c</field>
            <value>
                <elementReference>MKTCampaignMember.DescriptionMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>ScreenEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ScreenFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ScreenLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchandiseType__c</field>
            <value>
                <elementReference>MKTCampaignMember.MerchandiseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>ScreenMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>ScreenPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesSlip__c</field>
            <value>
                <elementReference>MKTCampaignMember.SalesSlip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <elementReference>MKTCampaignMember.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign_cess__c</field>
            <value>
                <elementReference>MKTCampaignMember.CampaignCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign_cti__c</field>
            <value>
                <elementReference>MKTCampaignMember.CampaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>line_insurance__c</field>
            <value>
                <elementReference>MKTCampaignMember.LineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_cess__c</field>
            <value>
                <elementReference>MKTCampaignMember.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_type__c</field>
            <value>
                <elementReference>MKTCampaignMember.SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <description>Crear un Lead con los datos introducidos por pantalla y con los datos de interés de MC Adicional</description>
        <name>CreacionLeadMCAG</name>
        <label>Creación de Lead a partir de MC AG</label>
        <locationX>3130</locationX>
        <locationY>2186</locationY>
        <connector>
            <targetReference>CMMKToCMAG</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Decision_ErrorValidacion</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AmountMerchandise__c</field>
            <value>
                <elementReference>MiembroCampanaAG.AmountMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionMerchandise__c</field>
            <value>
                <elementReference>MiembroCampanaAG.DescriptionMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>ScreenEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ScreenFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ScreenLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchandiseType__c</field>
            <value>
                <elementReference>MiembroCampanaAG.MerchandiseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>ScreenMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>ScreenPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesSlip__c</field>
            <value>
                <elementReference>MiembroCampanaAG.SalesSlip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <elementReference>MiembroCampanaAG.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign_cess__c</field>
            <value>
                <elementReference>MiembroCampanaAG.CampaignCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign_cti__c</field>
            <value>
                <elementReference>MiembroCampanaAG.CampaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>line_insurance__c</field>
            <value>
                <elementReference>MiembroCampanaAG.LineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_cess__c</field>
            <value>
                <elementReference>MiembroCampanaAG.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_type__c</field>
            <value>
                <elementReference>MiembroCampanaAG.SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <description>Creamos un evento para generar interés con los datos del CM MKT</description>
        <name>CreamosEventoCMMKT</name>
        <label>Creamos Evento a partir de CM MKT</label>
        <locationX>1282</locationX>
        <locationY>2402</locationY>
        <connector>
            <targetReference>CMMKToCMAG</targetReference>
        </connector>
        <inputAssignments>
            <field>AmountMerchandise__c</field>
            <value>
                <elementReference>MKTCampaignMember.AmountMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIDDisplayAdvertisments__c</field>
            <value>
                <elementReference>MKTCampaignMember.IDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIDGoogleAnalytics__c</field>
            <value>
                <elementReference>MKTCampaignMember.CESSIdGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdPricing__c</field>
            <value>
                <elementReference>MKTCampaignMember.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSScoring__c</field>
            <value>
                <elementReference>MKTCampaignMember.CESSScoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>MKTCampaignMember.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionMerchandise__c</field>
            <value>
                <elementReference>MKTCampaignMember.DescriptionMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>RegistroDuplicadosIdExterno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource__c</field>
            <value>
                <elementReference>RegistroDuplicadoLeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchandiseType__c</field>
            <value>
                <elementReference>MKTCampaignMember.MerchandiseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherRiskData__c</field>
            <value>
                <elementReference>MKTCampaignMember.OtherRiskData__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskAddress__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskLocation__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOptionCapitalInsured__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesSlip__c</field>
            <value>
                <elementReference>MKTCampaignMember.SalesSlip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ageRange__c</field>
            <value>
                <elementReference>RegistroDuplicadoAgeRange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>birthdate__c</field>
            <value>
                <elementReference>RegistroDuplicadoBirthDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaignCESS__c</field>
            <value>
                <elementReference>MKTCampaignMember.CampaignCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaignCTI__c</field>
            <value>
                <elementReference>MKTCampaignMember.CampaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaingtypeCess__c</field>
            <value>
                <elementReference>MKTCampaignMember.CampaingTypeCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>insuranceCompany__c</field>
            <value>
                <elementReference>MKTCampaignMember.InsuranceCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lineInsurance__c</field>
            <value>
                <elementReference>MKTCampaignMember.LineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>matchedRecordId__c</field>
            <value>
                <elementReference>RegistroDuplicadoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>quoteCode__c</field>
            <value>
                <elementReference>MKTCampaignMember.QuoteCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referenceCampaign__c</field>
            <value>
                <elementReference>MKTCampaignMember.ReferenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesourceCess__c</field>
            <value>
                <elementReference>MKTCampaignMember.ReferenceSourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>renewalDate__c</field>
            <value>
                <elementReference>MKTCampaignMember.RenewalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskBrand__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskCategory__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskDescription__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskDriverBirthDate__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskDriverBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskEcicard__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskECICard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskExpirationdate__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskExpirationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskGender__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskGender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskInsuredBirthDate__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskInsuredBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskOwnerBirthDate__c</field>
            <value>
                <elementReference>MKTCampaignMember.RIskOwnerBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskPolicyHolderBirthDate__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskPolicyHolderBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskPostalcode__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskPropertytype__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskPropertyType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskSquaremetres__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskSquareMetres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskTenant__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskTenant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskdriverLicensedate__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskDriverLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskinsuredNumber__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskInsuredNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskownerLicensedate__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskOwnerLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskpolicyholderLicensedate__c</field>
            <value>
                <elementReference>MKTCampaignMember.RiskPolicyHolderLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceCess__c</field>
            <value>
                <elementReference>MKTCampaignMember.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceManualrecord__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>sourceType__c</field>
            <value>
                <elementReference>MKTCampaignMember.SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceWeb__c</field>
            <value>
                <elementReference>MKTCampaignMember.SourceWeb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_web__c</field>
            <value>
                <elementReference>MKTCampaignMember.WebSource__c</elementReference>
            </value>
        </inputAssignments>
        <object>CMCreationEvent__e</object>
    </recordCreates>
    <recordCreates>
        <description>Creamos un platform event para generar un interés a partir de los datos del MC Adicional</description>
        <name>CreamosEventoMCAG</name>
        <label>Creamos Evento a partir de MC AG</label>
        <locationX>1546</locationX>
        <locationY>2402</locationY>
        <connector>
            <targetReference>CMMKToCMAG</targetReference>
        </connector>
        <inputAssignments>
            <field>AmountMerchandise__c</field>
            <value>
                <elementReference>MiembroCampanaAG.AmountMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIDDisplayAdvertisments__c</field>
            <value>
                <elementReference>MiembroCampanaAG.IDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIDGoogleAnalytics__c</field>
            <value>
                <elementReference>MiembroCampanaAG.CESSIdGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdPricing__c</field>
            <value>
                <elementReference>MiembroCampanaAG.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSScoring__c</field>
            <value>
                <elementReference>MiembroCampanaAG.CESSScoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>MiembroCampanaAG.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionMerchandise__c</field>
            <value>
                <elementReference>MiembroCampanaAG.DescriptionMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>RegistroDuplicadosIdExterno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource__c</field>
            <value>
                <elementReference>RegistroDuplicadoLeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchandiseType__c</field>
            <value>
                <elementReference>MiembroCampanaAG.MerchandiseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherRiskData__c</field>
            <value>
                <elementReference>MiembroCampanaAG.OtherRiskData__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskAddress__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOptionCapitalInsured__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesSlip__c</field>
            <value>
                <elementReference>MiembroCampanaAG.SalesSlip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ageRange__c</field>
            <value>
                <elementReference>RegistroDuplicadoAgeRange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>birthdate__c</field>
            <value>
                <elementReference>RegistroDuplicadoBirthDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaignCESS__c</field>
            <value>
                <elementReference>MiembroCampanaAG.CampaignCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaignCTI__c</field>
            <value>
                <elementReference>MiembroCampanaAG.CampaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaingtypeCess__c</field>
            <value>
                <elementReference>MiembroCampanaAG.CampaignTypeCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>insuranceCompany__c</field>
            <value>
                <elementReference>MiembroCampanaAG.InsuranceCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>matchedRecordId__c</field>
            <value>
                <elementReference>RegistroDuplicadoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>quoteCode__c</field>
            <value>
                <elementReference>MiembroCampanaAG.QuoteCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referenceCampaign__c</field>
            <value>
                <elementReference>MiembroCampanaAG.ReferenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesourceCess__c</field>
            <value>
                <elementReference>MiembroCampanaAG.ReferenceSourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>renewalDate__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RenewalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskDescription__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskDriverBirthDate__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskDriverBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskEcicard__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskECICard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskExpirationdate__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskExpirationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskGender__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskGender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskInsuredBirthDate__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskInsuredBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskOwnerBirthDate__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RIskOwnerBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskPolicyHolderBirthDate__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskPolicyHolderBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskPostalcode__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskPropertytype__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskPropertyType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskSquaremetres__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskSquareMetres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskTenant__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskTenant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskdriverLicensedate__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskDriverLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskinsuredNumber__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskInsuredNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskownerLicensedate__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskOwnerLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskpolicyholderLicensedate__c</field>
            <value>
                <elementReference>MiembroCampanaAG.RiskPolicyHolderLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceCess__c</field>
            <value>
                <elementReference>MiembroCampanaAG.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceManualrecord__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>sourceType__c</field>
            <value>
                <elementReference>MiembroCampanaAG.SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceWeb__c</field>
            <value>
                <elementReference>MiembroCampanaAG.SourceWeb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_web__c</field>
            <value>
                <elementReference>MiembroCampanaAG.WebSource__c</elementReference>
            </value>
        </inputAssignments>
        <object>CMCreationEvent__e</object>
    </recordCreates>
    <recordLookups>
        <name>ContactDuplicate</name>
        <label>Contact Duplicate</label>
        <locationX>2206</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteRegistro</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenEmail.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenPhone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenMobilePhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>document_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenDocumentType</elementReference>
            </value>
        </filters>
        <filters>
            <field>personal_document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenDocumentNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>document_type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>personal_document__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadosIdExterno</assignToReference>
            <field>IdExterno__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoLeadSource</assignToReference>
            <field>LeadSource</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoMobilPhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoBirthDate</assignToReference>
            <field>birthdate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_RegistroDuplicadoTipoDocumento</assignToReference>
            <field>document_type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_RegistroDuplicadoNumDocumento</assignToReference>
            <field>personal_document__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el CM CTI recibido por parámetro</description>
        <name>GetCMCTI</name>
        <label>Get CM CTI</label>
        <locationX>1909</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignaVariableCMCTI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCMCTIId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el CM MKT recibido por parámetro</description>
        <name>GetCMMKT</name>
        <label>Get CM MKT</label>
        <locationX>1909</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignaVariableCMMKT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCMMKTId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el MCAG Adicional recibido por parámetro</description>
        <name>GetMCAGAdicional</name>
        <label>Get MCAG Adicional</label>
        <locationX>1909</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignaVariableMCAGAdicional</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputMCAdicionalId</elementReference>
            </value>
        </filters>
        <object>AMCM__c</object>
    </recordLookups>
    <recordLookups>
        <description>Revisar si el lead existe en el sistema</description>
        <name>LeadDuplicate</name>
        <label>Lead Duplicate</label>
        <locationX>2206</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactDuplicate</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenEmail.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhoneAux__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenMobilePhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>PhoneAux__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenPhone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhoneAux__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PhoneAux__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>document_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenDocumentType</elementReference>
            </value>
        </filters>
        <filters>
            <field>document_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenDocumentNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>document_type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>document_number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadosIdExterno</assignToReference>
            <field>IdExterno__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoLeadSource</assignToReference>
            <field>LeadSource</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoMobilPhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoAgeRange</assignToReference>
            <field>age_range__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoBirthDate</assignToReference>
            <field>birthdate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_RegistroDuplicadoNumDocumento</assignToReference>
            <field>document_number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_RegistroDuplicadoTipoDocumento</assignToReference>
            <field>document_type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Recoge los textos de Argumentario que se usan en las pantallas de ESTE Flujo</description>
        <name>TextosArgumentario</name>
        <label>TextosArgumentario</label>
        <locationX>1909</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCMCTI</targetReference>
        </connector>
        <filters>
            <field>Flujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SubflujoPantallaDestinatarioMercancia</stringValue>
            </value>
        </filters>
        <filters>
            <field>Idioma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <object>TextoArgumentario__c</object>
    </recordLookups>
    <recordUpdates>
        <description>Actualiza (si se ha seleccionado) el CM MKT a No Cualificado, con cambio de tomador. LO HACEMOS ANTES DE CREAR EL EVENTO PARA EVITAR EL UNABLE TO LOCK ROW</description>
        <name>Update_NoCualificadoCMMKT</name>
        <label>Update No Cualificado CM MKT</label>
        <locationX>1414</locationX>
        <locationY>2078</locationY>
        <connector>
            <targetReference>Update_NoCualificadoMCAG</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MKTCampaignMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Cambio de Tomador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza (si se ha seleccionado) el CM MKT a No Cualificado, con cambio de tomador. LO HACEMOS ANTES DE CREAR EL EVENTO PARA EVITAR EL UNABLE TO LOCK ROW</description>
        <name>Update_NoCualificadoCMMKTSinDuplicado</name>
        <label>Update No Cualificado CM MKT</label>
        <locationX>2734</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Update_NoCualificadoMCAGSinDuplicado</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MKTCampaignMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Cambio de Tomador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el MC AG (si se ha seleccionado) como No cualificado con cambio de tomador. LO HACEMOS ANTES DE CREAR EL EVENTO PARA EVITAR EL UNABLE TO LOCK ROW</description>
        <name>Update_NoCualificadoMCAG</name>
        <label>Update No Cualificado MC AG</label>
        <locationX>1414</locationX>
        <locationY>2186</locationY>
        <connector>
            <targetReference>SeHaSeleccionadCMMKT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MiembroCampanaAG.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Cambio de Tomador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el MC AG (si se ha seleccionado) como No cualificado con cambio de tomador. LO HACEMOS ANTES DE CREAR EL EVENTO PARA EVITAR EL UNABLE TO LOCK ROW</description>
        <name>Update_NoCualificadoMCAGSinDuplicado</name>
        <label>Update No Cualificado MC AG</label>
        <locationX>2734</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>SeHaSeleccionadCMMKT_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MiembroCampanaAG.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Cambio de Tomador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza (si se ha seleccionado) el CM MKT a No Cualificado</description>
        <name>UpdateNoCualificadoCMMKT</name>
        <label>Update No Cualificado CM MKT</label>
        <locationX>4450</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>UpdateNoCualificadoMCAG</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MKTCampaignMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Cambio de Tomador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el MC AG (si se ha seleccionado) como No cualificado</description>
        <name>UpdateNoCualificadoMCAG</name>
        <label>Update No Cualificado MC AG</label>
        <locationX>4450</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>CMMKToCMAG</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MiembroCampanaAG.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Cambio de Tomador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza (si se ha seleccionado) el CM MKT con el Result seleccionado</description>
        <name>UpdateResultCMMKT</name>
        <label>Update Result CM MKT</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>UpdateResultMCAG</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MKTCampaignMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ManagementType__c</field>
            <value>
                <elementReference>TipoGestion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>valorResultadoFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el MC AG (si se ha seleccionado) con el Resultado seleccionado</description>
        <name>UpdateResultMCAG</name>
        <label>Update Result MC AG</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>CMMKToCMAG</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MiembroCampanaAG.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>valorResultadoFinal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <screens>
        <description>Permite escoger un valor para el resultado</description>
        <name>ChooseResultField</name>
        <label>Choose Result Field</label>
        <locationX>336</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_SeHaSeleccionadoMotivoNoCualificado</targetReference>
        </connector>
        <fields>
            <name>S02_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PantallaMotivoNoCualificacionDefault</name>
            <choiceReferences>PicklistNoCualificadoDefault</choiceReferences>
            <dataType>String</dataType>
            <fieldText>El motivo de no cualificacion</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PantallaMotivoNoCualificacionEntrantesBlecis</name>
            <choiceReferences>PicklistNoCualificadoEntrantesBlecis</choiceReferences>
            <dataType>String</dataType>
            <fieldText>El motivo de no cualificacion</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PantallaMotivoNoCualificacionSalientesBlecis</name>
            <choiceReferences>PicklistNoCualificadoSalientesBlecis</choiceReferences>
            <dataType>String</dataType>
            <fieldText>El motivo de no cualificacion</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>errorMotivoNoCualificacion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;Debe seleccionar un motivo de no cualificacion para continuar.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Se mostrará otra pregunta dónde el agente deberá seleccionar si nos facilitan los datos de contacto.</description>
        <name>DestinatarioMercancia</name>
        <label>Destinatario de la Mercancía</label>
        <locationX>1909</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DependeRespuestas</targetReference>
        </connector>
        <fields>
            <name>S01_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>UsuarioFinalQuestion</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta1__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactDataQuestion</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta2__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DeliveryQuestion</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta3__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DeliveryDateQuestion</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta4__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InsuranceQuestion</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta5__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LeadContactCreate</name>
        <label>Creación Lead/Contacto</label>
        <locationX>3064</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_DesactivaMarcasErrores</targetReference>
        </connector>
        <fields>
            <name>S04_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenFirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_EntradaNombre</elementReference>
            </defaultValue>
            <fieldText>Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ScreenLastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_EntradaApellido</elementReference>
            </defaultValue>
            <fieldText>Apellidos</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenMobilePhone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_EntradaMovil</elementReference>
            </defaultValue>
            <fieldText>Móvil</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>errorMovilDuplicado</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Ya existe un Lead o Contacto con este&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Móvil&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Teléfono</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Var_EntradaTelefono</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>errorTelefonoDuplicado</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Ya existe un Lead o Contacto con este&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Teléfono&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>telefonoError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;El campo &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Móvil &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;o &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Teléfono &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;debe estar relleno para continuar.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Var_EntradaEmail</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>errorEmailValidacion</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;El &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Email&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt; no es válido&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorEmailDuplicado</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Ya existe un Lead o Contacto con este&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Email&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenDocumentType</name>
            <choiceReferences>LeadDocumentType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_EntradaTipoDocumento</elementReference>
            </defaultValue>
            <fieldText>Tipo de Documento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ErrorTipoDocumento</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;El campo &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Tipo de Documento&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; debe estar relleno para continuar.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorPasaporte</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;El usuario debe ser un &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Supervisor&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; para poder seleccionar pasaporte.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenDocumentNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_EntradaNumDocumento</elementReference>
            </defaultValue>
            <fieldText>Número de Documento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>errorDocumentoDuplicado</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Ya existe un Lead o Contacto con este&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Número de Documento&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorNumeroDocumento</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;El campo &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Número de Documento&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; debe estar relleno para continuar.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S01_ErrorNumeroDocumentoInvalido</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;El &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Número de Documento&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; no es válido&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaTipoGestion</name>
        <label>Pantalla Tipo de Gestion</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateResultCMMKT</targetReference>
        </connector>
        <fields>
            <name>S03_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TipoGestion</name>
            <choiceReferences>TipoGestionCM</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de Gestión</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RegistroDuplicado</name>
        <label>Registro Duplicado</label>
        <locationX>1678</locationX>
        <locationY>1862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>EsMismaPersona</targetReference>
        </connector>
        <fields>
            <name>S05_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AvisoDuplicado</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto6__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NameDuplicated</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>RegistroDuplicadoFirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>RegistroDuplicadoLastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Nombre y Apellidos</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>mobileDuplicate2</name>
            <fieldText>&lt;p&gt;{!Var_EntradaMovil}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PhoneDuplicate</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Teléfono</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>RegistroDuplicadoPhone</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmailDuplicate</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>RegistroDuplicadoEmail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenTipoDocumentoReadOnly</name>
            <fieldText>&lt;p&gt;Tipo de Documento&lt;/p&gt;&lt;p&gt;{!Var_RegistroDuplicadoTipoDocumento}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenNumDocumentoReadOnly</name>
            <fieldText>&lt;p&gt;Número de Documento&lt;/p&gt;&lt;p&gt;{!Var_RegistroDuplicadoNumDocumento}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DuplicateRecord</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta6__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AvisoCreacionInteres</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto4__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>TextosArgumentario</startElementReference>
    <status>Active</status>
    <subflows>
        <name>PlanificacionLlamada</name>
        <label>Planificación Llamada</label>
        <locationX>1018</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>MarcarPlanificarLlamada</targetReference>
        </connector>
        <flowName>SubflujoPantallaPlanificacionLlamada</flowName>
        <inputAssignments>
            <name>CTICMVariable</name>
            <value>
                <elementReference>CTICampaignMember</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MCAdicionalVariable</name>
            <value>
                <elementReference>MiembroCampanaAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>MKTCMVariable</name>
            <value>
                <elementReference>MKTCampaignMember</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CTICampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Identificador del CM CTI</description>
        <name>inputCMCTIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Identificador del registro de Campaign Member de MKT seleccionado como interés</description>
        <name>inputCMMKTId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Identificador del miembro de campaña AG Adicional seleccionado como interés</description>
        <name>inputMCAdicionalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ID de intereses excluidos (tratado en este flujo) para filtrar los Intereses obtenidos (CM, CMAG y OPP). Este parámetro de salida en este flujo devuelve el interés que se haya tratado</description>
        <name>InteresExcluido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MiembroCampanaAG</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <name>MKTCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Variable que controla que se muestre o no el planificador de llamada cuando se cierra el argumentario. Es de salida puesto que el flujo principal debe controlar que se haya indicado la planificación.</description>
        <name>PlanificarLlamada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>campo Age_range del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadoAgeRange</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo BirthDate del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadoBirthDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo Email del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadoEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo FirstName del registro duplicado, ya sea de Lead o Contacto</description>
        <name>RegistroDuplicadoFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Identificador del registro duplicado, ya sea de de Lead o Contacto</description>
        <name>RegistroDuplicadoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo LastName del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadoLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Lead Source del registro duplicado, ya sea Lead o Duplicado</description>
        <name>RegistroDuplicadoLeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo MobilePhone del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadoMobilPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo Phone del registro duplicado ya sea Lead o Contact</description>
        <name>RegistroDuplicadoPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id externo del registro duplicado, ya sea de Lead o de Contacto</description>
        <name>RegistroDuplicadosIdExterno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que almacena el valor del apellidodel screen de crear lead/contacto</description>
        <name>Var_EntradaApellido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que almacena el valor del email del screen de crear lead/contacto</description>
        <name>Var_EntradaEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que almacena el valor del móvil del screen de crear lead/contacto</description>
        <name>Var_EntradaMovil</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que almacena el valor del nombre del screen de crear lead/contacto</description>
        <name>Var_EntradaNombre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que almacena el valor del número de documento del screen de crear lead/contacto</description>
        <name>Var_EntradaNumDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que almacena el valor del telefono del screen de crear lead/contacto</description>
        <name>Var_EntradaTelefono</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que almacena el valor del Tipo de documento del screen de crear lead/contacto</description>
        <name>Var_EntradaTipoDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Texto de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el nombre de la persona con la que estamos hablando y que vendrá del lead o del contacto.</description>
        <name>Var_INOUT_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Imagen de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el ícono que se muestra en la cabecera.</description>
        <name>Var_INOUT_HeadingIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Texto de subcabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el el interés (Ramo) que se está tratando en ese momento y que depende de dónde provenga el interés.</description>
        <name>Var_INOUT_SubHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable que nos indica si se debe mostrar el mensaje de validación para tipo de documento</description>
        <name>Var_MensajeErrorTipoDocumento</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que nos indica si debemos mostrar el mensaje de error para num documento duplicado</description>
        <name>Var_MostrarErrorDocumentoDuplicado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que nos indica si se debe mostrar el mensaje de error para email duplicado</description>
        <name>Var_MostrarErrorDuplicadoEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Indica si mostrar o no el mensaje de error para la validacion del email</description>
        <name>Var_MostrarErrorEmailValidacion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que nos indica si se debe mostrar el mensaje de error de móvil duplicado</description>
        <name>Var_MostrarErrorMovilDuplicado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que nos indica si mostrar o no el mensaje de error de no seleccionar motivo de no cualificacion</description>
        <name>Var_MostrarErrorNoCualificacion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que nos indica si debemos mostrar el mensaje de error de validacion para Número de Documento</description>
        <name>Var_MostrarErrorNumDocumento</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que indica si hay que mostrar el error de numero de documento inválido</description>
        <name>Var_MostrarErrorNumeroDocumentoInvalido</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que nos indica si mostrar el mensaje de error para validación pasaporte</description>
        <name>Var_MostrarErrorPasaporte</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que nos indica si se debe mostrar el mensaje de error para telefono duplicado</description>
        <name>Var_MostrarErrorTelefonoDuplicado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que nos indica si se debe mostrar el mensaje de error de validación para los teléfonos</description>
        <name>Var_MostrarMensajeErrorTelefono</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Almacenamos el valor del campo numero de documento del registro duplicado encontrado</description>
        <name>Var_RegistroDuplicadoNumDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacenamos el valor del campo tipo documento del registro duplicado encontrado</description>
        <name>Var_RegistroDuplicadoTipoDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Indica si hay que volver a la pantalla de intereses para hablar de otro interés</description>
        <name>VolverAPantallaIntereses</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
