force-app/main/default/flows/SubflujoPantalladeInteres.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Agrega el interés actual no excluido a la colección</description>
        <name>AgregaCM</name>
        <label>Agrega CM no excluido a la colección</label>
        <locationX>1337</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>MKTCampaignMemberRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FiltroCMExcluidos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigmentMKTCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Agrega el interés actual no excluido a la colección</description>
        <name>AgregaCMAG</name>
        <label>Agrega CMAG no excluido a la colección</label>
        <locationX>1337</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>AdicionalMiembrodeCampanaRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FiltroCMAGExcluidos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigmentMCAG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Agrega el interés actual no excluido a la colección</description>
        <name>AgregaOPP</name>
        <label>Agrega OPP no excluida a la colección</label>
        <locationX>1337</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>OppCMRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FiltroOPPExcluidos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigmentOppCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asigna el registro recogido a la variable de salida, para que incluya todos los campos</description>
        <name>AsignaCMAGSalida</name>
        <label>Asigna CMAG a la variable de salida</label>
        <locationX>314</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>MCAGSelectedVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMCAGSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_SubHeaders_02</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asigna el registro recogido a la variable de salida, para que incluya todos los campos</description>
        <name>AsignaMKTSalida</name>
        <label>Asigna MKT a la variable de salida</label>
        <locationX>50</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>MKTCMSelectedVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMKTCMSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_SubHeaders_01</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asigna el registro recogido a la variable de salida, para que incluya todos los campos</description>
        <name>AsignaOppSalida</name>
        <label>Asigna Opp a la variable de salida</label>
        <locationX>578</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>OppCMSelectedVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOppSelected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_SubHeaders_03</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignación y resguardo  de valores para miembro de campaña Adicional</description>
        <name>AssigmentMCAG</name>
        <label>Assigment MCAG</label>
        <locationX>1337</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>MCAGAuxChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FiltroCMAGExcluidos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MCAGAuxChoice.CallIdentifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LabelInteresesMCAG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListCMChoiseSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MCAGAuxChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FiltroCMAGExcluidos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentMKTCM</name>
        <label>Assigment MKT CM</label>
        <locationX>1337</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>MKTCMAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FiltroCMExcluidos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MKTCMAux.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LabelInteresMKTCM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListMKTCMChoiseSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MKTCMAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FiltroCMExcluidos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guarda los valores de la opp</description>
        <name>AssigmentOppCM</name>
        <label>Assigment Opp CM</label>
        <locationX>1337</locationX>
        <locationY>2942</locationY>
        <assignmentItems>
            <assignToReference>OppCMAuxChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FiltroOPPExcluidos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppCMAuxChoice.call_identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LabelInteresesOpp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOppCMChoiseSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppCMAuxChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FiltroOPPExcluidos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualiza la Variable que controla si se debe finalizar el argumentario (cuando no se seleccionan intereses o ya no hay más intereses)</description>
        <name>Set_FijarFinalizarArgumentario</name>
        <label>Fijar FinalizarArgumentario</label>
        <locationX>1073</locationX>
        <locationY>4622</locationY>
        <assignmentItems>
            <assignToReference>FinalizarArgumentario</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Marcamos true planificar llamada para que se muestre el planificador.</description>
        <name>Set_PlanificarLLamada</name>
        <label>Set_PlanificarLLamada</label>
        <locationX>1106</locationX>
        <locationY>3614</locationY>
        <assignmentItems>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_FijarFinalizarArgumentario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los valores para las variables de las subcabeceras.</description>
        <name>Set_SubHeaders_01</name>
        <label>Set_SubHeaders_01</label>
        <locationX>50</locationX>
        <locationY>3974</locationY>
        <assignmentItems>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Formula_SubHeadingMKTCM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaInteresesMKTCM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los valores para las variables de las subcabeceras.</description>
        <name>Set_SubHeaders_02</name>
        <label>Set_SubHeaders_02</label>
        <locationX>314</locationX>
        <locationY>3974</locationY>
        <assignmentItems>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Formula_SubHeadingMCAG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaInteresMCAG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los valores para las variables de las subcabeceras.</description>
        <name>Set_SubHeaders_03</name>
        <label>Set_SubHeaders_03</label>
        <locationX>578</locationX>
        <locationY>3974</locationY>
        <assignmentItems>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Formula_SubHeadingOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PantallaInteresesOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los valores para las variables de las subcabeceras.</description>
        <name>Set_SubHeadersVacio</name>
        <label>Set_SubHeadersVacio</label>
        <locationX>1309</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Switch</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Choice para no seleccionar ningún interés y que salga del argumentario.</description>
        <name>Choice_NeSeleccionInteres</name>
        <choiceText>Planificar otra llamada</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Comprueba si está excluido el interés iterado</description>
        <name>ExcluidoCMActual</name>
        <label>Está excluido el CM actual?</label>
        <locationX>1249</locationX>
        <locationY>1910</locationY>
        <defaultConnector>
            <targetReference>AgregaCM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Excluido</defaultConnectorLabel>
        <rules>
            <name>EstaExcluidoCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InteresesExcluidos</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>FiltroCMExcluidos.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FiltroCMExcluidos</targetReference>
            </connector>
            <label>Está Excluido</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si está excluido el interés iterado</description>
        <name>ExcluidoCMAGActual</name>
        <label>Está excluido el CMAG actual?</label>
        <locationX>1249</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>AgregaCMAG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Excluido</defaultConnectorLabel>
        <rules>
            <name>EstaExcluidoCMAG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InteresesExcluidos</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>FiltroCMAGExcluidos.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FiltroCMAGExcluidos</targetReference>
            </connector>
            <label>Está Excluido</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si está excluido el interés iterado</description>
        <name>ExcluidoOPPActual</name>
        <label>Está excluido la OPP actual?</label>
        <locationX>1249</locationX>
        <locationY>2702</locationY>
        <defaultConnector>
            <targetReference>AgregaOPP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Excluido</defaultConnectorLabel>
        <rules>
            <name>EstaExcluidoOPP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InteresesExcluidos</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>FiltroOPPExcluidos.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FiltroOPPExcluidos</targetReference>
            </connector>
            <label>Está Excluido</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si hemos encontrado algún interés en CM MKT, MC AG Adicional u oportunidad lo tratamos, sino pasamos a la pantalla de venta Seguro Hogar</description>
        <name>ExisteInteres</name>
        <label>¿Existe algún interés?</label>
        <locationX>1073</locationX>
        <locationY>3254</locationY>
        <defaultConnector>
            <targetReference>Set_FijarFinalizarArgumentario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiExisteInteres</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MKTCampaignMemberRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AdicionalMiembrodeCampanaRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppCMRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PantallaSelectIntereses</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si no selecciona intereses vamos al cierre de la llamada</description>
        <name>SeleccionaIntereses</name>
        <label>¿Selecciona intereses?</label>
        <locationX>776</locationX>
        <locationY>3494</locationY>
        <defaultConnector>
            <targetReference>Set_PlanificarLLamada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No selecciona intereses</defaultConnectorLabel>
        <rules>
            <name>SiSeleccionaIntereses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButtonIntereses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhatOptionDoYouChoose</targetReference>
            </connector>
            <label>Si selecciona intereses</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch</name>
        <label>Switch</label>
        <locationX>1309</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SwitchOff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveFlowCampaignMember__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRTIdCMCTI</targetReference>
            </connector>
            <label>Switch Off</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatOptionDoYouChoose</name>
        <label>What Option Do You Choose?</label>
        <locationX>446</locationX>
        <locationY>3614</locationY>
        <defaultConnectorLabel>(no debería pasar por aquí nunca)</defaultConnectorLabel>
        <rules>
            <name>ChooseMKTCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMCollectionChoiceSet</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetMKTCMSelected</targetReference>
            </connector>
            <label>CM MKT</label>
        </rules>
        <rules>
            <name>ChooseMCAG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CMAGCollectionChoiceSet</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetMCAGSelected</targetReference>
            </connector>
            <label>MC AG</label>
        </rules>
        <rules>
            <name>ChooseOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppCMCollectionChoiseSet</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>GetOppSelected</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
    </decisions>
    <description>Mostraremos los intereses del lead o cliente (Miembros de campaña y Miembros de campaña adicionales y oportunidades abiertas del agente en caso de cliente)

21/09 Nestor: Sustituido el texto &quot;Salir&quot; por &quot;Planificar otra llamada&quot;
27/09 Nestor: Eliminadas las causuisticas para &apos;No hay intereses abiertos&apos;. Ahora terminar el argumentario
20/10 AMT: Cambios en las cabeceras de las pantallas
24/10 AMT: Se modifican las variables de las cabeceras</description>
    <dynamicChoiceSets>
        <name>CMAGCollectionChoiceSet</name>
        <collectionReference>ListCMChoiseSet</collectionReference>
        <dataType>String</dataType>
        <displayField>CallIdentifier__c</displayField>
        <object>AMCM__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Choiceset de Miembro de Campaña</description>
        <name>CMCollectionChoiceSet</name>
        <collectionReference>ListMKTCMChoiseSet</collectionReference>
        <dataType>String</dataType>
        <displayField>Street</displayField>
        <object>CampaignMember</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppCMCollectionChoiseSet</name>
        <collectionReference>ListOppCMChoiseSet</collectionReference>
        <dataType>String</dataType>
        <displayField>call_identifier__c</displayField>
        <object>Opportunity</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>LabelInteresesMCAG</name>
        <dataType>String</dataType>
        <expression>&apos;Tipo: Adicional - &apos; + &apos;Ramo: &apos; + TEXT({!FiltroCMAGExcluidos.LineInsurance__c}) + &apos; - &apos;  + &apos;Medio: &apos;  +  TEXT({!FiltroCMAGExcluidos.SourceType__c}) + &apos; - &apos;  + &apos;Mercancia: &apos; + TEXT({!FiltroCMAGExcluidos.MerchandiseType__c})+ &apos; - &apos;  + &apos;Talón de venta:&apos;   + {!FiltroCMAGExcluidos.SalesSlip__c} + &apos; - &apos;  + &apos;Importe de Mercancía: &apos; +   {!FiltroCMAGExcluidos.AmountMerchandise__c}</expression>
    </formulas>
    <formulas>
        <name>LabelInteresesOpp</name>
        <dataType>String</dataType>
        <expression>&apos;Tipo: Oportunidad - &apos; +&apos;Ramo: &apos; + TEXT({!FiltroOPPExcluidos.line_insurance__c}) + &apos; - &apos; + &apos;Mercancia: &apos; + TEXT({!FiltroOPPExcluidos.MerchandiseType__c})</expression>
    </formulas>
    <formulas>
        <name>LabelInteresMKTCM</name>
        <dataType>String</dataType>
        <expression>&apos;Tipo: Interés  - &apos; +
&apos;Ramo: &apos; + TEXT({!FiltroCMExcluidos.LineInsurance__c}) + &apos; - &apos;  + &apos;Medio: &apos;  +  TEXT({!FiltroCMExcluidos.SourceType__c}) + &apos; - &apos;  + &apos;Mercancia: &apos; + TEXT({!FiltroCMExcluidos.MerchandiseType__c})+ &apos; - &apos;  + &apos;Talón de venta:&apos;   + {!FiltroCMExcluidos.SalesSlip__c}+ &apos; - &apos;  + &apos;Importe de Mercancía: &apos; +  {!FiltroCMExcluidos.AmountMerchandise__c}</expression>
    </formulas>
    <formulas>
        <name>SelectedRadioButtomFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!CMCollectionChoiceSet}), {!CMAGCollectionChoiceSet},{!CMCollectionChoiceSet})</expression>
    </formulas>
    <formulas>
        <description>Variable para calcular la subcabecera de MCAG</description>
        <name>Var_Formula_SubHeadingMCAG</name>
        <dataType>String</dataType>
        <expression>IF(RIGHT(TEXT({!GetMCAGSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.LineInsurance__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetMCAGSelected.SalesSlip__c}&amp; IF(ISBLANK({!GetMCAGSelected.SalesSlip__c}), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetMCAGSelected.MerchandiseType__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.MerchandiseType__c})), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetMCAGSelected.AmountMerchandise__c},2) = &quot;- &quot;,LEFT(TEXT({!GetMCAGSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.LineInsurance__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetMCAGSelected.SalesSlip__c}&amp; IF(ISBLANK({!GetMCAGSelected.SalesSlip__c}), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetMCAGSelected.MerchandiseType__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.MerchandiseType__c})), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetMCAGSelected.AmountMerchandise__c},LEN(TEXT({!GetMCAGSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.LineInsurance__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetMCAGSelected.SalesSlip__c}&amp; IF(ISBLANK({!GetMCAGSelected.SalesSlip__c}), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetMCAGSelected.MerchandiseType__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.MerchandiseType__c})), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetMCAGSelected.AmountMerchandise__c})-2),TEXT({!GetMCAGSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.LineInsurance__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetMCAGSelected.SalesSlip__c}&amp; IF(ISBLANK({!GetMCAGSelected.SalesSlip__c}), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetMCAGSelected.MerchandiseType__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.MerchandiseType__c})), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetMCAGSelected.AmountMerchandise__c})</expression>
    </formulas>
    <formulas>
        <description>Variable para calcular la subcabecera de MKTCM</description>
        <name>Var_Formula_SubHeadingMKTCM</name>
        <dataType>String</dataType>
        <expression>IF(RIGHT(TEXT({!GetMKTCMSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.LineInsurance__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetMKTCMSelected.SalesSlip__c}&amp; IF(ISBLANK({!GetMKTCMSelected.SalesSlip__c}), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetMKTCMSelected.MerchandiseType__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.MerchandiseType__c})), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetMKTCMSelected.AmountMerchandise__c},2) = &quot;- &quot;,LEFT(TEXT({!GetMKTCMSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.LineInsurance__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetMKTCMSelected.SalesSlip__c}&amp; IF(ISBLANK({!GetMKTCMSelected.SalesSlip__c}), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetMKTCMSelected.MerchandiseType__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.MerchandiseType__c})), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetMKTCMSelected.AmountMerchandise__c},LEN(TEXT({!GetMKTCMSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.LineInsurance__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetMKTCMSelected.SalesSlip__c}&amp; IF(ISBLANK({!GetMKTCMSelected.SalesSlip__c}), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetMKTCMSelected.MerchandiseType__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.MerchandiseType__c})), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetMKTCMSelected.AmountMerchandise__c})-2),TEXT({!GetMKTCMSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.LineInsurance__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetMKTCMSelected.SalesSlip__c}&amp; IF(ISBLANK({!GetMKTCMSelected.SalesSlip__c}), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetMKTCMSelected.MerchandiseType__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.MerchandiseType__c})), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetMKTCMSelected.AmountMerchandise__c})</expression>
    </formulas>
    <formulas>
        <description>Variable para calcular la subcabecera de Opp</description>
        <name>Var_Formula_SubHeadingOpp</name>
        <dataType>String</dataType>
        <expression>IF(RIGHT(TEXT({!GetOppSelected.line_insurance__c})&amp; IF(ISBLANK(TEXT({!GetOppSelected.line_insurance__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetOppSelected.SalesSlip__c}&amp; IF(ISBLANK({!GetOppSelected.SalesSlip__c}), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetOppSelected.MerchandiseType__c})&amp; IF(ISBLANK(TEXT({!GetOppSelected.MerchandiseType__c})), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetOppSelected.AmountMerchandise__c},2) = &quot;- &quot;,LEFT(TEXT({!GetOppSelected.line_insurance__c})&amp; IF(ISBLANK(TEXT({!GetOppSelected.line_insurance__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetOppSelected.SalesSlip__c}&amp; IF(ISBLANK({!GetOppSelected.SalesSlip__c}), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetOppSelected.MerchandiseType__c})&amp; IF(ISBLANK(TEXT({!GetOppSelected.MerchandiseType__c})), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetOppSelected.AmountMerchandise__c},LEN(TEXT({!GetOppSelected.line_insurance__c})&amp; IF(ISBLANK(TEXT({!GetOppSelected.line_insurance__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetOppSelected.SalesSlip__c}&amp; IF(ISBLANK({!GetOppSelected.SalesSlip__c}), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetOppSelected.MerchandiseType__c})&amp; IF(ISBLANK(TEXT({!GetOppSelected.MerchandiseType__c})), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetOppSelected.AmountMerchandise__c})-2),TEXT({!GetOppSelected.line_insurance__c})&amp; IF(ISBLANK(TEXT({!GetOppSelected.line_insurance__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetOppSelected.SalesSlip__c}&amp; IF(ISBLANK({!GetOppSelected.SalesSlip__c}), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetOppSelected.MerchandiseType__c})&amp; IF(ISBLANK(TEXT({!GetOppSelected.MerchandiseType__c})), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetOppSelected.AmountMerchandise__c})</expression>
    </formulas>
    <interviewLabel>Subflujo Pantalla de Interés {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo Pantalla de Interés</label>
    <loops>
        <description>Iteramos los intereses para eliminar aquellos que aparezcan en la variable de IDs excluidos (por haber sido ya tratados) &quot;InteresesExcluidos&quot; y que se recibe como parámetro (y se rellena en los subflujos de tratamiento de datos)</description>
        <name>FiltroCMAGExcluidos</name>
        <label>Filtro de Intereses CMAG excluidos</label>
        <locationX>1073</locationX>
        <locationY>998</locationY>
        <collectionReference>GetAdicionalMiembrodeCampana</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ExcluidoCMAGActual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_MKT_Campaign_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos los intereses para eliminar aquellos que aparezcan en la variable de IDs excluidos (por haber sido ya tratados) &quot;InteresesExcluidos&quot; y que se recibe como parámetro (y se rellena en los subflujos de tratamiento de datos)</description>
        <name>FiltroCMExcluidos</name>
        <label>Filtro de Intereses CM excluidos</label>
        <locationX>1073</locationX>
        <locationY>1790</locationY>
        <collectionReference>Get_MKT_Campaign_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ExcluidoCMActual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetOppCM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteramos los intereses para eliminar aquellos que aparezcan en la variable de IDs excluidos (por haber sido ya tratados) &quot;InteresesExcluidos&quot; y que se recibe como parámetro (y se rellena en los subflujos de tratamiento de datos)</description>
        <name>FiltroOPPExcluidos</name>
        <label>Filtro de Intereses OPP excluidos</label>
        <locationX>1073</locationX>
        <locationY>2582</locationY>
        <collectionReference>GetOppCM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ExcluidoOPPActual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ExisteInteres</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_MKT_Campaign_Member</name>
        <label>Get MKT Campaign Member</label>
        <locationX>1073</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FiltroCMExcluidos</targetReference>
        </connector>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CTIMiembrodeCampana.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRTIdMKTCampaignMember.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <name>GetAdicionalMiembrodeCampana</name>
        <label>Get Adicional Miembro de Campaña</label>
        <locationX>1073</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TextosArgumentario</targetReference>
        </connector>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CTIMiembrodeCampana.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRTIdMCAGAdicional.Id</elementReference>
            </value>
        </filters>
        <object>AMCM__c</object>
    </recordLookups>
    <recordLookups>
        <name>GetMCAGSelected</name>
        <label>Get MCAG Selected</label>
        <locationX>314</locationX>
        <locationY>3734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignaCMAGSalida</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RadioButtonIntereses</elementReference>
            </value>
        </filters>
        <object>AMCM__c</object>
    </recordLookups>
    <recordLookups>
        <name>GetMKTCMSelected</name>
        <label>Get MKTCM Selected</label>
        <locationX>50</locationX>
        <locationY>3734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignaMKTSalida</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RadioButtonIntereses</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <name>GetOppCM</name>
        <label>Get Opp CM</label>
        <locationX>1073</locationX>
        <locationY>2462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FiltroOPPExcluidos</targetReference>
        </connector>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CTIMiembrodeCampana.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordLookups>
        <name>GetOppSelected</name>
        <label>Get Opp Selected</label>
        <locationX>578</locationX>
        <locationY>3734</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AsignaOppSalida</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RadioButtonIntereses</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el Identificador del tipo de registro de Campaign member de CTI</description>
        <name>GetRTIdCMCTI</name>
        <label>Get RT Id CM CTI</label>
        <locationX>1073</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRTIdMKTCampaignMember</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTI</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IdRTCMCTI</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el Identificador dl tipo de registro de Miembro de campaña AG Adicional</description>
        <name>GetRTIdMCAGAdicional</name>
        <label>Get RT Id MCAG Adicional</label>
        <locationX>1073</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAdicionalMiembrodeCampana</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMCM__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Additional</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Obtenemos el Identificador del Tipo de registro de CM MKT</description>
        <name>GetRTIdMKTCampaignMember</name>
        <label>Get RT Id MKT Campaign Member</label>
        <locationX>1073</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRTIdMCAGAdicional</targetReference>
        </connector>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Recoge los textos de Argumentario que se usan en las pantallas de ESTE Flujo</description>
        <name>TextosArgumentario</name>
        <label>TextosArgumentario</label>
        <locationX>1073</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FiltroCMAGExcluidos</targetReference>
        </connector>
        <filters>
            <field>Flujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SubflujoPantalladeInteres</stringValue>
            </value>
        </filters>
        <filters>
            <field>Idioma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <object>TextoArgumentario__c</object>
    </recordLookups>
    <screens>
        <name>PantallaInteresesMKTCM</name>
        <label>Pantalla Interes MKT CM</label>
        <locationX>50</locationX>
        <locationY>4094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S02_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text_InfoRamoMKT</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Ramo MKT CM:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!MKTCMSelectedVariable.LineInsurance__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_InfoTalonVentaMKT</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Talón de Venta:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!MKTCMSelectedVariable.SalesSlip__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_InfoTipoMercanciaMKT</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Tipo de Mercancía:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!MKTCMSelectedVariable.MerchandiseType__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_InfoImporteMercanciaMTK</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Importe de Mercancía:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!MKTCMSelectedVariable.AmountMerchandise__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaInteresesOpp</name>
        <label>Pantalla Interes Opp</label>
        <locationX>578</locationX>
        <locationY>4094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S04_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text_InfoRamoOpp</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Ramo Opp CM:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!OppCMSelectedVariable.line_insurance__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_InfoTalonVentaOpp</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Talón de Venta:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!OppCMSelectedVariable.SalesSlip__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_InfoTipoMercanciaOpp</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Tipo de Mercancía:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!OppCMSelectedVariable.MerchandiseType__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_InfoImporteMercanciaOpp</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Importe de Mercancía:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!OppCMSelectedVariable.AmountMerchandise__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaInteresMCAG</name>
        <label>Pantalla Interes MC AG</label>
        <locationX>314</locationX>
        <locationY>4094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S03_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Text_InfoRamoAG</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Ramo CM AG:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!MCAGSelectedVariable.LineInsurance__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_InfoTalonVentaAG</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Talón de Venta:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!MCAGSelectedVariable.SalesSlip__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_InfoTipoMercanciaAG</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Tipo Mercancía:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!MCAGSelectedVariable.MerchandiseType__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_InfoImporteMercanciaAG</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Importe de Mercancía:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!MCAGSelectedVariable.AmountMerchandise__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PantallaSelectIntereses</name>
        <label>Pantalla Select Intereses</label>
        <locationX>776</locationX>
        <locationY>3374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SeleccionaIntereses</targetReference>
        </connector>
        <fields>
            <name>S01_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RadioButtonIntereses</name>
            <choiceReferences>CMCollectionChoiceSet</choiceReferences>
            <choiceReferences>CMAGCollectionChoiceSet</choiceReferences>
            <choiceReferences>OppCMCollectionChoiseSet</choiceReferences>
            <choiceReferences>Choice_NeSeleccionInteres</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Intereses</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TextoSalida</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto1__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Set_SubHeadersVacio</startElementReference>
    <status>Active</status>
    <variables>
        <name>AdicionalMiembrodeCampanaRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <name>CTIMiembrodeCampana</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Variable que controla si se debe finalizar el argumentario (cuando no se seleccionan intereses o ya no hay más intereses)</description>
        <name>FinalizarArgumentario</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Identificador del Lead o el Contacto relacionado</description>
        <name>idLeadContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Identificador del tipo de registro de Campaign Member de CTI</description>
        <name>IdRTCMCTI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Lista de IDs de intereses excluidos para filtrar los Intereses obtenidos (CM, CMAG y OPP). Este parámetro de entrada en este flujo se pasa y devuelve en los flujos en los que se puede estar tratando y por tanto excluyendo un nuevo interés.</description>
        <name>InteresesExcluidos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Viene marcado a true si el flujo es de Blecis</description>
        <name>isFlujoBlecis</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListCMChoiseSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <name>ListMKTCMChoiseSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>ListOppCMChoiseSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>MCAGAuxChoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <name>MCAGSelectedVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <name>MCGAuxchoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <name>MKTCampaignMemberRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>MKTCMAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Registro del Campaign Member de MKT seleccionado</description>
        <name>MKTCMSelectedVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>OppCMAuxChoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppCMRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppCMSelectedVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SelectedRadioButton</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>SelectedRadioButtomFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>True</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Texto de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el nombre de la persona con la que estamos hablando y que vendrá del lead o del contacto.</description>
        <name>Var_INOUT_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Imagen de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el ícono que se muestra en la cabecera.</description>
        <name>Var_INOUT_HeadingIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Texto de subcabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el el interés (Ramo) que se está tratando en ese momento y que depende de dónde provenga el interés.</description>
        <name>Var_INOUT_SubHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Indica si se debe mostrar el planificador de llamada</description>
        <name>Var_PlanificarLlamada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
