force-app/main/default/flows/SubflujoCampaignMemberUpdateCTINoContacto.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Se ha Cambiado el Resultado o el estado del miembro de campaña CTI</description>
        <name>ChangedResultOrStatusCampaignMemberCTI</name>
        <label>Se ha Cambiado el Resultado o el estado del miembro de campaña CTI</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>ActualizoEstadoMiembroCampaNaCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ha_cambiado_el_resultado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputResultado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actualizo_Miembro_de_campa_a_CTI</targetReference>
            </connector>
            <label>Ha cambiado el resultado</label>
        </rules>
    </decisions>
    <decisions>
        <description>Switch para desactivar esta funcionalidad a través del metadata</description>
        <name>Switch</name>
        <label>Switch</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Switch_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveFlowCampaignMember__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangedResultOrStatusCampaignMemberCTI</targetReference>
            </connector>
            <label>Switch Off</label>
        </rules>
    </decisions>
    <description>Cuando una llamada no consigue contactar con el Lead, hay que actualizar el result del mimebro de campaña y el Lead</description>
    <interviewLabel>Subflujo - Campaign Member Update CTI No contacto {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo - Campaign Member Update CTI No contacto</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Actualizo_Miembro_de_campa_a_CTI</name>
        <label>Actualizo Miembro de campaña CTI</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Actualizo_Miembros_de_campa_a_MKT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCampaignMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>inputResultado</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>Actualizo_Miembros_de_campa_a_MKT</name>
        <label>Actualizo Miembros de campaña MKT</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>ActualizoMiembrodecampanaAdicionales</targetReference>
        </connector>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCampaignMember.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InpuRecordTypeIdCampaignMemberMKT</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>inputResultado</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizo el estado del Miembro de campaña CTI</description>
        <name>ActualizoEstadoMiembroCampaNaCTI</name>
        <label>Actualizo Estado Miembro de campaña CTI</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>ActualizoEstadoMiembroCampanaMKT</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCampaignMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>InputStatus</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizo estados del Miembro de campaña de tipo MKT</description>
        <name>ActualizoEstadoMiembroCampanaMKT</name>
        <label>Actualizo Estado Miembros de campaña MKT</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>ActualizoEstadoMiembroDeCampanaAdicionales</targetReference>
        </connector>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCampaignMember.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InpuRecordTypeIdCampaignMemberMKT</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>InputStatus</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizo Estado Miembro de campaña Adicionales</description>
        <name>ActualizoEstadoMiembroDeCampanaAdicionales</name>
        <label>Actualizo Estado Miembro de campaña Adicionales</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCampaignMember.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordTypeCampaignMemberAdditional</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>InputStatus</elementReference>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>ActualizoMiembrodecampanaAdicionales</name>
        <label>ActualizoMiembrodecampañaAdicionales</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputCampaignMember.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputRecordTypeCampaignMemberAdditional</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>inputResultado</elementReference>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <startElementReference>Switch</startElementReference>
    <status>Active</status>
    <variables>
        <description>Miembros de campaña Adicionales</description>
        <name>CampaignMemberAdditional</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>Miembros de campaña de tipo Marketing</description>
        <name>CampaignMemberMKT</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Id del tipo de registro de tipo Marketing</description>
        <name>InpuRecordTypeIdCampaignMemberMKT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Registro Lead que viene como parámetro del flujo principal</description>
        <name>inputLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Id del tipo de registro adicional</description>
        <name>InputRecordTypeCampaignMemberAdditional</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Valor que hay que asignar como resultado</description>
        <name>inputResultado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Valor que hay que asignar cómo estado</description>
        <name>InputStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
