force-app/main/default/flows/Subflujo_Task_Grabacion_Manual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>ChangedCTIFilename</name>
        <dataType>Boolean</dataType>
    </constants>
    <constants>
        <name>ChangedTaskWhatId</name>
        <dataType>Boolean</dataType>
    </constants>
    <decisions>
        <description>Comprobamos si la tarea está asociada con un miembro de campaña CTI</description>
        <name>HayMiembroCampanaCTI</name>
        <label>¿Hay Miembro de campaña CTI?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Task_Relashionship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCampaignMemberCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCampaignMemberCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCampaignMemberId</targetReference>
            </connector>
            <label>YesCampaignMemberCTI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Swicth</name>
        <label>Swicth</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Switch_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveFlowTask__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCampaignMemberCTI</targetReference>
            </connector>
            <label>Switch Off</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si la tarea está asociada a una oportunidad o no</description>
        <name>Task_Relashionship</name>
        <label>¿La tarea está asociado a una oportunidad?</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EstaRelacionadoOportunidad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskRecord.WhatId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_CallId</targetReference>
            </connector>
            <label>Está relacionado con una oportunidad</label>
        </rules>
    </decisions>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Subflujo - Task Grabación Manual {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo - Task Grabación Manual</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Busco el miembro de campaña al que está asociado la tarea</description>
        <name>GetCampaignMemberCTI</name>
        <label>GetCampaignMemberCTI</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HayMiembroCampanaCTI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRecord.CampaignMemberId__c</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordUpdates>
        <name>Opportunity_CallId</name>
        <label>Opportunity CallId</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRecord.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>call_identifier__c</field>
            <value>
                <elementReference>TaskRecord.inin_interactionID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>datetime_lastcallrecorded__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>recorded_filename__c</field>
            <value>
                <elementReference>TaskRecord.recorded_filename__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizo campos Grabación manual con los datos de la tarea</description>
        <name>UpdateCampaignMemberId</name>
        <label>UpdateCampaignMemberId</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Task_Relashionship</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCampaignMemberCTI.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CallIdentifier__c</field>
            <value>
                <elementReference>TaskRecord.inin_interactionID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateLastCallRecorded__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordedFileName__c</field>
            <value>
                <elementReference>TaskRecord.recorded_filename__c</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <startElementReference>Swicth</startElementReference>
    <status>Active</status>
    <variables>
        <name>CamapignMemberRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
