force-app/main/default/flows/Subflujo_Lead_UpdateOwnerChanged.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>IsChangedOwnerLead</name>
        <dataType>Boolean</dataType>
    </constants>
    <decisions>
        <name>OwnerChanged</name>
        <label>OwnerChanged</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OwnerChangedTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsChangedOwnerLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTeam</targetReference>
            </connector>
            <label>OwnerChangedTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch</name>
        <label>Switch</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Switch_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveFlowLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OwnerChanged</targetReference>
            </connector>
            <label>Switch Off</label>
        </rules>
    </decisions>
    <description>Cuando el propietario del lead cambia se modifica el campo equipo de venta CESS al equipo de venta del nuevo propietario.</description>
    <interviewLabel>Subflujo - Lead UpdateOwnerChanged {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo - Lead UpdateOwnerChanged</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateTeam</name>
        <label>UpdateTeam</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>cess_team__c</field>
            <value>
                <elementReference>LeadRecord.Owner:User.cess_team__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Switch</startElementReference>
    <status>Draft</status>
    <variables>
        <name>LeadRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
