force-app/main/default/flows/SubflujoPantallaCompradorMercancia.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <description>Guardamos los datos de contacto de nuevo para que vuelvan a mostrarse en la pantalla</description>
        <name>Set_DatosContactoDuplicado</name>
        <label>Set_DatosContactoDuplicado</label>
        <locationX>710</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>Var_EntradaNombre</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaApellido</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaMovil</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaTelefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaTipoDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenDocumentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaNumDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenDocumentNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LeadContactCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guardamos los datos de contacto de nuevo para que vuelvan a mostrarse en la pantalla</description>
        <name>Set_DatosContactoValidacion</name>
        <label>Set_DatosContactoValidacion</label>
        <locationX>2690</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>Var_EntradaNombre</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaApellido</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenLastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaMovil</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenMobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaTelefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenPhone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenEmail.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaTipoDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenDocumentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_EntradaNumDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScreenDocumentNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LeadContactCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Desactivamos todas las marcas de errores para que no se muestren las que ya no correspondan</description>
        <name>Set_DesactivaMarcasErrores</name>
        <label>Set Desactiva Marcas Errores</label>
        <locationX>1832</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorNumeroDocumentoInvalido</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ValidacionesDatosContacto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Marca el campo de salida de InteresExcluido para el interés</description>
        <name>Set_InteresExcluidoCMAGCambioTomador</name>
        <label>Set Interes Excluido CMAG</label>
        <locationX>2657</locationX>
        <locationY>3356</locationY>
        <assignmentItems>
            <assignToReference>InteresExcluido</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InteresesMiembroCampanaAG.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VolverAPantallaInteresesTrue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Marca el campo de salida de InteresExcluido para el interés</description>
        <name>Set_InteresExcluidoCMMKTCambioTomador</name>
        <label>Set Interes Excluido CMMKT</label>
        <locationX>2393</locationX>
        <locationY>3356</locationY>
        <assignmentItems>
            <assignToReference>InteresExcluido</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InteresesMKTCampaignMember.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>VolverAPantallaInteresesTrue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Ocultamos todos los mensajes de error de duplicados</description>
        <name>Set_MensajesDuplicadosFalse</name>
        <label>Set_MensajesDuplicadosFalse</label>
        <locationX>2690</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>Var_MostraErrorEmailDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorTelefonoDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorMovilDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorDocumentoDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_DatosContactoValidacion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Ocultamos los mensajes de error de las validaciones</description>
        <name>Set_MensajesValidacionesFalse</name>
        <label>Set_MensajesValidacionesFalse</label>
        <locationX>710</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarMensajeErrorTelefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorNumDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorPasaporte</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorTipoDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorEmailValidacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_DatosContactoDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos false a la variable para que no muestre el mensaje de error</description>
        <name>Set_MostrarErrorDocumentoDuplicadoFalse</name>
        <label>Set_MostrarErrorDocumentoDuplicadoFalse</label>
        <locationX>842</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorDocumentoDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_MensajesValidacionesFalse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos true a la variable para que muestre el mensaje de error</description>
        <name>Set_MostrarErrorDocumentoDuplicadoTrue</name>
        <label>Set_MostrarErrorDocumentoDuplicadoTrue</label>
        <locationX>578</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorDocumentoDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_MensajesValidacionesFalse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos false a la variable para que no muestre el mensaje de error</description>
        <name>Set_MostrarErrorEmailDuplicadoFalse</name>
        <label>Set_MostrarErrorEmailDuplicadoFalse</label>
        <locationX>842</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Var_MostraErrorEmailDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_TelefonoDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos true a la variable para que muestre el mensaje de error</description>
        <name>Set_MostrarErrorEmailDuplicadoTrue</name>
        <label>Set_MostrarErrorEmailDuplicadoTrue</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Var_MostraErrorEmailDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_TelefonoDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos false a la variable para que muestre el mensaje de error de Email no validado</description>
        <name>Set_MostrarErrorEmailFalse</name>
        <label>Set_MostrarErrorEmailFalse</label>
        <locationX>2558</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorEmailValidacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_MensajesDuplicadosFalse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos true a la variable para que muestre el mensaje de error de Email no validado</description>
        <name>Set_MostrarErrorEmailValidacionTrue</name>
        <label>Set_MostrarErrorEmailValidacionTrue</label>
        <locationX>2822</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorEmailValidacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_MensajesDuplicadosFalse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos false a las variables de Set_MostrarErrorTipoDocumento y Set_MostrarErrorNumDocumento para que se oculten los mensajes de error</description>
        <name>Set_MostrarErroresDocumentosFalse</name>
        <label>Set_MostrarErroresDocumentosFalse</label>
        <locationX>2954</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorTipoDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorNumDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PasaporteValidado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos false a la variable para que no muestre el mensaje de error</description>
        <name>Set_MostrarErrorMovilDuplicadoFalse</name>
        <label>Set_MostrarErrorMovilDuplicadoFalse</label>
        <locationX>842</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorMovilDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_DocumentoDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos true a la variable para que muestre el mensaje de error</description>
        <name>Set_MostrarErrorMovilDuplicadoTrue</name>
        <label>Set_MostrarErrorMovilDuplicadoTrue</label>
        <locationX>578</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorMovilDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_DocumentoDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Indicamos que se debe mostrar el mensaje de error para número de documento al asignarle a esta variable el valor true</description>
        <name>Set_MostrarErrorNumDocumentoTrue</name>
        <label>Set_MostrarErrorNumDocumentoTrue</label>
        <locationX>2690</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorNumDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorTipoDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PasaporteValidado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Marcamos a true la variable para mostrar el error de número de documento inválido</description>
        <name>Set_MostrarErrorNumeroDocumentoInvlido</name>
        <label>Set Mostrar Error Número Documento Inválido</label>
        <locationX>1370</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorNumeroDocumentoInvalido</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_DatosContactoDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos False a la variable para que no muestre el mensaje de error de pasaporte</description>
        <name>Set_MostrarErrorPasaporteFalse</name>
        <label>Set_MostrarErrorPasaporteFalse</label>
        <locationX>2822</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorPasaporte</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_EmailValidado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos True a la variable para que muestre el mensaje de error de pasaporte</description>
        <name>Set_MostrarErrorPasaporteTrue</name>
        <label>Set_MostrarErrorPasaporteTrue</label>
        <locationX>2558</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorPasaporte</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_EmailValidado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos false a la variable para que no muestre el mensaje de error</description>
        <name>Set_MostrarErrorTelefonoDuplicadoFalse</name>
        <label>Set_MostrarErrorTelefonoDuplicadoFalse</label>
        <locationX>842</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorTelefonoDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_MovilDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos true a la variable para que muestre el mensaje de error</description>
        <name>Set_MostrarErrorTelefonoDuplicadoTrue</name>
        <label>Set_MostrarErrorTelefonoDuplicadoTrue</label>
        <locationX>578</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorTelefonoDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_MovilDuplicado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Indicamos que se debe mostrar el mensaje de error para tipo de documento asignandole a esta variable el valor true</description>
        <name>Set_MostrarErrorTipoDocumentoTrue</name>
        <label>Set_MostrarErrorTipoDocumentoTrue</label>
        <locationX>2426</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorTipoDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorNumDocumento</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_PasaporteValidado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos False a la variable Var_MostrarMensajeErrorTelefonos para que no se muestre el mensaje de error en la pantalla</description>
        <name>Set_MostrarMensajeErrorTelefonosFalseValidacion</name>
        <label>Set_MostrarMensajeErrorTelefonosFalseValidacion</label>
        <locationX>2558</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarMensajeErrorTelefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_TipoDocumentoNumDocumentoValidado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos False a la variable Var_MostrarMensajeErrorTelefonos para que se muestre el mensaje de error en la pantalla</description>
        <name>Set_MostrarMensajeErrorTelefonosTrueValidacion</name>
        <label>Set_MostrarMensajeErrorTelefonosTrueValidacion</label>
        <locationX>2822</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarMensajeErrorTelefono</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_TipoDocumentoNumDocumentoValidado</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna true a la variable para que el flujo padre vuelva a mostrar los intereses abiertos</description>
        <name>VolverAPantallaInteresesTrue</name>
        <label>Volver a Pantalla Intereses = True</label>
        <locationX>2525</locationX>
        <locationY>3548</locationY>
        <assignmentItems>
            <assignToReference>Var_VolverAPantallaIntereses</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Si es el comprador o no</description>
        <name>Decision_CompradorMercancia</name>
        <label>¿Es el comprador de la mercancía?</label>
        <locationX>1155</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Decision_FacilitaDatosContacto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CompradorMercancia_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuyerQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>comprobamos si tipo de documento y número de documento están duplicados</description>
        <name>Decision_DocumentoDuplicado</name>
        <label>Decision_DocumentoDuplicado</label>
        <locationX>710</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErrorDocumentoDuplicadoFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_DocumentoDuplicado_No</defaultConnectorLabel>
        <rules>
            <name>Decision_DocumentoDuplicado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_RegistroDuplicadoTipoDocumento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScreenDocumentType</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_RegistroDuplicadoNumeroDocumento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScreenDocumentNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_RegistroDuplicadoTipoDocumento</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_RegistroDuplicadoNumeroDocumento</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorDocumentoDuplicadoTrue</targetReference>
            </connector>
            <label>Decision_DocumentoDuplicado_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si es el email el campo duplicado</description>
        <name>Decision_EmailDuplicado</name>
        <label>Decision_EmailDuplicado</label>
        <locationX>710</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErrorEmailDuplicadoFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_EmailDuplicado_No</defaultConnectorLabel>
        <rules>
            <name>Decision_EmailDuplicado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegistroDuplicadoEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScreenEmail.value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegistroDuplicadoEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorEmailDuplicadoTrue</targetReference>
            </connector>
            <label>Decision_EmailDuplicado_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el email está validado</description>
        <name>Decision_EmailValidado</name>
        <label>Decision_EmailValidado?</label>
        <locationX>2690</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErrorEmailValidacionTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EmailValidado?_No</defaultConnectorLabel>
        <rules>
            <name>EmailValidado_Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ScreenEmail.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_ValidarEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorEmailFalse</targetReference>
            </connector>
            <label>EmailValidado?_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si es error de validación volvemos a la página de datos para que cambien el Número de documento</description>
        <name>Decision_ErrorValidacion</name>
        <label>¿Es Error de validación?</label>
        <locationX>1502</locationX>
        <locationY>1646</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ErrorValidacion_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FIELD_CUSTOM_VALIDATION_EXCEPTION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorNumeroDocumentoInvlido</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Indica si nos facilita o no datos del contacto</description>
        <name>Decision_FacilitaDatosContacto</name>
        <label>¿Facilita datos del contacto?</label>
        <locationX>2525</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>UpdateNoCualificadoCMMKT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>FacilitaDatosContacto_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DataContactQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadContactCreate</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el móvil está duplicado</description>
        <name>Decision_MovilDuplicado</name>
        <label>Decision_MovilDuplicado</label>
        <locationX>710</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErrorMovilDuplicadoFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_MovilDuplicado_No</defaultConnectorLabel>
        <rules>
            <name>Decision_MovilDuplicado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegistroDuplicadoMobilPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScreenMobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegistroDuplicadoMobilPhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorMovilDuplicadoTrue</targetReference>
            </connector>
            <label>Decision_MovilDuplicado_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el pasaporte validado</description>
        <name>Decision_PasaporteValidado</name>
        <label>Decision_PasaporteValidado</label>
        <locationX>2690</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErrorPasaporteFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>Decision_PasaporteValidado_Si</name>
            <conditionLogic>1 AND 2 AND 3 AND NOT(4) AND NOT(5) AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>ScreenDocumentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASSPORT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supervisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Coordinador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Qualities</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Responsable Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorPasaporteTrue</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el teléfono está duplicado</description>
        <name>Decision_TelefonoDuplicado</name>
        <label>Decision_TelefonoDuplicado</label>
        <locationX>710</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErrorTelefonoDuplicadoFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_TelefonoDuplicado_No</defaultConnectorLabel>
        <rules>
            <name>Decision_TelefonosDuplicados_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegistroDuplicadoPhone</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ScreenPhone.value</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RegistroDuplicadoPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorTelefonoDuplicadoTrue</targetReference>
            </connector>
            <label>Decision_TelefonoDuplicado_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si Tipo de Documento y Número de documento están validados</description>
        <name>Decision_TipoDocumentoNumDocumentoValidado</name>
        <label>Decision_TipoDocumentoNumDocumentoValidado</label>
        <locationX>2690</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErroresDocumentosFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_TipoDocumentoNumDocumentoValidado_Si</defaultConnectorLabel>
        <rules>
            <name>Decision_TipoDocumentoValidado_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScreenDocumentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorTipoDocumentoTrue</targetReference>
            </connector>
            <label>Decision_TipoDocumentoValidado_No</label>
        </rules>
        <rules>
            <name>Decision_NumeroDocumentoValidado_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScreenDocumentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorNumDocumentoTrue</targetReference>
            </connector>
            <label>Decision_NumeroDocumentoValidado_No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si se cumplen las validaciones básicas de un contacto</description>
        <name>Decision_ValidacionesDatosContacto</name>
        <label>Decision_ValidacionesDatosContacto</label>
        <locationX>1832</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Decision_ValidacionesTelefonos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_ValidacionesDatosContacto_No</defaultConnectorLabel>
        <rules>
            <name>Decision_ValidacionesDatosContacto_Si</name>
            <conditionLogic>(1 OR 2) AND ((3 AND 4 AND NOT(9)) OR (5 AND 6) OR (3 AND 4 AND (7 OR 8 OR 12 OR 13) AND 9)) AND (10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>ScreenMobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenPhone.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentNumber</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentNumber</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Supervisor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Coordinador</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenDocumentType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PASSPORT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Formula_ValidarEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenEmail.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Qualities</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Responsable Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadDuplicate</targetReference>
            </connector>
            <label>Decision_ValidacionesDatosContacto_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si hay que mostrar el mensaje de error de que hay que rellenar alguno de los teléfonos.</description>
        <name>Decision_ValidacionesTelefonos</name>
        <label>Decision_ValidacionesTelefonos</label>
        <locationX>2690</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarMensajeErrorTelefonosTrueValidacion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Decision_ValidacionesTelefonos_No</defaultConnectorLabel>
        <rules>
            <name>Decision_ValidacionesTelefonos_Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ScreenMobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ScreenPhone.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarMensajeErrorTelefonosFalseValidacion</targetReference>
            </connector>
            <label>Decision_ValidacionesTelefonos_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha marcado es la misma persona entonces creamos un evento para crear generar un interés, si no</description>
        <name>EsLaMismaPersona</name>
        <label>¿Es la misma persona?</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Decision_EmailDuplicado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EsMismaPersonaLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMensaje</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si existe un registro se muestra el registro</description>
        <name>ExisteRegistro</name>
        <label>¿Existe ya un registro?</label>
        <locationX>974</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Update_CMMKTNoCualificadoCreacionNuevoLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sin Duplicados</defaultConnectorLabel>
        <rules>
            <name>SiExisteRegistro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RegistroDuplicadoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RegistroDuplicado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha seleccionado un miembro de campaña MKT, si no será un miembro de campaña adicional</description>
        <name>SeHaSeleccionadoCMMKT_0</name>
        <label>¿Se ha seleccionado un CM MKT?</label>
        <locationX>2525</locationX>
        <locationY>3248</locationY>
        <defaultConnector>
            <targetReference>Set_InteresExcluidoCMAGCambioTomador</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, MC Adicional</defaultConnectorLabel>
        <rules>
            <name>SiSeHaSeleccionadoCMMKT_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InteresesMKTCampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_InteresExcluidoCMMKTCambioTomador</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha seleccionado un miembro de campaña MKT, si no será un miembro de campaña adicional</description>
        <name>SeHaSeleccionadoCMMKT_0_0</name>
        <label>¿Se ha seleccionado un CM MKT?</label>
        <locationX>182</locationX>
        <locationY>1754</locationY>
        <defaultConnector>
            <targetReference>CreamosEventoLeadMCAG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, MC Adicional</defaultConnectorLabel>
        <rules>
            <name>SiSeHaSeleccionadoCMMKT_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InteresesMKTCampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreamosEventoLeadCMMKT</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha seleccionado un miembro de campaña MKT, si no será un miembro de campaña adicional</description>
        <name>SeHaSeleccionadoCMMKT_0_0_0</name>
        <label>¿Se ha seleccionado un CM MKT?</label>
        <locationX>1502</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>CreacionLeadMCAG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, MC Adicional</defaultConnectorLabel>
        <rules>
            <name>SiSeHaSeleccionadoCMMKT_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InteresesMKTCampaignMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreacioLeadCMMKT</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <description>En esta pantalla el agente deberá preguntar si es la persona de contacto que compró el producto. Se mostrarán Dos opciones (HEADER dinámico incorporado con imagen como recurso estático y tiene texto del objeto Textos de Argumentario)

25/08: Si no colabora cambiamos el resultado del CM CTI y finaliza el argumentario
02/09: Se cambia de lugar la actualización de MKT Y AG para antes de la creación del Lead para evitar error invalid cross reference Key
20/09: se quita la parte de la colaboración del cliente
26/09 MHG: Actualizado a API 55 (corrección de bug en despliegue con las secciones)
30/09 AC: Cambio de preguntas por Textos Argumentario variables
20/10 AMT: Cambios en las cabeceras de las pantallas
05/11 MHG: Se añade PhoneAux__c y MobilePhoneAux__c para hacer selectiva la consulta de GetRecords de Leads duplicados	Namespace Prefix
18/04 JLQ: Se añaden los roles definidos como supervisor
09/05/2023 JCB Corrección validación Pasaporte, revisión de asignación variable MostrarErrorPasaporte.</description>
    <dynamicChoiceSets>
        <description>Choice que contiene los valores del campo Tipo de Documento del Objeto Lead</description>
        <name>LeadDocumentType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>document_type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Comprobamos a través de regex que el email tiene el formato correcto</description>
        <name>Formula_ValidarEmail</name>
        <dataType>Boolean</dataType>
        <expression>REGEX( {!ScreenEmail.value} , &quot;^\\(([a-zA-Z0-9 _\\-\\.\\+]+)\\)\\ ([a-zA-Z0-9\n&quot; +
               &quot;_\\!\\#\\$\\%\\&amp;amp;\\&apos;\\*\\-\\/\\=\\?\\^\\`\\{\\|\\}\\~\\.]+)@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\\n&quot; +
                &quot;.[0-9]{1,3}\\.)|(([a-zA-Z0-9\\w\n&quot; +
                &quot;_\\!\\#\\$\\%\\&amp;amp;\\&apos;\\*\\-\\/\\=\\?\\^\\`\\{\\|\\}\\~]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3}\n&quot; +
                &quot;)$|^([a-zA-Z0-9 \\w\n&quot; +
                &quot;_\\!\\#\\$\\%\\&amp;amp;\\&apos;\\*\\-\\/\\=\\?\\^\\`\\{\\|\\}\\~\\.]+)@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\\n&quot; +
                &quot;.[0-9]{1,3}\\.)|(([a-zA-Z0-9_\\-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})$&quot;)</expression>
    </formulas>
    <interviewLabel>Subflujo Pantalla Comprador de Mercancía {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo Pantalla Comprador de Mercancía</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creamos el Lead con los datos del interés actual (CM MKT)
Al menos los 5 campos relevantes para encontrar campaña CTI y campaña de MKT</description>
        <name>CreacioLeadCMMKT</name>
        <label>Creación del Lead a partir de CM MKT</label>
        <locationX>1106</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>SeHaSeleccionadoCMMKT_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Decision_ErrorValidacion</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>ScreenEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ScreenFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ScreenLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>ScreenMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>ScreenPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign_cess__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.CampaignCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign_cti__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.CampaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>document_number__c</field>
            <value>
                <elementReference>ScreenDocumentNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>document_type__c</field>
            <value>
                <elementReference>ScreenDocumentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>line_insurance__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.LineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_cess__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_type__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <description>Creamos el Lead con los datos del interés actual (miembro de campaña AG)
Al menos los 5 campos relevantes para encontrar campaña CTI y campaña de MKT</description>
        <name>CreacionLeadMCAG</name>
        <label>Creación del Lead a partir de MC AG</label>
        <locationX>1898</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>SeHaSeleccionadoCMMKT_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Decision_ErrorValidacion</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>ScreenEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>ScreenFirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>ScreenLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>ScreenMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>ScreenPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign_cess__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.CampaignCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign_cti__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.CampaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>document_number__c</field>
            <value>
                <elementReference>ScreenDocumentNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>document_type__c</field>
            <value>
                <elementReference>ScreenDocumentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>line_insurance__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.LineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_cess__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_type__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <description>Creamos un platform event CM Creation Event para que se genere un registro de MKT o adicional y de CTI Si corresponde</description>
        <name>CreamosEventoLeadCMMKT</name>
        <label>Creamos Evento a partir de CM MKT</label>
        <locationX>50</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>SeHaSeleccionadoCMMKT_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AmountMerchandise__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.AmountMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIDDisplayAdvertisments__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.IDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIDGoogleAnalytics__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.CESSIdGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdPricing__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSScoring__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.CESSScoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionMerchandise__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.DescriptionMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>RegistroDuplicadoIdExterno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchandiseType__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.MerchandiseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherRiskData__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.OtherRiskData__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskAddress__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskLocation__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOptionCapitalInsured__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskProvince__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskProvince__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesSlip__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.SalesSlip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ageRange__c</field>
            <value>
                <elementReference>RegistroDuplicadoAgeRange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>birthdate__c</field>
            <value>
                <elementReference>RegistroDuplicadoBirthDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaignCESS__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.CampaignCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaignCTI__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.CampaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaingtypeCess__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.CampaingTypeCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>insuranceCompany__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.InsuranceCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lineInsurance__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.LineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>matchedRecordId__c</field>
            <value>
                <elementReference>RegistroDuplicadoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>quoteCode__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.QuoteCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referenceCampaign__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.ReferenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesourceCess__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.ReferenceSourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>renewalDate__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RenewalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskBrand__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskCategory__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskDescription__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskDriverBirthDate__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskDriverBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskEcicard__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskECICard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskExpirationdate__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskExpirationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskGender__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskGender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskInsuredBirthDate__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskInsuredBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskModel__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskOwnerBirthDate__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RIskOwnerBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskPolicyHolderBirthDate__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskPolicyHolderBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskPostalcode__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskPropertytype__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskPropertyType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskSquaremetres__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskSquareMetres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskTenant__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskTenant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskVersion__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskVersion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskdriverLicensedate__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskDriverLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskinsuredNumber__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskInsuredNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskownerLicensedate__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskOwnerLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskpolicyholderLicensedate__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.RiskPolicyHolderLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceCess__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceManualrecord__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceType__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceWeb__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.SourceWeb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_web__c</field>
            <value>
                <elementReference>InteresesMKTCampaignMember.WebSource__c</elementReference>
            </value>
        </inputAssignments>
        <object>CMCreationEvent__e</object>
    </recordCreates>
    <recordCreates>
        <description>Creamos un platform event CM Creation Event para que se genere un registro de MKT o adicional y de CTI Si corresponde</description>
        <name>CreamosEventoLeadMCAG</name>
        <label>Creamos Evento para el Lead a partir de MC AG</label>
        <locationX>314</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>SeHaSeleccionadoCMMKT_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AmountMerchandise__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.AmountMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIDDisplayAdvertisments__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.IDDisplayAdvertisments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIDGoogleAnalytics__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.CESSIdGoogleAnalytics__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSIdPricing__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.CESSIdPricing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESSScoring__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.CESSScoring__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionMerchandise__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.DescriptionMerchandise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>RegistroDuplicadoIdExterno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource__c</field>
            <value>
                <elementReference>RegistroDuplicadoLeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchandiseType__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.MerchandiseType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherRiskData__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.OtherRiskData__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskAddress__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskLocation__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskLocation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskOptionCapitalInsured__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskOptionCapitalInsured__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RiskProvince__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskProvince__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesSlip__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.SalesSlip__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ageRange__c</field>
            <value>
                <elementReference>RegistroDuplicadoAgeRange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>birthdate__c</field>
            <value>
                <elementReference>RegistroDuplicadoBirthDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaignCESS__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.CampaignCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaignCTI__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.CampaignCTI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaingtypeCess__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.CampaignTypeCESS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>insuranceCompany__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.InsuranceCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lineInsurance__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.LineInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>matchedRecordId__c</field>
            <value>
                <elementReference>RegistroDuplicadoId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>quoteCode__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.QuoteCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referenceCampaign__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.ReferenceCampaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>referencesourceCess__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.ReferenceSourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>renewalDate__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RenewalDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskBrand__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskBrand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskCategory__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskCategory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskDescription__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskDriverBirthDate__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskDriverBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskEcicard__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskECICard__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskExpirationdate__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskExpirationDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskGender__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskGender__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskInsuredBirthDate__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskInsuredBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskModel__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskModel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskOwnerBirthDate__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RIskOwnerBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskPolicyHolderBirthDate__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskPolicyHolderBirthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskPostalcode__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskPostalCode__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskPropertytype__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskPropertyType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskSquaremetres__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskSquareMetres__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskTenant__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskTenant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskVersion__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskVersion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskdriverLicensedate__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskDriverLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskinsuredNumber__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskInsuredNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskownerLicensedate__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskOwnerLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>riskpolicyholderLicensedate__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.RiskPolicyHolderLicenseDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceCess__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.SourceCess__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceManualrecord__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceWeb__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.SourceWeb__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>source_web__c</field>
            <value>
                <elementReference>InteresesMiembroCampanaAG.WebSource__c</elementReference>
            </value>
        </inputAssignments>
        <object>CMCreationEvent__e</object>
    </recordCreates>
    <recordLookups>
        <name>ContactDuplicate</name>
        <label>Contact Duplicate</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExisteRegistro</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenEmail.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenPhone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenMobilePhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>document_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenDocumentType</elementReference>
            </value>
        </filters>
        <filters>
            <field>personal_document__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenDocumentNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>document_type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>personal_document__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadosFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoIdExterno</assignToReference>
            <field>IdExterno__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoLeadSource</assignToReference>
            <field>LeadSource</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoMobilPhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoBirthDate</assignToReference>
            <field>birthdate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_RegistroDuplicadoTipoDocumento</assignToReference>
            <field>document_type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_RegistroDuplicadoNumeroDocumento</assignToReference>
            <field>personal_document__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Recoge los textos de Argumentario que se usan en las pantallas de ESTE Flujo</description>
        <name>Get_TextosArgumentario</name>
        <label>Get Textos Argumentario</label>
        <locationX>1155</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S01_PantallaCompradorMercancia</targetReference>
        </connector>
        <filters>
            <field>Flujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SubflujoPantallaCompradorMercancia</stringValue>
            </value>
        </filters>
        <filters>
            <field>Idioma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <object>TextoArgumentario__c</object>
    </recordLookups>
    <recordLookups>
        <description>Revisar si el lead existe en el sistema</description>
        <name>LeadDuplicate</name>
        <label>LeadDuplicate</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContactDuplicate</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenEmail.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhoneAux__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenMobilePhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>PhoneAux__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenPhone.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhoneAux__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PhoneAux__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>document_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenDocumentType</elementReference>
            </value>
        </filters>
        <filters>
            <field>document_number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ScreenDocumentNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>document_type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>document_number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadosFirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoIdExterno</assignToReference>
            <field>IdExterno__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoLeadSource</assignToReference>
            <field>LeadSource</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoMobilPhone</assignToReference>
            <field>MobilePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoPhone</assignToReference>
            <field>Phone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoAgeRange</assignToReference>
            <field>age_range__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>RegistroDuplicadoBirthDate</assignToReference>
            <field>birthdate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_RegistroDuplicadoNumeroDocumento</assignToReference>
            <field>document_number__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_RegistroDuplicadoTipoDocumento</assignToReference>
            <field>document_type__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Actualiza el campaignMember de MKT a No cualificado antes de la creación del nuevo Lead</description>
        <name>Update_CMMKTNoCualificado_LeadExistente</name>
        <label>Update CMMKT No Cualificado</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Update_MCAGNoCualificado_RegistroExistente</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteresesMKTCampaignMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Cambio de Tomador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el campaignMember de MKT a No cualificado antes de la creación del nuevo Lead</description>
        <name>Update_CMMKTNoCualificadoCreacionNuevoLead</name>
        <label>Update CMMKT No Cualificado</label>
        <locationX>1502</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Update_MCAGNoCualificadoCreacionNuevoLead</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteresesMKTCampaignMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Cambio de Tomador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos el miembro de campaña AG Seleccionado a No cualificado antes de la creación del Lead</description>
        <name>Update_MCAGNoCualificado_RegistroExistente</name>
        <label>Update MCAG No Cualificado</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>SeHaSeleccionadoCMMKT_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteresesMiembroCampanaAG.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Cambio de Tomador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos el miembro de campaña AG Seleccionado a No cualificado antes de la creación del Lead</description>
        <name>Update_MCAGNoCualificadoCreacionNuevoLead</name>
        <label>Update MCAG No Cualificado</label>
        <locationX>1502</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>SeHaSeleccionadoCMMKT_0_0_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteresesMiembroCampanaAG.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Cambio de Tomador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el campaignMember de MKT a No cualificado</description>
        <name>UpdateNoCualificadoCMMKT</name>
        <label>Update CMMKT No Cualificado</label>
        <locationX>3218</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>UpdateNoCualificadoMCAG</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteresesMKTCampaignMember.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Cambio de Tomador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos el miembro de campaña AG Seleccionado a No cualificado</description>
        <name>UpdateNoCualificadoMCAG</name>
        <label>Update MCAG No Cualificado</label>
        <locationX>3218</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>SeHaSeleccionadoCMMKT_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InteresesMiembroCampanaAG.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <stringValue>Cambio de Tomador</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Aborted</stringValue>
            </value>
        </inputAssignments>
        <object>AMCM__c</object>
    </recordUpdates>
    <screens>
        <name>ErrorMensaje</name>
        <label>MensajeError</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_CMMKTNoCualificado_LeadExistente</targetReference>
        </connector>
        <fields>
            <name>S04_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LeadError</name>
            <fieldText>&lt;p&gt;{!Get_TextosArgumentario.Texto4__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Formulario para crear un lead/ contacto</description>
        <name>LeadContactCreate</name>
        <label>Creación Lead/Contacto</label>
        <locationX>1832</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_DesactivaMarcasErrores</targetReference>
        </connector>
        <fields>
            <name>S02_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenFirstName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_EntradaNombre</elementReference>
            </defaultValue>
            <fieldText>Nombre</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ScreenLastName</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_EntradaApellido</elementReference>
            </defaultValue>
            <fieldText>Apellido</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenMobilePhone</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_EntradaMovil</elementReference>
            </defaultValue>
            <fieldText>Móvil</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>errorMovilDuplicado</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Ya existe un Lead o Contacto con este&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Móvil&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Teléfono</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Var_EntradaTelefono</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>errorTelefonoDuplicado</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Ya existe un Lead o Contacto con este&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Teléfono&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>telefonoError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;El campo &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Móvil &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;o &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Teléfono &lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;debe estar relleno para continuar.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Var_EntradaEmail</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>errorEmailDuplicado</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Ya existe un Lead o Contacto con este&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Email&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorEmailValidado</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;El &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Email&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt; no es válido.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenDocumentType</name>
            <choiceReferences>LeadDocumentType</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_EntradaTipoDocumento</elementReference>
            </defaultValue>
            <fieldText>Tipo de Documento</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ErrorTipoDocumento</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;El campo &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Tipo de Documento&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; debe estar relleno para continuar.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorPasaporte</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;El usuario debe ser un &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Supervisor&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; para poder seleccionar pasaporte.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ScreenDocumentNumber</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Var_EntradaNumDocumento</elementReference>
            </defaultValue>
            <fieldText>Número de Documento</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>errorDocumentoDuplicado</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Ya existe un Lead o Contacto con este&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Número de Documento&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorNumeroDocumento</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;El campo &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Número de Documento&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; debe estar relleno para continuar.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorNumeroDocumentoInvalido</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;El &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Número de Documento&lt;/strong&gt;&lt;span style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; no es válido.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Muestra los datos del registro Duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicado</name>
        <label>Regisro Duplicado</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>EsLaMismaPersona</targetReference>
        </connector>
        <fields>
            <name>S03_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RegistroDuplicado_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EsMismaPersonaLead</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Get_TextosArgumentario.Etiqueta3__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>En esta pantalla el agente deberá preguntar si es la persona de contacto que compró el producto</description>
        <name>S01_PantallaCompradorMercancia</name>
        <label>S01_Pantalla Comprador de Mercancía</label>
        <locationX>1155</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_CompradorMercancia</targetReference>
        </connector>
        <fields>
            <name>S01_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BuyerQuestion</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Get_TextosArgumentario.Etiqueta1__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DataContactQuestion</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!Get_TextosArgumentario.Etiqueta2__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_TextosArgumentario</startElementReference>
    <status>Active</status>
    <variables>
        <name>InteresesMiembroCampanaAG</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <name>InteresesMKTCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>ID de intereses excluidos (tratado en este flujo) para filtrar los Intereses obtenidos (CM, CMAG y OPP). Este parámetro de salida en este flujo devuelve el interés que se haya tratado</description>
        <name>InteresExcluido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Campo AgeRange del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadoAgeRange</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo BirthDate del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadoBirthDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo Email del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadoEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo Id del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo IdExterno del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadoIdExterno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo LastName del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadoLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo LeadSource del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadoLeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo MobilPhone del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadoMobilPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo Phone del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadoPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Campo FirstName del registro duplicado, ya sea Lead o Contacto</description>
        <name>RegistroDuplicadosFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacenamos el apellido del contacto</description>
        <name>Var_EntradaApellido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacenamos el Email del contacto</description>
        <name>Var_EntradaEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacenamos el Móvil del contacto</description>
        <name>Var_EntradaMovil</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacenamos el nombre de contacto</description>
        <name>Var_EntradaNombre</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que contiene el valor de Número de Documento del Screen</description>
        <name>Var_EntradaNumDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacenamos el teléfono del contacto</description>
        <name>Var_EntradaTelefono</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacena el valor de Tipo de Documento del screen</description>
        <name>Var_EntradaTipoDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Texto de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el nombre de la persona con la que estamos hablando y que vendrá del lead o del contacto.</description>
        <name>Var_INOUT_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Imagen de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el ícono que se muestra en la cabecera.</description>
        <name>Var_INOUT_HeadingIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Texto de subcabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el el interés (Ramo) que se está tratando en ese momento y que depende de dónde provenga el interés.</description>
        <name>Var_INOUT_SubHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable que nos indicará si mostrar el mensaje de error para email duplicado</description>
        <name>Var_MostraErrorEmailDuplicado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que nos indica si mostrar el mensaje de error de número de documento duplicado</description>
        <name>Var_MostrarErrorDocumentoDuplicado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Indica si mostrar el mensaje de validacion para email</description>
        <name>Var_MostrarErrorEmailValidacion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que nos indica si mostrar el mensaje de error para móvil duplicado o no</description>
        <name>Var_MostrarErrorMovilDuplicado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que nos indica si se debe mostrar el mensaje de error para Numero de Documento</description>
        <name>Var_MostrarErrorNumDocumento</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Controla si se debe mostrar el error o no</description>
        <name>Var_MostrarErrorNumeroDocumentoInvalido</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que nos indica si debemos mostrar el mensaje de error para el pasaporte o no.</description>
        <name>Var_MostrarErrorPasaporte</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable en la que indicamos si mostrar el mensaje de error para teleléfono duplicado o no</description>
        <name>Var_MostrarErrorTelefonoDuplicado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que nos indica si mostrar el mensaje de error para tipo de documento o no</description>
        <name>Var_MostrarErrorTipoDocumento</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable que nos indicará si mostrar el mensaje de error (True) o no (False) en la pantalla de datos de contacto.</description>
        <name>Var_MostrarMensajeErrorTelefono</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable en la que guardamos el valor duplicado de número de documento</description>
        <name>Var_RegistroDuplicadoNumeroDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable donde guardamos el valor duplicado de Tipo de Documento</description>
        <name>Var_RegistroDuplicadoTipoDocumento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Indica si hay que volver a mostrar la pantalla de intereses</description>
        <name>Var_VolverAPantallaIntereses</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
