force-app/main/default/flows/SubflujoPantallaContactoQuiereSeguro.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <description>Asignamos al contacto el nuevo email</description>
        <name>Set_Email</name>
        <label>Set_Email</label>
        <locationX>314</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>Get_RecuperamosContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizamos_Contacto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Almacenamos el valor de email introducido</description>
        <name>Set_EntradaEmail</name>
        <label>Set_EntradaEmail</label>
        <locationX>380</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>Var_EntradaEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>screenContactEmail.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_EmailValido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos true a la variable para mostrar el mensaje de error para email duplicado</description>
        <name>Set_MostrarErrorEmailDuplicadoTrue</name>
        <label>Set_MostrarErrorEmailDuplicadoTrue</label>
        <locationX>50</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorEmailDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorEmailValidacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenContactEmail.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_EntradaEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SM_RellenarEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos true a la variable mostrar error email validacion para que muestre el mensaje de error y guardamos el valor del email.</description>
        <name>Set_MostrarErrorEmailValidacionTrue</name>
        <label>Set_MostrarErrorEmailValidacionTrue</label>
        <locationX>578</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorEmailValidacion</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>screenContactEmail.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_EntradaEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_MostrarErrorEmailDuplicado</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SM_RellenarEmail</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Marcamos a true la variable Planificar llamada</description>
        <name>Set_PlanificarLlamada</name>
        <label>Set Planificar Llamada</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Var_PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blecis_y_Perdida_Solo_gratuito</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos a la oportunidad el motivo de pérdida recogido en el picklist alternativo (Quiere seguro) y la pasamos a perdida</description>
        <name>setMotivoPerdidaOpp</name>
        <label>Asignamos Motivo Perdida a la Opp</label>
        <locationX>127</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>OppVariable.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_MotivoPerdidaPicklistResultado</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppVariable.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Perdido</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecuperamosContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos a True la variable de salida que indica si hay que volver a pantalla de intereses.
Adicionalmente agrega el interés para excluir</description>
        <name>volverPantallaInteresesTrue</name>
        <label>Volver a Pantalla intereses y excluir interés</label>
        <locationX>550</locationX>
        <locationY>3590</locationY>
        <assignmentItems>
            <assignToReference>volverPantallaIntereses</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InteresExcluido</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppVariable.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <name>domiciliacionBancaria</name>
        <choiceText>Domiciliación Bancaria</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>tarjetaECI</name>
        <choiceText>Tarjeta ECI</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Se evalua si la oportunidad es de Blecis y el motivo de perdida esta definido en Solo gratuito</description>
        <name>Blecis_y_Perdida_Solo_gratuito</name>
        <label>Blecis y Perdida Solo gratuito</label>
        <locationX>550</locationX>
        <locationY>3134</locationY>
        <defaultConnector>
            <targetReference>OppClosedUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppVariable.CTI_Campaign__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>BLECIS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppVariable.Loss_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solo gratuito</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pantalla_InformacionLegal</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos que el email tiene un formato válido</description>
        <name>Decision_EmailValido</name>
        <label>Decision_EmailValido</label>
        <locationX>380</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Set_MostrarErrorEmailValidacionTrue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EmailValido_No</defaultConnectorLabel>
        <rules>
            <name>EmailValido_Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Formula_ValidarEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>screenContactEmail.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ContactosDuplicados</targetReference>
            </connector>
            <label>EmailValido_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision_EstaEmailRelleno?</description>
        <name>Decision_EstaEmailRelleno</name>
        <label>Decision_EstaEmailRelleno?</label>
        <locationX>127</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>SM_RellenarEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EstaEmailRelleno?_No</defaultConnectorLabel>
        <rules>
            <name>EstaEmailRelleno_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RecuperamosContact.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blecis_y_Perdida_Solo_gratuito</targetReference>
            </connector>
            <label>EstaEmailRelleno?_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si ya existe algún registro con el email introducido</description>
        <name>Decision_Hay_duplicados</name>
        <label>Decision_¿Hay duplicados?</label>
        <locationX>182</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Set_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>¿Hay duplicados?_No</defaultConnectorLabel>
        <rules>
            <name>Hay_duplicados_Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_ContactosDuplicados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LeadsDuplicados</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_MostrarErrorEmailDuplicadoTrue</targetReference>
            </connector>
            <label>¿Hay duplicados?_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si ha marcado que quiere llamada en otro momento planificamos la oportunidad y marcamos el planificador de llamada</description>
        <name>Decision_QuiereLlamadaEnOtroMomento</name>
        <label>¿Quiere llamada en otro momento?</label>
        <locationX>974</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>pantallaMotivosPerdida</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>QuiereLlamadaEnOtroMomento_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PreguntaLlamarEnOtroMomento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Argumentario_Subflow_OppMotivoAplazamiento</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si quiere contratar seguro</description>
        <name>decisionContratarSeguro</name>
        <label>¿Quiere Contratar Seguro?</label>
        <locationX>550</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Decision_QuiereLlamadaEnOtroMomento</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>siQuiereSeguro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>preguntaContratarSeguro</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decisionMercanciaEstado</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si la mercancía está en buen estado</description>
        <name>decisionMercanciaEstado</name>
        <label>¿Mercancía en Buen Estado?</label>
        <locationX>127</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>decisionSeguroVoluntario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>NoEstaEnBuenEstado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>preguntaMercanciaCondicion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>pantallaMotivosPerdida</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>¿quiere el seguro voluntario o no?</description>
        <name>decisionSeguroVoluntario</name>
        <label>¿Quiere Seguro Voluntario?</label>
        <locationX>281</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>NoSeguroVoluntario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>preguntaContratarSeguroVoluntario</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMetadataEnlaceSeguroGratuito</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch</name>
        <label>Switch</label>
        <locationX>960</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SwitchOff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveFlowCampaignMember__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TextosArgumentario</targetReference>
            </connector>
            <label>Switch Off</label>
        </rules>
    </decisions>
    <description>El cliente o no seguro (HEADER dinámico incorporado con imagen como recurso estático y texto del objeto textos de argumentario)
20/09 Nestor: Añadido validación por email y dependencia medio para motivo de perdida
29/09 NRG: Añadida validación de formato al email
30/09 AC: Cambio de preguntas por Textos Argumentario variables
10/10 MMV: Se añade la opción de llamada en otro momento y planificación de la oportunidad
20/10 AMT: Cambios en las cabeceras de las pantallas
20/10 NRG: Eliminada pantalla Forma de pago y sus respectivos getMetadata
28/11 MMV: Cambio para usar IsConverted en lugar de ConvertedContactId
10/02/2023 LCS-JCB: Inserción de enlace a Oportunidad Creada en pantalla
05/06/2023 LCS-JCB: Pantalla información legal, para Oportunidades Blecis con M.Perdida Solo gratuito</description>
    <dynamicChoiceSets>
        <description>Variable donde se almacenan los valores del campo Loss_Reason__c (Motivo de Pérdida)</description>
        <name>picklistMotivoPerdidaValores</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loss_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Valores para motivo de perdida cuando el medio es bbdd</description>
        <name>PicklistOppPerdidaBBDD</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OppPerdidaSalientesBBDD__c</picklistField>
        <picklistObject>FlowPicklist__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Valores para opp perdida cuando el medio es blecis</description>
        <name>PicklistOppPerdidaBlecis</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OppPerdidaBlecis__c</picklistField>
        <picklistObject>FlowPicklist__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Valores para opp perdida cuando el medio es telefono o manual</description>
        <name>PicklistOppPerdidaEntrantesBasicos</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OppPerdidaEntrantesBasicos__c</picklistField>
        <picklistObject>FlowPicklist__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Valores para opp perdida cuando el medio es prestamos</description>
        <name>PicklistOppPerdidaPrestamos</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OppPerdidPrestamos__c</picklistField>
        <picklistObject>FlowPicklist__mdt</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Valores para opp perdida cuando el medio es Adwords, Blog, Corregistros, Display, Email, RRSS, SMS, Referencia o Web</description>
        <name>PicklistOppPerdidaSalientesBasicos</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OppPerdidaSalientesBasicos__c</picklistField>
        <picklistObject>FlowPicklist__mdt</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Fórmula para el calculo de la URL para acceder a la Oportunidad Creada.</description>
        <name>Formula_EnlaceOportunidadCreada</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!OppVariable.Id}</expression>
    </formulas>
    <formulas>
        <description>Recogemos el valor de motivo de perdida de un screen u otro</description>
        <name>Formula_MotivoPerdidaPicklistResultado</name>
        <dataType>String</dataType>
        <expression> IF ( NOT( ISBLANK( TEXT( {!PicklistOppPerdidaBBDD} ) ) ), TEXT( {!PicklistOppPerdidaBBDD} ),
 IF ( NOT( ISBLANK( TEXT( {!picklistMotivoPerdidaValores} ) ) ), TEXT( {!picklistMotivoPerdidaValores} ),
  IF( NOT( ISBLANK( TEXT( {!PicklistOppPerdidaBlecis} ) ) ), TEXT( {!PicklistOppPerdidaBlecis} ),
    IF ( NOT( ISBLANK( TEXT( {!PicklistOppPerdidaEntrantesBasicos} ) ) ), TEXT( {!PicklistOppPerdidaEntrantesBasicos} ),
     IF( NOT( ISBLANK( TEXT( {!PicklistOppPerdidaPrestamos} ) ) ), TEXT( {!PicklistOppPerdidaPrestamos} ),
      IF( NOT( ISBLANK( TEXT( {!PicklistOppPerdidaSalientesBasicos} ) ) ), TEXT( {!PicklistOppPerdidaSalientesBasicos} ), &quot;Error: No hay valor&quot;
      )
      )
     )
    )
   )
)</expression>
    </formulas>
    <formulas>
        <name>Formula_TextoInformacionLegal</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!Get_RecuperamosContact.Email})), {!$Label.InformacionLegalEmail}&amp;{!Get_RecuperamosContact.Email}, IF( OR( BEGINS({!Get_RecuperamosContact.MobilePhone}, &quot;6&quot;), BEGINS({!Get_RecuperamosContact.MobilePhone}, &quot;7&quot;)), {!$Label.InformacionLegalSMS}&amp;{!Get_RecuperamosContact.MobilePhone}, IF(OR(BEGINS({!Get_RecuperamosContact.Phone}, &quot;6&quot;), BEGINS({!Get_RecuperamosContact.Phone}, &quot;7&quot;)), {!$Label.InformacionLegalSMS}&amp;{!Get_RecuperamosContact.Phone}, {!$Label.InfomracionLegalLocucion})))</expression>
    </formulas>
    <formulas>
        <description>Comprobamos a través de regex que el email tiene el formato correcto</description>
        <name>Formula_ValidarEmail</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!screenContactEmail.value} , &quot;^\\(([a-zA-Z0-9 _\\-\\.\\+]+)\\)\\ ([a-zA-Z0-9\n&quot; +
               &quot;_\\!\\#\\$\\%\\&amp;amp;\\&apos;\\*\\-\\/\\=\\?\\^\\`\\{\\|\\}\\~\\.]+)@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\\n&quot; +
                &quot;.[0-9]{1,3}\\.)|(([a-zA-Z0-9\\w\n&quot; +
                &quot;_\\!\\#\\$\\%\\&amp;amp;\\&apos;\\*\\-\\/\\=\\?\\^\\`\\{\\|\\}\\~]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3}\n&quot; +
                &quot;)$|^([a-zA-Z0-9 \\w\n&quot; +
                &quot;_\\!\\#\\$\\%\\&amp;amp;\\&apos;\\*\\-\\/\\=\\?\\^\\`\\{\\|\\}\\~\\.]+)@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\\n&quot; +
                &quot;.[0-9]{1,3}\\.)|(([a-zA-Z0-9_\\-]+\\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})$&quot;)</expression>
    </formulas>
    <interviewLabel>Subflujo Pantalla Contacto Quiere Seguro {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo Pantalla Contacto Quiere Seguro</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Buscamos si existe algún contacto en la bbdd con este email</description>
        <name>Get_ContactosDuplicados</name>
        <label>Get_ContactosDuplicados</label>
        <locationX>182</locationX>
        <locationY>2150</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LeadsDuplicados</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>screenContactEmail.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>OppVariable.Account.PersonContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <description>Buscamos en Leads registros con el mismo email</description>
        <name>Get_LeadsDuplicados</name>
        <label>Get_LeadsDuplicados</label>
        <locationX>182</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Hay_duplicados</targetReference>
        </connector>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>screenContactEmail.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
    </recordLookups>
    <recordLookups>
        <description>Recuperamos el contacto relacionada con la oportunidad</description>
        <name>Get_RecuperamosContact</name>
        <label>Get_Recuperamos el Contact</label>
        <locationX>127</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_EstaEmailRelleno</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppVariable.Account.PersonContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <description>Recogemos el metadata que contiene el enlace externo al seguro gratuito</description>
        <name>getMetadataEnlaceSeguroGratuito</name>
        <label>Get Metadata EnlaceSeguroGratuito</label>
        <locationX>149</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>URLSystemFreeInsurance</targetReference>
        </connector>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Argumentario - Enlace seguro gratuito</stringValue>
            </value>
        </filters>
        <object>ORG_ApplicationSettings__mdt</object>
    </recordLookups>
    <recordLookups>
        <description>Recoge los textos de Argumentario que se usan en las pantallas de ESTE Flujo</description>
        <name>TextosArgumentario</name>
        <label>TextosArgumentario</label>
        <locationX>550</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pantallaContratarSeguro</targetReference>
        </connector>
        <filters>
            <field>Flujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SubflujoPantallaContactoQuiereSeguro</stringValue>
            </value>
        </filters>
        <filters>
            <field>Idioma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <object>TextoArgumentario__c</object>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos el contacto con el nuevo email</description>
        <name>Actualizamos_Contacto</name>
        <label>Actualizamos Contacto</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Blecis_y_Perdida_Solo_gratuito</targetReference>
        </connector>
        <inputReference>Get_RecuperamosContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos el registro de Opportunity para aplicar los cambios</description>
        <name>OppClosedUpdate</name>
        <label>Actualizamos Oportunidad</label>
        <locationX>550</locationX>
        <locationY>3470</locationY>
        <connector>
            <targetReference>volverPantallaInteresesTrue</targetReference>
        </connector>
        <inputReference>OppVariable</inputReference>
    </recordUpdates>
    <screens>
        <name>Pantalla_InformacionLegal</name>
        <label>Información legal</label>
        <locationX>418</locationX>
        <locationY>3254</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>OppClosedUpdate</targetReference>
        </connector>
        <fields>
            <name>Texto_InformacionLegal</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(16, 121, 18);&quot;&gt;{!Formula_TextoInformacionLegal}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla de contacto quiere contratar seguro</description>
        <name>pantallaContratarSeguro</name>
        <label>Contratar Seguro</label>
        <locationX>550</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>decisionContratarSeguro</targetReference>
        </connector>
        <fields>
            <name>S01_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>enlaceOportunidadCreada</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Oportunidad creada: &lt;/span&gt;&lt;a href=&quot;{!Formula_EnlaceOportunidadCreada}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;&lt;strong&gt;{!OppVariable.Name}&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>preguntaContratarSeguro</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta1__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>preguntaMercanciaCondicion</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta2__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>preguntaContratarSeguroVoluntario</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta3__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PreguntaLlamarEnOtroMomento</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta5__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para seleccionar el motivo de pérdida.</description>
        <name>pantallaMotivosPerdida</name>
        <label>Pantalla Motivos de Perdida</label>
        <locationX>127</locationX>
        <locationY>1310</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setMotivoPerdidaOpp</targetReference>
        </connector>
        <fields>
            <name>S04_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>picklistMotivoPerdidaDefault</name>
            <choiceReferences>picklistMotivoPerdidaValores</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo de Perdida</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenLossReasonBlecis</name>
            <choiceReferences>PicklistOppPerdidaBlecis</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo de Perdida</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenLossReasonEntrantesBasicos</name>
            <choiceReferences>PicklistOppPerdidaEntrantesBasicos</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo de Perdida</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenLossReasonPrestamos</name>
            <choiceReferences>PicklistOppPerdidaPrestamos</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo de Perdida</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenLossReasonSalientesBasicos</name>
            <choiceReferences>PicklistOppPerdidaSalientesBasicos</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo de Perdida</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ScreenLossReasonBBDD</name>
            <choiceReferences>PicklistOppPerdidaBBDD</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo de Perdida</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SM_RellenarEmail</name>
        <label>SM_RellenarEmail</label>
        <locationX>380</locationX>
        <locationY>1790</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_EntradaEmail</targetReference>
        </connector>
        <fields>
            <name>S05_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>textoArgumentario5</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto5__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>screenContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Var_EntradaEmail</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>errorEmailValidado</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto6__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>errorEmailDuplicado</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto7__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>URL que grabe el seguro gratuito</description>
        <name>URLSystemFreeInsurance</name>
        <label>Pantalla URL Sistema Seguro Gratuito</label>
        <locationX>149</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>pantallaMotivosPerdida</targetReference>
        </connector>
        <fields>
            <name>S03_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EnlaceSeguroGratuito</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto2__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Switch</startElementReference>
    <status>Active</status>
    <subflows>
        <description>Argumentario_Subflow_OppMotivoAplazamiento para mostrar la pantalla de seleccion de motivo de aplazamiento</description>
        <name>Argumentario_Subflow_OppMotivoAplazamiento</name>
        <label>Argumentario_Subflow_OppMotivoAplazamiento</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Set_PlanificarLlamada</targetReference>
        </connector>
        <flowName>Argumentario_Subflow_OppMotivoAplazamiento</flowName>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Opportunity</name>
            <value>
                <elementReference>OppVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OppVariable</assignToReference>
            <name>Var_INOUT_Opportunity</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CTICampaignMemberVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>ID de intereses excluidos (tratado en este flujo) para filtrar los Intereses obtenidos (CM, CMAG y OPP). Este parámetro de salida en este flujo devuelve el interés que se haya tratado</description>
        <name>InteresExcluido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Variable que almacena el id de record type adicional de miembro de campaña AG</description>
        <name>recordTypeAdicional</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable que almacena el id del record type marketing de campaign member</description>
        <name>recordTypeMarketing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Almacena el valor del email</description>
        <name>Var_EntradaEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Texto de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el nombre de la persona con la que estamos hablando y que vendrá del lead o del contacto.</description>
        <name>Var_INOUT_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Imagen de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el ícono que se muestra en la cabecera.</description>
        <name>Var_INOUT_HeadingIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Texto de subcabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el el interés (Ramo) que se está tratando en ese momento y que depende de dónde provenga el interés.</description>
        <name>Var_INOUT_SubHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Indica si se debe mostrar el mensaje de error para email duplicado</description>
        <name>Var_MostrarErrorEmailDuplicado</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Indica si se debe mostrar el mensaje de error para formato del email</description>
        <name>Var_MostrarErrorEmailValidacion</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Indica si hay que marcar la planificación de llamada al final del argumentario</description>
        <name>Var_PlanificarLlamada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Variable de salida que nos indica si hay que volver a la pantalla de intereses</description>
        <name>volverPantallaIntereses</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
