force-app/main/default/flows/Subflujo_Task_Transferencia_No_Asociada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NotificarLlamadaTransferencia</name>
        <label>Notificar Llamada Transferencia</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Costume_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>BodyNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>SubjectNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>NotificationRecepients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>TaskRecord.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Recepients_Assigment</name>
        <label>Recepients Assigment</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>NotificationRecepients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NotificarLlamadaTransferencia</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>IsChangedCallDuration</name>
        <dataType>Boolean</dataType>
    </constants>
    <decisions>
        <name>Switch</name>
        <label>Switch</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Switch_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveFlowTask__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Costume_Notification</targetReference>
            </connector>
            <label>Switch On</label>
        </rules>
    </decisions>
    <interviewLabel>Subflujo Task Transferencia No Asociada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo Task Transferencia No Asociada</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Costume_Notification</name>
        <label>Get Costume Notification</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recepients_Assigment</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CESS_CallRecordNotification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <startElementReference>Switch</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>BodyNotification</name>
        <text>&lt;p&gt;{!TaskRecord.Subject}&lt;/p&gt;&lt;p&gt;Las llamadas que le son transferidas deben ser asociadas a un Lead u Oportunidad. Por favor asocie la llamada. En caso de duda contacte con su supervisor.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SubjectNotification</name>
        <text>&lt;p&gt;LLAMADA TRANSFERIDA NO ASOCIADA&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NotificationRecepients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
