force-app/main/default/flows/SubflujoPantallaInteresSalientesBasicos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Asigna el registro encontrado en la variable que se utiliza en el resto del flujo</description>
        <name>AsignaCMCTIVariable</name>
        <label>Asigna CM CTI Variable</label>
        <locationX>1018</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberCTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCampaignMemberCTI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CampaignMembersMKT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Las 3 queries anteriores no pueden poner el valor del registro en una variable Ouput y a la vez seleccionar todos los campos... por ello tenemos esta asignación, para poder seleccionar todos los campos y tener el registro de salida para los 3 tipos</description>
        <name>AsignarSeleccionadosAVariablesSalida</name>
        <label>Asignar registros seleccionados a variables de salida</label>
        <locationX>314</locationX>
        <locationY>4196</locationY>
        <assignmentItems>
            <assignToReference>SelectedCampaignMemberMKT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMKTCMSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedCampaignMemberAG</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMCAGSelected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedOpportunity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetOppCMSelected</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Asignación y resguardo  de valores para miembro de campaña Adicional</description>
        <name>AssigmentMCAG</name>
        <label>Assigment MCAG</label>
        <locationX>1172</locationX>
        <locationY>2588</locationY>
        <assignmentItems>
            <assignToReference>MCAGAuxChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCMAG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MCAGAuxChoice.CallIdentifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LabelInteresesMCAG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListCMAGChoiseSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MCAGAuxChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCMAG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentMKTCM</name>
        <label>Assigment MKT CM</label>
        <locationX>1172</locationX>
        <locationY>1988</locationY>
        <assignmentItems>
            <assignToReference>MKTCMAux</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCMMkt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MKTCMAux.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LabelInteresMKTCM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListCMMKTChoiseSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MKTCMAux</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCMMkt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guarda los valores de la opp</description>
        <name>AssigmentOppCM</name>
        <label>Assigment Opp CM</label>
        <locationX>1172</locationX>
        <locationY>3188</locationY>
        <assignmentItems>
            <assignToReference>OppCMAuxChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOportunidad</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppCMAuxChoice.call_identifier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LabelInteresesOpp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOppChoiseSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppCMAuxChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Actualiza la Variable que controla si se debe finalizar el argumentario (cuando no se seleccionan intereses o ya no hay más intereses)</description>
        <name>FijarFinalizarArgumentario</name>
        <label>Fijar FinalizarArgumentario</label>
        <locationX>930</locationX>
        <locationY>4712</locationY>
        <assignmentItems>
            <assignToReference>FinalizarArgumentario</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Marca la variable de PlanificarLlamada para que se trate en el flujo principal (variable de salida)</description>
        <name>MarcaPlanificarLlamada</name>
        <label>MarcaPlanificarLlamada</label>
        <locationX>930</locationX>
        <locationY>3788</locationY>
        <assignmentItems>
            <assignToReference>PlanificarLlamada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorremosCMKT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos Aplazado a los CM AG</description>
        <name>Set_CMAGAplazado</name>
        <label>Set_CMAGAplazado</label>
        <locationX>1018</locationX>
        <locationY>4412</locationY>
        <assignmentItems>
            <assignToReference>Recorremos_CMAG.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMsAdditionalstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Recorremos_CMAG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recorremos_CMAG</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asignamos Aplazado a los CM MKT</description>
        <name>Set_CMMKTAplazado</name>
        <label>Set_CMMKTAplazado</label>
        <locationX>1018</locationX>
        <locationY>4004</locationY>
        <assignmentItems>
            <assignToReference>RecorremosCMKT.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CMsMKTtoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecorremosCMKT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecorremosCMKT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los valores del SubHeader</description>
        <name>Set_SubHeaders_01</name>
        <label>Set_SubHeaders_01</label>
        <locationX>50</locationX>
        <locationY>4004</locationY>
        <assignmentItems>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Formula_SubHeadingMKTCM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarSeleccionadosAVariablesSalida</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los valores del SubHeader</description>
        <name>Set_SubHeaders_02</name>
        <label>Set_SubHeaders_02</label>
        <locationX>314</locationX>
        <locationY>4004</locationY>
        <assignmentItems>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Formula_SubHeadingMCAG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarSeleccionadosAVariablesSalida</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los valores del SubHeader</description>
        <name>Set_SubHeaders_03</name>
        <label>Set_SubHeaders_03</label>
        <locationX>578</locationX>
        <locationY>4004</locationY>
        <assignmentItems>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Var_Formula_SubHeadingOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AsignarSeleccionadosAVariablesSalida</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los valores para las variables de las cabeceras.</description>
        <name>Set_SubHeadersVacio</name>
        <label>Set_SubHeadersVacio</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TextosArgumentario</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna el WhoId de la tarea a la variable, por si ha cambiado y ahora debe ser el contacto</description>
        <name>Set_VariableIdLeadContact</name>
        <label>Set Variable IdLeadContact</label>
        <locationX>908</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>IdLeadContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCallTask.WhoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExisteCampaignMemberCTI</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Choice para no seleccionar ningún interés y salir del argumentario</description>
        <name>Choice_NoSeleccionarInteres</name>
        <choiceText>Planificar otra llamada</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>No</description>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>Si</description>
        <name>Yes</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Si</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Si se crea un interés sube al subflujo de creación, sino se sale del flujo al final de la llamada</description>
        <name>Decision_CreaInteres</name>
        <label>Decision_CreaInteres</label>
        <locationX>666</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>FijarFinalizarArgumentario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CreaInteres_No</defaultConnectorLabel>
        <rules>
            <name>CreaInteres_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S01_Radio_CerarInteres</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Si</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CrearMiembroCampanaCTI</targetReference>
            </connector>
            <label>CrearInteres_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si hay intereses para dar la opción de crear o no uno nuevo</description>
        <name>Decision_HayIntereses</name>
        <label>Decision_HayIntereses</label>
        <locationX>908</locationX>
        <locationY>3464</locationY>
        <defaultConnector>
            <targetReference>S01_CrearIntereses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HayIntereses_No</defaultConnectorLabel>
        <rules>
            <name>HayIntereses_Si</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ListCMAGChoiseSet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListCMMKTChoiseSet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListOppChoiseSet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SelectIntereses</targetReference>
            </connector>
            <label>HayIntereses_Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si está excluido el interés iterado</description>
        <name>ExcluidaOPP</name>
        <label>Está excluida la OPP actual?</label>
        <locationX>1084</locationX>
        <locationY>3080</locationY>
        <defaultConnector>
            <targetReference>AssigmentOppCM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No está excluido</defaultConnectorLabel>
        <rules>
            <name>EstaExcluidaOPP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InteresesExcluidos</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopOportunidad.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopOportunidad</targetReference>
            </connector>
            <label>Está excluida</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si está excluido el interés iterado</description>
        <name>ExcluidoCMActual</name>
        <label>Está excluido el CM actual?</label>
        <locationX>1084</locationX>
        <locationY>1880</locationY>
        <defaultConnector>
            <targetReference>AssigmentMKTCM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No está excluido</defaultConnectorLabel>
        <rules>
            <name>EstaExcluidoCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InteresesExcluidos</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopCMMkt.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopCMMkt</targetReference>
            </connector>
            <label>Está excluido</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si está excluido el interés iterado</description>
        <name>ExcluidoCMAG</name>
        <label>Está excluido el CMAG actual?</label>
        <locationX>1084</locationX>
        <locationY>2480</locationY>
        <defaultConnector>
            <targetReference>AssigmentMCAG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No está excluido</defaultConnectorLabel>
        <rules>
            <name>EstaExcluidoCMAG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InteresesExcluidos</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>LoopCMAG.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopCMAG</targetReference>
            </connector>
            <label>Está excluido</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprueba si existe (viene relleno) el parámetro con el Id de Campaign Member de CTI, puede ser que no venga si se ha seleccionado un interés de oportunidad en el flujo principal</description>
        <name>ExisteCampaignMemberCTI</name>
        <label>Existe Campaign Member CTI?</label>
        <locationX>908</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>GetCampaignMemberCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Si Existe CM CTI</defaultConnectorLabel>
        <rules>
            <name>NoExisteCMCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IdCampaignMemberCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S01_CrearIntereses</targetReference>
            </connector>
            <label>No Existe CM CTI</label>
        </rules>
    </decisions>
    <decisions>
        <name>SeleccionaIntereses</name>
        <label>¿Selecciona intereses?</label>
        <locationX>622</locationX>
        <locationY>3680</locationY>
        <defaultConnector>
            <targetReference>MarcaPlanificarLlamada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No selecciona intereses</defaultConnectorLabel>
        <rules>
            <name>SiSeleccionaIntereses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RadioButtonIntereses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Choice_NoSeleccionarInteres</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WhatOptionDoYouChoose</targetReference>
            </connector>
            <label>Si selecciona intereses</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si lo hemos encontrado seguimos, pero si no se ha encontrado registro vamos al subflujo para crear un nuevo interés</description>
        <name>TodaviaExisteCMCTI</name>
        <label>¿Todavía existe el CM CTI?</label>
        <locationX>1150</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>CrearMiembroCampanaCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiTodaviaExisteCMCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCampaignMemberCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AsignaCMCTIVariable</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhatOptionDoYouChoose</name>
        <label>What Option Do You Choose?</label>
        <locationX>314</locationX>
        <locationY>3788</locationY>
        <defaultConnector>
            <targetReference>GetOppCMSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ha Seleccionado una Opp</defaultConnectorLabel>
        <rules>
            <name>ChooseMKTCM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionChoiceSetCMMKT</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>RadioButtonIntereses</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMKTCMSelected</targetReference>
            </connector>
            <label>Ha Seleccionado un MK CM</label>
        </rules>
        <rules>
            <name>ChooseMCAG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionChoiceSetCMAG</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>RadioButtonIntereses</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMCAGSelected</targetReference>
            </connector>
            <label>Ha Seleccionado un MC AG</label>
        </rules>
    </decisions>
    <description>Mostraremos los intereses del lead o cliente (Miembros de campaña y Miembros de campaña adicionales y oportunidades abiertas del agente en caso de cliente) (HEADER dinámico incorporado y textos de objeto textos de argumentarios) Recibe como parámetro la lista de IDs excluidos (intereses ya tratados) Trata la salida del flujo y planificación de llamadas

17/08: Cambio filtro de intereses para que no se muestren las oportunidades e intereses que no pertenecen a ningún miembro de campaña CTI. Incluyo cambio para que no se obligue a crear siempre un interés sino que se pregunte antes. Inclusión la opción de planificar llamada cuando no ha seleccionado intereses o se incluido la opción de Planificar llamadas
19/09 MMV: Arreglo para actualizar a aplazado también los miembros de campaña Adicionales
26/09 MHG: Actualizado a API 55 (por bug en el despliegue para las secciones en las pantallas)
29/09 AC: Cambio de preguntas por Textos Argumentario variables
19/10 MMV: Se envía el Id del CM CTI al subflujo de creación de CM CTI
19/10 AMT: Se modifican las cabeceras de las pantallas
21/10 AMT: Se modifican las variables de las cabeceras
27/10 MMV: Si no existe el CM CTI también se tiene en cuenta si ha cambiado el WhoId de la tarea
21/12/2023 MSC: Eliminación de la Pantalla Resumen Final
16/01/2023 LCS-JCB: Corrección actualización estado Aplazado de CMs MKT y Adicionales</description>
    <dynamicChoiceSets>
        <description>Collection ChoiceSet CM AG</description>
        <name>CollectionChoiceSetCMAG</name>
        <collectionReference>ListCMAGChoiseSet</collectionReference>
        <dataType>String</dataType>
        <displayField>CallIdentifier__c</displayField>
        <object>AMCM__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Collection ChoiceSet CM MKT</description>
        <name>CollectionChoiceSetCMMKT</name>
        <collectionReference>ListCMMKTChoiseSet</collectionReference>
        <dataType>String</dataType>
        <displayField>Street</displayField>
        <object>CampaignMember</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Choice Set de Oportunidades relacionadas con el CM de CTI</description>
        <name>CollectionChoiceSetOPP</name>
        <collectionReference>ListOppChoiseSet</collectionReference>
        <dataType>String</dataType>
        <displayField>call_identifier__c</displayField>
        <object>Opportunity</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>LabelInteresesMCAG</name>
        <dataType>String</dataType>
        <expression>&apos;Tipo: Adicional - &apos; + &apos;Ramo: &apos; + TEXT({!LoopCMAG.LineInsurance__c}) + &apos; - &apos; + &apos;Medio: &apos; + TEXT({!LoopCMAG.SourceType__c}) + &apos; - &apos; + &apos;Código Proyecto: &apos; +{!LoopCMAG.QuoteCode__c} + &apos; - &apos; + &apos;Riesgo Asegurado: &apos; +{!LoopCMAG.InsuredRisk__c} + &apos; - &apos; + &apos;Compañía Procedencia: &apos; +{!LoopCMAG.InsuranceCompany__c} + &apos; - &apos; + &apos;Descripción Riesgo: &apos; +{!LoopCMAG.RiskDescription__c} + &apos; - &apos; + &apos;Resultado: &apos; +TEXT({!LoopCMAG.Result__c})</expression>
    </formulas>
    <formulas>
        <name>LabelInteresesOpp</name>
        <dataType>String</dataType>
        <expression>&apos;Tipo: Oportunidad - &apos; + &apos;Ramo: &apos; + TEXT({!LoopOportunidad.line_insurance__c}) + &apos; - &apos; + &apos;Medio: &apos; + TEXT({!LoopOportunidad.source_type__c}) + &apos; - &apos; + &apos;Código Proyecto: &apos; +{!LoopOportunidad.quote_code__c} + &apos; - &apos; + &apos;Riesgo Asegurado: &apos; +TEXT({!LoopOportunidad.RiskInsuredNumber__c}) + &apos; - &apos; + &apos;Compañía Procedencia: &apos; + {!LoopOportunidad.insurance_company__c} + &apos; - &apos; + &apos;Descripción Riesgo: &apos; +{!LoopOportunidad.risk_description__c} + &apos; - &apos; + &apos;Resultado: &apos; + TEXT({!LoopOportunidad.lead_result__c})</expression>
    </formulas>
    <formulas>
        <name>LabelInteresMKTCM</name>
        <dataType>String</dataType>
        <expression>&apos;Tipo: Interés  - &apos; + &apos;Ramo: &apos; + TEXT({!LoopCMMkt.LineInsurance__c}) + &apos; - &apos; + &apos;Medio: &apos; + TEXT({!LoopCMMkt.SourceType__c}) + &apos; - &apos; + &apos;Código Proyecto: &apos; +{!LoopCMMkt.QuoteCode__c} + &apos; - &apos; + &apos;Riesgo Asegurado: &apos; +{!LoopCMMkt.InsuredRisk__c} + &apos; - &apos; + &apos;Compañía Procedencia: &apos; +{!LoopCMMkt.InsuranceCompany__c} + &apos; - &apos; + &apos;Descripción Riesgo: &apos; +{!LoopCMMkt.RiskDescription__c} + &apos; - &apos; + &apos;Resultado: &apos; +TEXT({!LoopCMMkt.Result__c})</expression>
    </formulas>
    <formulas>
        <description>Variable fórmula para asignar los SubHeading de las cabeceras.</description>
        <name>Var_Formula_SubHeadingMCAG</name>
        <dataType>String</dataType>
        <expression>IF(RIGHT(TEXT({!GetMCAGSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.LineInsurance__c})), &quot;&quot;, &quot;-&quot;)&amp; TEXT({!GetMCAGSelected.SourceType__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.SourceType__c})), &quot;&quot;, &quot;-&quot;)&amp; {!GetMCAGSelected.QuoteCode__c}&amp; IF(ISBLANK({!GetMCAGSelected.QuoteCode__c}), &quot;&quot;, &quot;-&quot;)&amp;  
{!GetMCAGSelected.InsuredRisk__c}&amp; IF(ISBLANK({!GetMCAGSelected.InsuredRisk__c}), &quot;&quot;, &quot;-&quot;)&amp; {!GetMCAGSelected.InsuranceCompany__c}&amp; IF(ISBLANK({!GetMCAGSelected.InsuranceCompany__c}), &quot;&quot;, &quot;-&quot;)&amp; 
{!GetMCAGSelected.RiskDescription__c},2) = &quot;- &quot;,LEFT(TEXT({!GetMCAGSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.LineInsurance__c})), &quot;&quot;, &quot;-&quot;)&amp; TEXT({!GetMCAGSelected.SourceType__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.SourceType__c})), &quot;&quot;, &quot;-&quot;)&amp; {!GetMCAGSelected.QuoteCode__c}&amp; IF(ISBLANK({!GetMCAGSelected.QuoteCode__c}), &quot;&quot;, &quot;-&quot;)&amp;  
{!GetMCAGSelected.InsuredRisk__c}&amp; IF(ISBLANK({!GetMCAGSelected.InsuredRisk__c}), &quot;&quot;, &quot;-&quot;)&amp; {!GetMCAGSelected.InsuranceCompany__c}&amp; IF(ISBLANK({!GetMCAGSelected.InsuranceCompany__c}), &quot;&quot;, &quot;-&quot;)&amp; 
{!GetMCAGSelected.RiskDescription__c},LEN(TEXT({!GetMCAGSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.LineInsurance__c})), &quot;&quot;, &quot;-&quot;)&amp; TEXT({!GetMCAGSelected.SourceType__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.SourceType__c})), &quot;&quot;, &quot;-&quot;)&amp; {!GetMCAGSelected.QuoteCode__c}&amp; IF(ISBLANK({!GetMCAGSelected.QuoteCode__c}), &quot;&quot;, &quot;-&quot;)&amp;  
{!GetMCAGSelected.InsuredRisk__c}&amp; IF(ISBLANK({!GetMCAGSelected.InsuredRisk__c}), &quot;&quot;, &quot;-&quot;)&amp; {!GetMCAGSelected.InsuranceCompany__c}&amp; IF(ISBLANK({!GetMCAGSelected.InsuranceCompany__c}), &quot;&quot;, &quot;-&quot;)&amp; 
{!GetMCAGSelected.RiskDescription__c})-2),TEXT({!GetMCAGSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.LineInsurance__c})), &quot;&quot;, &quot;-&quot;)&amp; TEXT({!GetMCAGSelected.SourceType__c})&amp; IF(ISBLANK(TEXT({!GetMCAGSelected.SourceType__c})), &quot;&quot;, &quot;-&quot;)&amp; {!GetMCAGSelected.QuoteCode__c}&amp; IF(ISBLANK({!GetMCAGSelected.QuoteCode__c}), &quot;&quot;, &quot;-&quot;)&amp;  
{!GetMCAGSelected.InsuredRisk__c}&amp; IF(ISBLANK({!GetMCAGSelected.InsuredRisk__c}), &quot;&quot;, &quot;-&quot;)&amp; {!GetMCAGSelected.InsuranceCompany__c}&amp; IF(ISBLANK({!GetMCAGSelected.InsuranceCompany__c}), &quot;&quot;, &quot;-&quot;)&amp; 
{!GetMCAGSelected.RiskDescription__c})</expression>
    </formulas>
    <formulas>
        <description>Variable fórmula para asignar los SubHeading de las cabeceras.</description>
        <name>Var_Formula_SubHeadingMKTCM</name>
        <dataType>String</dataType>
        <expression>IF(RIGHT(TEXT({!GetMKTCMSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.LineInsurance__c})), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetMKTCMSelected.SourceType__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.SourceType__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetMKTCMSelected.QuoteCode__c}&amp; IF(ISBLANK({!GetMKTCMSelected.QuoteCode__c}), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetMKTCMSelected.InsuredRisk__c}&amp; IF(ISBLANK({!GetMKTCMSelected.InsuredRisk__c}), &quot;&quot;, &quot; - &quot;)&amp; {!GetMKTCMSelected.InsuranceCompany__c}&amp; IF(ISBLANK({!GetMKTCMSelected.InsuranceCompany__c}), &quot;&quot;, &quot; - &quot;)&amp; 
{!GetMKTCMSelected.RiskDescription__c},2) = &quot;- &quot;,LEFT(TEXT({!GetMKTCMSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.LineInsurance__c})), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetMKTCMSelected.SourceType__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.SourceType__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetMKTCMSelected.QuoteCode__c}&amp; IF(ISBLANK({!GetMKTCMSelected.QuoteCode__c}), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetMKTCMSelected.InsuredRisk__c}&amp; IF(ISBLANK({!GetMKTCMSelected.InsuredRisk__c}), &quot;&quot;, &quot; - &quot;)&amp; {!GetMKTCMSelected.InsuranceCompany__c}&amp; IF(ISBLANK({!GetMKTCMSelected.InsuranceCompany__c}), &quot;&quot;, &quot; - &quot;)&amp; 
{!GetMKTCMSelected.RiskDescription__c},LEN(TEXT({!GetMKTCMSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.LineInsurance__c})), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetMKTCMSelected.SourceType__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.SourceType__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetMKTCMSelected.QuoteCode__c}&amp; IF(ISBLANK({!GetMKTCMSelected.QuoteCode__c}), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetMKTCMSelected.InsuredRisk__c}&amp; IF(ISBLANK({!GetMKTCMSelected.InsuredRisk__c}), &quot;&quot;, &quot; - &quot;)&amp; {!GetMKTCMSelected.InsuranceCompany__c}&amp; IF(ISBLANK({!GetMKTCMSelected.InsuranceCompany__c}), &quot;&quot;, &quot; - &quot;)&amp; 
{!GetMKTCMSelected.RiskDescription__c})-2),TEXT({!GetMKTCMSelected.LineInsurance__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.LineInsurance__c})), &quot;&quot;, &quot; - &quot;)&amp; TEXT({!GetMKTCMSelected.SourceType__c})&amp; IF(ISBLANK(TEXT({!GetMKTCMSelected.SourceType__c})), &quot;&quot;, &quot; - &quot;)&amp; {!GetMKTCMSelected.QuoteCode__c}&amp; IF(ISBLANK({!GetMKTCMSelected.QuoteCode__c}), &quot;&quot;, &quot; - &quot;)&amp;  
{!GetMKTCMSelected.InsuredRisk__c}&amp; IF(ISBLANK({!GetMKTCMSelected.InsuredRisk__c}), &quot;&quot;, &quot; - &quot;)&amp; {!GetMKTCMSelected.InsuranceCompany__c}&amp; IF(ISBLANK({!GetMKTCMSelected.InsuranceCompany__c}), &quot;&quot;, &quot; - &quot;)&amp; 
{!GetMKTCMSelected.RiskDescription__c})</expression>
    </formulas>
    <formulas>
        <description>Variable fórmula para asignar los SubHeading de las cabeceras.</description>
        <name>Var_Formula_SubHeadingOpp</name>
        <dataType>String</dataType>
        <expression>TEXT({!GetOppCMSelected.line_insurance__c})&amp; IF(AND(ISBLANK(TEXT({!GetOppCMSelected.line_insurance__c})),ISBLANK({!GetOppCMSelected.risk_description__c})), &quot;&quot;, &quot; - &quot;)&amp;{!GetOppCMSelected.risk_description__c}</expression>
    </formulas>
    <interviewLabel>Subflujo Pantalla de Interés Salientes Básicos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo Pantalla de Interés Salientes Básicos</label>
    <loops>
        <description>Loop para obtener la información del miembro de campaña AG de tipo Adicional</description>
        <name>LoopCMAG</name>
        <label>LoopCMAG</label>
        <locationX>908</locationX>
        <locationY>2372</locationY>
        <collectionReference>CampaignMembersAG</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ExcluidoCMAG</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OportunidadesAbiertas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop para obtener la información del campaign member de MKT</description>
        <name>LoopCMMkt</name>
        <label>LoopCMMkt</label>
        <locationX>908</locationX>
        <locationY>1772</locationY>
        <collectionReference>CampaignMembersMKT</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ExcluidoCMActual</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CampaignMembersAG</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Muestra las oportunidades relacionadas al CTI Campaign Member</description>
        <name>LoopOportunidad</name>
        <label>LoopOportunidad</label>
        <locationX>908</locationX>
        <locationY>2972</locationY>
        <collectionReference>OportunidadesAbiertas</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ExcluidaOPP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_HayIntereses</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Recorremos los CM AG para aplazarlos</description>
        <name>Recorremos_CMAG</name>
        <label>Recorremos CMAG</label>
        <locationX>930</locationX>
        <locationY>4304</locationY>
        <collectionReference>ListCMAGChoiseSet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_CMAGAplazado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActualizamosCMAG</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Recorremos todos los intereses que quedan abiertos para aplazarlos</description>
        <name>RecorremosCMKT</name>
        <label>Recorremos CM MKT</label>
        <locationX>930</locationX>
        <locationY>3896</locationY>
        <collectionReference>ListCMMKTChoiseSet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_CMMKTAplazado</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ActualizamosCMMKT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Miembros de campaña de AG que se relacionan con el Miembro de campaña de CTI</description>
        <name>CampaignMembersAG</name>
        <label>CampaignMembersAG</label>
        <locationX>908</locationX>
        <locationY>2264</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCMAG</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignMemberCTI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRTCampaignMemberAG</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AMCM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CampaignMembersMKT</name>
        <label>CampaignMembersMKT</label>
        <locationX>908</locationX>
        <locationY>1664</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCMMkt</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignMemberCTI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRTCampaignMemberMKT</elementReference>
            </value>
        </filters>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCallTask</name>
        <label>GetCallTask</label>
        <locationX>908</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_VariableIdLeadContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskVariable.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Para obtenerlo sin pasar el campaign member y</description>
        <name>GetCampaignMemberCTI</name>
        <label>GetCampaignMemberCTI</label>
        <locationX>1150</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TodaviaExisteCMCTI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCampaignMemberCTI</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMCAGSelected</name>
        <label>GetMCAGSelected</label>
        <locationX>314</locationX>
        <locationY>3896</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SubHeaders_02</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RadioButtonIntereses</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AMCM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetMKTCMSelected</name>
        <label>GetMKTCMSelected</label>
        <locationX>50</locationX>
        <locationY>3896</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SubHeaders_01</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RadioButtonIntereses</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOppCMSelected</name>
        <label>GetOppCMSelected</label>
        <locationX>578</locationX>
        <locationY>3896</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_SubHeaders_03</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RadioButtonIntereses</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Oportunidades abiertas que se relacionan con el CM de CTI</description>
        <name>OportunidadesAbiertas</name>
        <label>OportunidadesAbiertas</label>
        <locationX>908</locationX>
        <locationY>2864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOportunidad</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignMemberCTI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>relatedCTICampaignMemberId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Record type del objeto Miembro de Campaña AG para el tipo &quot;Adicional&quot; (cuando un lead o contacto no puede insertarse más de una vez en una campaña se insertará en forma de Miembro de campaña AG, no como Miembro de campaña estándar)</description>
        <name>RTCMAGAddicional</name>
        <label>RTCMAGAdicional</label>
        <locationX>908</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTCMMKT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AMCM__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Additional</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IdRTCampaignMemberAG</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtener el id del recordtype CTI del objeto miembro de campaña</description>
        <name>RTCMCTI</name>
        <label>RTCMCTI</label>
        <locationX>908</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTCMAGAddicional</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CTI</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IdRTCampaignMemberCTI</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Record Type de los miembors de campaña de Marketing</description>
        <name>RTCMMKT</name>
        <label>RTCMMKT</label>
        <locationX>908</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCallTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marketing</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>IdRTCampaignMemberMKT</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Recoge los textos de Argumentario que se usan en las pantallas de ESTE Flujo</description>
        <name>TextosArgumentario</name>
        <label>TextosArgumentario</label>
        <locationX>908</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RTCMCTI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Flujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SubflujoPantallaInteresSalientesBasicos</stringValue>
            </value>
        </filters>
        <filters>
            <field>Idioma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TextoArgumentario__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Actualizamos todos los CM AG Abiertos con estado aplazado</description>
        <name>ActualizamosCMAG</name>
        <label>Actualizamos CM AG</label>
        <locationX>930</locationX>
        <locationY>4604</locationY>
        <connector>
            <targetReference>FijarFinalizarArgumentario</targetReference>
        </connector>
        <inputReference>CMsAdditionalstoUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizamos los CM MKT para aplicar el cambio a aplazados</description>
        <name>ActualizamosCMMKT</name>
        <label>Actualizamos los CM MKT</label>
        <locationX>930</locationX>
        <locationY>4196</locationY>
        <connector>
            <targetReference>Recorremos_CMAG</targetReference>
        </connector>
        <inputReference>CMsMKTtoUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Pregunta si se quieren o no crear intereses</description>
        <name>S01_CrearIntereses</name>
        <label>S01_CrearIntereses</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_CreaInteres</targetReference>
        </connector>
        <fields>
            <name>S01_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01_Radio_CerarInteres</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta1__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectIntereses</name>
        <label>Select Intereses</label>
        <locationX>622</locationX>
        <locationY>3572</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SeleccionaIntereses</targetReference>
        </connector>
        <fields>
            <name>S02_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RadioButtonIntereses</name>
            <choiceReferences>CollectionChoiceSetCMAG</choiceReferences>
            <choiceReferences>CollectionChoiceSetCMMKT</choiceReferences>
            <choiceReferences>CollectionChoiceSetOPP</choiceReferences>
            <choiceReferences>Choice_NoSeleccionarInteres</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Intereses</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>TextoSalida</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto2__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_SubHeadersVacio</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Creación del miembro de campaña cuando se vuelve a este flujo in Id CM CTI</description>
        <name>CrearMiembroCampanaCTI</name>
        <label>Crear Miembro de Campaña de CTI</label>
        <locationX>908</locationX>
        <locationY>1556</locationY>
        <connector>
            <targetReference>CampaignMembersMKT</targetReference>
        </connector>
        <flowName>SubflujoPantallaCrearMiembroCampanaCTILlamadasSalientes</flowName>
        <inputAssignments>
            <name>IdLeadContact</name>
            <value>
                <elementReference>IdLeadContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IdRTCTI</name>
            <value>
                <elementReference>IdRTCampaignMemberCTI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsFlujoBlecis</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_IN_CMCTIId</name>
            <value>
                <elementReference>CampaignMemberCTI.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_Heading</name>
            <value>
                <elementReference>Var_INOUT_Heading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_HeadingIcon</name>
            <value>
                <elementReference>Var_INOUT_HeadingIcon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_INOUT_SubHeading</name>
            <value>
                <elementReference>Var_INOUT_SubHeading</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CampaignMemberCTI</assignToReference>
            <name>CampaignMemberCTI</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_Heading</assignToReference>
            <name>Var_INOUT_Heading</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_HeadingIcon</assignToReference>
            <name>Var_INOUT_HeadingIcon</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Var_INOUT_SubHeading</assignToReference>
            <name>Var_INOUT_SubHeading</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>Contenedor del miembro de campaña CTI que puede venir o bien del subflujo de Creación de CM CTI o bien recogido por consulta con el parámetro del Id</description>
        <name>CampaignMemberCTI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Colección de AMCM__c para actualizar</description>
        <name>CMsAdditionalstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>Colección de CMs Marketing que serán actualizados.</description>
        <name>CMsMKTtoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Variable que controla si se debe finalizar el argumentario (cuando no se seleccionan intereses o ya no hay más intereses)</description>
        <name>FinalizarArgumentario</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Parámetro de Id del Miembro de Campaña de CTI</description>
        <name>IdCampaignMemberCTI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del contacto o candidato, lo recibimos como parámetro porque se usa para la creación del CM CTI si fuera necesario</description>
        <name>IdLeadContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record Type Id de Miembro de Campaña AG para el tipo Additional</description>
        <name>IdRTCampaignMemberAG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del recordtype CTI del objeto miembro de campaña</description>
        <name>IdRTCampaignMemberCTI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del Record Type de Campaign Member de Marketing</description>
        <name>IdRTCampaignMemberMKT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Lista de IDs de intereses excluidos para filtrar los Intereses obtenidos (CM, CMAG y OPP). Este parámetro de entrada en este flujo se pasa y devuelve en los flujos en los que se puede estar tratando y por tanto excluyendo un nuevo interés.</description>
        <name>InteresesExcluidos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Lista para establecer los choicesets de CM AG</description>
        <name>ListCMAGChoiseSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>Lista para establecer los choicesets de CM MKT</description>
        <name>ListCMMKTChoiseSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Lista para establecer los choicesets de Opp</description>
        <name>ListOppChoiseSet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>MCAGAuxChoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <name>MKTCMAux</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>OppCMAuxChoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Variable que controla que se muestre o no el planificador de llamada cuando se cierra el argumentario. Es de salida puesto que el flujo principal debe controlar que se haya indicado la planificación.</description>
        <name>PlanificarLlamada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>CM AG seleccionado, que sirve como salida del subflujo</description>
        <name>SelectedCampaignMemberAG</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>CM de MKT seleccionada que sirve de salida del subflujo</description>
        <name>SelectedCampaignMemberMKT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Oportunidad seleccionada que sirve de salida del subflujo</description>
        <name>SelectedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>Tarea creada de la llamada</description>
        <name>TaskVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <description>Texto de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el nombre de la persona con la que estamos hablando y que vendrá del lead o del contacto.</description>
        <name>Var_INOUT_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Imagen de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el ícono que se muestra en la cabecera.</description>
        <name>Var_INOUT_HeadingIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Texto de subcabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el el interés (Ramo) que se está tratando en ese momento y que depende de dónde provenga el interés.</description>
        <name>Var_INOUT_SubHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
