force-app/main/default/flows/SubflujoLeadUpdateStatusEnProceso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Miembros de campaña tipo CTI sobre los que se va actualizar el estado a En progreso</description>
        <name>AddCampaignMemberCTItoCampaignMemberCTIUpdateStatus</name>
        <label>AddCampaignMemberCTItoCampaignMemberCTIUpdateStatus</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberCTIUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MiembroCampaignCTIBucle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MiembroCampaignCTIBucle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>AddCampaignMemberMKTLoopToCampaignMemberMKTUpdate</description>
        <name>AddCampaignMemberMKTLoopToCampaignMemberMKTUpdate</name>
        <label>AddCampaignMemberMKTLoopToCampaignMemberMKTUpdate</label>
        <locationX>138</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberMKTUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MiembroCampaignMKTBucle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MiembroCampaignMKTBucle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>AssigmentCampaignMemberAGAdditionaltoUpdate</description>
        <name>AssigmentCampaignMemberAGAdditionaltoUpdate</name>
        <label>AssigmentCampaignMemberAGAdditionaltoUpdate</label>
        <locationX>138</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberAGAdditionalUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MiembroCampaignAGAdditionalBucle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MiembroCampaignAGAdditionalBucle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStatusCampaigMemberCTIWorking</name>
        <label>AssignStatusCampaigMemberCTIWorking</label>
        <locationX>138</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>MiembroCampaignCTIBucle.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCampaignMemberCTItoCampaignMemberCTIUpdateStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno estado En proceso a los miembros de campaña en estado Nuevo</description>
        <name>AssignStatusCampaigMemberMKTWorking</name>
        <label>AssignStatusCampaigMemberMKTWorking</label>
        <locationX>138</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>MiembroCampaignMKTBucle.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddCampaignMemberMKTLoopToCampaignMemberMKTUpdate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigno estado En proceso a los miembros de campaña en estado Nuevo</description>
        <name>AssignStatusCampaigMemberMKTWorking_0</name>
        <label>AssignStatusCampaigMemberMKTWorking</label>
        <locationX>138</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>MiembroCampaignAGAdditionalBucle.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssigmentCampaignMemberAGAdditionaltoUpdate</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EnProceso</name>
        <dataType>String</dataType>
        <value>
            <stringValue>En Proceso</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Se mira el estado del miembro de campaña</description>
        <name>CampaignMemberAGAdditionalstatusNew</name>
        <label>CampaignMemberAGAdditionalstatusNew</label>
        <locationX>270</locationX>
        <locationY>2294</locationY>
        <defaultConnector>
            <targetReference>MiembroCampaignAGAdditionalBucle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesStatusNewCampaignMemberAGAdditional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MiembroCampaignAGAdditionalBucle.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStatusCampaigMemberMKTWorking_0</targetReference>
            </connector>
            <label>YesStatusNewCampaignMemberAGAdditional</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se mira el estado del miembro de campaña</description>
        <name>CampaignMemberCTIstatusNew</name>
        <label>CampaignMemberCTIstatusNew</label>
        <locationX>270</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>MiembroCampaignCTIBucle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesStatusNewCampaignMemberCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MiembroCampaignCTIBucle.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStatusCampaigMemberCTIWorking</targetReference>
            </connector>
            <label>YesStatusNewCampaignMemberCTI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se mira el estado del miembro de campaña</description>
        <name>CampaignMemberMKTstatusNew</name>
        <label>CampaignMemberMKTstatusNew</label>
        <locationX>270</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>MiembroCampaignMKTBucle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesStatusNewCampaignMemberMKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MiembroCampaignMKTBucle.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStatusCampaigMemberMKTWorking</targetReference>
            </connector>
            <label>YesStatusNewCampaignMemberMKT</label>
        </rules>
    </decisions>
    <decisions>
        <description>Hay miembros de campaña tipo CTI</description>
        <name>HayMiembrosCampanaCTI</name>
        <label>HayMiembrosCampañaCTI</label>
        <locationX>114</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>HayMiembrosdeCampanaMKT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCampaignMemberCTI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampignMemberCTIOnLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MiembroCampaignCTIBucle</targetReference>
            </connector>
            <label>YesCampaignMemberCTI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decisión sobre si hay miembros de campaña AG de tipo adicional o no</description>
        <name>HayMiembrosdeCampa_aAGAdditional</name>
        <label>HayMiembrosdeCampañaAGAdditional</label>
        <locationX>114</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>UpdateCampaignMemberCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHayMiembrosdeCampa_aAGAdditional</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMemberAGAdditionalOnLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MiembroCampaignAGAdditionalBucle</targetReference>
            </connector>
            <label>YesHayMiembrosdeCampañaAGAdditional</label>
        </rules>
    </decisions>
    <decisions>
        <description>¿Hay miembros de campaña de tipo Marketing?</description>
        <name>HayMiembrosdeCampanaMKT</name>
        <label>HayMiembrosdeCampañaMKT</label>
        <locationX>114</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>HayMiembrosdeCampa_aAGAdditional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesCampaignMemberMKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaigMemberMKTOnLead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MiembroCampaignMKTBucle</targetReference>
            </connector>
            <label>YesCampaignMemberMKT</label>
        </rules>
    </decisions>
    <decisions>
        <description>Desactiva el flujo</description>
        <name>Switch</name>
        <label>Switch</label>
        <locationX>246</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SwitchOff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveFlowLead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HayMiembrosCampanaCTI</targetReference>
            </connector>
            <label>SwitchOff</label>
        </rules>
    </decisions>
    <description>Actualiza el estado de un lead, todos los miembros de campaña (MKT y CTI) y miembros de campaña AG (con tipo de registro Adicional) que estén en estado Nuevo pasen a estar En progreso, al tener el campo En proceso a TRUE</description>
    <interviewLabel>Subflujo - Lead Update Status En Proceso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo - Lead Update Status En Proceso</label>
    <loops>
        <description>MiembroCampaignAGAdditionalBucle</description>
        <name>MiembroCampaignAGAdditionalBucle</name>
        <label>MiembroCampaignAGAdditionalBucle</label>
        <locationX>50</locationX>
        <locationY>2174</locationY>
        <collectionReference>CampaignMemberAGAdditionalOnLead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CampaignMemberAGAdditionalstatusNew</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCampaignMemberCTI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>MiembroCampaignCTIBucle</name>
        <label>MiembroCampaignCTIBucle</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <collectionReference>CampignMemberCTIOnLead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CampaignMemberCTIstatusNew</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HayMiembrosdeCampanaMKT</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>MiembroCampaignMKTBucle</description>
        <name>MiembroCampaignMKTBucle</name>
        <label>MiembroCampaignMKTBucle</label>
        <locationX>50</locationX>
        <locationY>1286</locationY>
        <collectionReference>CampaigMemberMKTOnLead</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CampaignMemberMKTstatusNew</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HayMiembrosdeCampa_aAGAdditional</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>UpdateCampaignMemberCTI</description>
        <name>UpdateCampaignMemberAGAdditional</name>
        <label>UpdateCampaignMemberAGAdditional</label>
        <locationX>114</locationX>
        <locationY>3182</locationY>
        <connector>
            <targetReference>UpdateLeadStatusWorking</targetReference>
        </connector>
        <inputReference>CampaignMemberAGAdditionalUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>UpdateCampaignMemberCTI</description>
        <name>UpdateCampaignMemberCTI</name>
        <label>UpdateCampaignMemberCTI</label>
        <locationX>114</locationX>
        <locationY>2942</locationY>
        <connector>
            <targetReference>UpdateCampaignMemberMKT</targetReference>
        </connector>
        <inputReference>CampaignMemberCTIUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>UpdateCampaignMemberCTI</description>
        <name>UpdateCampaignMemberMKT</name>
        <label>UpdateCampaignMemberMKT</label>
        <locationX>114</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>UpdateCampaignMemberAGAdditional</targetReference>
        </connector>
        <inputReference>CampaignMemberMKTUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Actualiza el lead a en progreso</description>
        <name>UpdateLeadStatusWorking</name>
        <label>UpdateLeadStatusWorking</label>
        <locationX>114</locationX>
        <locationY>3302</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Working</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Switch</startElementReference>
    <status>Active</status>
    <variables>
        <description>Miembros de campaña de tipo MKT asociados al Lead</description>
        <name>CampaigMemberMKTOnLead</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Miembros de campaña Adicional del Lead</description>
        <name>CampaignMemberAGAdditionalOnLead</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>CampaignMemberAGAdditionalUpdate</description>
        <name>CampaignMemberAGAdditionalUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AMCM__c</objectType>
    </variables>
    <variables>
        <description>Registros de Miembros de campaña de tipo CTI sobre los que se va a realizar una actualización del campo estado a Working</description>
        <name>CampaignMemberCTIUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Miembros de campaña MKT a actualizar</description>
        <name>CampaignMemberMKTUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Miembros de campaña de tipo CTI del Led</description>
        <name>CampignMemberCTIOnLead</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Id Tipo de registro Adicional del objeto CampaignMember</description>
        <name>RecordTypeCTICampaignMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id del tipo de registro adicional de la tbla Miembros de campaña AG</description>
        <name>RecordTypeIdCampaignMemberAdditionalAG</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id del tipo de registro Marketing de la tabla de Miembros de cmpaña</description>
        <name>RecordTypeIdCampaignMemberMarketing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
