force-app/main/default/flows/SubflujoPantallaCrearMiembroCampanaCTILlamadasSalientes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <description>Incrementamos contador para controlar el error de 100 operaciones DML mientras esperamos</description>
        <name>IncrementamosContador</name>
        <label>IncrementamosContador</label>
        <locationX>369</locationX>
        <locationY>3314</locationY>
        <assignmentItems>
            <assignToReference>ContadorIteraciones</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CMCTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reseteamos el contador para controlar el error de 100 operaciones DML mientras esperamos</description>
        <name>ReseteamosContador</name>
        <label>ReseteamosContador</label>
        <locationX>105</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>ContadorIteraciones</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CMCTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asigna el registro encontrado en la variable</description>
        <name>Set_CampaignMemberCTIVariable</name>
        <label>Set CampaignMember CTI Variable</label>
        <locationX>501</locationX>
        <locationY>3074</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberCTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMCTI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckCTICreated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Seteamos en las variables los datos introducidos en el formulario</description>
        <name>Set_DatosFormulario</name>
        <label>Set Datos Formulario</label>
        <locationX>369</locationX>
        <locationY>1886</locationY>
        <assignmentItems>
            <assignToReference>Var_Campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S01_InputText_Campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CampaignCESS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S01_Picklist_CampaignCESS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CampaignCTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S01_Picklist_CampanaCTI</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Medio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S01_Picklist_Medio</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OrigenCESS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S01_InputText_OrigenCESS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_CampaignCTIPrestamos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Incrementamos contador para controlar el error de 100 operaciones DML mientras esperamos</description>
        <name>Set_IncrementamosContador</name>
        <label>Set IncrementamosContador</label>
        <locationX>897</locationX>
        <locationY>3674</locationY>
        <assignmentItems>
            <assignToReference>ContadorIteraciones</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_CMMKT_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asigna el valor Manual al Medio</description>
        <name>Set_Medio_Manual</name>
        <label>Set Medio Manual</label>
        <locationX>369</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>Var_Medio</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckRamo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los valores del CM CTI encontrado a las variables</description>
        <name>Set_ValoresNuevoCMCTI</name>
        <label>Set Valores Nuevo CM CTI</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Var_Campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMCTI_Actual.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CampaignCESS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMCTI_Actual.CampaignCess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CampaignCTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMCTI_Actual.CampaignCTI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Medio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMCTI_Actual.SourceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OrigenCESS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CMCTI_Actual.SourceCess__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S01_DatosNuevoCTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Se asignan los valores del MCAG Gestionado encontrado a las variables</description>
        <name>Set_ValoresNuevoCMCTI_MCAGGest</name>
        <label>Set Valores Nuevo CM CTI desde MCAG Gestionado</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Var_Campaign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MCAGGestionadoRelacionado.Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CampaignCESS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MCAGGestionadoRelacionado.CampaignCess__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_CampaignCTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MCAGGestionadoRelacionado.CampaignCTI__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Medio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MCAGGestionadoRelacionado.SourceType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_OrigenCESS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_MCAGGestionadoRelacionado.SourceCess__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>S01_DatosNuevoCTI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guardar como ramo del CM CTI el elegido en la pantalla anterior</description>
        <name>SetRamoCTI</name>
        <label>Set Ramo CTI</label>
        <locationX>765</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>Var_RamoCTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S01_Picklist_RamoNoBlecis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCMPlatformEvent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Guardar Seguros Especiales como ramo del CTI.</description>
        <name>SetRamoCTISegurosEspeciales</name>
        <label>Set Ramo CTI Seguros Especiales</label>
        <locationX>501</locationX>
        <locationY>2558</locationY>
        <assignmentItems>
            <assignToReference>Var_RamoCTI</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seguros Especiales</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCMPlatformEvent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Comprobar si se ha recogido el CM CTI, al ser asincrono, puede que tarde por eso nos metemos en UN BUCLE!!!</description>
        <name>CheckCTICreated</name>
        <label>Check CTI Created</label>
        <locationX>501</locationX>
        <locationY>3194</locationY>
        <defaultConnector>
            <targetReference>Get_CMMKT_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ya se ha creado el CM CTI</defaultConnectorLabel>
        <rules>
            <name>AlcanzaLimiteIteraciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMemberCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContadorIteraciones</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EsperaIteraciones</targetReference>
            </connector>
            <label>Más de X iteraciones</label>
        </rules>
        <rules>
            <name>VolverBuscar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CampaignMemberCTI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IncrementamosContador</targetReference>
            </connector>
            <label>Volver a buscar</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobar si se ha elegido Seguros Especiales para el flujo Entrantes Basicos y asignar el ramo elegido para la creacion den CM CTI</description>
        <name>CheckRamo</name>
        <label>Check Ramo</label>
        <locationX>501</locationX>
        <locationY>2438</locationY>
        <defaultConnector>
            <targetReference>SetRamoCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Es Basicos</defaultConnectorLabel>
        <rules>
            <name>EsSegurosEspeciales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsFlujoBlecis</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>S01_Picklist_RamoNoBlecis</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seguros Especiales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayErrorSegurosEspeciales</targetReference>
            </connector>
            <label>Seguros Especiales (Básicos)</label>
        </rules>
        <rules>
            <name>EsBlecis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsFlujoBlecis</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetRamoCTISegurosEspeciales</targetReference>
            </connector>
            <label>Es Blecis</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si la campaña CTI es préstamos, ya sea porque la han rellenado en el formulario o porque viene del CM CTI, el Medio debe ser Manual</description>
        <name>Decision_CampaignCTIPrestamos</name>
        <label>¿Campaña CTI es Préstamos?</label>
        <locationX>501</locationX>
        <locationY>2102</locationY>
        <defaultConnector>
            <targetReference>CheckRamo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CampaignCTIPrestamos</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Var_CampaignCTI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP - CESS_PRESTAMOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Var_CampaignCTI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP - TEST_CESS_PRESTAMOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Medio_Manual</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si se ha recibido intentamos buscar el CM CTI o el MCAG Gestionado, si no vamos al formulario</description>
        <name>Decision_CMCTIRecibido</name>
        <label>¿Id de CM CTI recibido?</label>
        <locationX>501</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>S01_DatosNuevoCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CMCTIRecibido_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_IN_CMCTIId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CMCTI_Actual</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si existe se asignan sus datos a las variables, si no existe es porque se ha pasado a gestionado y hay que buscarlo ahí</description>
        <name>Decision_ExisteCMCTI</name>
        <label>¿Existe el CM CTI?</label>
        <locationX>248</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Get_MCAGGestionadoRelacionado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ExisteCMCTI_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CMCTI_Actual</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ValoresNuevoCMCTI</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si existe se asignan los valores en las variable, si no pues se quedan en blanco y el comercial deberá rellenarlos</description>
        <name>Decision_ExisteComoMCAGGestionado</name>
        <label>¿Existe como MCAG Gestionado?</label>
        <locationX>446</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>S01_DatosNuevoCTI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ExisteComoMCAGGestionado_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MCAGGestionadoRelacionado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_ValoresNuevoCMCTI_MCAGGest</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Se comprueba si se ha recuperado algún registro de CM MKT o Adicional con estado nuevo para ese CM CTI</description>
        <name>Decision_MKTAdicionalCreado</name>
        <label>Decision ¿MKT o Adicional Creado?</label>
        <locationX>897</locationX>
        <locationY>3554</locationY>
        <defaultConnectorLabel>Si</defaultConnectorLabel>
        <rules>
            <name>MKTAdicionalCreado_NoMaxIteraciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CMMKT_New</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_MCAGAdicional_New</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContadorIteraciones</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EsperaIteraciones</targetReference>
            </connector>
            <label>No, más 40 iteraciones</label>
        </rules>
        <rules>
            <name>MKTAdicionalCreado_NoIncrementamosIteraciones</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CMMKT_New</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_MCAGAdicional_New</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IncrementamosContador</targetReference>
            </connector>
            <label>No, incrementamos iteraciones</label>
        </rules>
    </decisions>
    <decisions>
        <description>Si no hay registro de CM CTI ni MCAG Gestionado hay que usar los datos del formulario, por tanto asignar los datos introducidos a las variables</description>
        <name>Decision_UsarDatosFormulario</name>
        <label>¿Usar datos del formulario?</label>
        <locationX>501</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Decision_CampaignCTIPrestamos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>UsarDatosFormulario_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CMCTI_Actual</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_MCAGGestionadoRelacionado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_DatosFormulario</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Permite apagar el flujo</description>
        <name>Switch</name>
        <label>Switch</label>
        <locationX>1095</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SwitchOff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveFlowCampaignMember__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ORG_ApplicationSettings_CESS_CTIPLAN_CAMPAIGN</targetReference>
            </connector>
            <label>Switch Off</label>
        </rules>
    </decisions>
    <description>Variación del subflujo de creación ce Campaña de CTI usado en el flujo de llamadas salientes básicos (HEADER dinámico incorporado con imagen como recurso estático y texto de objeto textos argumentarios)

01/09: Valores por defecto para los picklist de Medio y Origen Llamada
23/09 MMV: Se añade el picklist de Campaña CTI y se quita el de Campaña CESS. En la búsqueda del CTI se busca en la misma campaña que se ha creado
03/10 MMV: Se añade la búsqueda de un CM MKT o Adicional como condición para considerar creado el nuevo interés
18/10 MMV: Cambio para que, en el caso de haber ya un CM CTI, se autocompleten los campos y no aparezcan en el formulario
19/10 AMT: Cambio en las cabeceras de las pantallas
19/10 MMV: Si no existe el CM CTI se busca un MC AG Gestionado relacionado para recuperar los datos</description>
    <dynamicChoiceSets>
        <description>Valores del picklist CampañaCESS de Campaign Member</description>
        <name>Choice_CampaignCESS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CampaignCess__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Lista de valores de Campaña CTI</description>
        <name>Choice_CampaignCTI</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CampaignCTI__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Valores del campo Medio del objeto CM</description>
        <name>Choice_Medio</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SourceType__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Valores del campo Ramo del objeto CM</description>
        <name>Choice_Ramo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>LineInsurance__c</picklistField>
        <picklistObject>CampaignMember</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <description>Valor por defecto del picklist de Campaña CTI de la pantalla. Si es Blecis o Básicos es diferente</description>
        <name>For_DefaultValueCampaignCTIPicklist</name>
        <dataType>String</dataType>
        <expression>IF({!IsFlujoBlecis},
    {!Var_CESS_CTIPLANBLECIS_CAMPAIGN} ,
    {!Var_CESS_CTIPLAN_CAMPAIGN}
)</expression>
    </formulas>
    <interviewLabel>SubflujoPantallaCrearMiembroCampanaCTILlamadasSalientes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo Pantalla Crear Miembro Campaña CTI Llamadas Salientes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Crear CM CTI y sus miembros de campaña a traves del Platform Event</description>
        <name>CreateCMPlatformEvent</name>
        <label>Create CM Platform Event</label>
        <locationX>501</locationX>
        <locationY>2834</locationY>
        <connector>
            <targetReference>Get_CMCTI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorDisplay</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>Var_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaignCESS__c</field>
            <value>
                <elementReference>Var_CampaignCESS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaignCTI__c</field>
            <value>
                <elementReference>Var_CampaignCTI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lineInsurance__c</field>
            <value>
                <elementReference>Var_RamoCTI</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>matchedRecordId__c</field>
            <value>
                <elementReference>IdLeadContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceCess__c</field>
            <value>
                <elementReference>Var_OrigenCESS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceManualrecord__c</field>
            <value>
                <elementReference>Var_OrigenRegistroManual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceType__c</field>
            <value>
                <elementReference>Var_Medio</elementReference>
            </value>
        </inputAssignments>
        <object>CMCreationEvent__e</object>
    </recordCreates>
    <recordLookups>
        <description>Obtener el CM CTI creado</description>
        <name>Get_CMCTI</name>
        <label>Get CM CTI</label>
        <locationX>501</locationX>
        <locationY>2954</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_CampaignMemberCTIVariable</targetReference>
        </connector>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLeadContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdLeadContact</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRTCTI</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastModifiedDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Si existe un CM CTI se recuperan sus datos para autocompletar los datos en el formulario</description>
        <name>Get_CMCTI_Actual</name>
        <label>Get CM CTI Actual</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ExisteCMCTI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_IN_CMCTIId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene al menos un registro de CM MKT para el &quot;nuevo&quot; CM CTI, por si es un CM CTI ya existente</description>
        <name>Get_CMMKT_New</name>
        <label>Get CMMKT New</label>
        <locationX>897</locationX>
        <locationY>3314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MCAGAdicional_New</targetReference>
        </connector>
        <filters>
            <field>RelatedCTICampaignMemberId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignMemberCTI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>LineInsurance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_RamoCTI</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordLookups>
        <description>Se obtiene un MCAG Adicional para ese CM CTI con estado Nuevo</description>
        <name>Get_MCAGAdicional_New</name>
        <label>Get MCAG Adicional New</label>
        <locationX>897</locationX>
        <locationY>3434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_MKTAdicionalCreado</targetReference>
        </connector>
        <filters>
            <field>RelatedCTIAMCMId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignMemberCTI.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>LineInsurance__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_RamoCTI</elementReference>
            </value>
        </filters>
        <object>AMCM__c</object>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el Miembro de Campaña Gestionado relacionado con el antiguo CM CTI</description>
        <name>Get_MCAGGestionadoRelacionado</name>
        <label>Get MCAG Gestionado Relacionado</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ExisteComoMCAGGestionado</targetReference>
        </connector>
        <filters>
            <field>CampainMemberRelated__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Var_IN_CMCTIId</elementReference>
            </value>
        </filters>
        <object>AMCM__c</object>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el nombre de la campaña por defecto de Básicos</description>
        <name>Get_ORG_ApplicationSettings_CESS_CTIPLAN_CAMPAIGN</name>
        <label>Get ORG_ApplicationSettings CESS_CTIPLAN_CAMPAIGN</label>
        <locationX>501</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ORG_ApplicationSettings_CESS_CTIPLANBLECIS_CAMPAIGN</targetReference>
        </connector>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CESS_CTIPLAN_CAMPAIGN</stringValue>
            </value>
        </filters>
        <object>ORG_ApplicationSettings__mdt</object>
        <outputAssignments>
            <assignToReference>Var_CESS_CTIPLAN_CAMPAIGN</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Obtiene el nombre de la campaña por defecto de BLECIS</description>
        <name>Get_ORG_ApplicationSettings_CESS_CTIPLANBLECIS_CAMPAIGN</name>
        <label>Get ORG_ApplicationSettings CESS_CTIPLANBLECIS_CAMPAIGN</label>
        <locationX>501</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TextosArgumentario</targetReference>
        </connector>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CESS_CTIPLANBLECIS_CAMPAIGN</stringValue>
            </value>
        </filters>
        <object>ORG_ApplicationSettings__mdt</object>
        <outputAssignments>
            <assignToReference>Var_CESS_CTIPLANBLECIS_CAMPAIGN</assignToReference>
            <field>Value__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Recoge los textos de Argumentario que se usan en las pantallas de ESTE Flujo</description>
        <name>TextosArgumentario</name>
        <label>TextosArgumentario</label>
        <locationX>501</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_CMCTIRecibido</targetReference>
        </connector>
        <filters>
            <field>Flujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SubflujoPantallaCrearMiembroCampanaCTILlamadasSalientes</stringValue>
            </value>
        </filters>
        <filters>
            <field>Idioma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <object>TextoArgumentario__c</object>
    </recordLookups>
    <screens>
        <description>Pantalla de error si se elige Seguros Especiales para Entrantes Basicos</description>
        <name>DisplayErrorSegurosEspeciales</name>
        <label>Display Error Seguros Especiales</label>
        <locationX>237</locationX>
        <locationY>2558</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S01_DatosNuevoCTI</targetReference>
        </connector>
        <fields>
            <name>S02_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TextoErrorMessageSegurosEspeciales</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto2__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla de error.</description>
        <name>ErrorDisplay</name>
        <label>Error Display</label>
        <locationX>1425</locationX>
        <locationY>2954</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S01_DatosNuevoCTI</targetReference>
        </connector>
        <fields>
            <name>S04_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TextoErrorMessage</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;{!TextosArgumentario.Texto3__c}

{!$Flow.FaultMessage}

&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EsperaIteraciones</name>
        <label>EsperaIteraciones</label>
        <locationX>105</locationX>
        <locationY>3314</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ReseteamosContador</targetReference>
        </connector>
        <fields>
            <name>S03_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TextoHeader2</name>
            <fieldText>&lt;p&gt;{!TextosArgumentario.Texto4__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para recoger los datos del CTI a crear</description>
        <name>S01_DatosNuevoCTI</name>
        <label>S01 Datos Nuevo CTI</label>
        <locationX>501</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_UsarDatosFormulario</targetReference>
        </connector>
        <fields>
            <name>S01_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01_TextoRamoSegurosEspeciales</name>
            <fieldText>&lt;p&gt;&lt;em&gt;Ramo: Seguros Especiales BLECIS&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S01_Picklist_RamoNoBlecis</name>
            <choiceReferences>Choice_Ramo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ramo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01_DatosNuevoCTI_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Switch</startElementReference>
    <status>Active</status>
    <variables>
        <description>Variable miembro de campaña CTI</description>
        <name>CampaignMemberCTI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Para controlar el límite de 100 operaciones DML cuando espera  a la creación del Campaign Member</description>
        <name>ContadorIteraciones</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Id del lead o del contacto</description>
        <name>IdLeadContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del record type CM CTI</description>
        <name>IdRTCTI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable para comprobar si se llama desde el argumentario entrantes Blecis o no</description>
        <name>IsFlujoBlecis</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Contiene el valor del campo Campaña (campaign__c) con el que sea creará el nuevo interés</description>
        <name>Var_Campaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Contiene el valor del campo Campaña CESS con el que se creará el nuevo interés</description>
        <name>Var_CampaignCESS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Contiene el valor del campo Campaña CTI (CampaignCTIPicklist__c) con el que se creará el nuevo interés</description>
        <name>Var_CampaignCTI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Nombre de la campaña CTI por defecto de básicos</description>
        <name>Var_CESS_CTIPLAN_CAMPAIGN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Nombre de la campaña CTI por defecto de BLECIS</description>
        <name>Var_CESS_CTIPLANBLECIS_CAMPAIGN</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Identificador de SF del CM CTI actual. Puede venir vacío si no existe</description>
        <name>Var_IN_CMCTIId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Texto de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el nombre de la persona con la que estamos hablando y que vendrá del lead o del contacto</description>
        <name>Var_INOUT_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Imagen de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el ícono que se muestra en la cabecera.</description>
        <name>Var_INOUT_HeadingIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Texto de subcabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el el interés (Ramo) que se está tratando en ese momento y que depende de dónde provenga el interés.</description>
        <name>Var_INOUT_SubHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Contiene el valor del Medio con el se creará el nuevo interés</description>
        <name>Var_Medio</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Contiene el valor del campo Origen CESS con el que se creará el nuevo interés</description>
        <name>Var_OrigenCESS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Contiene el valor del campo Origen Registro Manual (SourceManualRecord__c) con el que se creará el nuevo interés</description>
        <name>Var_OrigenRegistroManual</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Otros</stringValue>
        </value>
    </variables>
    <variables>
        <description>Contiene el valor del campo Ramo (LineInsurance__c) con el que se creará el nuevo interés</description>
        <name>Var_RamoCTI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
