force-app/main/default/flows/SubflujoSeguroHogar.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Cliente quiere ser contactado por un agente</description>
        <name>ClientContactedByAgent</name>
        <label>Cliente quiere ser contactado por un agente</label>
        <locationX>314</locationX>
        <locationY>2186</locationY>
        <actionName>Contact.ClientContactedByAgent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreateCMCreationEventFromClient</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Cliente no quiere ser contactado por un agente</description>
        <name>ClientNotConctedByAgent</name>
        <label>Cliente no quiere ser contactado por un agente</label>
        <locationX>842</locationX>
        <locationY>2186</locationY>
        <actionName>Contact.ClientNotConctedByAgent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScreenInsuranceOther</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Lead quiere ser contactado por un agente</description>
        <name>LeadContactedByAgent</name>
        <label>Lead quiere ser contactado por un agente</label>
        <locationX>50</locationX>
        <locationY>2186</locationY>
        <actionName>Lead.LeadContactedByAgent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CreateCMCreationEventFromLead</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Lead no quiere ser contactado por un agente</description>
        <name>LeadNotConctedByAgent</name>
        <label>Lead no quiere ser contactado por un agente</label>
        <locationX>578</locationX>
        <locationY>2186</locationY>
        <actionName>Lead.LeadNotConctedByAgent</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ScreenInsuranceOther</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <description>Asigno el Email informado en la pantalla anterior</description>
        <name>AssignEmail</name>
        <label>Asigno el Email informado</label>
        <locationX>446</locationX>
        <locationY>1370</locationY>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConfirmEmailQuestion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeadOrContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Asigna a true la variable que indica que hay que finalizar el argumentario</description>
        <name>Set_FinalizarArgumentario</name>
        <label>Set Finalizar Argumentario</label>
        <locationX>776</locationX>
        <locationY>3386</locationY>
        <assignmentItems>
            <assignToReference>Var_Out_FinalizarArgumentario</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <choices>
        <description>Ramo Accidentes</description>
        <name>Accidentes</name>
        <choiceText>Accidentes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accidentes</stringValue>
        </value>
    </choices>
    <choices>
        <description>Ramos Autos/Motos</description>
        <name>AutosMotos</name>
        <choiceText>Autos/Motos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Autos/Motos</stringValue>
        </value>
    </choices>
    <choices>
        <description>Ramo Decesos</description>
        <name>Decesos</name>
        <choiceText>Decesos</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Decesos</stringValue>
        </value>
    </choices>
    <choices>
        <description>Opción Ningún Ramo</description>
        <name>Ninguno</name>
        <choiceText>Ninguno</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <description>El cliente no acepta que se le envíe un email</description>
        <name>NoSendEmail</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>El Lead o cliente no quiere que un agente le llame</description>
        <name>NotContactAgent</name>
        <choiceText>No quiero que un agente contacte conmigo</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>Ramo Otros</description>
        <name>Otros</name>
        <choiceText>Otros</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Otros</stringValue>
        </value>
    </choices>
    <choices>
        <description>Ramo Prestamo Personal</description>
        <name>PrestamoPersonal</name>
        <choiceText>Prestamo Personal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prestamo Personal</stringValue>
        </value>
    </choices>
    <choices>
        <description>Ramo Salud</description>
        <name>Salud</name>
        <choiceText>Salud</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Salud</stringValue>
        </value>
    </choices>
    <choices>
        <description>Ramo Vida</description>
        <name>Vida</name>
        <choiceText>Vida</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vida</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Si</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <description>Quiero que un agente contacte conmigo</description>
        <name>YesContactAgent</name>
        <choiceText>Si, quiero que un agente contacte conmigo</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <description>El cliente acepta que se le envíe un email</description>
        <name>YesSendEmail</name>
        <choiceText>Sí</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Comprobamos si el cliente quiere ser llamado por un agente o no</description>
        <name>AgentCallDecision</name>
        <label>Agent Call Decision</label>
        <locationX>446</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>NotCallLeadOrContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactAgentQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesContactAgent</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CallLeadOrContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si la persona a la que hay que llamar es un Lead o Cliente</description>
        <name>CallLeadOrContact</name>
        <label>¿La persona de contacto a la que llamar es un Lead o Contacto?</label>
        <locationX>182</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>ClientContactedByAgent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cliente</defaultConnectorLabel>
        <rules>
            <name>CallLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadContactedByAgent</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si hay que crear un evento sobre Lead o el Contacto</description>
        <name>CMCreationEventLeadOrContact</name>
        <label>¿CM CreationEvent Lead o Contacto?</label>
        <locationX>578</locationX>
        <locationY>2954</locationY>
        <defaultConnector>
            <targetReference>CMCreationEventCreateClient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cliente</defaultConnectorLabel>
        <rules>
            <name>LeadCreationEvent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMCreationEventCreateLead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Está interesado en otro ramo, en cual?</description>
        <name>EstaInteresadoEnOtroRamo</name>
        <label>¿Está interesado en otro Ramo?</label>
        <locationX>776</locationX>
        <locationY>2834</locationY>
        <defaultConnector>
            <targetReference>Set_FinalizarArgumentario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>SiEstaInteresadoEnOtroRamo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InsuranceOtherQuestion</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Ninguno</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CMCreationEventLeadOrContact</targetReference>
            </connector>
            <label>Si</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el Lead está convertido o no</description>
        <name>LeadConvertedDecision</name>
        <label>¿Es un Lead Convertido?</label>
        <locationX>622</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>SeguroHogar</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SiLeadConverted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetContactTask</targetReference>
            </connector>
            <label>SI</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si la persona a la que hay que enviar sólo un email es un Lead o Cliente</description>
        <name>NotCallLeadOrContact</name>
        <label>¿La persona de contacto a la que sólo hay que enviar un email es un Lead o Contacto?</label>
        <locationX>710</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>ClientNotConctedByAgent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cliente</defaultConnectorLabel>
        <rules>
            <name>NotCallLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadNotConctedByAgent</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>SeguroHogarDecision</name>
        <label>¿Quiere seguro hogar?</label>
        <locationX>776</locationX>
        <locationY>1130</locationY>
        <defaultConnector>
            <targetReference>ScreenInsuranceOther</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Quiere</defaultConnectorLabel>
        <rules>
            <name>SiQuiere</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SeguroHogarQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SendEmailQuestion</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ValidationEmailScreen</targetReference>
            </connector>
            <label>Si Quiere</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch</name>
        <label>Switch</label>
        <locationX>1029</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SwitchOff</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveFlowCampaignMember__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TextosArgumentario</targetReference>
            </connector>
            <label>Switch Off</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si hay que actualizar el Lead o el Contacto</description>
        <name>UpdateLeadOrContact</name>
        <label>¿Hay que actualizar el lead o el contacto?</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>UpdateEmailClient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cliente</defaultConnectorLabel>
        <rules>
            <name>LeadUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LeadId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateEmailLead</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <decisions>
        <description>Comprobamos si el WhoId de la tarea es un Lead o un cliente</description>
        <name>WhoIdTaskDecision</name>
        <label>¿La tarea está asociada a un Lead o a un cliente?</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>GetContactTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cliente</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InputWhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLeadTask</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <description>l agente seleccionará si puede ofrecer un seguro de Hogar una vez revisada las pólizas que tiene el cliente contratadas. (HEADER dinámico incorporado con imagen como recurso estático y texto de objeto Textos de Argumentarios)
29/09 AC: Cambio de preguntas por Textos Argumentario variables
20/10 AMT: Cambios en las cabeceras de las pantallas</description>
    <interviewLabel>Subflujo Seguro Hogar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo Seguro Hogar</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>CM Creation Event Create Cliente</description>
        <name>CMCreationEventCreateClient</name>
        <label>CM Creation Event Create Cliente</label>
        <locationX>710</locationX>
        <locationY>3074</locationY>
        <connector>
            <targetReference>Set_FinalizarArgumentario</targetReference>
        </connector>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>IdExterno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lineInsurance__c</field>
            <value>
                <elementReference>InsuranceOtherQuestion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>matchedRecordId__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceManualrecord__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceType__c</field>
            <value>
                <stringValue>Telefono</stringValue>
            </value>
        </inputAssignments>
        <object>CMCreationEvent__e</object>
    </recordCreates>
    <recordCreates>
        <name>CMCreationEventCreateLead</name>
        <label>CM Creation Event CreateLead</label>
        <locationX>446</locationX>
        <locationY>3074</locationY>
        <connector>
            <targetReference>Set_FinalizarArgumentario</targetReference>
        </connector>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>IdExterno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lineInsurance__c</field>
            <value>
                <elementReference>InsuranceOtherQuestion</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>matchedRecordId__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceManualrecord__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceType__c</field>
            <value>
                <stringValue>Telefono</stringValue>
            </value>
        </inputAssignments>
        <object>CMCreationEvent__e</object>
    </recordCreates>
    <recordCreates>
        <description>Crear CM Creation Event Desde Cliente</description>
        <name>CreateCMCreationEventFromClient</name>
        <label>Crear CM Creation Event Desde Cliente</label>
        <locationX>314</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>ScreenInsuranceOther</targetReference>
        </connector>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>IdExterno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lineInsurance__c</field>
            <value>
                <stringValue>Hogar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>matchedRecordId__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceManualrecord__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceType__c</field>
            <value>
                <stringValue>Telefono</stringValue>
            </value>
        </inputAssignments>
        <object>CMCreationEvent__e</object>
    </recordCreates>
    <recordCreates>
        <description>Crear CM Creation Event Desde Lead</description>
        <name>CreateCMCreationEventFromLead</name>
        <label>Crear CM Creation Event Desde Lead</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>ScreenInsuranceOther</targetReference>
        </connector>
        <inputAssignments>
            <field>IdExterno__c</field>
            <value>
                <elementReference>IdExterno</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lineInsurance__c</field>
            <value>
                <stringValue>Hogar</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>matchedRecordId__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceManualrecord__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>sourceType__c</field>
            <value>
                <stringValue>Telefono</stringValue>
            </value>
        </inputAssignments>
        <object>CMCreationEvent__e</object>
    </recordCreates>
    <recordLookups>
        <description>Busco el contacto al que está asociado la tarea</description>
        <name>GetContactTask</name>
        <label>Busco el contacto de la tarea</label>
        <locationX>930</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SeguroHogar</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputWhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdExterno</assignToReference>
            <field>IdExterno__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Busco el Lead de la tarea</description>
        <name>GetLeadTask</name>
        <label>Busco Lead de la tarea</label>
        <locationX>622</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LeadConvertedDecision</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputWhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>ConvertedContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Email</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LeadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>IdExterno</assignToReference>
            <field>IdExterno__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Recoge los textos de Argumentario que se usan en las pantallas de ESTE Flujo</description>
        <name>TextosArgumentario</name>
        <label>TextosArgumentario</label>
        <locationX>776</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhoIdTaskDecision</targetReference>
        </connector>
        <filters>
            <field>Flujo__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SubflujoSeguroHogar</stringValue>
            </value>
        </filters>
        <filters>
            <field>Idioma__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <object>TextoArgumentario__c</object>
    </recordLookups>
    <recordUpdates>
        <description>Actualizo el Email del Cliente</description>
        <name>UpdateEmailClient</name>
        <label>Actualizo el Email del Cliente</label>
        <locationX>578</locationX>
        <locationY>1610</locationY>
        <connector>
            <targetReference>ContactAgent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Actualizo el Email del Lead</description>
        <name>UpdateEmailLead</name>
        <label>Actualizo el Email del Lead</label>
        <locationX>314</locationX>
        <locationY>1610</locationY>
        <connector>
            <targetReference>ContactAgent</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <screens>
        <description>Seleccionamos si el lead o cliente está interesado en que un agente le llame para darle información</description>
        <name>ContactAgent</name>
        <label>Contacto Agente</label>
        <locationX>446</locationX>
        <locationY>1826</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AgentCallDecision</targetReference>
        </connector>
        <fields>
            <name>S03_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactAgentQuestion</name>
            <choiceReferences>YesContactAgent</choiceReferences>
            <choiceReferences>NotContactAgent</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta4__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Muestra otros ramos para ver si estaría interesado</description>
        <name>ScreenInsuranceOther</name>
        <label>Pantalla Interesado en otro ramo</label>
        <locationX>776</locationX>
        <locationY>2714</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>EstaInteresadoEnOtroRamo</targetReference>
        </connector>
        <fields>
            <name>S04_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>InsuranceOtherQuestion</name>
            <choiceReferences>AutosMotos</choiceReferences>
            <choiceReferences>Salud</choiceReferences>
            <choiceReferences>Vida</choiceReferences>
            <choiceReferences>Accidentes</choiceReferences>
            <choiceReferences>PrestamoPersonal</choiceReferences>
            <choiceReferences>Decesos</choiceReferences>
            <choiceReferences>Otros</choiceReferences>
            <choiceReferences>Ninguno</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta5__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SeguroHogar</name>
        <label>SeguroHogar</label>
        <locationX>776</locationX>
        <locationY>1010</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SeguroHogarDecision</targetReference>
        </connector>
        <fields>
            <name>S01_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_Heading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SeguroHogarQuestion</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta1__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SendEmailQuestion</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!TextosArgumentario.Etiqueta2__c}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Pantalla para validar que el campo email está relleno, en caso que no, se deberá rellenar y en caso  que esté relleno se podrá modificar.</description>
        <name>ValidationEmailScreen</name>
        <label>Pantalla Confirmación de Email</label>
        <locationX>446</locationX>
        <locationY>1250</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AssignEmail</targetReference>
        </connector>
        <fields>
            <name>S02_Header</name>
            <extensionName>dhfpi:lwcFlowHeaderWithProgress</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fontSize</name>
                <value>
                    <stringValue>12</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Var_INOUT_HeadingIcon</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeading</name>
                <value>
                    <elementReference>Var_INOUT_SubHeading</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConfirmEmailQuestion</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Email</elementReference>
            </defaultValue>
            <fieldText>{!TextosArgumentario.Etiqueta3__c}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Switch</startElementReference>
    <status>Active</status>
    <variables>
        <description>Id del contacto o del Contacto convertido del Lead</description>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Email del Lead o contacto</description>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id Externo del Lead o Contacto</description>
        <name>IdExterno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Who Id de la tarea</description>
        <name>InputWhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id del Lead al que está asociado la tarea</description>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Texto de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el nombre de la persona con la que estamos hablando y que vendrá del lead o del contacto.</description>
        <name>Var_INOUT_Heading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Imagen de cabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el ícono que se muestra en la cabecera.</description>
        <name>Var_INOUT_HeadingIcon</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Texto de subcabecera que se utiliza además como parámetro de entrada en todos los subflujos y que se muestra en todas las pantallas. Es siempre Available for Input y Output. Es el el interés (Ramo) que se está tratando en ese momento y que depende de dónde provenga el interés.</description>
        <name>Var_INOUT_SubHeading</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Indica si hay que ir a la pantalla de finalizar argumentario</description>
        <name>Var_Out_FinalizarArgumentario</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
