force-app/main/default/flows/Subflujo_Task_Llamada.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <constants>
        <name>IsChangedFechaPlanificada</name>
        <dataType>Boolean</dataType>
    </constants>
    <decisions>
        <name>LlamadaPlanificada</name>
        <label>Llamada Planificada?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>1 AND 2 AND 3 AND (4  OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>TaskRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Schedule Call</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.CESS_Fecha_Planificada__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsChangedFechaPlanificada</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TaskRecord.ActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <elementReference>True</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opp_Contact_Date</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch</name>
        <label>Switch</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Switch_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveFlowTask__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LlamadaPlanificada</targetReference>
            </connector>
            <label>Switch Off</label>
        </rules>
    </decisions>
    <description>13/12/22 MMV: Lo marco como obsoleto porque no se utiliza en ningún sitio</description>
    <interviewLabel>Subflujo Task Llamada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo Task Llamada Planificada OBSOLETO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Actualizo la fecha estimada de cierre de oportunidad y la fecha de planificación de contacto</description>
        <name>Opp_Contact_Date</name>
        <label>Opp Contact Date</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>TaskUpdateCampaign</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRecord.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>TaskRecord.CESS_Report_Fecha_planificada__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nextcontact_date__c</field>
            <value>
                <elementReference>TaskRecord.CESS_Fecha_Planificada__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>Switch</startElementReference>
    <status>Draft</status>
    <subflows>
        <name>TaskUpdateCampaign</name>
        <label>Task Update Campaign</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <flowName>Task_Update_Campaign</flowName>
        <inputAssignments>
            <name>CampaignMemberCTI</name>
            <value>
                <elementReference>TaskRecord.CampaignMemberId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTaskID</name>
            <value>
                <elementReference>TaskRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTaskWhatID</name>
            <value>
                <elementReference>TaskRecord.WhatId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varTaskWhoID</name>
            <value>
                <elementReference>TaskRecord.WhoId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
