force-app/main/default/flows/Subflujo_Task_CTI_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CTICall</name>
        <label>CTI Call?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskRecord.CallObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetDefaultSubjetc</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Switch</name>
        <label>Switch</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Switch_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.SwitchesConfiguration__c.DesactiveFlowTask__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMetadata</targetReference>
            </connector>
            <label>Switch On</label>
        </rules>
    </decisions>
    <formulas>
        <name>FormulaLlamadaEntrante</name>
        <dataType>String</dataType>
        <expression>&quot;Llamada &quot; &amp;  TEXT({!TaskRecord.CallType})  &amp; &quot; - &quot; &amp;  {!TaskRecord.CallDisposition}  &amp; &quot; &quot; &amp; LPAD(TEXT(DAY(DATEVALUE({!TaskRecord.CreatedDate}+VALUE({!GetMetadata.DeveloperName} )/24))),2,&quot;0&quot;) &amp; &quot;/&quot; &amp; LPAD(TEXT(MONTH(DATEVALUE({!TaskRecord.CreatedDate}+ VALUE({!GetMetadata.DeveloperName} )/24))),2,&quot;0&quot;) &amp; &quot;/&quot; &amp; TEXT(YEAR(DATEVALUE({!TaskRecord.CreatedDate} +VALUE({!GetMetadata.DeveloperName} )/24)))  &amp; &quot; &quot; &amp;
MID(TEXT({!TaskRecord.CreatedDate}+VALUE({!GetMetadata.DeveloperName} )/24), LEN(TEXT({!TaskRecord.CreatedDate}+VALUE({!GetMetadata.DeveloperName} )/24))-8,5)</expression>
    </formulas>
    <interviewLabel>Subflujo Task CTI Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflujo Task CTI Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMetadata</name>
        <label>Get Metadata</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CTICall</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ORG_Time.Value__c</stringValue>
            </value>
        </filters>
        <object>ORG_ApplicationSettings__mdt</object>
    </recordLookups>
    <recordUpdates>
        <name>SetDefaultSubjetc</name>
        <label>SetDefaultSubjetc</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FormulaLlamadaEntrante</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>Switch</startElementReference>
    <status>Draft</status>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
