force-app/main/default/flows/Task_Update_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>DEC_IsEmptyMobilePhone</name>
        <label>IsEmptyMobilePhone</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotEmptyMobilePhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LeadFields.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task</targetReference>
            </connector>
            <label>NotEmptyMobilePhone</label>
        </rules>
        <rules>
            <name>OC_IsEmptyMobilePhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_LeadFields.MobilePhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_LeadFields.Phone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Task_1</targetReference>
            </connector>
            <label>IsEmptyMobilePhone</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_IsLeadOrOPP</name>
        <label>Is Lead or OPP?</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OC_IsLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskWhoID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_LeadFields</targetReference>
            </connector>
            <label>Is Lead</label>
        </rules>
        <rules>
            <name>OC_IsOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varTaskWhatID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_OppFields</targetReference>
            </connector>
            <label>Is Opp</label>
        </rules>
    </decisions>
    <description>13/12/22 MMV: Lo marco como obsoleto porque no se utiliza en ningún sitio</description>
    <interviewLabel>Task Update Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Update Campaign OBSOLETO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_LeadFields</name>
        <label>Get Lead Fields</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCampaignMemberCTI</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskWhoID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>campaign__c</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>lead_number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OppFields</name>
        <label>Get Opp Fields</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Task_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskWhatID</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>campaign__c</queriedFields>
        <queriedFields>phone__c</queriedFields>
        <queriedFields>opportunity_number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Busco Miembro Campaña CTI</description>
        <name>GetCampaignMemberCTI</name>
        <label>Busco Miembro Campaña CTI</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_IsEmptyMobilePhone</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignMemberCTI</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CESS_Phone__c</field>
            <value>
                <elementReference>Get_LeadFields.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_numberrecord__c</field>
            <value>
                <elementReference>Get_LeadFields.lead_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <elementReference>GetCampaignMemberCTI.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_0</name>
        <label>Update Task</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CESS_Phone__c</field>
            <value>
                <elementReference>Get_OppFields.phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_numberrecord__c</field>
            <value>
                <elementReference>Get_OppFields.opportunity_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <elementReference>Get_OppFields.campaign__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task_1</name>
        <label>Update Task</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTaskID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CESS_Phone__c</field>
            <value>
                <elementReference>Get_LeadFields.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CESS_numberrecord__c</field>
            <value>
                <elementReference>Get_LeadFields.lead_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>campaign__c</field>
            <value>
                <elementReference>GetCampaignMemberCTI.Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <startElementReference>DEC_IsLeadOrOPP</startElementReference>
    <status>Draft</status>
    <variables>
        <description>CampaignMemberCTI</description>
        <name>CampaignMemberCTI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varTaskWhatID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTaskWhoID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
